.cc-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0;
}
.cc-imagen {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-items: flex-start;
}
.cc-imagen-item {
  width: 100%;
  img {
    float: left;
    width: 90vw;
    height: initial;
  }
}
.cc-imagen-collection-swiper {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.cc-imagen-collection-swiper.swiper {
  height: 100vh;
  overflow: hidden;
  .swiper-wrapper {
    height: 100vh;
  }
}
.cc-imagen-collection {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.cc-imagen-logo {
  display: none;
}
@media (min-width: 500px) {
  .cc-imagen-item {
    width: 100%;
    img {
      float: left;
      width: 90vw;
      height: initial;
    }
  }
}
@media (min-width: 768px) {
  .cc-imagen-item {
    width: 100%;
    img {
      float: left;
      width: 40vw;
      height: initial;
    }
  }
}
@media (min-width: 992px) {
  .cc-container {
    grid-template-columns: 1fr 1fr;
  }
  .cc-imagen {
    grid-template-columns: 1fr;
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    img {
      max-width: initial;
    }
  }
  .cc-imagen-item {
    height: initial;
    width: 100%;
    img {
      float: right;
      width: 100%;
      height: initial;
    }
  }
  .cc-imagen-collection {
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .cc-imagen-logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .cc-container {
    grid-template-columns: 1fr 1fr;
  }
  .cc-imagen {
    grid-template-columns: 1fr;
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    img {
      height: 100vh;
      max-width: initial;
    }
  }
  .cc-imagen-item {
    height: initial;
    width: initial;
    img {
      float: right;
      height: initial;
    }
  }
  .cc-imagen-logo {
    display: none;
  }
}
@media (min-width: 1700px) {
  .cc-container {
    grid-template-columns: 1.5fr 1fr;
  }
  .cc-imagen {
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    img {
      height: 100vh;
      max-width: initial;
    }
  }
  .cc-imagen-item {
    width: initial;
  }
  .cc-imagen-logo {
    width: 50%;
    margin: 0 auto;
    width: initial;
    display: flex;
    justify-content: center;
    svg {
      width: 100%;
      max-width: 180px;
    }
  }
}
@media (min-width: 980px) {
  .swiper-slide:hover {
    transform: scale(1) !important;
  }
}
.swiper-pagination-progressbar {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  z-index: 1000;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
@media (max-width: 1700px) {}
@media (max-width: 1700px) {
  .cc-imagen-item .swiper-slide img {
    object-fit: unset;
  }
  .cc-imagen-item {
    width: 100%;
  }
  .cc-imagen-collection-swiper.swiper .swiper-wrapper {
    overflow: auto;
  }
}
@media (min-width: 1700px) {
  .cc-imagen-item {
    width: initial;
  }
}
.button-zone {
  background-color: #fff;
  padding: 24px 16px;


}
.btn-menuwrap {
  position: absolute;
  width: 100%;
  transform: translateY(0);
  background-color: rgba(255, 255, 255, .9);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  z-index: -1;
  left: 0;
  padding-bottom: 110px;
  border-top: var(--line-width) solid $c-primary;
  transition: .5s ease-in-out all;
  @media (min-width: 1280px) {
    border: none;
  }
}
.btn-mobile-open {
  .btn-menuwrap {
    transform: translateY(-100%);
  }
}
.ficha-sticky {
  .guide-inspect {
    display: none;
  }
}
.button-zone-container {
  z-index: 1000;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  @media (min-width: 1280px) {
    position: relative;
  }
}
.header-dummy {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}
.list-size {
  width: 100%;
  display: flex;
  row-gap: 20px;
  column-gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}


.cc-imagen-collection:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>zoom-in</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)" fill="none" stroke="%23212121" stroke-miterlimit="10"><line x1="10" y1="7" x2="10" y2="13" stroke="%23212121"></line> <line x1="13" y1="10" x2="7" y2="10" stroke="%23212121"></line> <line x1="22" y1="22" x2="15.656" y2="15.656"></line> <circle cx="10" cy="10" r="8"></circle></g></svg>') 12 12, auto;
}