$padding: 8px;

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
.md-layout-header {

  display: grid;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-width: 0 0 .5px 0;
  grid-template-columns: 1fr 1fr;
  min-height: 48px;
  align-items: center;
  @media (min-width: $break-md) {
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }
}
.md-header-logo {
  width: 124px;
  height: 100%;
  @media (min-width: $break-md) {
    width: 224px;
  }
}
.md-layout-body {
  background-color: white;
  padding: 0;
  border-bottom: .5px solid black;
}
.md-layout-footer {
  align-items: start;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;

  @media (min-width: $break-md) {

    >div:nth-child(odd),
    >div:nth-child(even) {
      border-right: .5px solid black;
    }

    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $break-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  div {
    padding: 0 $padding;
    height: 100%; // Ocupando todo el alto
    @media (min-width: $break-lg) {
      border-color: black;
      border-style: solid;
      border-width: 0px .5px 0 .5px;
    }
    div {
      border-width: 0;
      padding: 0px;
      height: 100%; // Ocupando todo el alto
    }
  }
  div:not(:first-child) {
    border-left: 0 solid black;
  }

}

.md-layout-subfooter {
  align-items: start;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $break-md) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.md-header-cart {
  display: flex;
  justify-content: end;
  @media (min-width: $break-md) {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
.btn-search {
  /* Buscador */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 7px;
  line-height: 1;
  width: 152px;
  height: 24px;
  border-bottom: 0.5px solid #000000;
  justify-content: flex-start;
}
//a holygrail 
.btn-tertiary {
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1;
  min-width: 24px;
  padding-inline: 0;
  font-size: 14px;
  @media (min-width: $break-md) {
    font-size: 12px;
  }
}
.gap-8 {
  gap: 8px;
}
.md-layout-menu {
  display: none;
  position: fixed;
  top: 48px;
  z-index: 1000;
  right: 0;
  width: 100%;
  height: 100dvh;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  overflow: auto;
  @media (min-width: $break-md) {
    top: 0;
    width: 50%;
    padding-left: 0;
    padding-right: 19px;

  }
}

.section-men {
  display: none;
}
.section-woman {
  display: none;
}
.section-accessories {
  display: none;
}
.section-explore {
  display: none;
}
.has-menu {
  overflow: hidden;
  .md-layout-menu {
    display: block;
  }
  &.has-section-men .md-layout-menu {
    .section-men {
      display: block;
    }
    .md-layout-menu-services.section-men {
      display: flex;
    }
  }
  &.has-section-woman .md-layout-menu {
    .section-woman {
      display: block;
    }
    .md-layout-menu-services.section-woman {
      display: flex;
    }
  }
  &.has-section-accessories .md-layout-menu {
    .section-accessories {
      display: block;
    }
  }
  &.has-section-explore .md-layout-menu {
    .section-explore {
      display: block;
    }
  }
}
.md-layout-menu-hr {
  width: auto;
  margin-right: -12px;
  margin-left: -12px;
  @media (min-width: $break-md) {
    display: none;
  }
}

.md-layout-menu-inner {
  position: absolute;
  top: 120px;

  left: 0;
  right: 0;
  padding: 16px 12px 64px;
  height: calc(100dvh - 120px);
  overflow: auto;


  @media (min-width: $break-md) {
    padding: 4px 0 64px 4px;
    width: calc(50vw - 16px);
    height: calc(100dvh - 120px);
  }

  &:after{
    content: '';
    height: 500px;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 0;
  }

}

.md-layout-menu-services {

  display: flex;
  justify-content: space-between;
  padding-top: 32px;

  @media (min-width: $break-md) {
    padding-top: 0;
    position: absolute;
    top: 0;
    right: 12px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

}


.home-letters-anim{
  position: fixed;
  top: 50%;
  opacity: 1;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  z-index: 10;
}

.has-scroll{
  .home-letters-anim{
opacity: 0;
  }
}

.home-preview{
  padding: 3px 12px;
  width: 100%;
  height: 30px;
  position: sticky;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: #fff;
  align-items: center;

  @media (min-width: $break-md) {
    width: calc(50vw - 6px);
  }
}

.home-preview-wrap{
  align-items: flex-end;
  display: flex;
  inset: 0;
  justify-content: flex-start;
  padding: 0px;
  position: absolute;
}

.md-layout-body-block{
  height: 100vh;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.md-layout-footer-title{

  border-bottom: 0.5px solid black;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &:hover{

  border-bottom: 0.5px solid black;
  }

  @media (min-width: $break-md) {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;  }



}

.md-layout-footer-hr{
  border-top: .5px solid black;
  margin-top: 20px;

  @media (min-width: $break-md) {
 display: none;
 }
}



.align-start {
  align-items: start;
}
.content-sp-between {
  justify-content: space-between;
}
.md\:content-sp-between {
  @media (min-width: $break-md) {
    justify-content: space-between;
  }
}
.mdmax\:content-end {
  @media (max-width: $break-md) {
    justify-content: flex-end;
  }
}


.md-layout-menu-inner {
  &::-webkit-scrollbar {
    width: 1px;

  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0px;

  }
  &::-webkit-scrollbar-thumb:hover {
    background: #c6c6c6;
  }
}
.no-relative {
  position: inherit;
}