.md-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .md-menu-header {
    position: sticky;
    top: 0;
    z-index: 1001;
    margin: 0 -16px;
    padding: 0 16px;
    background: $c-bg-cream;
  }
  
  .md-layout-header {
    .btn-link.active {
      @include font-medium;
    }
  }
  
  .md-layout-header-main {
    position: sticky;
    top: 0;
    z-index: 1200;
  
    width: 100%;
    height: 48px;
  
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  
    @media (min-width: $break-md) {
      align-items: flex-start;
      grid-template-columns: 1fr 1fr 1fr;
      height: 64px;
    }
  }
  
  // Sub-Bloques de cabecera
  .header-account-head {
    border-bottom: var(--line-width) solid $c-middle-grey;
  }
  
  .header-feel {
    display: flex;
  
    @media (min-width: $break-md) {
      min-height: 84px;
    }
  }
  
  // Logos
  .md-logo {
    position: relative;
    z-index: 1000;
    width: 120px;
    height: 40px;
    margin-top: 9px;
  
    md-icon path {
      fill: $c-white;
    }
  }
  
  .md-mini-logo {
    width: 150px;
    transition: all 0.2s cubic-bezier(0.09, 0.44, 0.31, 0.99);
    
    @media (min-width: $break-md) {
      width: 175px;
    }
    
    @media (min-width: $break-2xl) {
      width: 250px;
    }
    
    .md-header-logo-link {
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.09, 0.44, 0.31, 0.99);
      pointer-events: none;
    }
  }
  
  .md-header-logo-link {
    display: block;
  
    md-icon svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  
  
  .md-maxilogo {
    position: absolute;
    width: calc(100% - 32px);
    left: 18px;
    right: 18px;
  
    @media (min-width: $break-md) {
      left: 20px;
      right: 20px;
      width: 100%;
      max-width: 516px;
    }
  
    svg {
      width: 100%;
      height: auto;
    }
  }
  
  .md-layout-header-maxilogo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.09, 0.44, 0.31, 0.99);
    max-height: 100%;
  }
  
  // Botones
  .md-btn-icon {
    min-width: 32px;
    min-height: 32px;
    
    .header-cart-item {
      margin-top: 3px;
    }
  }
  
  
  .header-end_user-actions {
    display: flex;
    gap: 8px;
  
    @media (min-width: $break-md) {
      gap: 32px;
    }
  }
  
  .header-end_actions {
    display: flex;
    gap: 4px;
  
    @media (min-width: $break-md) {
      gap: 32px;
    }
  }
  
  .is-compact {
    .md-layout-header-main {
      background-color: $c-white;
    }
  
    .md-layout-header-maxilogo {
      background-color: $c-white;
  
      transition: all 0.4s cubic-bezier(0.09, 0.44, 0.31, 0.99);
    }
  
    .md-maxilogo {
      position: relative;
    }
  }
  
  .is-phantom {
  
    .md-layout-header-main,
    .md-layout-header-maxilogo {
      background-color: transparent;
    }
  
    .section-apollo {
      margin-top: -48px;
  
      @media (min-width: $break-md) {
        margin-top: -64px;
      }
    }
  }
  
  .phantom-logo-dark {
    .md-layout-header-maxilogo {
      background-color: transparent;
  
    }
  
    .md-maxilogo {
      path {
        fill: $c-primary;
      }
    }
  }
  
  .phantom-logo-white {
    .md-maxilogo {
      path {
        fill: $c-white;
      }
    }
  }
  
  .phantom-dark {
    .section-apollo {
      margin-top: -48px;
  
      @media (min-width: $break-md) {
        margin-top: -64px;
      }
    }
  
    .header-button-hamburger,
    .header-button-search,
    .header-button-username,
    .header-button-cart {
      color: $c-primary;
    }
  
    .md-maxilogo,
    .md-mini-logo,
    .header-button-hamburger {
      path {
        fill: $c-primary;
      }
    }
  }
  
  .phantom-white {
    .section-apollo {
      margin-top: -48px;
  
      @media (min-width: $break-md) {
        margin-top: -64px;
      }
    }
  
    .header-button-hamburger,
    .header-button-search,
    .header-button-username,
    .header-button-cart {
      button {
        color: $c-white;
  
        path {
          fill: $c-white;
        }
  
      }
    }
  
    .md-maxilogo,
    .md-mini-logo,
    .header-button-hamburger {
      path {
        fill: $c-white;
      }
    }
  }
  
  .no-logo {
  
    .md-maxilogo,
    .md-mini-logo {
      display: none;
    }
  }
  
  .dark-menu {
    .header-button-hamburger {
      color: $c-primary;
      
      button {
        color: $c-primary;
      }
  
      button path {
        fill: $c-primary;
      }
    }
  }
  
  .dark-logo {
  
    .md-maxilogo,
    .md-mini-logo {
      path {
        fill: $c-primary;
      }
    }
  }
  
  .dark-login {
    .header-button-username {
      color: $c-primary;
      
      button {
        color: $c-primary;
      }
  
      path {
        fill: $c-primary;
      }
    }
  }
  
  .dark-basket {
    .header-button-cart {
      color: $c-primary;
      
      button {
        color: $c-primary;
      }
  
      path {
        fill: $c-primary;
      }
    }
  }
  
  .dark-search {
    .header-button-search {
      color: $c-primary;
      
      button {
        color: $c-primary;
      }
  
      path {
        fill: $c-primary;
      }
    }
  }
  
  .white-menu {
    .header-button-hamburger {
      path {
        fill: $c-white;
      }
    }
  }
  
  .white-logo {
  
    .md-maxilogo,
    .md-mini-logo {
      path {
        fill: $c-white;
      }
    }
  }
  
  .white-login {
    .header-button-username {
      color: $c-white;
      
      button {
        color: $c-white;
      }
  
      path {
        fill: $c-white;
      }
    }
  }
  
  .white-basket {
    .header-button-cart {
      color: $c-white;
      
      button {
        color: $c-white;
      }
  
      path {
        fill: $c-white;
      }
    }
  }
  
  .white-search {
    .header-button-search {
      color: $c-white;
      
      button {
        color: $c-white;
      }
  
      path {
        fill: $c-white;
      }
    }
  }
  
  // OCULTAR OPCIONES DE MENU PARA GUEST O PRIVATE ROUTES (parche temporal hasta que se saquen las rutas del Layout con HEADER)
  .no-search .header-button-search,
  .no-basket .header-button-cart,
  .no-login .header-button-username,
  .no-menu .header-button-hamburger {
    display: none;
  }
  // END
  
  .is-compact,.phantom-logo-dark,.phantom-logo-white {
    background-color: $c-white;
  }
  
  
  
  @media (max-width: #{$break-sm - 1}) {
  
    .header-button-hamburger,
    .header-button-search,
    .header-button-username,
    .header-button-cart {
      color: $c-primary;
    }
  
    .md-maxilogo,
    .md-mini-logo,
    .header-button-hamburger {
      path {
        fill: $c-primary;
      }
    }
  }
  
  
  .is-scrolling-offset {
    .phantom-white-gradient {
      .md-layout-header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  
    .md-layout-header-maxilogo {
      opacity: 0;
      pointer-events: none;
  
    }
  
    .md-mini-logo {
      .md-header-logo-link {
        pointer-events: auto;
        opacity: 1;
      }
    }
  
    .md-layout-header-main {
      background-color: $c-white;
      color: $c-primary;
    }
  
    &.is-reduced.is-phantom,
    &.is-compact.is-phantom,
    &.is-phantom,
    &.is-compact,
    &.phantom-white,
    &.phantom-dark {
      .md-layout-header-main {
        background-color: $c-white;
        color: $c-primary;
      }
  
      .header-button-hamburger,
      .header-button-search,
      .header-button-username,
      .header-button-cart {
        button {
          color: $c-primary;
  
          path {
            fill: $c-primary;
          }
  
        }
      }
  
      .md-maxilogo,
      .md-mini-logo,
      .header-button-hamburger {
        path {
          fill: $c-primary;
        }
      }
    }
  
    &.white-menu,
    &.white-logo,
    &.white-login,
    &.white-basket,
    &.white-search {
  
      .header-button-hamburger,
      .header-button-search,
      .header-button-username,
      .header-button-cart {
        button {
          color: $c-primary;
        }
      }
  
      .md-maxilogo,
      .md-mini-logo {
        path {
          fill: $c-primary;
        }
      }
    }
  }
  