

header.interior a {
  color: #212121;
}
header.interior svg path {
  fill: #212121;
}

.logo {
  width: 100%;
  max-width: 90px;
}
.logo svg {
  width: 100%;
}
@media (min-width: 992px) {
  .logo {
    width: 100%;
    max-width: 180px;
  }
}

.menu-mobile {
  display: block;
}
@media (min-width: 1280px) {
  .menu-mobile {
    display: none;
  }
}

.menu-desktop {
  display: none;
  white-space: nowrap;
}
@media (min-width: 1280px) {
  .menu-desktop {
    display: flex;
  }
}

.search-bar {
  position: relative;
}
.search-bar:after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  height: var(--line-width);
}
