.md-header-layout-wrapper * {
  // @include debug-divs();
}

.md-header-layout-wrapper {
  padding: 8px 12px 16px;
  width: 100%;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
}

.top-row {
  padding: 16px 0;
}

.md-hamburger {
  height: 16px;
  position: relative;
  width: 16px;
  span {
    background-color: black;
    border: none;
    display: block;
    height: 1px;
    width: 16px;
    position: absolute;
    top: 1;
    &::before,
    &::after {
      background-color: black;
      content: "";
      height: 1px;
      position: absolute;
      width: 16px;
    }
    &::before {
      top: 7px;
    }
    &::after {
      top: 15px;
    }
  }
}

.md-minilogo {
  svg {
    display: block;
    margin: 0 auto;
  }
}

.md-maxilogo {
  margin-top: 16px;
}

.md-wrapper-links {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  width: 100%;
}

.md-link {
  text-transform: uppercase;
}
