.mn-wrap {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  z-index: 2000;
  position: relative;
  overflow: auto;
  padding-bottom: 150px;
  @media (min-width: 768px) {
    max-width: 400px;
    padding-bottom: 0;
  }
}

.mn-mainbar{



  .tabs ul {

    justify-content: center;
    align-items: center;

    &.mn-list-item li:first-child a, 
  
    &.mn-list-item li:first-child span {
       padding: 8px 20px 8px 20px;
   }


    @media (min-width: 768px) {
      justify-content: flex-start;
      &.mn-list-item li:first-child a, 
  
 &.mn-list-item li:first-child span {
    padding: 8px 20px 8px 0px;
}

    }



}
}


.mn-list-item {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
}


.list-check {
  li a {
    position: relative;
    list-style: none;
    line-height: 1;
  }
  li.is-active {
    a {
      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        margin-left: -10px;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background-color: #000;
      }
    }
  }
  .has-light & {
    li.is-active {
      a {
        &::before {
          content: '';
          background-color: #fff;
        }
      }
    }
  }
}
.mn-wrap-overlay {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.min-overflow {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 0px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #999;
  }
}
.tabs {
  ul.mn-list-item {
    li:first-child {
      a,
      span {
        padding: 8px 20px 8px 0;
      }
    }
  }
}
$w-plus: 10px;


.icon-plus {
  position: relative;
  width: $w-plus;
  height: $w-plus;
  &:after,
  &:before {
    width: $w-plus;
    height: var(--line-width);
    position: absolute;
    content: '';
    background-color: $c-primary;
    transform-origin: center;
  }
  &:after {
    top: 5px;
    left: 0;
    transform: rotate(90deg);
  }
  &:before {
    top: 5px;
    left: 0;
  }
  .is-active & {
    &:after {
      top: 5px;
      left: 0;
      transform: rotate(0deg);
    }
  }
  .has-light & {
    &:after,
    &:before {
      background-color: $c-white;
    }
  }
}

.icon-close{
  position: absolute;
  top: 30px;
  left: 20px;

  @media (min-width: 768px) {
    left: 32px;
  }

  &:after,
  &:before {
    width: 11px;
    height: var(--line-width);
    position: absolute;
    content: '';
    background-color: $c-primary;
    transform-origin: center;
    transform: rotate(45deg);
  }
  &:before {

    transform: rotate(-45deg);
  }


}

.mn-footer{
  position: fixed;
  width: 100%;
  z-index: 3000;
  bottom: 0;
  background-color: white;
}

.mn-search-zone{
  display: grid;
}

.mn-mainbar-cesta{
  padding: 10px;
  text-align: right;
}