// =============================================================================
// MENU 2025 - Main Component Styles
// =============================================================================

// Imports
@use "../../../../node_modules/holygrail2/scss/hg-lite/abstract/_index.scss" as *;

// =============================================================================
// BASE STYLES
// =============================================================================

.md-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

// =============================================================================
// LAYOUT COMPONENTS
// =============================================================================

.md-menu-content {
  display: flex;
  position: relative;
  width: 100%;
  gap: 16px;
  flex: 1;
}

.md-menu-img {
  width: calc(20% - 16px);
  display: block;
}

.md-menu-inner {
  flex: 1 1 100%;
  display: flex;
  height: 250px;
  flex-direction: column;
  position: relative;
}

// =============================================================================
// INNER COMPONENTS
// =============================================================================

.md-menu-title {
  background: lightgrey;
}

.md-menu-group {
  display: flex;
  align-items: flex-start;
  
  .md-menu-col {
    position: absolute;
    top: 0;
    left: 16.6666666667%;
  }
}

.md-menu-col {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 250px;
  overflow: auto;
  width: 100%;
}

.md-menu-list {
  a {
    padding: 4px;
    display: inline-block;
  }
}

// =============================================================================
// STATES
// =============================================================================

.md-menu-col.is-active {
  display: grid;
}

// =============================================================================
// RTL SUPPORT
// =============================================================================

.is-rtl {
  .md-menu {
    align-items: flex-end;
  }
  
  .md-menu-inner {
    .md-menu-col {
      left: auto;
      right: 16.6666666667%;
    }
  }
}