.boxcolorfake-item{

width: 16px;
height: 16px;
aspect-ratio: 1/1;
background-color: #000;
}

.gap-48{
    gap: 48px;
}

.subheader-logo{
    padding-top: 52px;
    padding-inline: 16px;

    svg{
        width: 100%;
        height: auto;
    }
}
.subinfo-box{
    padding-top: 16px;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    
}
.mt-58{
    margin-top: 58px;
}