
@import "../abstract/_all";

.md-pdp4-main {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-block-start: $spacer-600;
  margin-inline: $spacer-200;
  
  @media (min-width: #{map-get($breakpoints, sm)}) {
    align-items: flex-start;
    column-gap: $spacer-200;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.md-pdp4-column {
  display: contents;
  
  @media (min-width: #{map-get($breakpoints, sm)}) {
    flex: 0 1 650px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.md-pdp4-box {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  
  &__cta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    @media (min-width: #{map-get($breakpoints, sm)}) {      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;
      background: #fff;
      z-index: 100;
    }
    
    button {
      flex: 1 1 auto;
    }
  }
  
  @media (max-width: 768px) {
    &.md-pdp4-box--main-info {
      order: -50;
    }

    &.md-pdp4-box--secondary-info {
      order: -15;
    }
    
    &.md-pdp4-box--media-first {
      order: -100;
    }
    
    &.md-pdp4-box--media-second {
      order: -25;
    }
  }
  
  @media (min-width: #{map-get($breakpoints, sm)}) {
    &.md-pdp4-box--main-info {
      order: -100;
    }
    
    &.md-pdp4-box--secondary-info {
      order: -50;
    }
    
    &.md-pdp4-box--media-fourth {
      order: -75;
    }
  }
}

