
@import "../abstract/_all";

// Componente breadcrumb
.md-breadcrumb {
  display: grid;
  grid-template-rows: 1fr;
  margin-block-start: $spacer-600;
  position: sticky;
  top: $spacer-600;
  transition: grid-template-rows .1s ease-in-out;
  z-index: 1000;
  
  @media (min-width: #{map-get($breakpoints, sm)} ) {
    margin-inline: $spacer-200;
  }
  
  > ol {
    align-items: center;
    background-color: $c-white;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding-inline: $spacer-250;
    transition: grid-template-rows .1s ease-in-out;
    
    @media (min-width: #{map-get($breakpoints, sm)} ) {
      padding-inline: $spacer-50;
    }

    > li {

      &:not(:last-child)::after {
        content: ">";
        margin-inline-start: $spacer-50;
      }
    }
  }

  &.md-breadcrumb--expandable {
    grid-template-rows: 0fr;
  
    > ol {
      overflow: hidden;
    }

    @at-root .has-breadcrumb & {
      grid-template-rows: 1fr;
    }
  }
}

.md-breadcrumb-link {
  min-height: $spacer-500;
  align-items: center;
  column-gap: $spacer-150;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.md-breadcrumb-icon {
  display: inline-block;
  vertical-align: middle;
}

.md-breadcrumb-txt {
  display: inline-block;
  vertical-align: middle;
}

// Componente global precio
.md-product-pricebox {
  align-items: center;
  column-gap: $spacer-50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.md-product-price--old {
  order: -100;
}

.md-product-price--new {
  color: $c-accent;
}

.md-product-price--label {
  color: $c-accent;
  order: -50;
}

// Componente figure
.md-product-figure {
  display: block;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

// Componente global opciones de producto
.md-product-options {
  &-title {
    margin-block-end: $spacer-100;
  }

  &-list {
    list-style: none;
  }
}

// Componente global titulo producto
.md-product-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: $spacer-200;

  @media (min-width: #{map-get($breakpoints, sm)} ) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  &:not(:last-child) {
    margin-block-end: $spacer-300;
    
    @media (min-width: #{map-get($breakpoints, sm)} ) {
      margin-block-end: $spacer-500;
    }
  }

  &-content {
    flex: 1 1 auto;  
      
    @media (min-width: #{map-get($breakpoints, sm)} ) {
      margin-block-end: $spacer-500;
    }
  }

  &-prepend,
  &-append {
    flex: 0 0 auto;
  }

  .md-product-heading-title {
    &:not(:last-child) {
      margin-block-end: $spacer-50;
    }
  }
}

// Componente global excerpt list
.md-product-excerpt-list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

// Estilos PDP5 MOBILE
@media (max-width: #{map-get($breakpoints, sm) - 1px} ) {
  .md-pdp5-main {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-inline: $spacer-200;
  }

  .md-pdp5-column {
    display: contents;
  }

  .md-pdp5-box {
    &[class*="md-pdp5-box--media-img"],
    &[class*="md-pdp5-box--info-img"] {
      margin-block-end: $spacer-200;
    }

    &.md-pdp5-box--media-img-model-1 {
      margin-block-end: $spacer-600;
      margin-inline-end: -$spacer-200;
      margin-inline-start: -$spacer-200;
      order: -100;
    }
    
    &.md-pdp5-box--info-sku {
      margin-block-end: $spacer-300;
      order: -90;
    }
    
    &.md-pdp5-box--info-short {
      margin-block-end: $spacer-700;
      order: -80;
    }
    
    &.md-pdp5-box--media-img-model-2 {
      order: -70;
      margin-block-end: $spacer-700;
    }
    
    &.md-pdp5-box--info-shipping {
      order: -60;
      margin-block-end: $spacer-500;
    }
    
    &.md-pdp5-box--info-excerpt {
      margin-block-end: $spacer-700;
      order: -50;
    }
  
    &.md-pdp5-box--info-cta {
      background-color: $c-white;
      bottom: 0;
      margin-left: -$spacer-200;
      margin-right: -$spacer-200;
      order: 100;
      padding-block: $spacer-200;
      padding-inline: $spacer-250;
      position: sticky;
      z-index: 1000;
    } 
  }
}

// Estilos PDP5 DESKTOP
@media (min-width: #{map-get($breakpoints, sm)} ) {
  .md-pdp5-main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-inline: $spacer-200;
  }

  .md-pdp5-column {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
  }

  .md-pdp5-column--media {
    grid-column: 2 / span 11;
    order: -1;
  }
  
  .md-pdp5-column--info {
    grid-column: 16 / span 6;
    justify-self: center;
    max-width: 350px;
  }

  .md-pdp5-box {
    &[class*="md-pdp5-box--info-img"] {
      margin-block-end: $spacer-1000;
    }
    
    &.md-pdp5-box--info-cta {
      margin-block-end: $spacer-500;
      margin-block-start: 25dvh;
      order: -100;
    }
    
    &.md-pdp5-box--info-shipping {
      margin-block-end: 25dvh;
      order: -90;
    }
    
    &.md-pdp5-box--info-img-detail-1 {
      margin-block-end: $spacer-1000;
      order: -80;
    }
    
    &.md-pdp5-box--info-sku {
      margin-block-end: $spacer-300;
      order: -70;
    }

    &.md-pdp5-box--info-short {
      margin-block-end: $spacer-1000;
      order: -60;
    }
    
    &.md-pdp5-box--info-excerpt {
      margin-block-end: $spacer-1000;
    }    
  }
}




