@import "../abstract/_all";

// Componente global color selector
.md-push-color-selector {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.md-push-color-selector-list {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--hg-spacing-4);
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.md-push-color-selector-item {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.md-push-color-selector-btn {
  align-items: center;
  border: none;
  box-shadow: none;
  display: inline-flex;
  height: auto;
  justify-content: center;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: relative;
  width: auto;
  overflow: visible;

  img {
    border: solid var(--line-width) transparent;
    display: block;
    height: auto;
    position: relative;
    width: 0.5rem;
    z-index: 2;
  }
}

// Push product
.md-push-product {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-inline: auto;
  max-width: 100%;
  width: calc(34dvh - var(--hg-spacing-32));
  
  @media (min-width: 48rem ) {
    width: calc(50dvh - var(--hg-spacing-32));
  }
}

.md-push-product-media {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.md-push-product-figure-wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.md-push-product-figure {
  height: 0;
  overflow: hidden;
  padding-top: calc(4/3 * 100%);
  position: relative;
}

.md-push-product-figure-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.md-push-product-info {
  flex: 0 0 auto;
  margin-block-start: var(--hg-spacing-8);
}

.md-push-product-info-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: var(--hg-spacing-8);
}

.md-push-product-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-push-product-info-body {
  margin-block-start: 0;
}

.md-push-product-info-footer {
  margin-block-start: var(--hg-spacing-16);
}

.md-push-product-cta {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-block-start: var(--hg-spacing-20);
  row-gap: var(--hg-spacing-16);
}

.md-push-product-cta-main-action {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

// Push grid
.md-push-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--hg-spacing-16) var(--hg-spacing-16);
  list-style: none;
  padding-block: 0;
  
  @media (min-width: 48rem ) {
    max-width: 100%;
    margin-inline: auto;
    max-width: 27.5rem;
    gap: var(--hg-spacing-32) var(--hg-spacing-48);
  }
}

.md-push-grid-item {
  grid-column: span 1;
  min-width: 0;
  overflow: hidden;
}

// Push product card
.md-push-product-card-info {
  align-items: flex-start;
  column-gap: var(--hg-spacing-4);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-block-start: var(--hg-spacing-8);
}

.md-push-product-card-info-content {
  flex: 1 1 auto;
  overflow: hidden;
}

.md-push-product-card-info-append {
  flex: 0 0 auto;
  margin-inline-start: auto;
}

.md-push-product-card-info-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: var(--hg-spacing-8);

  .md-push-color-selector {
    flex: 1 0 auto;
  }
}

.md-push-product-card-title {
  flex: 0 1 auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Estilos PDP5 MOBILE
@media (max-width: 47.9375rem ) {
  .md-push-main {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-block-start: var(--hg-spacing-48);
  }

  .md-push-column {
    display: contents;
  }

  .md-push-box {
    &.md-push-box--product {
      margin-inline: var(--hg-spacing-16);
    }
    
    &.md-push-box--grid-related {
      margin-inline: var(--hg-spacing-16);
      margin-block-start: var(--hg-spacing-32);
    }
  }
}

// Estilos PDP5 DESKTOP
@media (min-width: 48rem ) {
  .md-push-main {
    display: grid;
    gap: 0 var(--hg-spacing-16);
    grid-template-columns: repeat(24, 1fr);
    margin-block-start: var(--hg-spacing-48);
    margin-inline: var(--hg-spacing-16);
  }

  .md-push-column {
    &.md-push-column--product {
      grid-column: span 12;
    }

    &.md-push-column--related {
      grid-column: 13 / span 12;
    }
  }
}