.sidebar {
  ul {
    margin: 0;
  }
  li {
    padding-left: 14px;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-bottom: 8px;
    padding-top: 3px;
  }

  .nav-title {
    padding-left: 0;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-bottom: 8px;
    padding-top: 3px;
    margin-bottom: 8px;
  }
}

.sidebar-container {
  z-index: 2000;
  position: fixed;
  background: #ffffff;
  width: 100%;
  max-width: 425px;
  top: 0;
  right: 0;
  height: 100%;
  transition: transform 0.5s ease;
  transform: translate(435px);
}

.sidebar-container.open {
  display: block;
  transform: translate(0);
}

.sidebar-container.open.custom-sidebar {
  padding: 0 40px 40px;
}

.sidebar-close.sidebar-custom-close {
  padding: 24px 0 56px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.sidebar-close {
  padding: 15px 16px;
  position: absolute;
  right: 0;
  z-index: 1999;
  cursor: pointer;
}

.mn-mainmenu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}
.body-fake {
  height: 100vh;
  background-color: red;
}

.nav-guide {
  position: fixed;
  width: 340px;
  height: 100vh;

  padding: 16px;
  color: black;
  background-color: #000;
  border-right: 1px solid #000;
  z-index: 11;
  overflow: auto;
  .menu-lateral {
    padding-bottom: 32px;
  }
  @media (max-width: 767px) {
    transform: translateX(-250px);
    transition: all ease-in-out 0.4s;
    &.open-menu {
      transform: translateX(0px);
      transition: all ease-in-out 0.4s;
    }
  }
  background: #000;
  color: #fff;

  a {
    color: #fff;
  }
}

.main-widthsidebar {
  padding-left: 350px;

  @media (max-width: 767px) {
    width: 100%;

    margin-left: 0px;
  }
}

.scrollcustom {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #fafafa;
    -webkit-border-radius: 10px;
    border-radius: 0;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
  }
}
