@use "../../../../node_modules/holygrail2/scss/hg-lite/abstract/_index.scss" as *;
@import "../abstract/_all";

html {
  scroll-behavior: auto !important;
}

.md-timeline2-point-content-gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: $hg-spacer-100;

  figure {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.md-timeline2-point-title {
  font-family: 'massimo-daily-regular';
}

.md-timeline2-point-media {
  align-items: flex-end;
  column-gap: $hg-spacer-250;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  figure {
    display: block;
    flex: 1 1 auto;
    will-change: transform;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.md-timeline2-point-media-txt {
  font-size: to-rem(13);
  flex: 0 0 auto;
}

.md-timeline2-point-media-ratio {
  flex: 1 1 auto;
}

@media (max-width: #{map-get($hg-breakpoints, sm) - 1px} ) {
  .md-timeline2-list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    min-height: 100vh;
    padding: $hg-spacer-1000 0;
    row-gap: $hg-spacer-1000; 
  }

  .md-timeline2-point {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  } 

  .md-timeline2-point-title {
    font-size: to-rem(26);
    line-height: 1.5;
    order: -100;
    padding-inline: $hg-spacer-500;
  }

  .md-timeline2-point-content {
    display: contents;
  }

  .md-timeline2-point-content-text {
    font-size: to-rem(11);
    line-height: 1.5;
    margin-block-start: $hg-spacer-300;
    order: -90;
    padding-inline: $hg-spacer-500;
  }

  .md-timeline2-point-content-gallery {
    order: -80;
    margin-block-start: $hg-spacer-700;
    padding-inline: $hg-spacer-500;
  }

  .md-timeline2-point-media {
    margin-block-start: $hg-spacer-700;
  }

  .md-timeline2-point-media-txt {
    display: none;
  }
}

@media (min-width: #{map-get($hg-breakpoints, sm)} ) {
  .md-timeline2-list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    row-gap: $hg-spacer-100;
  }

  .md-timeline2-point {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 8% 0 $hg-spacer-500;
  }

  .md-timeline2-point-title {
    display: none !important; // Temporarily hide timeline points on md and up
    bottom: 0;
    flex: 1 0 36%;
    font-size: to-rem(64);
    line-height: 1.2;
    padding-block-end: $hg-spacer-800;
    padding-inline-start: $hg-spacer-500;
    position: sticky;
  }

  .md-timeline2-point-content {
    display: none !important; // Temporarily hide timeline points on md and up
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: flex-start;
    order: -100;
    padding-block-end: $hg-spacer-800;
    position: sticky;
  }

  .md-timeline2-point-content-text {
    margin-block-start: $hg-spacer-500;
  }

  .md-timeline2-point-media {
    flex: 0 0 38%;
    margin-inline-start: auto;
    background-color: antiquewhite;
  }
  
  .md-timeline2-point-media-figure {
    transform-origin: left center;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-block-start: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}