@use 'sass:math';

@import "../abstract/_all";

html {
  scroll-behavior: auto !important;
}

.md-timeline2-point-content-gallery {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--hg-spacing-8);
  overflow: hidden;

  @media (min-width: 80rem ) {
    display: flex;
  }

  figure {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.md-timeline2-point-media-txt {
  font-size: 0.8125rem;

  @media (min-width: 80rem ) {
    flex: 0 0 2.5em;
  }
}

.md-timeline2-list {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  min-height: 100vh;
  padding-block: 16.6666vh;
 
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  @media (min-width: 48rem ) {
    padding-block: 16.6666vh;
  }

  @media (min-width: 80rem ) {
    padding-block: 9vh;
  }
}

.md-timeline2-point {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0;

  @media (min-width: 48rem ) {
    padding-inline-end: 8%;
    margin-top: 0;
  }
}

.md-timeline2-point-content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  inset-block-start: 0;
  inset-inline-start: 0;
  justify-content: flex-start;
  order: -100;
  padding-block-start: 6.625rem;
  padding-inline-start: var(--hg-spacing-16);
  position: fixed;
  width: 40%;
  
  @media (min-width: 48rem ) {
    width: 26%;
    padding-inline-start: var(--hg-spacing-40);
    inset-block-start: auto;
    inset-block-end: 0;
  }
}

.md-timeline2-point-title {
  font-family: 'massimo-daily-regular';
  font-size: 1.625rem;
  line-height: 1;
  
  @media (min-width: 80rem ) {
    font-size: 4rem;
    line-height: .75;
    padding-block-end: var(--hg-spacing-64);
    padding-inline-start: var(--hg-spacing-48);
    position: fixed;
    inset-block: auto 0;
    inset-inline: 26% auto;
  }
}

.md-timeline2-point-content-text {
  margin-block-start: var(--hg-spacing-16);
  
  @media (min-width: 62rem ) {
    padding-block-end: var(--hg-spacing-64);
  }
}

.md-timeline2-point-media {
  flex: 0 0 auto;
  align-items: flex-end;
  column-gap: var(--hg-spacing-8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-inline-start: auto;
  transform-origin: right center;

  @media (min-width: 62rem ) {
    column-gap: var(--hg-spacing-20);
  }
}


.md-timeline2-point-media-figure-wrapper {
  flex: 1 1 auto;

  figure {
    display: block;
    aspect-ratio: 2 / 4;
    position: relative;
    overflow: hidden;
    height: 66.6666vh;
    border-width: var(--hg-spacing-4) 0 var(--hg-spacing-4) 0;
    border-width: 0;
    border-style: solid;
    border-color: $c-white transparent $c-white transparent;
    
    @media (min-width: 48rem ) {
      aspect-ratio: 3 / 4;
      height: 66.6666vh;
    }

    @media (min-width: 80rem ) {
      transform-origin: left center;
      height: 82vh;
    }
  }

  img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}