@use 'sass:math';

@use "../../../../node_modules/holygrail2/scss/hg-lite/abstract/_index.scss" as *;
@import "../abstract/_all";

html {
  scroll-behavior: auto !important;
}

.md-timeline2-list {
  display: block;
  margin-left: 50svw;
}

.md-timeline2-item {
  height: 60vh;
}

.md-timeline2-point {
  display: block;
  height: 100%;
  transform-origin: left center;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
