@use "../../../../node_modules/holygrail2/scss/hg-lite/abstract/_index.scss" as *;
@import "../abstract/_all";

.md-timepoint-content-gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: $hg-spacer-100;

  figure {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.md-timepoint-title {
  font-family: 'massimo-daily-regular';
}

.md-timepoint-media {
  align-items: flex-end;
  column-gap: $hg-spacer-250;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  figure {
    display: block;
    flex: 1 1 auto;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.md-timepoint-media-txt {
  font-size: to-rem(13);
  flex: 0 0 auto;
}

@media (max-width: #{map-get($hg-breakpoints, sm) - 1px} ) {
  .md-timeline-list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    min-height: 100vh;
    padding: $hg-spacer-1000 0;
    row-gap: $hg-spacer-1000; 
  }

  .md-timepoint {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  } 

  .md-timepoint-title {
    font-size: to-rem(26);
    line-height: 1.5;
    order: -100;
    padding-inline: $hg-spacer-500;
  }

  .md-timepoint-content {
    display: contents;
  }

  .md-timepoint-content-text {
    font-size: to-rem(11);
    line-height: 1.5;
    margin-block-start: $hg-spacer-300;
    order: -90;
    padding-inline: $hg-spacer-500;
  }

  .md-timepoint-content-gallery {
    order: -80;
    margin-block-start: $hg-spacer-700;
    padding-inline: $hg-spacer-500;
  }

  .md-timepoint-media {
    margin-block-start: $hg-spacer-700;
  }

  .md-timepoint-media-txt {
    display: none;
  }
}

@media (min-width: #{map-get($hg-breakpoints, sm)} ) {
  .md-timeline-list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    row-gap: $hg-spacer-100; 
  }

  .md-timepoint {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 8% 0 $hg-spacer-500;
    min-height: 100dvh;
  }

  .md-timepoint-title {
    bottom: 0;
    flex: 1 0 36%;
    font-size: to-rem(64);
    line-height: 1.2;
    padding-block-end: $hg-spacer-800;
    padding-inline-start: $hg-spacer-500;
    position: sticky;
  }

  .md-timepoint-content {
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: flex-start;
    order: -100;
    padding-block-end: $hg-spacer-800;
    position: sticky;
  }

  .md-timepoint-content-text {
    margin-block-start: $hg-spacer-500;
  }

  .md-timepoint-media {
    flex: 0 0 38%;
  }
}