---
layout: base.njk
---
{% import "_macros/_insert.njk" as insert %}

<div class="templates-2026-home">
  <div class="container-fluid">
    {% include '_website/hero.njk' %}
  </div>

  <section class="row mb-32 mt-32">
    <div class="col-xs-12">
      {% call insert.template('_tokens/tokens-2026/','token-hg-footer', '550px','https://www.figma.com/design/lTe92NVB0qm6pDL1oTIG1c/NW26_MD--Congelado-?node-id=20035-35731&t=vvgzspCYt748voBf-1', '', 'hg-footer.css') %} {% endcall %}
    </div>
  </section>

  <section class="row mb-32 mt-32 p-16">
    <div class="col-xs-12">
      <div class="main-content innermarkdown">
        {{ content | safe }}
      </div>
    </div>
  </section>
</div>

<!-- Página plantilla hg-footer (templates-2026) -->
