{% from "_macros/_icon.njk" import icon %}

<header class="hg-header">
  <div class="hg-header__prepend">
    <nav class="hg-header-nav" aria-label="Navegación principal">
      <ul class="hg-header-list hg-header-list--primary">
        <li class="md:visible">
          <button type="button" class="js-hg-menu-toggle btn hg-header-action btn btn-link label-m ttu" aria-label="Abrir menú de navegación">
            <span class="hg-icon" aria-hidden="true">
              {{ icon('menu-ham') }}
            </span>
          </button>
        </li>
        <li class="md:hidden">
          <a class="js-hg-menu-toggle btn hg-header-action btn btn-link label-m" href="/">WOMEN</a>
        </li>
        <li class="md:hidden">
          <a class="js-hg-menu-toggle btn hg-header-action btn btn-link label-m" href="/parrillas2">MEN</a>
        </li>
        <li class="md:hidden">
          <a class="js-hg-menu-toggle btn hg-header-action btn btn-link label-m" href="/parrillas2">MD WORLD</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="hg-header__main">
    <a href="/" class="js-hg-header-logo hg-header-logo" aria-label="Ir a inicio">
      <div class="js-hg-header-logo-icon hg-header-logo-icon hg-header-logo-icon--home-animation hg-icon" aria-hidden="true">
        {{ icon('md-logo') }}
      </div>
    </a>
  </div>
  <div class="hg-header__append">
    <ul class="hg-header-list hg-header-list--secondary">
      <li>
        <button type="button" class="hg-header-action btn btn-link label-m" aria-label="Abrir buscador">
          <span class="md:hidden">BUSCADOR</span>
          <span class="md:visible hg-icon" aria-hidden="true">
            {{ icon('search') }}
          </span>
        </button>
      </li>
      <li>
        <a class="hg-header-action btn btn-link label-m" href="/parrillas2" aria-label="Iniciar sesión">
          <span class="md:hidden txt">INICIAR SESIÓN</span>
          <span class="md:visible hg-icon" aria-hidden="true">
            {{ icon('user') }}
          </span>
        </a>
      </li>
      <li>
        <button type="button" class="hg-header-action btn btn-link label-m" aria-label="Abrir cesta de compra (5 artículos)">
          <span class="md:hidden txt">CESTA</span>
          <span class="md:visible hg-icon" aria-hidden="true">
            {{ icon('cesta') }}
          </span>
          <span class="hg-header-bag-counter" aria-hidden="true">
            <span class="md:hidden">[</span>05<span class="md:hidden">]</span>
          </span>
        </button>
      </li>
    </ul>
  </div>
</header>