  <header class="hg-header">
    <div class="container-total pr-body pl-body">
      <div class="row">
        <div class="col-xs-4 text-left is-flex content-start pt-16">

          <div class="tabs sm:hidden">
            <ul class="list-clear ">
              <li><a class="menu-item-header" href="/">WOMEN</a></li>
              <li class="is-active"><a class="menu-item-header" href="/parrillas2">MEN</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 text-center">
    
        </div>
        <div class="col-xs-4 text-center">
          <ul class="list-clear text-right is-flex content-end pt-16">
            <li class="px-16"><a href="/">BUSCADOR</a></li>
            <li class="px-16"><a href="/parrillas2">INICIAR SESIÓN</a></li>
            <li class="px-16"><a href="/parrillas2">CESTA (0)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

