---
layout: base.njk
---
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>

<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      {% call insert.template('_tokens/tokens-2026/','token-hg-menu', '550px','https://www.figma.com/design/lTe92NVB0qm6pDL1oTIG1c/NW26_MD--Congelado-?node-id=20035-35731&t=vvgzspCYt748voBf-1', '', 'hg-menu.css') %} {% endcall %}
    </div>
  </div>
</section>

<!-- Contenido de la página plantilla hg-menu -->
