{% from "_macros/_icon.njk" import icon %}
<div id="hg-menu-panel" class="hg-menu-panel" aria-hidden="true" aria-label="Menú" role="dialog" inert>
  <div class="hg-menu-panel__handler">
    <div class="hg-menu-panel__header">
      <ul class="hg-header-list hg-header-list--primary">
        <li>
          <a class="js-hg-menu-toggle btn hg-header-action hg-header-action--primary btn btn-label-m label-m active" href="/">WOMEN</a>
        </li>
        <li>
          <a class="js-hg-menu-toggle btn hg-header-action hg-header-action--primary btn btn-label-m label-m" href="/parrillas2">MEN</a>
        </li>
        <li>
          <a class="js-hg-menu-toggle btn hg-header-action hg-header-action--primary btn btn-label-m label-m" href="/parrillas2">MD WORLD</a>
        </li>
      </ul>
      <div class="hg-menu-panel-header-actions">
        <button type="button" class="hg-menu-panel-action hg-menu-panel-action--close btn btn-label-m hg-body-m" aria-label="Cerrar menú">{{ icon("close") }}</button>
      </div>
    </div>
    <div class="hg-menu-panel__media-wrapper">
      <div class="hg-menu-panel__media">
        <div class="hg-menu__image">
          <img
            src="https://static.massimodutti.net/assets/public/7f4c/58dc/60c547338c22/5466b4e6d95f/06407634818-o6/06407634818-o6.jpg?ts=1764084162074"
            alt="hg-menu-image">
        </div>
      </div>
      <div class="hg-menu-panel__body">
        <nav class="hg-menu" role="navigation">
          <div class="hg-menu-grid">
            <div class="hg-menu-row">
              <div class="hg-menu-column hg-menu-column--cat">
                <div class="hg-menu-column__handler">
                    <button class="btn hg-menu-btn hg-menu-btn--cat label-m ttu">
                        <span>camisetas</span>
                    </button>
                </div>
              </div>
              <div class="hg-menu-column hg-menu-column--subcat">
                <div class="hg-menu-column__handler">
                  <ul class="hg-menu-subcat-list">
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/camisetas">
                      <span class="category-name">camisetas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/pantalones">
                      <span class="category-name">pantalones</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/vestidos">
                      <span class="category-name">vestidos</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/abrigos">
                      <span class="category-name">abrigos</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/chaquetas">
                      <span class="category-name">chaquetas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/faldas">
                      <span class="category-name">faldas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/blusas">
                      <span class="category-name">blusas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/jerséis">
                      <span class="category-name">jerséis</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/shorts">
                      <span class="category-name">shorts</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/trajes">
                      <span class="category-name">trajes</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/ropa-deportiva">
                      <span class="category-name">ropa deportiva</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/accesorios">
                      <span class="category-name">accesorios</span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="hg-menu-row">
              <div class="hg-menu-column hg-menu-column--cat">
                <div class="hg-menu-column__handler">
                    <button class="btn hg-menu-btn hg-menu-btn--cat label-m ttu">
                        <span>camisetas</span>
                    </button>
                </div>
              </div>
              <div class="hg-menu-column hg-menu-column--subcat">
                <div class="hg-menu-column__handler">
                  <ul class="hg-menu-subcat-list">
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/camisetas">
                      <span class="category-name">camisetas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/pantalones">
                      <span class="category-name">pantalones</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/vestidos">
                      <span class="category-name">vestidos</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/abrigos">
                      <span class="category-name">abrigos</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/chaquetas">
                      <span class="category-name">chaquetas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/faldas">
                      <span class="category-name">faldas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/blusas">
                      <span class="category-name">blusas</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/jerséis">
                      <span class="category-name">jerséis</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/shorts">
                      <span class="category-name">shorts</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/trajes">
                      <span class="category-name">trajes</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/ropa-deportiva">
                      <span class="category-name">ropa deportiva</span>
                    </a></li>
                    <li><a class="btn hg-menu-btn label-m ttu focus:inset" href="/accesorios">
                      <span class="category-name">accesorios</span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="hg-menu-panel__footer sm:hidden">
      <div class="hg-menu-panel__footer-logo">
        <a href="/" class="hg-header-logo" aria-label="Ir a inicio">
          <div class="hg-header-logo-icon hg-header-logo-icon--home-animation hg-icon"
            aria-hidden="true">
            {{ icon('md-logo') }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="hg-menu-backdrop" class="hg-menu-backdrop" aria-hidden="true" tabindex="-1"></div>