  <li class=" mb-8 {% if page_title == '{{ template.data.titulo }}' %} link-line {% endif %}">
    <a class="text-l " target="_parent" href="{{ template.data.permalink }}">{{ template.data.titulo }} </a>
  </li>