  <li class="{% if page_title == '{{ template.data.titulo }}' %} link-line {% endif %}">
    <a class="p-xs" target="_parent" href="{{ template.data.permalink }}">{{ template.data.titulo }} </a>
  </li>