  <li class=" mb-16 {% if page_title == '{{ template.data.titulo }}' %} link-line {% endif %}">
    <a class="p-s " target="_parent" href="{{ template.data.permalink }}">{{ template.data.titulo }} </a>
  </li>