<!-- template-loop.njk -->



<a class="w-100 template-box" href="{{ template.data.permalink }}">
  <article class="">
    <div class="rat-3-4 template-box-icon">
      <div class="rat-content">
        <span class="h8 c-dark-grey leading-1">{{loop.index}}</span>
      </div>
    </div>
    <div class="article-text ">
      <div class="ttu title-l-b bold pb-8"> {{ template.data.titulo }} </div>
      <div class="text-12-r">{{ template.data.descripcion }}</div>
    </div>
  </article>
</a>