<a class="w-100" href="{{ template.data.permalink }}">
  <article class="mb-24">
    <div class="rat-1-1 w-50">
      <div class="rat-content">
    


        <div class="number-template">
          {{ template.data.titulo }}
        </div>

      </div>
    </div>
    <div class="article-text mt-24">
      <div class="mb-16">
        <h4 class=" "> {{ template.data.titulo }} </h4>
        <span class="text-12-r">{{ template.data.descripcion }}</span>
      </div>

    </div>
  </article>
</a>