      <article class="">
          <a class="w-100" href="{{ component.url }}">

                </a>
          <div class="article-text ">
              <div class="mb-16">
                <div class=" ttu bold "><a href="{{ component.url }}">{{ component.data.titulo }}  </a></div>

           {#     

                  <div class="article-content">
             <p >{{ component.data.descripcion }}</p></div>
              </div>
        
              {% set sortedTags = component.data.tags | sort %}

          
              {% for tag in sortedTags %}
              <div class=" tag-info text-12-r">
                {{ tag }}
              </div>
              {% endfor %} #}
          </div>
      </article>
