 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view-new  n1e">
  <div class="template-name" id="n1e">n1e</div>
  <studio-single-product-template>
    <ul class="n1e-wrap">
      <li class="n1e-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>