 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view-new  n2a">
  <div class="template-name" id="n2a">n2a</div>
  <studio-single-product-template>
    <ul class="n2a-wrap">
      <li class="n2a-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n2a-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n2a-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>