{% include 'base-parrillas.njk' %} 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view-new n2b">
  <div class="template-name" id="n2b">n2b</div>
  <studio-single-product-template>
    <ul class="n2b-wrap">
      <li class="n2b-item sk-load2">
        {% call product.productsimple() %} {% endcall %}
      </li>
      <li class="n2b-item sk-load2">
        {% call product.productsimple() %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>