{% include 'base-parrillas.njk' %} 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view n2c">
  <div class="template-name" id="n2c">n2c</div>
  <studio-single-product-template>
    <ul class="n2c-wrap">
      <li class="n2c-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>