{% include 'base-parrillas.njk' %} 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view n3a">
  <div class="template-name" id="n3a">n3a</div>
  <studio-single-product-template>
    <ul class="n3a-wrap">
      <li class="n3a-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>