 

{% import "_macros/_product.njk" as product %}




<li class="grid-product grid-product-view-new  n6b">
  <div class="template-name" id="n6b">n6b</div>
  <studio-single-product-template>
    <ul class="n6b-wrap">
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="n6b-item sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>