
{% import "_macros/_product.njk" as product %}


<li class="grid-product grid-product-view-new nt2">
  <div class="template-name" id="nt2">nt2</div>
  <studio-single-product-template>
    <ul class="nt2-wrap">
      <li class="nt2-item ">
        <div class="align-center">
          <div class="title-l mb-16">NEW IN FOR WOMEN</div>
          <div class="text-l">MD's new collection infuses renewed energy into the new season's wardrobe and
            fills it with sophistication and femininity, with designs that conform to the aesthetic codes that
            characterise the brand. The result: garments of the highest durability, quality, fabric and workmanship.
            Designs that bring a subtle air of sartorial elegance —which will be more evident in the formal end of the
            range and more relaxed in the more casual garments— are particularly important among the key pieces of the
            new MD season. Tailored jackets, blouses, shirts and trousers are shown alongside simple designs
            such as T-shirts, knitwear and jeans, which are wardrobe staples for an elevated and versatile casual style.
            A collection that guarantees</div>
        </div>
      </li>
    </ul>
  </studio-single-product-template>
</li>