{% set some_var1 = "HOLYGRAIL " %}
{% set some_var2 = "1.8.39" %}
{% set primary = "#ff0000" %}



{% set colors = [
    { name: 'c-black', type: '#292929' },
    { name: 'c-white', type: '#ffffff' },
    { name: 'c-error', type: '#f54637' },
    { name: 'c-dark-grey', type: '#8e8e8e' },
    { name: 'c-middle-grey', type: '#e3e3e3' },
    { name: 'c-light-grey', type: '#f0f0f0' },
    { name: 'c-info', type: '#1a32a4' },
    { name: 'c-green', type: '#76ae4A' },
    { name: 'c-yellow', type: '#ffc700' }
]
%}


{% set colorsPrimary = [
    { name: 'c-primary', type: '#292929' },
    { name: 'c-dark-grey', type: '#8e8e8e' },
    { name: 'c-middle-grey', type: '#e3e3e3' },
    { name: 'c-light-grey', type: '#f0f0f0' }
]
%}

{% set colorsSemantic = [

    { name: 'c-error', type: '#f54637' },
    
    { name: 'c-info', type: '#1a32a4' },
    
    { name: 'c-success', type: '#76ae4A' },
    
    { name: 'c-warning', type: '#ffc700' }
    
    ]
    
    %}
    {% set colorsGreyscale = [ { name: 'c-white', type: '#ffffff' },
     { name: 'c-50', type: '#F1F2F3' }, 
     { name: 'c-100',type: '#E4E4E7' },
     { name: 'c-200',type: '#C8C9D0' }, 
    { name: 'c-400', type: '#9293A0' },
    { name: 'c-600', type:'#f0f0f0' },
     { name: 'c-800', type: '#9293A0' },
     { name: 'c-black', type: '#000000'} ] %}


{% set containers = [
        { name: 'container', type: '800px' },
        { name: 'container-2', type: '700px' },
        { name: 'container-3', type: '900px' },
        { name: 'container-4', type: '356px' },
        { name: 'container-5', type: '400px' },
        { name: 'container-6', type: '442px' },
        { name: 'container-7', type: '595px' },
        { name: 'container-8', type: '395px' }
    ]
%}



{% set breakpoints = [
        { name: 'break-xs', type: '1px' },
        { name: 'break-sm', type: '768px' },
        { name: 'break-md', type: '992px' },
        { name: 'break-lg', type: '1280px' },
        { name: 'break-xl', type: '1500px' }
    ]
%}

{% set heights = [
    { name: 'h-100', type: '100%' },
    { name: 'height-100', type: '100%' },
    { name: 'height-xs', type: 'min-height: 80px' },
    { name: 'height-sm', type: 'min-height: 100px' },
    { name: 'height-md', type: 'min-height: 350px' },
    { name: 'height-lg', type: 'min-height: 400px' },
    { name: 'height-xl', type: 'min-height: 450px' },
    { name: 'hero-big', type: 'min-height: 300px / sm: min-height: 500px' },
    { name: 'hero-medium', type: 'min-height: 200px / sm: min-height: 400px' },
    { name: 'hero-mini', type: 'min-height: 100px / sm: min-height: 300px' }
]
%}


{% set fluid = [
    { name: 'fluid-12', from: '12px',to:'12px',line:'0.9' },
    { name: 'fluid-14', from: '14px',to:'14px',line:'0.9' },
    { name: 'fluid-16', from: '16px',to:'16px',line:'0.9' },
    { name: 'fluid-18', from: '18px',to:'18px',line:'0.9' },
    { name: 'fluid-20', from: '20px',to:'20px',line:'0.9' },
    { name: 'fluid-50', from: '30px',to:'50px',line:'0.9' },
    { name: 'fluid-100', from: '40px',to:'100px',line:'0.9' }
]
%}

