{% set some_var1 = "HOLYGRAIL " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set colors = [
    { name: 'c-black', type: '#292929' },
    { name: 'c-white', type: '#ffffff' },
    { name: 'c-error', type: '#B40016' },
    { name: 'c-dark-grey', type: '#8e8e8e' },
    { name: 'c-middle-grey', type: '#e3e3e3' },
    { name: 'c-light-grey', type: '#f0f0f0' },
    { name: 'c-info', type: '#1a32a4' },
    { name: 'c-green', type: '#76ae4A' },
    { name: 'c-yellow', type: '#ffc700' }
]
%}
{% set colorsPrimary = [
    { name: 'c-primary', type: '#292929' },
    { name: 'c-dark-grey', type: '#8e8e8e' },
    { name: 'c-middle-grey', type: '#e3e3e3' },
    { name: 'c-light-grey', type: '#f0f0f0' }
]
%}
{% set colorsSemantic = [
    { name: 'c-error', type: '#B40016' },
    { name: 'c-sale', type: '#B40016' },
    { name: 'c-info', type: '#1a32a4' },

    { name: 'c-success', type: '#76ae4A' },
    { name: 'c-warning', type: '#ffc700' },
    { name: 'c-feel', type: '#fb9962' }
]
%}
{% set colorsGreyscale = [ { 
     name: 'c-white - > ', type: '#ffffff' },
    { name: 'c-50 ->  light-grey', type: '#F1F2F3' }, 
    { name: 'c-100 -> light-grey',type: '#E4E4E7' },
    { name: 'c-200 -> middle-grey ',type: '#C8C9D0' }, 
    { name: 'c-400 -> dark-grey', type: '#9293A0' },
    { name: 'c-600 -> light-grey', type:'#f0f0f0' },
    { name: 'c-800 -> dark-grey', type: '#9293A0' },
    { name: 'c-black -> primary', type: '#000000'} 
] %}
{% set containers = [
    { name: 'container', type: '800px' },
    { name: 'container-2', type: '700px' },
    { name: 'container-3', type: '900px' },
    { name: 'container-4', type: '356px' },
    { name: 'container-5', type: '400px' },
    { name: 'container-6', type: '442px' },
    { name: 'container-7', type: '595px' },
    { name: 'container-8', type: '395px' }
]
%}
{% set breakpoints = [
    { name: 'break-xs', type: '1px' },
    { name: 'break-sm', type: '768px' },
    { name: 'break-md', type: '992px' },
    { name: 'break-lg', type: '1280px' },
    { name: 'break-xl', type: '1500px' }
]
%}
{% set heights = [
    { name: 'h-100', type: '100%' },
    { name: 'height-100', type: '100%' },
    { name: 'height-xs', type:  '80px' },
    { name: 'height-sm', type:  '100px' },
    { name: 'height-md', type:  '350px' },
    { name: 'height-lg', type:  '400px' },
    { name: 'height-xl', type:  '450px' },

    { name: 'hero-big', type: ' 300px ' },
    { name: 'hero-medium', type: '200px ' },
    { name: 'hero-mini', type: ' 100px ' },

    { name: 'hero-big-sm', type: '500px //falta implementar' },
    { name: 'hero-medium-sm', type: '400px  //falta implementar' },
    { name: 'hero-mini-sm', type: ' 300px  //falta implementar' }
]
%}
{% set fluid = [
    { name: 'fluid-12', from: '12px',to:'12px',line:'0.9' },
    { name: 'fluid-14', from: '14px',to:'14px',line:'0.9' },
    { name: 'fluid-16', from: '16px',to:'16px',line:'0.9' },
    { name: 'fluid-18', from: '18px',to:'18px',line:'0.9' },
    { name: 'fluid-20', from: '20px',to:'20px',line:'0.9' },
    { name: 'fluid-50', from: '30px',to:'50px',line:'0.9' },
    { name: 'fluid-100', from: '40px',to:'100px',line:'0.9' }
]
%}

{% set fixes = [
    { name: '14', line: '1.5'},
    { name: '16',  line: '1.5'},
    { name: '18', line: '1.5' },
    { name: '20', line: '1.5'},
    { name: '24', line: '1.5'},
    { name: '32', line: '1.5'},
    { name: '40', line: '1.5'}
]
%}

{% set fontweight = "inherit" %}


{% set fonts = [
   
{name: 'light',family:'"DuttiW-Light",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'regular',family:'"DuttiW-Regular",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'medium',family:'"DuttiW-Medium",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'bold',family:'"DuttiW-Bold",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'black',family:'"DuttiW-Black",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'2-regular',family:'"DuttiWExtended-Regular",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'2-medium',family:'"DuttiWExtended-Medium",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'2-bold',family:'"DuttiWExtended-Bold",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'},
{name:'2-black',family:'"DuttiWExtended-ExtraBold",Helvetica,"Arial","LucidaGrande",sans-serif',line:'1.5'}

]
%}


{% set TypeHeaders = [

   {name: 'h1',   xs: ' 32px'    ,sm:' 32px',     md:'32px',   lg:' 40px ',line:' 1.2',weight: 'medium' },
   {name: 'h2',   xs: ' 24px'    ,sm:' 24px',     md:'24px',   lg:' 32px ',line:' 1.2',weight: 'medium' },
   {name: 'h3',   xs: ' 18px'    ,sm:' 18px',     md:'18px',   lg:' 24px ',line:' 1.2',weight: 'medium' },
   {name: 'h4',   xs: ' 16px'    ,sm:' 16px',     md:'16px',   lg:' 18px ',line:' 1.2',weight: 'bold' },
   {name: 'h5',   xs: ' 16px'    ,sm:' 16px',     md:'16px',   lg:' 16px ',line:' 1.2',weight: 'bold' },
   {name: 'h6',   xs: ' 12px'    ,sm:' 12px',     md:'12px',   lg:' 14px ',line:' 1.2',weight: 'medium' },
   {name: 'h7',   xs: ' 10px'    ,sm:' 10px',     md:'10px',   lg:' 12px ',line:' 1.2',weight: 'medium' }, 
   {name: 'h8',   xs: ' 8px'     ,sm:'8px' ,       md:' 8px',  lg:' 10px ',line:' 1.2',weight: 'medium' },
   {name: 'h9',   xs: ' 12px'    ,sm:' 16px',      md:'16px',  lg:' 18px ',line:' 1.2',weight: 'medium' },
 
   {name: 'p1',   xs: ' 14px'    ,sm:'14px' ,      md:' 14px', lg:' 14px ',line:' 1.2',weight: 'regular' },
   {name: 'p2',   xs: ' 14px'    ,sm:' 14px',      md:'16px',  lg:' 18px ',line:' 1.4',weight: 'regular' },
   {name: 'p3',   xs: ' 12px'    ,sm:'14px' ,      md:' 14px', lg:' 14px ',line:' 1.2',weight: 'regular' },
   {name: 'p4',   xs: ' 14px'    ,sm:' 14px',      md:'16px',  lg:' 18px ',line:' 1.4',weight: 'medium' },

    {name:'display1' ,  xs:'32px'  , sm:'32px', md:'32px', lg:'48px', line:'1.2', weight:'bold' }, 
    {name:'prod  '   ,   xs:'12px' , sm:'12px', md:'14px', lg:'14px', line:'1.2', weight:'medium' }, 
    {name:'display2' ,   xs:'20px' , sm:'20px', md:'20px', lg:'40px', line:'1.2', weight:'bold' }, 
    {name:'display3' ,   xs:'16px' , sm:'16px', md:'16px', lg:'24px', line:'1.5', weight:'medium' }, 
    {name:'display4' ,   xs:'14px' , sm:'14px', md:'14px', lg:'24px', line:'1.5', weight:'medium' }, 
    {name:'display5' ,   xs:'14px' , sm:'14px', md:'14px', lg:'18px', line:'1.5', weight:'regular' }, 
    {name:'display6' ,   xs:'12px' , sm:'12px', md:'12px', lg:'18px', line:'1.5', weight:'regular' }, 
    {name:'display7'  ,  xs:'14px' , sm:'14px', md:'14px', lg:'18px', line:'1.5', weight:'medium' }, 
    {name:'subtitle'  ,  xs:'14px' , sm:'14px', md:'14px', lg:'14px', line:'1.4', weight:'regular' }
]
%}


{% set ratios = [
    { ancho : '2', alto: '3' },
    { ancho: '2', alto: '3' },
    { ancho: '3', alto: '4' },
    { ancho: '1', alto: '1' },
    { ancho: '4', alto: '3' },
    { ancho: '3', alto: '2' },
    { ancho: '16', alto: '9' },
    { ancho: '2', alto: '1' },
    { ancho: '21', alto: '9' }
]
%}
{% set placeholders = [
    { ratio : '2-3' },
    { ratio : '3-4' },
    { ratio : '1-1' },
    { ratio : '2-1' },
    { ratio : '3-2' },
    { ratio : '4-2' },
    { ratio : '4-3' },
    { ratio : '16-9' },
    { ratio : '21-9' },
    { ratio : '30' },
    { ratio : '33' },
    { ratio : '66' },
    { ratio : '105' },
    { ratio : 'bg-light' },
    { ratio : 'AR_SOCIAL_4' },
    { ratio : 'AR_SOCIAL_6' }
]
%}
{% set helpers = [
    { helper : '.ov-scroll', descripcion: ' scroll con touch' },
    { helper: '.scrollbar', descripcion: 'cambiamos el background' },
    { helper: '.ov-custom', descripcion: 'scroll personalizable' },
    { helper: '.cursor-pointer', descripcion: 'Un cursor' },
    { helper: '.svg-iflex', descripcion: 'descripcion' },
    { helper: '.svg-inline', descripcion: 'descripcion' },
    { helper: 'hr', descripcion: 'línea normal' },
    { helper: '.only-mobile', descripcion: 'Visible Solo en móbile visible hasta el sm' },
    { helper: '.only-desktop', descripcion: 'Visible Sólo en  desktop a partir de sm' },
    { helper: '.only-mobile-flex', descripcion: 'Flex en mobile hasta sm' },
    { helper: '.only-desktop-flex', descripcion: 'Flex en desktop a partir de sm' },
    { helper: '.ttu', descripcion: 'Transformación a mayúsculas en aquellos paises que sea posible' },
    { helper: '.video-cover', descripcion: 'Posicionamiento mediante absolutes 50%' }
]
%}



{% set headers = [
    { helper : '.ov-scroll', descripcion: ' scroll con touch' },
    { helper: '.scrollbar', descripcion: 'cambiamos el background' },
    { helper: '.ov-custom', descripcion: 'scroll personalizable' },
    { helper: '.cursor-pointer', descripcion: 'Un cursor' },
    { helper: '.svg-iflex', descripcion: 'descripcion' },
    { helper: '.svg-inline', descripcion: 'descripcion' },
    { helper: 'hr', descripcion: 'línea normal' },
    { helper: '.only-mobile', descripcion: 'Visible Solo en móbile visible hasta el sm' },
    { helper: '.only-desktop', descripcion: 'Visible Sólo en  desktop a partir de sm' },
    { helper: '.only-mobile-flex', descripcion: 'Flex en mobile hasta sm' },
    { helper: '.only-desktop-flex', descripcion: 'Flex en desktop a partir de sm' },
    { helper: '.ttu', descripcion: 'Transformación a mayúsculas en aquellos paises que sea posible' },
    { helper: '.video-cover', descripcion: 'Posicionamiento mediante absolutes 50%' }
]
%}


{% set margenhasta = [
    { name: '.mdmax:mb-16', type: '$break-md -1' },
    { name: '.mdmax:mb-20 **', type: 'break-md -1'},
    { name: '.mdmax:mb-42 **', type: 'break-md -1'},
    { name: '.smmax:mb-16', type: '$break-sm -1' },
    { name: '.smmax:mb-20 **', type: '$break-sm -1'  },
    { name: '.smmax:mb-42 **', type: '$break-sm -1' }
    ]
%}



{% set ModalSizes = [
    { name: 'SIZE_XS', class: 'modalx-xs' ,size:'295px', explicacion:'Tamaño max. 295px'},
    { name: 'SIZE_S', class: 'modalx-sm' ,size:'445px', explicacion:'Tamaño max. 445px'},
    { name: 'SIZE_M', class: 'modalx-md',size:'595px',explicacion:'Tamaño max. 595px' },
    { name: 'SIZE_L', class: 'modalx-lg' ,size:'899px',explicacion:'Tamaño max. 899px'},
    { name: 'SIZE_XL', class: 'modalx-xl' ,size:'995px' ,explicacion:' <span class="todo"> FALTA </span> Tamaño max. 950px'}

    ]
%}

{% set ModalMargins = [
    { name: 'MARGIN_0', class: 'MARGIN_0', explicacion:'la explicacion' },
    { name: 'MARGIN_16', class: 'MARGIN_16' , explicacion:'la explicacion'},
    { name: 'MARGIN_24', class: 'MARGIN_24' , explicacion:'la explicacion'},
    { name: 'MARGIN_32', class: 'MARGIN_32', explicacion:'la explicacion' },
    { name: 'MARGIN_40', class: 'MARGIN_40' , explicacion:'la explicacion'},
    { name: 'MARGIN_0_24', class: 'MARGIN_0_24' , explicacion:'la explicacion'}

    ]
%}


{% set ModalOptions = [
    { name: 'HIDE_TITLE', class: 'HIDE_TITLE', explicacion:'la explicacion' },
    { name: 'HIDE_X', class: 'HIDE_X', explicacion:'la explicacion' },
    { name: 'FULL_MOBILE', class: 'FULL_MOBILE', explicacion:'la explicacion' },
    { name: 'FULL_VIEWPORT', class: 'FULL_VIEWPORT', explicacion:'la explicacion' },
    { name: 'FEEL_BG', class: 'FEEL_BG', explicacion:'la explicacion' },
    { name: 'CLOSE_ON_BACKDROP_CLICK', class: 'CLOSE_ON_BACKDROP_CLICK', explicacion:'la explicacion' },
    { name: 'TRANSPARENT_BACKGROUND', class: 'TRANSPARENT_BACKGROUND', explicacion:'la explicacion' }

    ]
%}



