<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Nueva guia | Nunjucks</title>
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/docs.css" />
</head>
<body class="guide">
	 {% import '_globals.html' as globals %} 
	{% import "_insert.html" as insert %}


	 {% block content %}{%
	endblock %}
	<script src="../js/main.js"></script>
	<script src="../js/prism.js"></script>
</body>
</html>