<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Component zone</title>
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/docs.css" />

</head>
<body class="guide">


	{% import '_globals.html' as globals %} 
	{% import "_insert.html" as insert %}
	{% import "_button.html" as button %}
	{% import "_lists.html" as lists %}

<!-- Aqui comienza el componente COMPONENT  -->

	 {% block content %}{% endblock %}

<!-- Aqui termina el componente COMPONENT  -->

























	{% include "footer.html" %}
</body>
</html>