<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Holygrail | Design System</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/docs.css" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body class="guide">


    {% import '_globals.html' as globals %}
    {% import "_insert.html" as insert %}
    {% import "_button.html" as button %}
    {% import "_lists.html" as lists %}


  {% import "_special.html" as special %}

  {% import "_modal.html" as modal %}


  {% if page_title == 'home' %}

  <div class="guide">{% block content_home %}{% endblock %}</div>

  {% else %}

  {% include "navtop.html" %}
  {% include "nav.html" %}

  <div id="guideContainer" class="guide">
    <div class="main-widthsidebar">
      <div class="main-title">{% block title %}{% endblock %}</div>


      <div class="  {% if page_container == 'full' %} main-full   {% else %}  main-content  {% endif %}">{% block content %}{% endblock %}
      
        
         </div>
    </div>
  </div>
  {% endif %}



  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script>
    var height;
    interact(".resize")
      .resizable({
        // resize from all edges and corners
        edges: {
          left: true,
          right: true,
          bottom: false,
          top: false,
        },
        modifiers: [
          // keep the edges inside the parent
          interact.modifiers.restrictEdges({
            outer: "parent",
          }),
          // minimum size
          interact.modifiers.restrictSize({
            min: { width: 320, height: 500 },
            max: { width: 1300, height: 500 },
          }),
        ],
        inertia: true,
      })
      .on("resizemove", function (event) {
        var target = event.target;
        event.target.classList.add("resize-overlay");
        var x = parseFloat(target.getAttribute("data-x")) || 0;
        var y = parseFloat(target.getAttribute("data-y")) || 0;
        // update the element's style
        target.style.width = event.rect.width + "px";
        target.style.webkitTransform = target.style.transform =
          "translate(" + x + "px," + y + "px)";
        target.setAttribute("data-x", x);
        target.setAttribute("data-y", y);
        target.querySelector(".resize-resolution").textContent =
          Math.round(event.rect.width) +
          "\u00D7" +
          Math.round(event.rect.height);
        if (event.rect.width < 320) {
          target.querySelector(".resize-media").textContent = "XS";
        } else if (event.rect.width < 768) {
          target.querySelector(".resize-media").textContent = "XS";
        } else if (event.rect.width < 992) {
          target.querySelector(".resize-media").textContent = "SM";
        } else if (event.rect.width < 1280) {
          target.querySelector(".resize-media").textContent = "MD";
        } else if (event.rect.width < 1500) {
          target.querySelector(".resize-media").textContent = "LG";
         } else   {
          target.querySelector(".resize-media").textContent = "XL";
        }
      })
      .on("resizeend", function (event) {
        event.target.classList.remove("resize-overlay");
      });
  </script>
</body>

</html>