


<button class="resize-rules guide-inspect btn btn-invert  ">  
	<div class="">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<title>measure-02</title>
			<g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1.5" transform="translate(0.5 0.5)" fill="#eaeaea"
				stroke="#eaeaea">
				<line fill="none" stroke-miterlimit="10" x1="8" y1="6" x2="11" y2="6"></line>
				<line fill="none" stroke-miterlimit="10" x1="8" y1="10" x2="10" y2="10"></line>
				<line fill="none" stroke-miterlimit="10" x1="8" y1="14" x2="11" y2="14"></line>
				<line fill="none" stroke-miterlimit="10" x1="8" y1="18" x2="10" y2="18"></line>
				<rect x="8" y="1" fill="none" stroke="#eaeaea" stroke-miterlimit="10" width="8" height="22"></rect>
			</g>
		</svg>
	</div>
</button>
<button class="guide-inspect btn btn-invert rtl-inspect" onclick="rtlChange()">RTL</button>
	
	<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../js/scripts.js"></script>
	<script src="../js/prism.js"></script>
	<script src="../js/rtl-action-components.js"></script>