<nav>
	<div class="menu-lateral sidebar">
		<div class="mb-32">

			<a class="text-16-2b  " target="_parent" href="./index.html">
			<span class="text-18-2b"> {{globals.some_var1 }}</span></a> 
		</div>


		<ul class="list-clear text-16-b mb-8 mt-8">
			<li> <a class="text-16-2b  " target="_parent" href="./startdev.html">Start Dev</a></li>

			<div class="body">
				<li><a class="text-12-m " target="_parent" href="./practicas.html"> Buenas practicas</a></li>

			</div>
		</ul>
		<ul class="list-clear text-16-2b mb-40">
			<li> <a class="text-16-2b  " target="_parent" href="./startdesigner.html">Start Designer</a> (wip)</li>
		</ul>
		<ul class="list-clear mb-8">
			<div class=" doc-menu-title mt-8 mb-4 text-16-2b align-middle "> Base 
			</div>
			<div class="body">
				<li><a class="text-12-m " target="_parent" href="layout.html"> Layout</a></li>
				<!-- <li><a class="text-12-m" target="_parent" href="icons.html"> Icons</a></li> -->
				<li><a class="text-12-m " target="_parent" href="colores.html">Colores</a></li>
				<li><a class="text-12-m " target="_parent" href="images.html">images</a></li>
				<li><a class="text-12-m " target="_parent" href="icons.html">Icons</a></li>
				<li><a class="text-12-m " target="_parent" href="heights.html"> Height </a></li>
				<li><a class="text-12-m " target="_parent" href="helpers.html"> Helpers</a></li>
				<li><a class="text-12-m " target="_parent" href="flexbox.html"> Flexbox</a></li>
				<li><a class="text-12-m " target="_parent" href="espaciado.html"> Espaciado</a></li>
				<li><a class="text-12-m " target="_parent" href="ratios.html"> Ratios</a></li>
				<li> <a class="text-12-m " target="_parent" href="tipografia.html"> Tipografia</a></li>
				<li> <a class="text-12-m " target="_parent" href="playground.html"> Playground</a></li>
				<li> <a class="text-12-m " target="_parent" href="videos.html"> Videos</a></li>
			</div>
		</ul>
		<ul class="list-clear mb-8">
			<div class="doc-menu-title mt-8 mb-4 text-16-2b align-middle"> Atoms 
			</div>
			<div class="body">
				<li><a class="text-12-m " target="_parent" href="./buttons.html"> Buttons </a></li>
				<li><a class="text-12-m  " target="_parent" href="./checkbox.html"> Checkbox</a></li>
				<li><a class="text-12-m " target="_parent" href="./input.html"> Input </a></li>
				<li><a class="text-12-m " target="_parent" href="./links.html"> Links</a></li>
				<li><a class="text-12-m " target="_parent" href="./list.html"> List </a></li>
				<li><a class="text-12-m " target="_parent" href="./select.html"> Select </a></li>
				<li><a class="text-12-m " target="_parent" href="./datalist.html"> Datalist </a></li>
				<li><a class="text-12-m " target="_parent" href="./tabs.html"> Tabs </a></li>
				<li><a class="text-12-m " target="_parent" href="./tags.html"> Tags </a></li>
				<li><a class="text-12-m process" target="_parent" href="./banners.html"> banners </a></li>
			</div>
		</ul>


	 <ul class="list-clear mb-8">
			<div class="doc-menu-title mt-8 mb-4 text-16-2b align-middle"> Componentes <div class="text-12-r"> (WIP) </div>
			</div>
			<div class="body">
				<li><a class="text-12-m" target="_parent" href="componentes.html"> Componentes</a></li>
				<li><a class="text-12-m" target="_parent" href="modal.html"> Modales</a></li>

			</div>
		</ul> 
		<ul class="list-clear mb-8">
			<div class="doc-menu-title mt-8 mb-4 text-16-2b align-middle"> Templates </div>

			<div class="body">
				<li><a class="text-12-m" target="_blank" href="01-giftcard.html"> Gift Card</a></li>
				<li><a class="text-12-m" target="_parent" href="02-minicesta.html"> Minicesta</a></li>
				<li><a class="text-12-m" target="_parent" href="03-pdecorte.html"> P. de corte</a></li>

				<li><a class="text-12-m" target="_parent" href="08-guiadetallas.html"> Guía de tallas</a></li>

				<li><a class="text-12-m" target="_parent" href="04-menu.html"> menu </a></li>

					<li><a class="text-12-m" target="_parent" href="06-worldwide.html"> Worldwide </a></li>
					<li><a class="text-12-m" target="_parent" href="07-limited.html"> Limited </a></li>



				{#<li><a class="text-12-m" target="_blank" href="./templates/template-header2.html"> NEW header</a></li>
				<li><a class="text-12-m" target="_blank" href="./templates/template-home.html"> NEW home</a></li>
				 <li><a class="text-12-m" target="layout" href="./templates/parrilla/parrilla.html"> Parrillas </a></li> 
				<li><a class="text-12-m" target="layout" href="./templates/newsletter/newsletter.html"> Newsletters </a>
				</li>
				<li><a class="text-12-m" target="_blank" href="./templates/feel_reserva/feel_reserva.html"> Feel
						reserva</a></li>
				<li><a class="text-12-m" target="_blank" href="./templates/feel/landing.html"> Feel landing</a></li>
				<li><a class="text-12-m" target="_blank" href="./templates/template-feel.html"> Feel</a></li>
				<li><a class="text-12-m" target="_blank" href="./templates/template-wishlist.html"> Wishlist</a></li>
				<li><a class="text-12-m" target="_blank" href="./templates/template-location.html"> Store Location</a>
				</li>
				#}
			</div>
		</ul>
		<ul class="list-clear text-16-b mb-48">
			<li> <a class="text-16-b " target="_parent" href="./proceso.html">Proceso</a>
			<li> <a class="text-16-b " target="_parent" href="./news.html">News</a>
			<!-- </li>
			<li> <a class="text-16-b " target="_parent" href="./guia.html">Guia <div class=""></div></a>
			</li> -->
		</ul>

<div class="nav-bottom">



		<div class="row m-0">
			<div class="col-xs-12 mb-16">
				<button onclick="rtlChange()" class="menu-arabian btn btn--mini"> RTL</button>

				<a href="https://www.npmjs.com/package/holygrailcss" target="_blank" rel="nofollow">
					<img src="https://img.shields.io/npm/v/holygrailcss.svg">
				  </a>
			</div>
		</div>
	</div>


	</div>
</nav>
<div class="toggle-menu"></div>

<script src="/js/rtl-action.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/nav-interactions.js"></script>