<nav>
    <div class="menu-superior ">
        <div class="row">
            <div class="col-xs-6">
<div class="p-16">
  
	<a class="tit-xs  " target="_parent" href="./index.html">
				<span class="tit-s"> {{globals.some_var1 }}</span></a>
            </div>
            </div>
            <div class="col-xs-6">
                <ul class="list-clear list-inline p-m-b text-right mb-8 mt-8">
                    <li> <a class="p-m p-16 " target="_parent" href="./startdev.html">Introducción</a></li>
                    <li><a class="p-m p-16  " target="_parent" href="./news.html"> Novedades</a></li>
                    <li><a class="p-m p-16  " target="_parent" href="./practicas.html"> Guidelines</a></li>
                    <li><a class="p-m p-16  " target="_parent" href="./practicas.html"> About</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>