<nav>
    <div class="menu-superior ">
        <div class="row">
            <div class="col-xs-6">
<div class="p-16">
                <a class="text-16-2b    " target="_parent" href="./startdev.html">Tailor DSM</a>
            </div>
            </div>
            <div class="col-xs-6">
                <ul class="list-clear list-inline text-16-b text-right mb-8 mt-8">
                    <li> <a class="text-16-m p-16 " target="_parent" href="./startdev.html">Introducción</a></li>
                    <li><a class="text-16-m p-16  " target="_parent" href="./news.html"> Novedades</a></li>
                    <li><a class="text-16-m p-16  " target="_parent" href="./practicas.html"> Guidelines</a></li>
                    <li><a class="text-16-m p-16  " target="_parent" href="./practicas.html"> About</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>