---
layout: base-clean.njk
---

<link rel="stylesheet" href="/assets/css/home.css">
<link rel="stylesheet" href="/assets/css/hg-header.css">
<link rel="stylesheet" href="/assets/css/hg-menu.css">

<div class="templates-2026-home p-24">
  {% include '_paginas/templates-2026/hg-header.njk' %}

  <!-- Panel hg-menu: se abre al hacer click en .js-hg-menu-toggle -->
  <div id="hg-menu-panel" class="hg-menu-panel" aria-hidden="true" aria-label="Menú" role="dialog" inert>
    <button type="button" class="hg-menu-panel__close" aria-label="Cerrar menú">&times;</button>
    <div class="hg-menu-panel__inner">
      {% include '_paginas/templates-2026/hg-menu.njk' %}
    </div>
  </div>
  <div id="hg-menu-backdrop" class="hg-menu-backdrop" aria-hidden="true" tabindex="-1"></div>
</div>