---
layout: base-clean.njk
---

{# Token hg-home-2 (templates-2026): contenido para iframe /token-hg-home-2/ #}
<link rel="stylesheet" href="/assets/css/hg-home2.css">
<link rel="stylesheet" href="/assets/css/hg-header.css">
<link rel="stylesheet" href="/assets/css/hg-menu.css">
<link rel="stylesheet" href="/assets/css/hg-footer.css">

<div class="templates-2026-home p-24">
  {% include '_paginas/templates-2026/hg-home-2.njk' %}
</div>

