{% extends "base-clean.njk" %}
{% block content %}
{# Token hg-home-4 (templates-2026): contenido para iframe /token-hg-home-4/ #}
<link rel="stylesheet" href="/assets/css/hg-home4.css">
<link rel="stylesheet" href="/assets/css/hg-header.css">
<link rel="stylesheet" href="/assets/css/hg-menu.css">
<link rel="stylesheet" href="/assets/css/hg-footer.css">

<div class="templates-2026-home">
  {% include '_paginas/templates-2026/hg-home-4.njk' %}
</div>
{% endblock %}
