{% extends "base.html" %} 

{% block title %} 
{% call special.titledoc('GiftCard','desc','actualizado') %} {% endcall %} 
{% endblock %} 
{% set page_title = "giftcard" %} 
  {% set page_container = "full" %} 
{% block content %} 
<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 insert-figma">
        {% call
            insert.figma('https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2084')
            %} {% endcall %}
        </div>
    </div>
</section>
<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12  tit-m"> Código sass del componente</div>
        <div class="col-xs-12"> {% call insert.sass('giftcard') %} {% endcall %} </div>
    </div>
</section>
<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12"> 
        {% call insert.component('giftcard1','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2837') %} {% endcall %} 
        {% call insert.component('giftcard2','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2201') %}{% endcall %}
        {% call insert.component('giftcard3','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2201') %}{% endcall %}
        {% call insert.component('giftcard4','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2815') %}{% endcall %}
        {% call insert.component('giftcard5','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2312') %}{% endcall %} 
        {% call insert.component('giftcard6','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2656') %}{% endcall %}

        {% call insert.component('giftcard7','800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2656') %}{% endcall %}

     </div>
    </div>
</section> {% endblock %}