{% extends "base.html" %} 
  {% set page_container = "full" %} 
{% block title %} 
{% call special.titledoc('Minicesta','desc','actualizado') %} {% endcall %} 
{% endblock %} 

{% set page_title = "minicesta" %} 
{% block content %}


afsdfa
<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            {% call insert.figma('https://www.figma.com/file/a964zjTH63yAgIwWhia2op/MD-DESIGN-SYSTEM?node-id=0%3A1') %}  {% endcall %}
        </div>
    </div>
</section>




<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12">
            {% call insert.component('minicestacard', '350','https://www.figma.com/file/a964zjTH63yAgIwWhia2op/MD-DESIGN-SYSTEM?node-id=0%3A1') %}  {% endcall %}
        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12">
            {% call insert.component('minicestasidebar', '800px','') %}  {% endcall %}
        </div>
    </div>
</section>


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12">
            {% call insert.component('minicestacheckout', '500px','') %}  {% endcall %}
        </div>
    </div>
</section>

{% endblock %}