

{% extends "base.html" %} 
  {% set page_container = "full" %} 

{% block title %} 
{% call special.titledoc('XXX','desc','actualizado') %} {% endcall %} 
{% endblock %} 
{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            {% call insert.figma('https://www.figma.com/file/zGMt5sLgI08YbUfc7vzITY/33780---Redesign-of-the-points-and-voucher-system---MD-FEEL') %}  {% endcall %}
        </div>
    </div>
</section>


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12"> {% call insert.component('xxx',
            '550px','https://www.figma.com/file/zGMt5sLgI08YbUfc7vzITY/33780---Redesign-of-the-points-and-voucher-system---MD-FEEL')
            %} {% endcall %} </div>
    </div>
</section>



{% endblock %}