{% extends "base.html" %} {% block content %} 
{% set page_title = "pagina" %} 

<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "><div class="tit-m"> Características</div></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-dark-grey "> El color es fundamental para la experiencia del usuario y debe transmitir
                información de manera accesible para todos nuestros usuarios. </div>
        </div>
    </div>
</section>



<div class="row pt-64 pb-64">
    <div class="col-xs-12 mb-8 ">
        <hr>
    </div>
    <div class="col-xs-12 ">
        <div class="tit-m"> Videos</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
    </div>
</div> {% endblock %}