{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Checkbox','desc','actualizado') %} {% endcall %} 
  {% endblock %} 

  {% set page_title = "checkbox" %} 
{% block content %}



<section class="mb-32 mt-32">
    <div class="row">

        <div class="col-xs-12 "></div>
        <div class="col-xs-12 col-md-9">
            <div class="tit-s c-dark-grey ">
                Estilos y usos del input tipo checkbox.
            </div>
        </div>
    </div>
</section>


<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="tit-m"> Checkbox </div>
        </div>
        <div class="col-xs-12">
            {% call insert.checkbox('checkbox-item-box ','Checkbox en has-light','has-light bg-primary') %} {% endcall %}


            {% call insert.checkbox('checkbox-item-box','Input tipo checkbox individual. ') %} {% endcall %}
            {% call insert.checkbox('checkbox-item-text','Input tipo checkbox con texto que no es enlace. ') %} {% endcall %}
            {% call insert.checkbox('checkbox-item','Input tipo checkbox con texto que funciona como enlace al input. ') %} {% endcall %}
            {% call insert.checkbox('checkbox-item is-error','Estado error en el input. ') %} {% endcall %}
            {% call insert.checkboxSide('checkbox-item-2','Botón switch que cambia según en estado') %} {% endcall %}
            {% call insert.checkboxRadio('checkbox-radio','Botón radio animado') %} {% endcall %}

            {% call insert.checkboxcard('checkbox-card','Botón radio textual') %} {% endcall %}

    

         


        </div>
    </div>
</section>


{% endblock %}