{% extends "base.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Colores','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% set page_title = "colores" %} 

{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-dark-grey "> El color es fundamental para la experiencia del usuario y debe transmitir
                información de manera accesible para todos nuestros usuarios. </div>
        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="tit-m"> Su uso</div>
        </div>
        <div class="col-xs-12">
            <p class="p-xs">
                Para poder usar los colores usaremos las siguientes variables importando los abstract en el documento
                sass.
            </p>

        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="tit-m"> Primarios </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsPrimary %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                            <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"> <span>Variable Color:</span> ${{ item.name }}</div>
                             <div class="p-xs"> <span>Font color:</span> .{{ item.name }}</div>
                            <div class="p-xs"> <span >Background Color:</span> {{ item.class }}</div>
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="tit-m"> Semanticos </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsSemantic %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                         <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"> <span>Variable Color:</span> ${{ item.name }}</div>
                             <div class="p-xs"> <span>Font color:</span> .{{ item.name }}</div>
                            <div class="p-xs"> <span >Background Color:</span> {{ item.class }}</div>
                     
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="tit-m"> Feel </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsFeel %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                              <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"> <span>Variable Color:</span> ${{ item.name }}</div>
                             <div class="p-xs"> <span>Font color:</span> .{{ item.name }}</div>
                            <div class="p-xs"> <span >Background Color:</span> {{ item.class }}</div>
                     
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}