{% extends "baseindex.html" %} {% import "_button.html" as button %} {% block content %} 



<div
    class="ltr guide has-light ">
    <div class="hero">
        <div class="hero-bg">
            <video autoplay="" loop="" muted="" id="myVideo" class="video" preload="true" playsinline="">
                <source src="/images/bg.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="guide-bg">
        <div class="holycup">
            <img src="./images/holycup.png" alt="">
        </div>
        <div class="logo-guide pt-16 pb-16">
            <div class="container">
                <img src="./images/logomenu.png" alt="">
                <br>
     


            </div>
        </div>
        <section>
            <div class="container has-light">
                <div class="row height-full is-flex align-middle">
                    <div class="col ">
                        <div class="fluid-150-b "> Intelligent <br> Layouts faster <br> than you </div>
                        <h3 class="tit-s"> We shape and design digital ideas and bring wonderful <br> experiences to
                            life. </h3>
                        <div class="mb-48 is-flex">
                            <a class="mr-16"  href="https://www.npmjs.com/package/holygrailcss" target="_blank" rel="nofollow">
                                <img src="https://img.shields.io/npm/v/holygrailcss.svg">
                            </a>
                            <iframe
                            src="https://ghbtns.com/github-btn.html?user=holygrailcss&amp;repo=holygrail&amp;type=star&amp;count=true&amp;size=small"
                            frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
                        </div>
                

                              <br>
            


   

                            <a class=" only-desktop " href=" ./tailor.html">
                                <button class="btn btn-primary btn--xlarge mr-8 ">Get Started</button>
                            </a>

                        <a class=" only-mobile " href=" ./startdev.html">
                            <button class="btn  btn-primary mr-8 ">Holy Cheatsheet </button> </a>

                         
                
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container mb-40">
                <div class="row">
                    <div class="col">
                        <h2 class="fluid-20-r">
                            <strong> For creators, by creators </strong> The all-in-one framework for creative troops
                            and developers . Create, share and view ideas in an engaging and powerful new way. A design
                            driven deck engine, that speeds up and simplifies website for everyone, with any content on
                            any screen.
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-3">
                <div class="row height-lg ">
                    <div class="col-xs-12  col-sm-4  text-center  flex-column mb-big ">
                        <div class="rat-1-1 w-100 ">
                            <div class="rat-content is-flex align-center">
                                <img src="./images/aa.png" style=" width: 100%; max-width: 200px;" alt="">
                            </div>
                        </div>
                        <h4 class="tit-m yellow"> Framework </h4>
                    </div>
                    <div class="col-xs-12  col-sm-4  text-center  flex-column mb-big">
                        <div class="rat-1-1 w-100 ">
                           <div class="rat-content is-flex align-center">
                                <img src="./images/bb.png" style=" width: 100%; max-width: 200px;" alt="">
                            </div>
                        </div>
                        <h4 class="tit-m red"> Component</h4>
                    </div>
                    <div class="col-xs-12  col-sm-4  text-center  flex-column mb-big">
                        <div class="rat-1-1 w-100 ">
                           <div class="rat-content is-flex align-center">
                                <img src="./images/cc.png" style=" width: 100%; max-width: 200px;" alt="">
                            </div>
                        </div>
                        <h4 class="tit-m purple"> Cli</h4>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-2 mb-40 mt-40">
                <div class="row">
                    <div class="col">
                        <div class="coding-box rat-16-9">
                            <div class="coding-box-header"></div>
                            <div class="content m-medium">
                                <div id="app" class="p-s yellow"> > npm install holygrailcss </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="has-light mb-48">
            <div class="container">
                <div class="row">
                    <div class="col">
                                <a target="_blank mb-40 mt-40"
                            href="https://github.com/holygrailcss/holygrail-boilerplate/archive/master.zip">   
                            <button class="btn btn-primary">Download boilerplate </button> </a>
                    </div>
                </div>
            </div>
        </section>



<section class="has-light mb-48">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="fluid-50-r">
                    Transformar una de las empresas minoristas más grandes del mundo en una <strong>organización digital primer orden.</strong>
                </div>

            </div>
        </div>
    </div>
</section>



<section class="has-light pb-64">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="fluid-20-r"> Creamos la primera biblioteca de componentes totalmente receptiva para la marca. </div>
                <br>
                <div class="fluid-20-r"> Entrega de <strong> 173 componentes,</strong> elementos, plantillas y variaciones, cubriendo casi el 100 % de los
                    casos de uso en todas las plataformas. </div>

                    <br>
                <div class="fluid-20-r"> Los nuevos desarrollos se crearon un <strong>80 %</strong> más rápido en comparación con la creación de nuevos
                    componentes desde cero. </div>
            </div>
        </div>
    </div>
</section>


    </div>
</div>
<section class="guide">
    <div class="container">
        <div class="row pt-40">
            <div class="col-xs-12  col-sm-3 mb-40">
                <h1 class=" tit-s"> Say hi. </h1>
                <ul class="list-clear">
         
                    <li> <a class="fluid-h4 red" href=""> Contact </a></li>
                </ul>
            </div>
            <div class="col-xs-12  col-sm-3">
            </div>
            <div class="col-xs-12  col-sm-3 mb-40">
                <a class="fluid-h2 Blue" href=""> Find </a>
                <ul class="list-clear">
                    <li> -</li>
                    <li> -</li>
                    <li> -</li>
                </ul>
            </div>
            <div class="col-xs-12  col-sm-3 mb-40">
                <a class="fluid-h2 Blue" href=""> Follow </a>
                <ul class="list-clear">

                </ul>
            </div>
        </div>
    </div>
</section> 

<script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>

<script>
var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('npm i holygrailcss')
    .pauseFor(2500)
    .deleteAll()
    .typeString('gulp style ')
    .pauseFor(2500)
    .deleteChars(7)
    .typeString('<strong>Enjoy!</strong>')
    .pauseFor(2500)
    .start();

</script>

{% endblock %}