{% extends "basefull.html" %} 
{% set page_title = "playground" %} 
{% block content %} 




<ul class="vsite">
			<li class="root">
				<div class="nodecontent">

          <div class="nodehover"> 
          
           <div class="nodetags"> hover </div>
          
           </div>

                   <div class="nodeplus"> + </div>
          <div class="nodetext"> Home </div>

          </div>
				<ul>
					<li class="node">
						<div class="nodecontent"> 
                            
                            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FM5JYxm2jm2F6QIUM88Zldr%2FFormaci%25C3%25B3n-POs-Abr.-23%3Fnode-id%3D106%253A914%26t%3D7aratX1tkOnI3bX5-1" allowfullscreen></iframe>

                            
                              <div class="nodetext"> Shop the look </div></div>
						<ul>
							<li class="vertical">
								<div class="nodecontent">   <div class="nodetext"> Figma </div> </div>
								<ul>
									<li class="leaf">
										<div class="nodecontent">    <div class="nodetext"> Figma </div></div>
									</li>
									<li class="leaf">
										<div class="nodecontent">    <div class="nodetext"> Figma </div></div>
									</li>
								</ul>
							</li>
							<li class="leaf">
								<div class="nodecontent">    <div class="nodetext"> Figma </div></div>
							</li>
						</ul>
					</li>
					<li class="vertical">
						<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
						<ul>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
						</ul>
					</li>
					<li class="vertical">
						<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
						<ul>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
						</ul>
					</li>
					<li class="vertical">
						<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
						<ul>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
							<li class="leaf">
								<div class="nodecontent">   <div class="nodetext"> Figma </div></div>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>




<script src="../js/scripts_type.js"></script> {% endblock %}