---
layout: base-parrillas.njk
title: parrillas
permalink: /parrillas-collection/
---
<div class="select-zone">
    <div class="row">
        <div class="col-xs-4">
            <a class="fin" href="#n1a"> n1a</a>
            <a class="fin" href="#n1c"> n1c</a>
            <a class="fin" href="#n1f"> n1f</a>
            <a class="fin" href="#n2a"> n2a</a>
            <a class="fin" href="#n2b"> n2b</a>
            <a class="fin" href="#n2c"> n2c</a>
            <a class="fin" href="#n3b"> n3b</a>
       
            <a class="fin" href="#n4a"> n4a</a>
            <a class="fin" href="#n4e"> n4e</a>
            <a class="fin" href="#n4f"> n4f</a>
            <a class="fin" href="#n6b"> n6b</a>

            <a class="fin" href="#nt2"> nt2</a>
            <br>
   
        </div>
            <div class="col-xs-4 text-center">
                <a class="rtl">RTL</a>
                <a class="over1">Sangre</a>
                <a class="over2">pbody</a>
                <a class="over3">no gap</a>
        
        </div>

        <div class="col-xs-4 text-right pr-40 is-flex content-end">
            <div  id="suffix-0"> <button class="btn btn-primary"> -0 </button>   </div>
            <div  id="suffix-1">  <button class="btn btn-primary">-1</button></div>
            <div  id="suffix-2">  <button class="btn btn-primary"> -2</button> </div>

    
    </div>
    </div>


</div>
<div class="w-100 grid-product-list pt-100 ">




    {% include '_tokens/_templates/parrillas/n4e.njk' %} 

   {# 


    {% include '_tokens/_templates/parrillas/n1a.njk' %}



    {% include '_tokens/_templates/parrillas/n1c.njk' %}
    {% include '_tokens/_templates/parrillas/n1d.njk' %} 
    {% include '_tokens/_templates/parrillas/n1e.njk' %} 
    {% include '_tokens/_templates/parrillas/n1f.njk' %}



    {% include '_tokens/_templates/parrillas/n2a.njk' %} 
    {% include '_tokens/_templates/parrillas/n2b.njk' %} 
    {% include '_tokens/_templates/parrillas/n2c.njk' %} 
    {% include '_tokens/_templates/parrillas/n3b.njk' %} 


    {% include '_tokens/_templates/parrillas/n4a.njk' %} 
    {% include '_tokens/_templates/parrillas/n4e.njk' %} 
    {% include '_tokens/_templates/parrillas/n4f.njk' %} 
    {% include '_tokens/_templates/parrillas/n6b.njk' %} 

    {% include '_tokens/_templates/parrillas/nt2.njk' %} 




 

    
     {% include '_tokens/_templates/parrillas/n2a.njk' %} 

    {% include '_tokens/_templates/parrillas/n2c.njk' %}
    {% include '_tokens/_templates/parrillas/n2d.njk' %}
    {% include '_tokens/_templates/parrillas/n2e.njk' %}
    {% include '_tokens/_templates/parrillas/n2f.njk' %}

    {% include '_tokens/_templates/parrillas/n3a.njk' %}
    {% include '_tokens/_templates/parrillas/n3b.njk' %}
    {% include '_tokens/_templates/parrillas/n3c.njk' %} #}

    <div class="grid">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
    </div>
    <div class="overlay">
        <div class=" overlayclip overlay1"></div>
        <div class=" overlayclip overlay2"></div>
        <div class=" overlayclip overlay3"></div>
        <div class=" overlayclip overlay4"></div>
        <div class=" overlayclip overlay5"></div>
        <div class=" overlayclip overlay6"></div>
        <div class=" overlayclip overlay7"></div>
        <div class=" overlayclip overlay8"></div>
        <div class=" overlayclip overlay9"></div>
        <div class=" overlayclip overlay10"></div>
        <div class=" overlayclip overlay11"></div>
        <div class=" overlayclip overlay12"></div>
        <div class=" overlayclip overlay13"></div>
        <div class=" overlayclip overlay14"></div>
        <div class=" overlayclip overlay15"></div>
        <div class=" overlayclip overlay16"></div>
        <div class=" overlayclip overlay17"></div>
        <div class=" overlayclip overlay18"></div>
        <div class=" overlayclip overlay19"></div>
        <div class=" overlayclip overlay20"></div>
        <div class=" overlayclip overlay21"></div>
        <div class=" overlayclip overlay22"></div>
        <div class=" overlayclip overlay23"></div>
        <div class=" overlayclip overlay24"></div>
    </div>
    <div class="overlaybleed">
        <div class=" overlayclip overlay1"></div>
        <div class=" overlayclip overlay2"></div>
        <div class=" overlayclip overlay3"></div>
        <div class=" overlayclip overlay4"></div>
        <div class=" overlayclip overlay5"></div>
        <div class=" overlayclip overlay6"></div>
        <div class=" overlayclip overlay7"></div>
        <div class=" overlayclip overlay8"></div>
        <div class=" overlayclip overlay9"></div>
        <div class=" overlayclip overlay10"></div>
        <div class=" overlayclip overlay11"></div>
        <div class=" overlayclip overlay12"></div>
    </div>
</div>

<script>
const classesToModify = ['n1a', 'n1c', 'n2a', 'n2b', 'n2c', 'n3b', 'n4a', 'n4e', 'n4f', 'n6b', 'nt'];


document.addEventListener('DOMContentLoaded', () => {
    ['suffix-0', 'suffix-1', 'suffix-2'].forEach(suffixId => {
        const suffix = suffixId.split('-')[1];
        document.getElementById(suffixId).addEventListener('click', function() {
            applySuffixToClasses(suffix);
        });
    });
});

function applySuffixToClasses(suffix) {
    classesToModify.forEach(baseClass => {
        document.querySelectorAll(`.${baseClass}`).forEach(element => {
            // Eliminar las clases anteriores con sufijos
            for (let i = 0; i <= 2; i++) {
                element.classList.remove(`${baseClass}-${i}`);
            }
            // Añadir la nueva clase con sufijo
            element.classList.add(`${baseClass}-${suffix}`);
        });
    });
}
</script>