---
layout: base-parrillas.njk
title: parrillas
permalink: /parrillas-collection/
---
<div class="select-zone">
    <a class="fin" href="#1A"> 1A</a>
    <a class="fin" href="#1CC"> 1CC</a>
    <a class="" href="#1E"> 1E</a>
    <a class="fin" href="#1F"> 1F</a>
    <a class="fin" href="#1G"> 1G</a>
    <a class="fin" href="#1LE"> 1LE</a>
    <a class="" href="#2A"> 2A</a>
    <a class="fin" href="#2B"> 2B</a>
    <a class="fin" href="#2C"> 2C</a>
    <a class="fin" href="#2CBG"> 2CBG</a>
    <a class="fin" href="#2CBG2"> 2CBG2</a>
    <a class="fin" href="#2D"> 2D</a>
    <a class="fin" href="#2DS"> 2DS</a>
    <a class="fin" href="#2E"> 2E</a>
    <a class="fin" href="#2FDoble"> 2FDoble</a>
    <a class="fin" href="#2FH"> 2FH</a>
    <a class="fin" href="#2FV"> 2FV</a>
    <a class="fin" href="#2G"> 2G</a>
    <a class="fin" href="#2SD"> 2SD</a>
    <a class="fin" href="#3A"> 3A</a>
    <a class="fin" href="#3S"> 3S</a>
    <a class="fin" href="#4A"> 4A</a>
    <a class="" href="#4B"> 4B</a>
    <a class="fin" href="#4S"> 4S</a>
    <a class="" href="#5A"> 5A</a>
    <a class="fin" href="#6S"> 6S</a>
    <a class="fin" href="#FIV"> FIV</a>
    <a class="fin" href="#G4"> G4</a>
    <a class="fin" href="#MINIGRID"> MINIGRID</a>
    <a class="fin" href="#MINIGRID-INFO"> MINIGRID-INFO</a>
    <a class="" href="#VIT"> VIT</a>
    <a class="" href="#SEC"> SEC</a>
    <a class="" href="#SEPARATOR_12_5"> SEPARATOR_12_5</a>
    <a class="" href="#SEPARATOR_25"> SEPARATOR_25</a>
    <br>
    <a class="rtl">RTL</a>
    <a class="over1">Sangre</a>
    <a class="over2">pbody</a>
    <a class="over3">no gap</a>
</div>
<div class="w-100 grid-product-list pt-100 ">
    {% include '_tokens/_templates/parrillas/n1a.njk' %}
    {% include '_tokens/_templates/parrillas/n1b.njk' %}
    {% include '_tokens/_templates/parrillas/n1c.njk' %}
    {% include '_tokens/_templates/parrillas/n1d.njk' %} 
    {% include '_tokens/_templates/parrillas/n1e.njk' %} 
    {% include '_tokens/_templates/parrillas/n1f.njk' %}

    
     {% include '_tokens/_templates/parrillas/n2a.njk' %} 
     {% include '_tokens/_templates/parrillas/n2b.njk' %} 
    {% include '_tokens/_templates/parrillas/n2c.njk' %}
    {% include '_tokens/_templates/parrillas/n2d.njk' %}
    {% include '_tokens/_templates/parrillas/n2e.njk' %}
    {% include '_tokens/_templates/parrillas/n2f.njk' %}

    {% include '_tokens/_templates/parrillas/n3a.njk' %}
    {% include '_tokens/_templates/parrillas/n3b.njk' %}
    {% include '_tokens/_templates/parrillas/n3c.njk' %}

    <div class="grid">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
    </div>
    <div class="overlay">
        <div class=" overlayclip overlay1"></div>
        <div class=" overlayclip overlay2"></div>
        <div class=" overlayclip overlay3"></div>
        <div class=" overlayclip overlay4"></div>
        <div class=" overlayclip overlay5"></div>
        <div class=" overlayclip overlay6"></div>
        <div class=" overlayclip overlay7"></div>
        <div class=" overlayclip overlay8"></div>
        <div class=" overlayclip overlay9"></div>
        <div class=" overlayclip overlay10"></div>
        <div class=" overlayclip overlay11"></div>
        <div class=" overlayclip overlay12"></div>
        <div class=" overlayclip overlay13"></div>
        <div class=" overlayclip overlay14"></div>
        <div class=" overlayclip overlay15"></div>
        <div class=" overlayclip overlay16"></div>
        <div class=" overlayclip overlay17"></div>
        <div class=" overlayclip overlay18"></div>
        <div class=" overlayclip overlay19"></div>
        <div class=" overlayclip overlay20"></div>
        <div class=" overlayclip overlay21"></div>
        <div class=" overlayclip overlay22"></div>
        <div class=" overlayclip overlay23"></div>
        <div class=" overlayclip overlay24"></div>
    </div>
    <div class="overlaybleed">
        <div class=" overlayclip overlay1"></div>
        <div class=" overlayclip overlay2"></div>
        <div class=" overlayclip overlay3"></div>
        <div class=" overlayclip overlay4"></div>
        <div class=" overlayclip overlay5"></div>
        <div class=" overlayclip overlay6"></div>
        <div class=" overlayclip overlay7"></div>
        <div class=" overlayclip overlay8"></div>
        <div class=" overlayclip overlay9"></div>
        <div class=" overlayclip overlay10"></div>
        <div class=" overlayclip overlay11"></div>
        <div class=" overlayclip overlay12"></div>
    </div>
</div>