---
layout: base-clean.njk
---
{% import "_macros/_product.njk" as product %}
<!-- Contenido de la plantilla grid-stories.njk -->
<div class="row">
  <div class="col-xs-12 content-middle">
    <div class="tabs align-center pt-16 pb-16">
      <ul>
        <li class="is-active"><a>GRID</a></li>
        <li><a>LIST</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row stories-list-wrap border-t2 border-b2 ">
  <div class="col-xs-12 col-lg-8 border-r2 ">
    <div class="row">
      <div class="col-xs-12  bleed-0 ">
        <div class="stories-list title-l ttu ">
          <div class="stories-item-1 pl-16"> 01</div>
          <div class="stories-item-2">
            <div> COLLECTION NAME </div>
            <div> CREATIVE DIRECTOR: BEN KELWAY STUDIO </div>
            <div> interview </div>
          </div>
          <div class="stories-item-3 text-right mr-16">
            2004
          </div>
        </div>
        <div class="stories-list title-l ttu ">
          <div class="stories-item-1 pl-16"> 02</div>
          <div class="stories-item-2">
            <div> COLLECTION NAME </div>
            <div> CREATIVE DIRECTOR: BEN KELWAY STUDIO </div>
            <div> interview </div>
          </div>
          <div class="stories-item-3 text-right mr-16">
            2004
          </div>
        </div>
        <div class="stories-list title-l ttu ">
          <div class="stories-item-1 pl-16"> 03</div>
          <div class="stories-item-2">
            <div> COLLECTION NAME </div>
            <div> CREATIVE DIRECTOR: BEN KELWAY STUDIO </div>
            <div> interview </div>
          </div>
          <div class="stories-item-3 text-right mr-16">
            2004
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-4 lg:hidden ">
    <div class="rat-3-4 mt-16 mb-16 mr-16 ml-8">
      <div class="rat-content">
        <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/3-4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="stories-grid pt-32">
      <ul class="grid-12 list-clear ">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '09') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','10') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '11') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','12') %} {% endcall %}
        </li>
      </ul>
      <ul class="grid-8 list-clear">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
      </ul>
      <ul class="grid-4 list-clear">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
      </ul>
    </div>
  </div>
</div>