---
layout: base-clean.njk
---
<!-- Contenido de la plantilla header.njk -->
<div class="header_3_marketing text-center" contenteditable="true"> 
  ZONA DE MARKETING SPOT ESCRIBE PARA VER COMO CRECE EL MK
</div>
<div class="header_3">
  <div class="header3_inner align-center" contenteditable="true">HEADER 3</div>
</div>
<div class="container_3" contenteditable="true">
  CONTENIDO DE LA PÁGINA
</div>