---
layout: base-clean.njk
---
<div class="is-flex pt-64 pb-64">
    <div class=" flex-initial  align-middle mr-16">
        <div class="checkbox-item-box ">
            <div class="checkbox-item">
                <input id="checkbox_21" type="checkbox" />
                <label for="checkbox_21">
                    <i as="label" class="icon">
                        <svg-icon src="check-mini" ng-reflect-src="check-mini">
                            <div>
                                <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z"
                                        fill="white"></path>
                                </svg>
                            </div>
                        </svg-icon>
                    </i>
                </label>
            </div>
        </div>
    </div>
    <item-product-cart class="flex-1">
        <div class="item-mini-cart  ">
            <div class="row ">
                <div class="col-xs-3 col-sm-2">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img class="img-responsive" src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 is-flex content-sp-between flex-column">
                    <div class="row mb-8">
                        <div class="col-xs-9">
                            <span class="title-m tag-warning mb-8" *ngIf="hasStock">
                                No hay stock
                            </span>
                            <div class="title-m ttu item-name" *ngIf="isGift">Es un regalo</div>
                            <div class="title-m  ttu">Zapato tacón piel negro pulsera</div>
                            <div class="title-m  ">Devolución disponible hasta el 22/04/2022</div>
                            <div class="title-m  c-info ">Este artículo requiere de condiciones especiales de
                                devolución
                            </div>
                            <div class="title-m c-dark-grey">
                                Ref.
                                <span>1412/950/800</span>
                            </div>
                            <div class="color-wrap mt-8">
                                <div class="align-items-center">
                                    <div class="product-color-selector is-flex">
                                        <button>
                                            <div class="color-selector"><img src="">
                                            </div>
                                        </button>
                                    </div>
                                    <div class="title-m">Negro</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 product-price">
                            <shop-cart-price>
                                <div class="row text-right">
                                    <div class="col-xs-12">
                                        <span class="title-m is-through c-dark-grey">
                                            89,95&nbsp;€
                                        </span>
                                    </div>
                                </div>
                                <div class="row text-right future-price c-sale">
                                    <div class="col-xs-12">
                                        <span class="title-m">
                                            59,95&nbsp;€
                                        </span>
                                    </div>
                                </div>
                                <div class="d-price-special title-m"
                                    style="background-color: rgb(255, 206, 78); color: rgb(0, 0, 0);">
                                    <div class="text-nowrap"><span 
                                       ></span> 49,95 €   </div>
                                </div>
                                <div class="row text-right">
                                    <div class="col-xs-12">
                                        <span class="title-m  c-feel-dark">
                                            En MD Feel 49,95&nbsp;€
                                        </span>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="title-m  future-price">
                                            59,95&nbsp;€
                                        </span>
                                    </div>
                                </div>
                            </shop-cart-price>
                        </div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-xs-12">
                            <div class="title-m c-dark-grey ">
                                <div class="text-underline ">Siehe zusammenstzung</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 content-sp-between is-flex">
                            <div class="align-middle">
                                <div class="align-middle mr-16 mb-8">
                                    <div class="title-m mr-8 align-middle">Cantidad</div>
                                    <aptext-lelect-ui>
                                        <div class="select select-box">
                                            <select name="" id="630d4db1-b9e9-458f-acc8-d9ba66d44df2">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </aptext-lelect-ui>
                                </div>
                                <div class=" align-middle mb-8">
                                    <div class="title-m mr-8 align-middle">Talla</div>
                                    <aptext-lelect-ui>
                                        <div class="select select-box">
                                            <select name="" id="7bda5deb-ffdc-4712-9cac-f9b5362017a7">
                                                <option value="10934498">35</option>
                                                <option value="10934499">36</option>
                                                <option value="10934500">37</option>
                                            </select>
                                        </div>
                                    </aptext-lelect-ui>
                                </div>
                            </div>
                            <div class="is-flex">
                                <button class="btn btn--icon btn-clear state-changing"
                                    title="Agregar a la lista de deseos" id="addItemWishlist">
                                    <svg-icon ng-reflect-src="bookmark">
                                        <div>
                                            <svg width="16" height="16" viewbox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13 1H3V15L8 11L13 15V1Z" stroke="black"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                    </svg-icon>
                                </button>
                                <button class="btn btn--icon btn-clear" title="Eliminar" id="deleteItemShopcart">
                                    <svg-icon>
                                        <div class="ico-post">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 16 16">
                                                <title>check</title>
                                                <g stroke-width="1" fill="none" stroke="#000000" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="1,9 5,13 15,3 "></polyline>
                                                </g>
                                            </svg>
                                        </div>
                                    </svg-icon>
                                </button>
                                <button class="btn btn-secondary text-m btn--medium ">Label</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-24">
                        <div class="col-xs-12">
                            <div class="title-m  ">Requiere de
                                <div class="link-line">condiciones especiales de devolución</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mt-20 title-m">
                                <div class="title-m">Customised</div>
                                <div class="text-faded">
                                    <div>Iniciales: MD</div>
                                    <div>Posición: Outside
                                    </div>
                                    <div>Fuente: Miller
                                    </div>
                                    <div>Color: Oro
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-24">
                        <div class="col-xs-6">
                            falta color<div class="title-m">Comprado</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="link-line title-m">Disponibilidad en tienda</div>
                </div>
            </div>
        </div>
    </item-product-cart>
</div>