---
layout: base-clean.njk
---
<!-- Contenido de la plantilla filtros.njk -->
<div class='tabs mb-32'>
    <ul class="">
        <li><a><button class="text-m btn-tertiary"> ORDENAR POR:</button></a></li>
        <li class='is-active'><a><button class="text-m btn-tertiary"> COLOR</button></a></li>
        <li><a><button class="text-m btn-tertiary"> CARACGTERISTICAS</button></a></li>
        <li><a><button class="text-m btn-tertiary"> PRECIO</button></a></li>
        <li><a><button class="text-m btn-tertiary"> TALLAS</button></a></li>
    </ul>
</div>

<div class="bb-line"> </div>

<div class='tabs mb-32 mt-32'>
    <ul class="">
        <li><a><button class="text-m btn-tertiary"> ORDENAR POR:</button></a></li>
        <li class='is-active'><a><button class="text-m btn-tertiary"> COLOR</button></a></li>
        <li><a><button class="text-m btn-tertiary"> CARACGTERISTICAS</button></a></li>
        <li><a><button class="text-m btn-tertiary"> PRECIO</button></a></li>
        <li><a><button class="text-m btn-tertiary is-flex"> TALLAS  <div class="pl-4 title-s"> (1)</div>    </button></a></li>
    </ul>
</div>


<div class='tabs mb-32 '>
    <ul class=" pl-20 mb-16 grid-8 grid-gap-16">
        <li> <button class="text-m btn-tertiary link-line mr-24"> RECOMENDADO</button> </li>
        <li> <button class="text-m btn-tertiary mr-24"> NOVEDADES</button> </li>
        <li> <button class="text-m btn-tertiary mr-24"> PRECIO ASCENDENTE </button> </li>
        <li> <button class="text-m btn-tertiary mr-24"> PRECIO DESCENDENTE </button> </li>
    </ul>
</div>