---
layout: base-clean.njk
---
<!-- Contenido de la plantilla recomendador.njk -->


<div class="container-fluid pr-body pl-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="ttu title-l mb-32">
                Talla de sujetador
            </div>
            <div class="ttu title-l mb-16">
                Sistema de tallaje
            </div>
            <div class="ttu title-l mb-16">
                CONTORNO DEL PECHO
            </div>
            <div class="mb-16">
                <div class="btn-group">
                    <button class="btn btn-secondary btn--mini"> 95</button>
                    <button class="btn btn-secondary btn--mini is-active"> 100 is-active </button>
                    <button class="btn btn-secondary btn--mini"> 105 </button>
                    <button class="btn btn-secondary btn--mini"> 110 </button>
                </div>
                <div class="btn-group m--1">
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                </div>
            </div>
            <div class="ttu title-l mb-16">
                CONTORNO DEL PECHO
            </div>
            <div class="mb-16">
                <div class="btn-group">
                    <button class="btn btn-secondary btn--mini"> 95</button>
                    <button class="btn btn-secondary btn--mini"> 100 </button>
                    <button class="btn btn-secondary btn--mini"> 105 </button>
                    <button class="btn btn-secondary btn--mini"> 110 </button>
                </div>
                <div class="btn-group m--1">
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                    <button class="btn btn-secondary btn--mini"> 75 </button>
                </div>
            </div>
            <div class="align-center">
                <button class="btn-primary btn btn--full mb-16">CONTINUAR</button>
                <button class="btn-tertiary text-l">OMITIR</button>
            </div>
        </div>
    </div>
</div>