---
layout: base-clean.njk
---
<!-- Contenido de la plantilla menulateral.njk -->
<div class="fake-header">
</div>
<nav class="mn-mainmenu  min-overflow ">
    <div class="icon-close">
    </div>
    <div class="mn-mainbar-cesta sm:visible"> <button class="btn link-raw">CESTA</button></div>
    <div class="mn-mainbar   pb-32">
        <div class='tabs'>
            <ul class="mn-list-item">
                <li class='is-active '><a>MEN</a></li>
                <li><a>WOMAN</a></li>
            </ul>
        </div>
    </div>
    <div class="mn-inner">
        <ul class="mn-list list-check ttu text-l">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu text-l ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li class=" "> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="mn-list list-check ttu text-l has-light bg-dark">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu text-l ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="mn-list list-check ttu text-l  bg-warning">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu text-l ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <div class="icon-plus">
                                </div>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mn-footer sm:visible">
        <div class="mn-search-zone pt-16"><button class="btn  btn--search mb-16 mr-16 ml-16 text-m"> SEARCH</button>
            <hr>
            <button class="btn  btn--xxl"> INICIAR SESION</button>
        </div>
    </div>
</nav>
<div class="mn-wrap-overlay">
</div>