---
layout: base-clean.njk
guides: 0
logoheader: false
---
<!-- Contenido de la plantilla pdp5.njk -->

{% include '_tokens/_templates/token-header2025.njk' %}
<nav aria-label=”breadcrumb” class="md-breadcrumb md-breadcrumb--expandable">
  <ol>
    <li>
      <a href=”/category” class="md-breadcrumb-link" aria-label="Ir a la categoría">
        <svg class="md-breadcrumb-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.21107 8.16138L7.85753 3.51491L7.15043 2.8078L1.29688 8.66135L7.15043 14.5149L7.85753 13.8078L3.21111 9.16138H14.0039V8.16138H3.21107Z" fill="black"/>
        </svg>
        <span class="md-breadcrumb-txt title-s ttu pt-2">Chaquetas y abrigos</span>
      </a>
    </li>
  </ol>
</nav>
<main class="md-pdp5-main">
  <div class="md-pdp5-column md-pdp5-column--media">
    <article class="md-pdp5-box md-pdp5-box--media-img-model-1">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-1.jpg" 
          alt="Americana cruzada 100% lino, vista frontal sobre fondo neutro"
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--media-img-model-2">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-2.jpg" 
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista frontal sobre fondo neutro" 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--media-img-model-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-3.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista trasera sobre fondo neutro" 
        >
      </figure>
    </article>
  </div>
  <div class="md-pdp5-column md-pdp5-column--info">
    <article class="md-pdp5-box md-pdp5-box--info-cta">
      <div class="md-product-heading">
        <div class="md-product-heading-content">
          <div class="md-product-heading-title">
            <h1 class="md-product-heading-title-txt ttu title-l-l has-ellipsis">Americana cruzada 100% lino</h1>
            <div class="md-product-heading-title-append">
              <button type="button" class="btn btn-tertiary" aria-label="Añadir a la wishlist"
                aria-selected="false"><!----><md-icon name="bookmark">
                  <div class="icon-container"><svg width="16" height="16" viewBox="0 0 16 16" fill="#000000"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.66667 10.5455L12.3333 15V1H3V15L7.66667 10.5455ZM4 12.663L7.66667 9.16301L11.3333 12.663V2H4V12.663Z"
                        fill="inherit"></path>
                    </svg></div>
                </md-icon><!----></button>
            </div>
          </div>
          <div class="md-product-prices">
            <p class="md-product-pricebox">
              <span class="md-product-price title-l-l">
                <span>1.200.888 COP</span>
              </span>
            </p>
            <p class="md-product-pricebox">
              <span class="md-product-price title-l-l">
                <span>1.200.888 COP</span>
              </span>
            </p>
          </div>
        </div>
        <div class="md-product-heading-append">
          <div class="md-color-selector">
            <div class="md-color-selector-header">header</div>
            <div class="md-color-selector-body">
              <ul class="md-color-selector-list" role="listbox">
                <li class="md-color-selector-item is-active">
                  <button type="button" role="option" aria-selected="true" class="btn md-color-selector-btn is-active" title="MARRÓN, Ref. 6893/116">
                    <img src="https://placehold.co/16x16" alt="MARRÓN" />
                  </button>
                </li>
                <li class="md-color-selector-item">
                  <button type="button" role="option" class="btn md-color-selector-btn" title="MARRÓN, Ref. 6893/116">
                    <img src="https://placehold.co/16x16" alt="MARRÓN" />
                  </button>
                </li>
                <li class="md-color-selector-item md-color-selector-item--more">
                  <button type="button" role="option" class="btn md-color-selector-btn md-color-selector-btn--more" title="MARRÓN, Ref. 6893/116">
                    +2
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="md-pdp5-box__cta">
        <button class="btn btn-secondary btn--full" type="button">Añadir a la cesta</button>  
      </div>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-sku">
      <div class="is-flex content-sp-between gap-16" class="ttu title-l-l">
        <span class="title-l-l flex-auto">Beige | Ref. 6761/201</span>
        <button class="btn-link is-flex" aria-label="Añadir a la wishlist" tabindex="0">
          <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
              fill="black" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
              fill="black" fill-opacity="0.2" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
              fill="black" fill-opacity="0.2" />
          </svg>
        </button>
      </p>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-short">
      <p class="title-l-l">Capa confeccionada en tejido 100% seda morera. Cuello barco. Parte posterior más larga que la delantera. Tejido semi transparente.</p>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-shipping">
      <p class="title-l-l">Envío a tienda: Gratis | Envío a domicilio: Gratis por pedidos superiores a 89,00 €.</p>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-excerpt">
      <ul class="md-product-excerpt-list">
        <li>
          <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu btn--full" aria-label="Composición y cuidados, expandir">
              <div class="title-l-l">Ver tabla de medidas</div>
              <div class="title-l-l" aria-hidden="true">+</div>
          </button>
        </li>
        <li>
          <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu btn--full" aria-label="Composición y cuidados, expandir">
              <div class="title-l-l">Composición y cuidados</div>
              <div class="title-l-l" aria-hidden="true">+</div>
          </button>
        </li>
        <li>
          <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu btn--full" aria-label="Composición y cuidados, expandir">
              <div class="title-l-l">Envíos, cambios y devoluciones</div>
              <div class="title-l-l" aria-hidden="true">+</div>
          </button>
        </li>
        <li>
          <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu btn--full" aria-label="Composición y cuidados, expandir">
              <div class="title-l-l">Disponiblidad y reserva en tienda</div>
              <div class="title-l-l" aria-hidden="true">+</div>
          </button>
        </li>
      </ul>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-1">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-4.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-2">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-5.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-6.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-7.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
  </div>
</main>

<script>
window.addEventListener('scroll', function() {
  const bodyElement = document.querySelector('body');
  if (window.scrollY > 50) {
    bodyElement.classList.add('has-breadcrumb');
  } else {
    bodyElement.classList.remove('has-breadcrumb');
  }
});
</script>
{% include '_tokens/_templates/token-footer.njk' %}