---
layout: base-clean.njk
---
<!-- Contenido de la plantilla menulateral.njk -->

<div class="fake-header">




</div>

<nav class="mn-wrap bg-light min-overflow ">
    <div class="mn-mainbar pt-32 pb-32">  MEN  WOMAN   </div>


    <div class="mn-inner">
        <ul class="mn-list list-check ttu p-m">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu p-m ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
   
                </ul>
            </li>
        </ul>
e

        <ul class="mn-list list-check ttu p-m has-light bg-dark">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu p-m ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
   
                </ul>
            </li>
        </ul>



        <ul class="mn-list list-check ttu p-m  bg-warning">
            <li>
                <a class="mn-list-item" href=""> LABEL</a>
                <hr class="border-b2 mb-16">
                <ul class="mn-list list-check ttu p-m ">
                    <li class=" is-active"> <a class="mn-list-item" href="">coats & jackets
                            <div class="is-flex">
                                <div class="mr-16 p-tag">NEW</div>
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">trench
                            <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">blazers & Waistcoats <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">dresses <div class="is-flex">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.3125 5.3125V9.375H4.6875V5.3125H0.625V4.6875H4.6875V0.625H5.3125V4.6875H9.375V5.3125H5.3125Z"
                                        fill="black" />
                                </svg>
                            </div>
                        </a> </li>
                    <li> <a class="mn-list-item" href="">sweaters & cardigans</a> </li>
                    <li> <a class="mn-list-item" href="">shirts & blouses</a> </li>
                    <li> <a class="mn-list-item" href="">t-shirts</a> </li>
                    <li> <a class="mn-list-item" href="">tops</a> </li>
                    <li> <a class="mn-list-item" href="">skirts</a> </li>
                    <li> <a class="mn-list-item" href="">trousers</a> </li>
   
                </ul>
            </li>
        </ul>

    </div>
</nav>


<div class="mn-wrap-overlay">

</div>