---
layout: base-clean.njk
---
<!-- Contenido de la plantilla fichasticky.njk -->



<div class="container-fluid cc-container">
    <div class="ficha-content">
        <div class="cc-imagen">
            <div class="cc-imagen-logo">
                <svg width="267" height="39" viewBox="0 0 267 39" fill="none" xmlns="http://www.w3.org/2000/svg">
       
                </svg>
            </div>
            <div class="cc-imagen-item">
                <div class="cc-imagen-collection scrollcustom">
                    <img height="100vh"
                        src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                        alt="">
                    <img height="100vh"
                        src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                        alt="">
                    <img height="100vh"
                        src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="cc-descripcion">
        <div class="container-4 ptr-120">
            <div class="title-l">CÁRDIGAN PUNTO TRENZADO MANGA CORTA</div>

            <div class="title-l">59,95 €</div>
            <div class="text-l">Tejido de punto. Confeccionado con tejido en mezcla de algodón. Manga corta.</div>
            
            <div class="title-s">GRIS | REF. 5651/624</div>
            
            
            GRIS
            XS
            S
            M
            L
            <button class="btn">AÑADIR A LA CESTA</button>
            
            <div class="row">
                <div class="col-xs-6">GUÍA DE TALLAS</div>
                <div class="col-xs-6">RECOMENDADOR DE TALLA</div>
            </div>
            <p>Envío gratuito a domicilio en pedidos superiores a 80,00 €.</p>


            ENVÍOS, CAMBIOS Y DEVOLUCIONES
            COMPOSICIÓN Y CUIDADOS
            <p>Pagos: VISA, MasterCard, American Express, Paypal, Transferencia Bancaria</p>
        </div>
    </div>
</div>


<div class="container-fluid bleed-0 ptr-120">
    <div class="row pb-48">
        <div class="col-xs-12 text-center">
            <div class="title-l">YOU MIGHT BE INTERESTED IN</div>
        </div>
    </div>
    <div class="grid-6">
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>