---
layout: base-clean.njk
---
<!-- Contenido de la plantilla orderConfirmation.njk -->
<div class="container-2 mb-40">
    <div class="text-center mb-24">
        <div class="mb-40">
           <img width="100px" class="w-50" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
        </div>
        <div class="text-l mb-16">
            Gracias por su compra
        </div>
        <div class="text-l c-dark-grey mb-8">
            Número de pedido:
        </div>
        <div class="text-l c-info">
            248777585969
        </div>
    </div>
    <div class="border-1 p-16 mb-32 sm:text-center  sm:flex ">
        <div class="col-xs-12 col-sm-3 smmax:mb-24 text-center ">
                <img width="100px" class="w-50" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">

        </div>
        <div class="col-xs-12 col-sm-9 sm:align-middle">
            <div class="title-s">Descárgate nuestra app</div>
            <div class="text-l">Escanea el código QR y haz el seguimiento de tu pedido en nuestra app.</div>
        </div>
    </div>
    <div class="title-s mb-16"> Pedido 01</div>
    <div class="text-l c-dark-grey mb-4">Fecha de entrega estimada</div>
    <div class="text-l c-info">Viernes 02/02/23</div>

</div>