---
layout: base-clean.njk
---
<!-- Contenido de la plantilla pdp4.njk -->


<main>
  <div class="md-column">
    <article class="md-box md-box--media-first">
      <span class="md-box__counter">1</span>
      <span class="md-box__label">Imagen 1</span>
    </article>
    <article class="md-box md-box--media-second">
      <span class="md-box__counter">2</span>
      <span class="md-box__label">Imagen 2</span>
    </article>
    <article class="md-box md-box--media-third">
      <span class="md-box__counter">3</span>
      <span class="md-box__label">Imagen 3</span>
    </article>
  </div>
  <div class="md-column">
    <article class="md-box md-box--main-info">
      <span class="md-box__counter">4</span>
      <span class="md-box__label">Info principal</span>
      <div class="md-box__cta">
        <button type="button">Añadir a la cesta</button>  
      </div>
    </article>
    <article class="md-box md-box--secondary-info">
      <span class="md-box__counter">6</span>
      <span class="md-box__label">Info secundaria</span>
    </article>
    <article class="md-box md-box--media-fourth">
      <span class="md-box__counter">5</span>
      <span class="md-box__label">Imagen 4</span>
    </article>
    <article class="md-box md-box--media-fifth">
      <span class="md-box__counter">7</span>
    </article>
    <article class="md-box md-box--media-sixth">
      <span class="md-box__counter">8</span>
    </article>
    <article class="md-box md-box--media-seventh">
      <span class="md-box__counter">9</span>
    </article>
  </div>
</main>