---
layout: base-clean.njk
---
<!-- Contenido de la plantilla grid2.njk -->
{% import "_macros/_product.njk" as product %}


<div class="row mb-20">
    <div class="col-xs-12 text-center">
        <div class="title-s mb-12">SIN STOCK</div>
        <div class="title-l"> DESCUBRE NUESTROS TOP VENTAS</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 pr-40 pl-40">
        <div class="grid-2 colgap-8">
            <div class="sk-load2">{% call product.ratio('3-4') %} {% endcall %}</div>
            <div class="sk-load2">{% call product.ratio('3-4') %} {% endcall %}</div>
            <div class="sk-load2">{% call product.ratio('3-4') %} {% endcall %}</div>
            <div class="sk-load2">{% call product.ratio('3-4') %} {% endcall %}</div>
        </div>
    </div>
</div>