---
layout: base-clean.njk
guides: 0
logoheader: false
---
<!-- Contenido de la plantilla pdp5.njk -->

{% include '_tokens/_templates/token-header2025.njk' %}
<main class="md-pdp5-main">
  <div class="md-pdp5-column md-pdp5-column--media">
    <article class="md-pdp5-box md-pdp5-box--media-img-model-1">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-1.jpg" 
          alt="Americana cruzada 100% lino, vista frontal sobre fondo neutro"
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--media-img-model-2">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-2.jpg" 
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista frontal sobre fondo neutro" 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--media-img-model-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-3.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista trasera sobre fondo neutro" 
        >
      </figure>
    </article>
  </div>
  <div class="md-pdp5-column md-pdp5-column--info">
    <article class="md-pdp5-box md-pdp5-box--info-cta ">
      <span class="md-pdp5-box__label">Info principal, sticky en mobile</span>
      <div class="md-pdp5-box__cta">
        <button class="btn btn-secondary btn--full" type="button">Añadir a la cesta</button>  
      </div>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-sku">
      <span class="md-pdp5-box__label">SKU</span>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-short">
      <span class="md-pdp5-box__label">Descripción corta</span>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-shipping">
      <span class="md-pdp5-box__label">Envío</span>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-excerpt">
      <span class="md-pdp5-box__label">Botones de opciones</span>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-1">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-4.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-2">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-5.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-6.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp5-box md-pdp5-box--info-img-detail-3">
      <figure class="md-product-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-7.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
  </div>
</main>
{% include '_tokens/_templates/token-footer.njk' %}