---
layout: base-clean.njk
---
<!-- Contenido de la plantilla orderConfirmation.njk -->
<div class="container-2 mb-40">
    <div class="text-center mb-24">
        <div class="mb-40">
            logo
        </div>
        <div class="p-m mb-16">
            Gracias por su compra
        </div>
        <div class="p-s c-dark-grey mb-8">
            Número de pedido:
        </div>
        <div class="p-s c-info">
            248777585969
        </div>
    </div>
    <div class="border-1 p-16 mb-32 sm:text-center sm:flex ">
        <div class="col-xs-12 col-sm-3 ">
            logo
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="p-m">Descárgate nuestra app</div>
            <div class="p-s">Escanea el código QR y haz el seguimiento de tu pedido en nuestra app.</div>
        </div>
    </div>
    <div class="tit-s mb-16"> Pedido 01</div>
    <div class="p-s c-dark-grey mb-4">Fecha de entrega estimada</div>
    <div class="p-s c-info">Viernes 02/02/23</div>

</div>