---
layout: base-clean.njk
---
<!-- Contenido de la plantilla menu2025.njk -->
<nav class="md-menu">
    <div class="md-menu-header">
        <div class="md-menu-header-title">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="md-menu-content">
        <div class="md-menu-inner">

<div class="md-menu-group">
    
    <div class="md-menu-title">
       BLACK FRIDAY
    </div>
    <div class="md-menu-col">
        <ul class="list-clear md-menu-list">
            <li>
                <a href="#hasta40">hasta 40%</a>
            </li>
            <li>
                <a href="#trajes">trajes</a>
            </li>
            <li>
                <a href="#chaquetas">chaquetas y gabardinas</a>
            </li>
            <li>
                <a href="#camisetas">camisetas</a>
            </li>
            <li>
                <a href="#crochet">crochet</a>
            </li>
            <li>
                <a href="#bolsos">bolsos</a>
            </li>
            <li>
                <a href="#bisuteria">bisutería</a>
            </li>
            <li>
                <a href="#perfumes">perfumes</a>
            </li>
            <li>
                <a href="#accesorios">accesorios</a>
            </li>
            <li>
                <a href="#pantalones">pantalones</a>
            </li>
            <li>
                <a href="#punto">punto</a>
            </li>
            <li>
                <a href="#jerseis">jerséis y cárdigans</a>
            </li>
            <li>
                <a href="#camisas">camisas y blusas</a>
            </li>
            <li>
                <a href="#piel">piel</a>
            </li>
            <li>
                <a href="#libros">Libros</a>
            </li>
            <li>
                <a href="#bano">baño</a>
            </li>
            <li>
                <a href="#americanas">americanas</a>
            </li>
            <li>
                <a href="#vestidos">vestidos</a>
            </li>
            <li>
                <a href="#eventos">eventos</a>
            </li>
            <li>
                <a href="#tops">tops</a>
            </li>
            <li>
                <a href="#chalecos">chalecos</a>
            </li>
            <li>
                <a href="#faldas">faldas</a>
            </li>
            <li>
                <a href="#totallook">total look</a>
            </li>
            <li>
                <a href="#jeans">jeans</a>
            </li>
            <li>
                <a href="#zapatos">zapatos</a>
            </li>
        </ul>
    </div>
    
</div>
<div class="md-menu-group">
    
    
                <div class="md-menu-title">
                COLLECTION
                </div>
                <div class="md-menu-col">
                    <ul class="list-clear md-menu-list">
                        <li>
                            <a href="#section1">Sección 1</a>
                        </li>
                        <li>
                            <a href="#section2">Sección 2</a>
                        </li>
                        <li>
                            <a href="#section3">Sección 3</a>
                        </li>
                        <li>
                            <a href="#section4">Sección 4</a>
                        </li>
                        <li>
                            <a href="#section5">Sección 5</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                    </ul>
                </div>
</div>


<div class="md-menu-group">
    
                <div class="md-menu-title">
                    menu
                    tracking
                </div>
                <div class="md-menu-col">
                    <ul class="list-clear md-menu-list">
                        <li>
                            <a href="#section1">Sección 1</a>
                        </li>
                        <li>
                            <a href="#section2">Sección 2</a>
                        </li>
                        <li>
                            <a href="#section3">Sección 3</a>
                        </li>
                        <li>
                            <a href="#section4">Sección 4</a>
                        </li>
                        <li>
                            <a href="#section5">Sección 5</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                    </ul>
                </div>
</div>



            <div>
            </div>
        </div>
        <div class="md-menu-img">
            <img src="/assets/static/images/pdp/pdp-1.jpg" alt="menu">
        </div>
    </div>
</nav>