---
layout: base-clean.njk
---
<!-- Contenido de la plantilla menu2025.njk -->
<nav class="md-menu">
    <div class="md-menu-header">
        <div class="md-menu-header-title">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="md-menu-content">
        <div class="md-menu-inner">

<div class="md-menu-group">
    
    <div class="md-menu-title">
        menu
        tracking
    </div>
    <div class="md-menu-col">
        <ul class="list-clear md-menu-list">
            <li>
                <a href="#section1">Sección 1</a>
            </li>
            <li>
                <a href="#section2">Sección 2</a>
            </li>
            <li>
                <a href="#section3">Sección 3</a>
            </li>
            <li>
                <a href="#section4">Sección 4</a>
            </li>
            <li>
                <a href="#section5">Sección 5</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
            <li>
                <a href="#section6">Sección 6</a>
            </li>
        </ul>
    </div>
</div>
<div class="md-menu-group">
    
    
                <div class="md-menu-title">
                    menu
                    tracking
                </div>
                <div class="md-menu-col">
                    <ul class="list-clear md-menu-list">
                        <li>
                            <a href="#section1">Sección 1</a>
                        </li>
                        <li>
                            <a href="#section2">Sección 2</a>
                        </li>
                        <li>
                            <a href="#section3">Sección 3</a>
                        </li>
                        <li>
                            <a href="#section4">Sección 4</a>
                        </li>
                        <li>
                            <a href="#section5">Sección 5</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                    </ul>
                </div>
</div>


<div class="md-menu-group">
    
                <div class="md-menu-title">
                    menu
                    tracking
                </div>
                <div class="md-menu-col">
                    <ul class="list-clear md-menu-list">
                        <li>
                            <a href="#section1">Sección 1</a>
                        </li>
                        <li>
                            <a href="#section2">Sección 2</a>
                        </li>
                        <li>
                            <a href="#section3">Sección 3</a>
                        </li>
                        <li>
                            <a href="#section4">Sección 4</a>
                        </li>
                        <li>
                            <a href="#section5">Sección 5</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                        <li>
                            <a href="#section6">Sección 6</a>
                        </li>
                    </ul>
                </div>
</div>



            <div>
            </div>
        </div>
        <div class="md-menu-img">
            <img src="/assets/static/images/pdp/pdp-1.jpg" alt="menu">
        </div>
    </div>
</nav>