---
layout: base-clean.njk
---
<!-- Contenido de la plantilla menu2025.njk -->
<nav class="md-menu pr-body pl-body ptr-64 pbr-64">
    <div class="md-menu-header ">

        <div class="md-menu-list row pt-24 pb-24 title-l">
            <ul class="list-clear list-inline">
                <li><a href="#hasta40">MUJER</a></li>
                <li><a href="#hasta40">HOMBRE</a></li>
                <li><a href="#hasta40">NIÑO</a></li>
            </ul>
        </div>
    </div>

    <div class="md-menu-content title-l ttu ">
        <div class="md-menu-inner">
            <div class="md-menu-group row">
                <div class="md-menu-title col-xs-12 col-md-2">
                    <button class="menu-button" data-target="black-friday">BLACK FRIDAY</button>
                </div>
                <div class="md-menu-col col-xs-12 col-md-10 push-2" id="black-friday">
                    <div class="md-menu-column-inner primary-column ">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#hasta40">hasta 40%</a>
                            </li>
                            <li>
                                <a href="#trajes">trajes</a>
                            </li>
                            <li>
                                <a href="#chaquetas">chaquetas y gabardinas</a>
                            </li>
                            <li>
                                <a href="#camisetas">camisetas</a>
                            </li>
                            <li>
                                <a href="#crochet">crochet</a>
                            </li>
                            <li>
                                <a href="#bolsos">bolsos</a>
                            </li>
                            <li>
                                <a href="#bisuteria">bisutería</a>
                            </li>
                            <li>
                                <a href="#perfumes">perfumes</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios</a>
                            </li>
                            <li>
                                <a href="#pantalones">pantalones</a>
                            </li>
                            <li>
                                <a href="#punto">punto</a>
                            </li>
                            <li>
                                <a href="#jerseis">jerséis y cárdigans</a>
                            </li>
                            <li>
                                <a href="#camisas">camisas y blusas</a>
                            </li>
                            <li>
                                <a href="#piel">piel</a>
                            </li>
                            <li>
                                <a href="#libros">Libros</a>
                            </li>
                            <li>
                                <a href="#bano">baño</a>
                            </li>
                            <li>
                                <a href="#americanas">americanas</a>
                            </li>
                            <li>
                                <a href="#vestidos">vestidos</a>
                            </li>
                            <li>
                                <a href="#eventos">eventos</a>
                            </li>
                            <li>
                                <a href="#tops">tops</a>
                            </li>
                            <li>
                                <a href="#chalecos">chalecos</a>
                            </li>
                            <li>
                                <a href="#faldas">faldas</a>
                            </li>
                            <li>
                                <a href="#totallook">total look</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner secondary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#hasta40">hasta 40%</a>
                            </li>
                            <li>
                                <a href="#trajes">trajes</a>
                            </li>
                            <li>
                                <a href="#chaquetas">chaquetas y gabardinas</a>
                            </li>
                            <li>
                                <a href="#camisetas">camisetas</a>
                            </li>
                            <li>
                                <a href="#crochet">crochet</a>
                            </li>
                            <li>
                                <a href="#bolsos">bolsos</a>
                            </li>
                            <li>
                                <a href="#bisuteria">bisutería</a>
                            </li>
                            <li>
                                <a href="#perfumes">perfumes</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios</a>
                            </li>
                            <li>
                                <a href="#pantalones">pantalones</a>
                            </li>
                            <li>
                                <a href="#punto">punto</a>
                            </li>
                            <li>
                                <a href="#jerseis">jerséis y cárdigans</a>
                            </li>
                            <li>
                                <a href="#camisas">camisas y blusas</a>
                            </li>
                            <li>
                                <a href="#piel">piel</a>
                            </li>
                            <li>
                                <a href="#libros">Libros</a>
                            </li>
                            <li>
                                <a href="#bano">baño</a>
                            </li>
                            <li>
                                <a href="#americanas">americanas</a>
                            </li>
                            <li>
                                <a href="#vestidos">vestidos</a>
                            </li>
                            <li>
                                <a href="#eventos">eventos</a>
                            </li>
                            <li>
                                <a href="#tops">tops</a>
                            </li>
                            <li>
                                <a href="#chalecos">chalecos</a>
                            </li>
                            <li>
                                <a href="#faldas">faldas</a>
                            </li>
                            <li>
                                <a href="#totallook">total look</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner tertiary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#hasta40">hasta 40%</a>
                            </li>
                            <li>
                                <a href="#trajes">trajes</a>
                            </li>
                            <li>
                                <a href="#chaquetas">chaquetas y gabardinas</a>
                            </li>
                            <li>
                                <a href="#camisetas">camisetas</a>
                            </li>
                            <li>
                                <a href="#crochet">crochet</a>
                            </li>
                            <li>
                                <a href="#bolsos">bolsos</a>
                            </li>
                            <li>
                                <a href="#bisuteria">bisutería</a>
                            </li>
                            <li>
                                <a href="#perfumes">perfumes</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios</a>
                            </li>
                            <li>
                                <a href="#pantalones">pantalones</a>
                            </li>
                            <li>
                                <a href="#punto">punto</a>
                            </li>
                            <li>
                                <a href="#jerseis">jerséis y cárdigans</a>
                            </li>
                            <li>
                                <a href="#camisas">camisas y blusas</a>
                            </li>
                            <li>
                                <a href="#piel">piel</a>
                            </li>
                            <li>
                                <a href="#libros">Libros</a>
                            </li>
                            <li>
                                <a href="#bano">baño</a>
                            </li>
                            <li>
                                <a href="#americanas">americanas</a>
                            </li>
                            <li>
                                <a href="#vestidos">vestidos</a>
                            </li>
                            <li>
                                <a href="#eventos">eventos</a>
                            </li>
                            <li>
                                <a href="#tops">tops</a>
                            </li>
                            <li>
                                <a href="#chalecos">chalecos</a>
                            </li>
                            <li>
                                <a href="#faldas">faldas</a>
                            </li>
                            <li>
                                <a href="#totallook">total look</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner quaternary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#hasta40">hasta 40%</a>
                            </li>
                            <li>
                                <a href="#trajes">trajes</a>
                            </li>
                            <li>
                                <a href="#chaquetas">chaquetas y gabardinas</a>
                            </li>
                            <li>
                                <a href="#camisetas">camisetas</a>
                            </li>
                            <li>
                                <a href="#crochet">crochet</a>
                            </li>
                            <li>
                                <a href="#bolsos">bolsos</a>
                            </li>
                            <li>
                                <a href="#bisuteria">bisutería</a>
                            </li>
                            <li>
                                <a href="#perfumes">perfumes</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios</a>
                            </li>
                            <li>
                                <a href="#pantalones">pantalones</a>
                            </li>
                            <li>
                                <a href="#punto">punto</a>
                            </li>
                            <li>
                                <a href="#jerseis">jerséis y cárdigans</a>
                            </li>
                            <li>
                                <a href="#camisas">camisas y blusas</a>
                            </li>
                            <li>
                                <a href="#piel">piel</a>
                            </li>
                            <li>
                                <a href="#libros">Libros</a>
                            </li>
                            <li>
                                <a href="#bano">baño</a>
                            </li>
                            <li>
                                <a href="#americanas">americanas</a>
                            </li>
                            <li>
                                <a href="#vestidos">vestidos</a>
                            </li>
                            <li>
                                <a href="#eventos">eventos</a>
                            </li>
                            <li>
                                <a href="#tops">tops</a>
                            </li>
                            <li>
                                <a href="#chalecos">chalecos</a>
                            </li>
                            <li>
                                <a href="#faldas">faldas</a>
                            </li>
                            <li>
                                <a href="#totallook">total look</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="md-menu-group row">
                <div class="md-menu-title col-xs-12 col-md-2    ">
                    <button class="menu-button" data-target="collection">COLLECTION</button>
                </div>
                <div class="md-menu-col col-xs-12 col-md-10" id="collection">
                    <div class="md-menu-column-inner primary-column ">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#novedades">novedades</a>
                            </li>
                            <li>
                                <a href="#ofertas">ofertas especiales</a>
                            </li>
                            <li>
                                <a href="#verano">moda de verano</a>
                            </li>
                            <li>
                                <a href="#invierno">moda de invierno</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios de moda</a>
                            </li>
                            <li>
                                <a href="#calzado">calzado</a>
                            </li>
                            <li>
                                <a href="#deportes">ropa deportiva</a>
                            </li>
                            <li>
                                <a href="#hogar">decoración del hogar</a>
                            </li>
                            <li>
                                <a href="#tecnologia">tecnología</a>
                            </li>
                            <li>
                                <a href="#belleza">belleza y cuidado personal</a>
                            </li>
                            <li>
                                <a href="#infantil">moda infantil</a>
                            </li>
                            <li>
                                <a href="#mascotas">productos para mascotas</a>
                            </li>
                            <li>
                                <a href="#viajes">artículos de viaje</a>
                            </li>
                            <li>
                                <a href="#regalos">ideas para regalos</a>
                            </li>
                            <li>
                                <a href="#eco">productos ecológicos</a>
                            </li>
                            <li>
                                <a href="#arte">arte y manualidades</a>
                            </li>
                            <li>
                                <a href="#musica">instrumentos musicales</a>
                            </li>
                            <li>
                                <a href="#juguetes">juguetes</a>
                            </li>
                            <li>
                                <a href="#cocina">utensilios de cocina</a>
                            </li>
                            <li>
                                <a href="#jardin">jardinería</a>
                            </li>
                            <li>
                                <a href="#automovil">accesorios para automóvil</a>
                            </li>
                            <li>
                                <a href="#oficina">suministros de oficina</a>
                            </li>
                            <li>
                                <a href="#salud">productos de salud</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner secondary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#novedades">novedades</a>
                            </li>
                            <li>
                                <a href="#ofertas">ofertas especiales</a>
                            </li>
                            <li>
                                <a href="#verano">moda de verano</a>
                            </li>
                            <li>
                                <a href="#invierno">moda de invierno</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios de moda</a>
                            </li>
                            <li>
                                <a href="#calzado">calzado</a>
                            </li>
                            <li>
                                <a href="#deportes">ropa deportiva</a>
                            </li>
                            <li>
                                <a href="#hogar">decoración del hogar</a>
                            </li>
                            <li>
                                <a href="#tecnologia">tecnología</a>
                            </li>
                            <li>
                                <a href="#belleza">belleza y cuidado personal</a>
                            </li>
                            <li>
                                <a href="#infantil">moda infantil</a>
                            </li>
                            <li>
                                <a href="#mascotas">productos para mascotas</a>
                            </li>
                            <li>
                                <a href="#viajes">artículos de viaje</a>
                            </li>
                            <li>
                                <a href="#regalos">ideas para regalos</a>
                            </li>
                            <li>
                                <a href="#eco">productos ecológicos</a>
                            </li>
                            <li>
                                <a href="#arte">arte y manualidades</a>
                            </li>
                            <li>
                                <a href="#musica">instrumentos musicales</a>
                            </li>
                            <li>
                                <a href="#juguetes">juguetes</a>
                            </li>
                            <li>
                                <a href="#cocina">utensilios de cocina</a>
                            </li>
                            <li>
                                <a href="#jardin">jardinería</a>
                            </li>
                            <li>
                                <a href="#automovil">accesorios para automóvil</a>
                            </li>
                            <li>
                                <a href="#oficina">suministros de oficina</a>
                            </li>
                            <li>
                                <a href="#salud">productos de salud</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner tertiary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#novedades">novedades</a>
                            </li>
                            <li>
                                <a href="#ofertas">ofertas especiales</a>
                            </li>
                            <li>
                                <a href="#verano">moda de verano</a>
                            </li>
                            <li>
                                <a href="#invierno">moda de invierno</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios de moda</a>
                            </li>
                            <li>
                                <a href="#calzado">calzado</a>
                            </li>
                            <li>
                                <a href="#deportes">ropa deportiva</a>
                            </li>
                            <li>
                                <a href="#hogar">decoración del hogar</a>
                            </li>
                            <li>
                                <a href="#tecnologia">tecnología</a>
                            </li>
                            <li>
                                <a href="#belleza">belleza y cuidado personal</a>
                            </li>
                            <li>
                                <a href="#infantil">moda infantil</a>
                            </li>
                            <li>
                                <a href="#mascotas">productos para mascotas</a>
                            </li>
                            <li>
                                <a href="#viajes">artículos de viaje</a>
                            </li>
                            <li>
                                <a href="#regalos">ideas para regalos</a>
                            </li>
                            <li>
                                <a href="#eco">productos ecológicos</a>
                            </li>
                            <li>
                                <a href="#arte">arte y manualidades</a>
                            </li>
                            <li>
                                <a href="#musica">instrumentos musicales</a>
                            </li>
                            <li>
                                <a href="#juguetes">juguetes</a>
                            </li>
                            <li>
                                <a href="#cocina">utensilios de cocina</a>
                            </li>
                            <li>
                                <a href="#jardin">jardinería</a>
                            </li>
                            <li>
                                <a href="#automovil">accesorios para automóvil</a>
                            </li>
                            <li>
                                <a href="#oficina">suministros de oficina</a>
                            </li>
                            <li>
                                <a href="#salud">productos de salud</a>
                            </li>
                        </ul>
                    </div>
                    <div class="md-menu-column-inner quaternary-column">
                        <ul class="list-clear md-menu-list">
                            <li>
                                <a href="#novedades">novedades</a>
                            </li>
                            <li>
                                <a href="#ofertas">ofertas especiales</a>
                            </li>
                            <li>
                                <a href="#verano">moda de verano</a>
                            </li>
                            <li>
                                <a href="#invierno">moda de invierno</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios de moda</a>
                            </li>
                            <li>
                                <a href="#calzado">calzado</a>
                            </li>
                            <li>
                                <a href="#deportes">ropa deportiva</a>
                            </li>
                            <li>
                                <a href="#perfumes">perfumes</a>
                            </li>
                            <li>
                                <a href="#accesorios">accesorios</a>
                            </li>
                            <li>
                                <a href="#pantalones">pantalones</a>
                            </li>
                            <li>
                                <a href="#punto">punto</a>
                            </li>
                            <li>
                                <a href="#jerseis">jerséis y cárdigans</a>
                            </li>
                            <li>
                                <a href="#camisas">camisas y blusas</a>
                            </li>
                            <li>
                                <a href="#piel">piel</a>
                            </li>
                            <li>
                                <a href="#libros">Libros</a>
                            </li>
                            <li>
                                <a href="#bano">baño</a>
                            </li>
                            <li>
                                <a href="#americanas">americanas</a>
                            </li>
                            <li>
                                <a href="#vestidos">vestidos</a>
                            </li>
                            <li>
                                <a href="#eventos">eventos</a>
                            </li>
                            <li>
                                <a href="#tops">tops</a>
                            </li>
                            <li>
                                <a href="#chalecos">chalecos</a>
                            </li>
                            <li>
                                <a href="#faldas">faldas</a>
                            </li>
                            <li>
                                <a href="#totallook">total look</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
        <div class="md-menu-img">
            <img src="/assets/static/images/pdp/pdp-1.jpg" alt="menu">

            <div class="md-menu-img-label">
                <div class="text-l pt-16">
               Label ss25
                </div>
            </div>
        </div>
    </div>
</nav>
<hr>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar todos los botones del menú
        const menuButtons = document.querySelectorAll('.menu-button');

        // Agregar event listener a cada botón
        menuButtons.forEach(button => {
            button.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const targetCol = document.getElementById(targetId);

                // Remover la clase is-active de todos los md-menu-col
                const allMenuCols = document.querySelectorAll('.md-menu-col');
                allMenuCols.forEach(col => {
                    col.classList.remove('is-active');
                });

                // Agregar la clase is-active al md-menu-col correspondiente
                if (targetCol) {
                    targetCol.classList.add('is-active');
                }
            });
        });
    });
</script>