---
layout: base-clean.njk
---
<!-- Contenido de la plantilla fichasticky.njk -->
<div class="container-fluid cc-container">
    <div class="ficha-content">
        <div class="cc-imagen">
            <div class="cc-imagen-logo">
                <svg width="267" height="39" viewBox="0 0 267 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <div class="cc-imagen-item">
                <div class="swiper mySwiper cc-imagen-collection-swiper  ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img height="100vh"
                                src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt=""></div>
                        <div class="swiper-slide"><img height="100vh"
                                src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg  "
                                alt=""></div>
                        <div class="swiper-slide"><img height="100vh"
                                src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt=""></div>
                        <div class="swiper-slide"><img height="100vh"
                                src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg  "
                                alt=""></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="cc-descripcion">
        <div class="container-4 ptr-120">
            <div class="title-l mb-4">CÁRDIGAN PUNTO TRENZADO MANGA CORTA</div>
            <div class="title-l">59,95 €</div>
            <div class="text-l mt-32 mb-64">Tejido de punto. Confeccionado con tejido en mezcla de algodón. Manga corta.
            </div>
            <div class="title-s text-center mb-32">GRIS | REF. 5651/624</div>
            <ul class="list-clear list-inline text-center">
                <li>XS</li>
                <li>S</li>
                <li>M</li>
                <li>L</li>
            </ul>
            <button class="btn btn-secondary text-m btn--full mb-24">AÑADIR A LA CESTA</button>
            <div class=" pt-0 pb-64 align-items-center content-sp-between">
                <div class="">GUÍA DE TALLAS</div>
                <div class="">RECOMENDADOR DE TALLA</div>
            </div>
            <p class="mb-32">Envío gratuito a domicilio en pedidos superiores a 80,00 €.</p>
            <div class="title-l mb-24">ENVÍOS, CAMBIOS Y DEVOLUCIONES</div>
            <div class="title-l mb-64">COMPOSICIÓN Y CUIDADOS</div>
            <p>Pagos: VISA, MasterCard, American Express, Paypal, Transferencia Bancaria</p>
        </div>
    </div>
</div>
<div class="container-fluid bleed-0 ptr-120">
    <div class="row pb-48">
        <div class="col-xs-12 text-center">
            <div class="title-l">YOU MIGHT BE INTERESTED IN</div>
        </div>
    </div>
    <div class="grid-6">
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sk-load3">
            <div class="p-view">
                <div class="rat-3-4">
                    <div class="rat-content">
                        <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        direction: "horizontal",
        slidesPerView: 'auto',
        freeMode: true,
        mousewheel: {
                    enabled:false,
                    forceToAxis: true,
                    sensitivity: 1,
                    releaseOnEdges: true,
                },
        pagination: {
            el: ".swiper-pagination",
            clickable: false,
            type: "progressbar",
        },
        breakpoints: {
            320: {
                direction: "horizontal",
                slidesPerView: 'auto',
                freeMode: true,
                    mousewheel: {
                    enabled:false,
                    forceToAxis: true,
                    sensitivity: 1,
                    releaseOnEdges: true,
                },
            },
            920: {
                slidesPerView: 'auto',
                direction: "vertical",
                freeMode: true,
                mousewheel: {
                    enabled:false,
                    forceToAxis: false,
                    sensitivity: 0,
                    releaseOnEdges: false,
                },
            },
            1700: {
                slidesPerView: 1,
                direction: "vertical",
                freeMode: false,
                mousewheel: {
                    enabled:true,
                    forceToAxis: true,
                    sensitivity: 1,
                    releaseOnEdges: true,
                },
            },
        },
    });
</script>