---
layout: base-clean.njk
---
<!-- Contenido de la plantilla login.njk -->




<section class="">
    <div class="row height-full ">
        <div class="col-xs-7 bg-dark sm:hidden bleed-0">


<div class=" img-cover" style="background-image:url(https://holygrailcss.github.io/assets/placeholder/16-9.jpg) ;">

</div>


        </div>
    
        <div class="col-xs-12 col-sm-5">
    
    <div class="container-4 ptr-120 margin-auto ">

<div class="title-l mb-16" >CREAR CUENTA</div>

<div class="form-input-label-2 mb-16  ">
    <input type="email" id="t2" class="input" placeholder="Email address" required="">
    <label for="t2">nombre  *</label>
  </div>

  <div class="form-input-label-2 mb-16  ">
    <input type="email" id="t2" class="input" placeholder="Email address" required="">
    <label for="t2">apellidos *</label>
  </div>

  <div class="form-input-label-2 mb-16  ">
    <input type="email" id="t2" class="input" placeholder="Email address" required="">
    <label for="t2">email * </label>
  </div>

  <div class="form-input-label-2 mb-64  ">
    <input type="email" id="t2" class="input" placeholder="Email address" required="">
    <label for="t2">password *</label>
  </div>

  <div class="checkbox-item mb-24">
    <input id="checkbox_1" name="checkbox_1" type="checkbox" class=" ">
      <label for="checkbox_1">
        <i as="label" class="icon">
          <svg-icon src="check-mini" ng-reflect-src="check-mini">
            <div>
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z" fill="white"></path>
              </svg>
            </div>

          </svg-icon>
        </i>
    <span class="title-m">Quiero recibir novedades y comunicaciones comerciales personalizadas de MD a través del email y otros medios.</span></label>
</div>


<div class="checkbox-item mb-32">
    <input id="checkbox_2" name="checkbox_2" type="checkbox" class=" ">
      <label for="checkbox_2">
        <i as="label" class="icon">
          <svg-icon src="check-mini" ng-reflect-src="check-mini">
            <div>
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z" fill="white"></path>
              </svg>
            </div>

          </svg-icon>
        </i>
    <span class="title-m">ÚNETE A MD FEEL - Disfruta de un espacio creado para ti con beneficios exclusivos. He leído y acepto los Términos y condiciones de MD Feel y entiendo la información acerca del uso de mis datos personales explicada en la Política de Privacidad.</span></label>
</div>


<p class="text-l c-dark-grey mb-16">
    Al pulsar en “ACEPTAR Y CONTINUAR”, confirmo que he leído y acepto los Términos y Condiciones de uso y compra y entiendo la información acerca del uso de mis datos personales explicada en la Política de Privacidad.
</p>
  <button class="btn btn-primary btn--full">ACEPTAR CONTINUAR</button>


    </div>
    
    
        </div>
    </div>
</section>