---
layout: base-clean.njk
---
<!-- Contenido de la plantilla recomendador.njk -->
<div class="container-fluid ">
    <div class="row height-full">
        <div class="col-xs-12 bleed-0   ">
            <div class="sidebar-overflow pt-40 pb-120 pr-body pl-body min-scrollcustom-y">
                <div class="ttu title-l mb-32">
                    Talla de sujetador
                </div>
                <div class="ttu title-l mb-16">
                    Sistema de tallaje
                </div>
                <div class="ttu title-l mb-16">
                    CONTORNO DEL PECHO
                </div>
                <div class="btn-group-bleed mb-16">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn--mini"> 95</button>
                        <button class="btn btn-secondary btn--mini is-active"> 100 is-active </button>
                        <button class="btn btn-secondary btn--mini"> 105 </button>
                        <button class="btn btn-secondary btn--mini"> 110 </button>
                    </div>
                    <div class="btn-group m--1">
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                    </div>
                </div>
                <div class="ttu title-l mb-16">
                    CONTORNO DEL PECHO
                </div>
                <div class="btn-group-bleed mb-16">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn--mini"> 95</button>
                        <button class="btn btn-secondary btn--mini"> 100 </button>
                        <button class="btn btn-secondary btn--mini"> 105 </button>
                        <button class="btn btn-secondary btn--mini"> 110 </button>
                    </div>
                    <div class="btn-group m--1">
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                        <button class="btn btn-secondary btn--mini"> 75 </button>
                    </div>
                </div>
                <div class="ttu title-l mb-24">
                    SILUETA
                </div>
                <div class=" title-l mb-32">
                    Forma de tu abdomen
                </div>
                <div class="row mb-64">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        <div><img
                                src="https://static.massimodutti.net/3/static2/media/2019/home/assets/placeholder/bases/3-4.jpg "
                                alt=""></div>
                    </div>
                </div>
                <div class="row mb-64">
                    <div class="col-xs-12">
                        <div class="btn-group m--1">
                            <button class="btn btn-secondary btn--mini is-active"> PLANO </button>
                            <button class="btn btn-secondary btn--mini"> MEDIO </button>
                            <button class="btn btn-secondary btn--mini"> ABULTADO </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 mb-16">
                        <div class="is-flex content-sp-between">
                            <div class="select w-100 select-8 ">
                                <select>
                                    <option value="160">160 CM</option>
                                    <option value="170">170 CM</option>
                                    <option value="180">180 CM</option>
                                    <option value="190">190 CM</option>
                                    <option value="200">200 CM</option>
                                </select>
                            </div>
                            <div class="btn-group ">
                                <button class="btn btn-secondary btn--mini is-active"> CM </button>
                                <button class="btn btn-secondary btn--mini"> IN </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="text-l">
                            La edad influye en la distribución de tu peso. Conocer tu edad nos permitirá recomendarte la
                            talla correcta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="align-center fixed-bottom  pb-16 pt-16 pr-body pl-body bg-white">
                <button class="btn-primary btn btn--full mb-16">CONTINUAR</button>
                <button class="btn-tertiary text-l">OMITIR</button>
            </div>
        </div>
    </div>
</div>