---
layout: base-clean.njk
guides: 0
logoheader: false
---
<!-- Contenido de la plantilla pdp4.njk -->

{% include '_tokens/_templates/token-header2025.njk' %}
<section class="md-pdp4-main">
  <div class="md-pdp4-column md-pdp4-column--media">
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-model-1">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-1.jpg" 
          alt="Americana cruzada 100% lino, vista frontal sobre fondo neutro"
        >
      </figure>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-model-2">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-2.jpg" 
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista frontal sobre fondo neutro" 
        >
      </figure>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-model-3">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-3.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino, vista trasera sobre fondo neutro" 
        >
      </figure>
    </article>
  </div>
  <div class="md-pdp4-column md-pdp4-column--info">
    <article class="md-pdp4-box md-pdp4-box--main-info">
      <div class="md-pdp4-product-short is-flex flex-row content-sp-between align-top">
          <h1 class="flex-auto ttu title-l-l">Americana cruzada 100% lino</h1>
          <p class="flex-initial">
            <button class="btn-link is-flex" aria-label="Añadir a la wishlist" tabindex="0">
              <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                  fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                  fill="black" fill-opacity="0.2" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                  fill="black" fill-opacity="0.2" />
              </svg>
            </button>
          </p>
      </div>
      <p class="md-pdp4-pricebox md-product-pricebox">
        <span class="md-product-price md-product-price--new title-l-l" aria-label="Precio con descuento">
          <span aria-describedby="priceInfo">*</span>
          <span>49,95 €</span>
        </span>
        <label class="md-product-price md-product-price--label title-l-l" aria-label="Descuento aplicado"> -25% </label>
        <del class="md-product-price md-product-price--old title-l-l" aria-label="Precio original">69,95 €</del>
      </p>
      <div class="md-pdp4-product-options md-product-options">
        <p class="md-product-options-title ttu title-l-l">
          Beige | Ref. 6761/201
        </p>
        <ul class="md-product-options-list is-flex flex-row content-start gap-16">
          <li><div class="boxcolorfake-item" aria-label="Color opción 1" tabindex="0"></div></li>
          <li><div class="boxcolorfake-item" aria-label="Color opción 2" tabindex="0"></div></li>
          <li><div class="boxcolorfake-item" aria-label="Color opción 3" tabindex="0"></div></li>
          <li><div class="boxcolorfake-item" aria-label="Color opción 4" tabindex="0"></div></li>
          <li><div class="boxcolorfake-item" aria-label="Color opción 5" tabindex="0"></div></li>
          <li><div class="boxcolorfake-item" aria-label="Color opción 6" tabindex="0"></div></li>
        </ul>
      </div>
      <div class="md-pdp4-product-cta is-flex flex-row content-sp-between contnt-start align-items-center">
        <button class="btn btn-secondary title-l-l flex-auto" aria-label="Añadir a la cesta" tabindex="0">
          AÑADIR A LA CESTA
        </button>
      </div>
      <p class="c-dark-grey">Envío a tienda: Gratis | Envío a domicilio: Gratis por pedidos superiores a 89,00 €.</p>
    </article>
    <article class="md-pdp4-box md-pdp4-box--secondary-info">
      <span class="md-pdp4-box__counter">6</span>
      <span class="md-pdp4-box__label">Info secundaria</span>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-detail-1">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-4.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-detail-2">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-5.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-detail-3">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-6.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
    <article class="md-pdp4-box md-pdp4-box--media md-pdp4-box--media-detail-4">
      <figure class="md-pdp4-box-figure focus:inset" role="button" tabindex="0">
        <img 
          src="/assets/static/images/pdp/pdp-7.jpg"
          alt="Imagen adicional del producto Americana cruzada 100% lino." 
        >
      </figure>
    </article>
  </div>
</section>
{% include '_tokens/_templates/token-footer.njk' %}