---
layout: base-clean.njk
---
{% from "_macros/_token.njk" import swiperSlide %}
{% from "_macros/_token.njk" import videoCard %}
<!-- Contenido de la plantilla stories.njk -->
<div class="header-fake">{% include '_tokens/_components/header-fake.njk' %}</div>
<div class="stories-load">
    <div>
        Present Space <br>
        ISSN 27555- 2519 <br>
        Print Three <br>
        HOME
    </div>
</div>


<div class="modal-qr">

    <div class="container-6">
        <div class="mb-16 text-14-m">Augmented Reality is only available on mobile or tablet devices</div>
<div class="p p1 mb-32">
    Supported devices: iPhone 6S+ & iPad 5+ on iOS 12+ and Android 8.0+ with ARCore 1.9 support.
    Open this page with such a device to experience AR.
</div>


<div class="mb-32">
    <img width="100px" src="/assets/static/images/qrnew.jpg" width="13"
    alt="Copy to clipboard">
</div>


<div>
    <div class="mb-16 text-14-m">Open with QR Code:</div>
    Scan rhis code to open the model on ypur device, then, tap on the AR icon.
</div>
    </div>

</div>

<div id="storiesSupercontainerWrap" class="stories-supercontainer-wrap has-storiecenter">
    <div id="storiesSupercontainer" class="stories-supercontainer">
        <div class="container-fluid stories-fullwidth ptr-120 ">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <div class="stories-watermark">
                        <img width="100%" src="/assets/static/templates/bg-bolsos.svg" width="13"
                            alt="Copy to clipboard">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-9">
                    <div class="stories-grid">
                        <div class="ar-9-16 o-hidden p-relative ">
                            <div class="  js-resetPosition  stories-text text-16-r">Plain Mini Leather Bag</div>
                            <video class="video-cover"
                                src="https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm"
                                autoplay muted videoinline></video>
                        </div>
                        <div class="ar-9-16 o-hidden p-relative ">
                            <div class="js-resetPosition stories-text text-16-r">Plain Mini Leather Bag</div>
                            <video class="video-cover"
                                src="https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm"
                                autoplay muted videoinline></video>
                        </div>
                        <!-- Repetir otros elementos aquí... -->
                    </div>
                </div>
            </div>
        </div>
        <div class=" stories-supercontainer-center   container-fluid height-full is-flex">
            <div class="stories-video stories-creators">
                <div class="swiper mySwiper stories-swiper ">
                    <div class="swiper-wrapper">
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm',
                        'NAPPA LEATHER WOVEN CROISSANT'
                        ,'1233€'
                        , 'img1'
                        ) }}
                        {{ swiperSlide(
                        'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm',
                        'NAPPA LEATHER WOVEN brown'
                        ,'1673€'
                        , 'img2'
                        ) }}
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm',
                        'NAPPA LEATHER WOVEN RED'
                        ,'193€'
                        , 'img3'
                        ) }}
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721646269/Embroidered_Lady_D-Lite_Bag_Savoir-Faire_dtmpzh.webm',
                        'NAPPA LEATHER YELLOW'
                        ,'83€'
                        , 'img4'
                        ) }}
                        <!-- Repetir otros elementos aquí... -->
                    </div>
                </div>
            </div>

            <div class="stories-video stories-products" >

                <div class="btn-augmented">
                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.00781 6.51076V10.5108L8.50785 12.5108L12.0079 10.5108V6.51076L8.50785 4.51074L5.00781 6.51076Z" stroke="black" stroke-miterlimit="10"/>
                        <path d="M5.00781 6.51074L8.50785 8.51076L12.0079 6.51074" stroke="black" stroke-miterlimit="10"/>
                        <path d="M8.50781 8.51074V12.5108" stroke="black" stroke-miterlimit="10"/>
                        <path d="M2.5 3.81543V1.57741C2.5 0.988305 2.98837 0.510742 3.59081 0.510742H5.58649M2.5 13.2021V15.4441C2.5 16.0332 2.98837 16.5107 3.59081 16.5107H5.57861M11.4219 0.510742H13.4081C14.0106 0.510742 14.499 0.988305 14.499 1.57741V3.81152M14.499 13.21V15.4441C14.499 16.0332 14.0106 16.5107 13.4081 16.5107H11.3849" stroke="black" stroke-miterlimit="10"/>
                        </svg>
                          AGUMENTED REALITY
                </div>


                <div class="swiper mySwiper stories-swiper ">
                    <div class="swiper-wrapper">
                        {{ swiperSlide(
                        'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4',
                        'NAPPA LEATHER WOVEN CROISSANT'
                        ,'1233€'
                        , 'img1'
                        ) }}
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4',

                        'NAPPA LEATHER WOVEN brown'
                        ,'1673€'
                        , 'img2'
                        ) }}
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4',

                        'NAPPA LEATHER WOVEN RED'
                        ,'193€'
                        , 'img3'
                        ) }}
                        {{ swiperSlide(
                            'https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4',

                        'NAPPA LEATHER YELLOW'
                        ,'83€'
                        , 'img4'
                        ) }}
                        <!-- Repetir otros elementos aquí... -->
                    </div>
                </div>
            </div>



            <div class="blend-text">
                <div id="moveLeft" class=" move-left text-18-r"> View Creators </div>
                <div id="moveRight" class="move-right text-18-r">View Products</div>
            </div>
            <div id="storiesMenu" class="stories-menu-fixed">
                <div class="stories-img-extra">
                    <img width="100%" class="video-cover" src="/assets/static/images/img1.jpg" alt="">
                </div>
                <div class="stories-menu  p-16">
                    <div class="stories-menu-wrap">
                        <div id="storiesMenuControls" class="stories-menu-controls is-flex blend-text">
                            <div class="col-xs-6 blend-text">
                                <svg class="blend-text" width="10" height="12" viewBox="0 0 10 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="3" height="12" fill="white" />
                                    <rect x="7" width="3" height="12" fill="white" />
                                </svg>
                            </div>
                            <div class="col-xs-6 text-right">
                                <svg width="9" height="13" viewBox="0 0 9 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 6.06218V3.06218H4.45385L9 0V3.06218V9.06218L9 12.1244L4.45385 9.06218H0V6.06218Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="is-flex content-sp-between">
                        <div id="slide-info" class="slider-info"></div>
                        <div id="slide-price" class="slider-info"></div>
                    </div>
                    <div class="stories-menu-btn">
                        <a href={{ viewBagText }}><button class="btn btn-secondary btn--full"> VIEW BAG </button></a>
                        <a href={{ shopText }}><button class="btn btn-secondary btn--full"> SHOP</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid height-full stories-fullwidth ptr-120  ">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <div class="stories-watermark">
                        <img width="100%" src="/assets/static/templates/bg-bolsos.svg" width="13"
                            alt="Copy to clipboard">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-9">
                    <div class="stories-grid">
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        {{ videoCard("Ver Plain Mini Leather Bag",
                        "https://res.cloudinary.com/manuel-ruiz/video/upload/v1721640683/bolso2_nqyysx.mp4") }}
                        <!-- Repetir otros elementos aquí... -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function () {
    const moveLeftButton = document.getElementById('moveLeft');
    const moveRightButton = document.getElementById('moveRight');
    const resetPositionButtons = document.querySelectorAll('.js-resetPosition');
    const movableDivWrap = document.getElementById('storiesSupercontainerWrap');
    const movableDiv = document.getElementById('storiesSupercontainer');
    const storiesMenu = document.getElementById('storiesMenu');
    const storiesMenuControls = document.getElementById('storiesMenuControls');

    moveLeftButton.addEventListener('click', () => {
        setTimeout(() => {
            document.body.classList.remove('centerposition', 'rightposition', 'fromleftposition', 'fromrightposition');
            document.body.classList.add('leftposition');
        }, 1000);

        movableDivWrap.classList.remove('has-storiecenter');
        gsap.to(movableDiv, { x: '+=100vw', duration: 0.5, ease: "power2.inOut" });
        gsap.to(storiesMenu, { y: '+=100%', duration: 0.5, delay: .2, ease: "power2.inOut" });
        gsap.to(storiesMenuControls, { y: '100px', opacity: 0, duration: 0.5, delay: 0, ease: "power2.inOut" });
    });

    moveRightButton.addEventListener('click', () => {
        setTimeout(() => {
            document.body.classList.remove('centerposition', 'leftposition', 'fromleftposition', 'fromrightposition');
            document.body.classList.add('rightposition');
        }, 1000);

        movableDivWrap.classList.remove('has-storiecenter');
        gsap.to(movableDiv, { x: '-=100vw', duration: 0.5, ease: "power2.inOut" });
        gsap.to(storiesMenu, { y: '+=100%', duration: 0.5, delay: .2, ease: "power2.inOut" });
        gsap.to(storiesMenuControls, { y: '100px', opacity: 0, duration: 0.5, delay: 0, ease: "power2.inOut" });
    });

    const resetPosition = () => {
        const body = document.body;

        if (body.classList.contains('leftposition')) {
            body.classList.remove('leftposition');
            body.classList.add('centerposition', 'fromleftposition');
        } else if (body.classList.contains('rightposition')) {
            body.classList.remove('rightposition');
            body.classList.add('centerposition', 'fromrightposition');
        } else {
            setTimeout(() => {
                body.classList.remove('centerposition', 'leftposition', 'rightposition', 'fromleftposition', 'fromrightposition');
                body.classList.add('centerposition');
            }, 1000);
        }

        gsap.to(movableDiv, { x: '-100vw', duration: 1, ease: "power2.inOut" });
        gsap.to(storiesMenu, { y: '0', duration: 0.5, delay: 1, ease: "power2.inOut" });
        gsap.to(storiesMenuControls, { y: '0px', opacity: 1, duration: 0.5, delay: 1.2, ease: "power2.inOut" });
        movableDivWrap.classList.add('has-storiecenter');
    };

    resetPositionButtons.forEach(button => {
        button.addEventListener('click', resetPosition);
    });

    function animateElements() {
        gsap.to(".stories-load", {
            delay: 1,
            y: -window.innerHeight,
            duration: 1.2,
            ease: "expo.out"
        });
    }

    // Initial animation
    animateElements();

    // Re-animate on window resize
    window.addEventListener('resize', function () {
        gsap.killTweensOf('*'); // Kill all current tweens
        animateElements();
    });

    // Inicializa el video
    initvideo();


    const button = document.querySelector('.btn-augmented');
            const modal = document.querySelector('.modal-qr');

            button.addEventListener('click', function() {
                document.body.classList.add('has-modal-qr');
            });

            modal.addEventListener('click', function() {
                document.body.classList.remove('has-modal-qr');
            });


});



</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<script>
    var swiper = new Swiper(".mySwiper", {
        history: {
    replaceState: true,
  },
        direction: "horizontal",
        autoHeight: true,
        slidesPerView: 'auto',
        freeMode: true,
        mousewheel: {
            enabled: false,
            forceToAxis: true,
            sensitivity: 1,
            releaseOnEdges: true,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: false,
            type: "progressbar",
        },
        breakpoints: {
            320: {
                direction: "horizontal",
                slidesPerView: 'auto',
                freeMode: true,
                mousewheel: {
                    enabled: false,
                    forceToAxis: true,
                    sensitivity: 1,
                    releaseOnEdges: true,
                },
            },
            920: {
                slidesPerView: 'auto',
                direction: "vertical",
                freeMode: true,
                mousewheel: {
                    enabled: false,
                    forceToAxis: false,
                    sensitivity: 0,
                    releaseOnEdges: false,
                },
            },
            1700: {
                slidesPerView: 1,
                direction: "vertical",
                freeMode: false,
                mousewheel: {
                    enabled: true,
                    forceToAxis: true,
                    sensitivity: 1,
                    releaseOnEdges: true,
                },
            },
        },
        on: {
            init: function () {
                updateSlideInfo(this.activeIndex);
            },
            slideChange: function () {
                console.log("Slide changed" + this.activeIndex);
                updateSlideInfo(this.activeIndex);
            }
        }
    });
    function updateSlideInfo(activeIndex) {

        var slides = document.querySelectorAll('.swiper-slide');

        var activeSlide = slides[activeIndex];



        var info = activeSlide ? activeSlide.getAttribute('data-info') : "No data-info";


        var price = activeSlide ? activeSlide.getAttribute('data-price') : "No data-price";
 
        var priceDiv = document.getElementById('slide-price');
        var infoDiv = document.getElementById('slide-info');


        infoDiv.innerText = info;
 
   
        priceDiv.innerText = price;
    }
</script>