---
layout: base-clean.njk
---
<!-- Contenido de la plantilla ficha2025.njk -->

<div class="md-ficha-2025">
    
    
        <div class=" row">
            <div class="col title-m ptr-120">
           <div class="ficha-2025-item">
            <button class="btn btn-tertiary">button</button>
            <button class="btn btn-primary">button</button>
           </div>
            </div>
        </div>
</div>
