---
layout: base-clean.njk
---
{% import "_macros/_product.njk" as product %}
<!-- Contenido de la plantilla grid-stories.njk -->


<div class="row">
  <div class="col-xs-12 stories-grid">
    <div class="stories-list">
      <div class="stories-item-1"> 01</div>
      <div class="stories-item-2">
        <div> collection </div>
        <div> 2004</div>
      </div>
      <div class="stories-item-3">
        <div> CREATIVE DIRECTOR: BEN KELWAY STUDIO </div>
        <div> interview </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="stories-grid pt-32">
      <ul class="grid-12 list-clear ">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '09') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','10') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '11') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','12') %} {% endcall %}
        </li>
      </ul>
      <ul class="grid-8 list-clear">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
      </ul>
      <ul class="grid-4 list-clear">
        <li class="">
          {% call product.ratiosimple('3-4', '01') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','02') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '03') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','04') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '05') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','06') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4', '07') %} {% endcall %}
        </li>
        <li class="">
          {% call product.ratiosimple('3-4','08') %} {% endcall %}
        </li>
      </ul>
    </div>
  </div>
</div>