---
layout: base-clean.njk
---
<!-- Contenido de la plantilla cajas.njk -->


<div class="grid-4">
    
        <div class=" checkbox-item-img mb-64">
          <div class="checkbox-item">
            <input id="checkbox_img0" type="checkbox" />
            <label for="checkbox_img0">
              <img class="mb-8" src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg" alt="">
              <i as="label" class="icon">
                <svg-icon src="check-mini" ng-reflect-src="check-mini">
                  <div>
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z" fill="white"></path>
                    </svg>
                  </div>
  
                </svg-icon>
              </i>
              <div class=" checkbox-item-img-text p-16 border-1">
                dhgihfgh
              </div>
            </label>
          </div>
        </div>
    
    
        <div class=" checkbox-item-img mb-64">
          <div class="checkbox-item">
            <input id="checkbox_img" type="checkbox" />
            <label for="checkbox_img">
              <img class="mb-8" src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg" alt="">
              <i as="label" class="icon">
                <svg-icon src="check-mini" ng-reflect-src="check-mini">
                  <div>
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z" fill="white"></path>
                    </svg>
                  </div>
  
                </svg-icon>
              </i>
              <div class=" checkbox-item-img-text p-16 border-1">
                dhgihfgh
              </div>
            </label>
          </div>
        </div>
    
    
        <div class=" checkbox-item-img mb-64">
          <div class="checkbox-item">
            <input id="checkbox_img2" type="checkbox" />
            <label for="checkbox_img2">
              <img class="mb-8" src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg" alt="">
              <i as="label" class="icon">
                <svg-icon src="check-mini" ng-reflect-src="check-mini">
                  <div>
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.05823 0.198273L9.69185 0.801721L3.5417 7.25937L0.308228 3.86422L0.941848 3.26077L3.5417 5.99062L9.05823 0.198273Z" fill="white"></path>
                    </svg>
                  </div>
  
                </svg-icon>
              </i>
              <div class=" checkbox-item-img-text p-16 border-1">
                dhgihfgh
              </div>
            </label>
          </div>
        </div>
</div>