---
layout: base-clean.njk
---
<!-- Contenido de la plantilla header.njk -->
<div class="height-full bg-dark ">
    <header >
        <div class="container-total pr-body pl-body">
            <div class="row  ">
                <div class="col-xs-4 text-left is-flex content-start pt-16">
       
                    <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="14" y2="0.5" stroke="white" style="mix-blend-mode:exclusion"></line>
                        <line y1="9.5" x2="14" y2="9.5" stroke="white" style="mix-blend-mode:exclusion"></line>
                    </svg>
                    <ul class="  list-clear tabs has-light ">
              
                        <li >
                            <a href="/">
                                <div class="is-active">WOMEN </div>
                            </a>
                        </li>
                        <li ><a class="menu-mobile-li" href="/parrillas2"> MEN </a>
                        </li>



                    </ul>
                </div>

                <div class="col-xs-4 text-center">
                    <div class="search-bar  sm:hidden mt-16"> SEARCH</div>
                </div>

                
                <div class="col-xs-4 text-center">
                    <ul class="  list-clear   text-right is-flex  content-end  pt-16">
                        <li class="pr-32"> <a class="" href="/">SIGN IN </a>
                        </li>
                        <li> <a class=" " href="/parrillas2"> BAG </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>