---
layout: base-clean.njk
guides: 0
logoheader: false
---
<!-- Contenido de la plantilla pdp1.njk -->
{% include '_tokens/_templates/token-header2025.njk' %}



<div> 
    <div class="ar-3-4 bg-light mb-32 mt-48">
        <img class="focus:inset" width="100%" src="/assets/static/images/pdp/pdp-1.jpg" alt="Imagen del producto Americana cruzada 100% lino" tabindex="0">
    </div>


    <div class="ar-3-4 bg-light mb-32 m-16">
        <img class="focus:inset" width="100%" src="/assets/static/images/pdp/pdp-2.jpg" alt="Imagen adicional del producto Americana cruzada 100% lino" tabindex="0">
    </div>
    <div class="is-flex flex-column gap-48 pl-body pr-body">
        <div tabindex="0">
            Americana confeccionada en tejido 100% lino. Cuello con solapa de muesca. Cierre cruzado mediante botón lateral.
            Dos bolsillos con solapa. Medio forro interior que aporta mayor ligereza a la prenda.
        </div>
        <div>
            <div class="is-flex content-sp-between pb-8">
                <div tabindex="0">ENVIO A TIENDA</div>
                <div tabindex="0">GRATUITO</div>
            </div>
            <hr>
            <div class="is-flex content-sp-between pt-8 ttu">
                <div tabindex="0">Envío a domicilio <br> (compra superior a 89,00€)</div>
                <div tabindex="0">GRATUITO</div>
            </div>
        </div>
        <div>
            <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu pb-16 btn--full" aria-label="Composición y cuidados, expandir">
                <div class="title-l-l">COMPOSICIÓN Y CUIDADOS</div>
                <div class="title-l-l" aria-hidden="true">+</div>
            </button>

            <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu pb-16 btn--full" aria-label="Envíos, cambios y devoluciones, expandir">
                <div class="title-l-l">Envíos, cambios y devoluciones</div>
                <div class="title-l-l" aria-hidden="true">+</div>
            </button>

            <button tabindex="0" class="btn-link2 is-flex content-sp-between ttu pb-16 btn--full" aria-label="Disponibilidad y reserva en tienda, expandir">
                <div class="title-l-l">Disponibilidad y reserva en tienda</div>
                <div class="title-l-l" aria-hidden="true">+</div>
            </button>
        </div>
    </div>
    <div class="ar-3-4 bg-light m-16">
        <img class="focus:inset" width="100%" src="/assets/static/images/pdp/pdp-3.jpg" alt="Imagen adicional del producto Americana cruzada 100% lino" tabindex="0">
    </div>
    <div class="ar-3-4 bg-light m-16">
        <img class="focus:inset" width="100%" src="/assets/static/images/pdp/pdp-4.jpg" alt="Imagen adicional del producto Americana cruzada 100% lino" tabindex="0">
    </div>

    <div class="is-flex content-sp-between pr-16 pl-16 pb-48">
        <div class="title-l-l" tabindex="0">
            ANTERIOR
        </div>
        <div class="title-l-l" tabindex="0">
            SIGUIENTE
        </div>
    </div>


    <div class=" subinfo-boxstickypdp3 pt-16">
        <div class="is-flex justify-between pr-body pl-body content-sp-between mb-24">
       
            <div>
                <p class="ttu pb-4 title-l-l" aria-label="Americana cruzada cien por ciento lino" tabindex="0">Americana cruzada 100% lino</p>
                <p class="title-l-l" aria-label="Price: 199 euros" tabindex="0">199,00 €</p>
            </div>
            <div>
                <a href="/token-pdp3">
                    <button class="btn-link" aria-label="Ver más detalles" tabindex="0">
                        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                                fill="black" fill-opacity="0.2" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.33268 9.69584L9.99935 14.1504V0.150391H0.666016V14.1504L5.33268 9.69584ZM1.66602 11.8134L5.33268 8.3134L8.99935 11.8134V1.15039H1.66602V11.8134Z"
                                fill="black" fill-opacity="0.2" />
                        </svg>
                    </button>
                </a>
            </div>
        </div>
 
 
    <div class="pr-body pl-body pb-16">
        <div class="is-flex content-sp-between pb-16">
            <div class="title-l-l" tabindex="0">
                COLOR
            </div>
            <div class="title-l-l" tabindex="0">
                Beige | Ref. 6761/201
            </div>
        </div>
        <div class="is-flex gap-16">
            <div class="boxcolorfake-item" aria-label="Color opción 1" tabindex="0"></div>
            <div class="boxcolorfake-item" aria-label="Color opción 2" tabindex="0"></div>
            <div class="boxcolorfake-item" aria-label="Color opción 3" tabindex="0"></div>
            <div class="boxcolorfake-item" aria-label="Color opción 4" tabindex="0"></div>
            <div class="boxcolorfake-item" aria-label="Color opción 5" tabindex="0"></div>
            <div class="boxcolorfake-item" aria-label="Color opción 6" tabindex="0"></div>
        </div>
    </div>



        <div class="is-flex">
            <button class="btn btn-secondary text-m btn--full title-l-l" aria-label="Más información" tabindex="0">
                INFORMACIÓN
            </button>
            <button class="btn btn-primary text-m btn--full title-l-l" aria-label="Añadir a la cesta" tabindex="0">
                AÑADIR A LA CESTA
            </button>
        </div>



</div>

</div>

<div class="grid-2">
    {% include '_tokens/_components/minificha.njk' %}
    {% include '_tokens/_components/minificha.njk' %}
    {% include '_tokens/_components/minificha.njk' %}
    {% include '_tokens/_components/minificha.njk' %}
</div>

<div class="height-sm"></div>

<script>
    window.addEventListener('scroll', function() {
        if (window.scrollY > document.querySelector('.subheader-logo').offsetHeight - 50) {
            document.body.classList.add('has-logomini');
        } else {
            document.body.classList.remove('has-logomini');
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const el = document.querySelector('.subinfo-boxsticky');
        if (!el) return console.warn('No encuentro .subinfo-boxsticky en el DOM');
        const topOffset = el.offsetTop - 48;
        window.addEventListener('scroll', () => {
            if (window.pageYOffset >= topOffset) {
                el.classList.add('is-sticky');
            } else {
                el.classList.remove('is-sticky');
            }
        });
    });
</script>
