---
layout: base-clean.njk
---
<!-- Contenido de la plantilla runway.njk -->
<div class="row text-center mt-32">
    <div class="col-xs-12">
        <div class="title-l mb-12">22 LOOKS</div>
    </div>
    <div class="col-xs-12">
        <div class="title-l mb-24">RUNWAY SS24</div>
    </div>
</div>
<div class="bg-dark height-full ">
    <div class="grid-runway nativescroll min-scrollcustom-x ">
        <div class="inner-nativescroll">


            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sk-load3">
                <div class="p-view">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                                alt="">
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="mt-24 text-l text-center"> SCROLL HORIZONTAL TO VIEW ALL LOOKS</div>
    <div class="container-global pr-body pl-body">
        <div class="row">
        </div>
        <div class="row lgmax:reverse pbr-112 ptr-112  ">
            <div class="col-xs-12  col-sm-4 align-center    ">
                <div class="title-l mb-40 mt-40 ">BUY LOOK 01</div>
            </div>
            <div class="col-xs-12 col-sm-4 ">
                <div><img
                        src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                        alt=""> </div>
            </div>
            <div class="col-xs-12 col-sm-4  align-center has-light">
                <div class="tabs mb-40 mt-20">
                    <ul>
                        <li class="is-active"><span>LOOK</span></li>
                        <li><span>DETAILS</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row lgmax:reverse pbr-112 ptr-112 ">
            <div class="col-xs-12  col-sm-4 align-center   ">
                <div class="title-l mb-40 mt-40 ">BUY LOOK 01</div>
            </div>
            <div class="col-xs-12 col-sm-4 ">
                <div class="row">
                    <div class="col-xs-6 mb-16"> <img
                            src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt=""> </div>
                    <div class="col-xs-6 mb-16"> <img
                            src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt=""> </div>
                    <div class="col-xs-6 mb-16"> <img
                            src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt=""> </div>
                    <div class="col-xs-6 mb-16"> <img
                            src="https://holyguide.es/assets/static/templates/timeline/modelo-andando.jpg "
                            alt=""> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4  align-center has-light">
                <div class="tabs mb-40 mt-20">
                    <ul>
                        <li class="is-active"><span>LOOK</span></li>
                        <li><span>DETAILS</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn--macro is-flex flex-column">
            <div class="mt-20 mb-20">
                <div class="text-m mb-20"> +</div>
                <div class="text-m mb-8"> 22 LOOKS</div>
                <div class="text-m"> RUNWAY</div>
            </div>
        </button>
        <button class="btn btn--macro is-flex flex-column">
            <div class="mt-20 mb-20">
                <div class="text-m mb-20">+</div>
                <div class="text-m mb-8"> 22 LOOKS</div>
                <div class="text-m"> RUNWAY</div>
            </div>
        </button>
        <button class="btn btn--macro is-flex flex-column">
            <div class="mt-20 mb-20">
                <div class="text-m"> RUNWAY</div>
            </div>
        </button>
    </div>
</div>