{% macro ratio(ratio = '', text = '') %}
<product-view class="p-view">
  <div class="charged">
    <div class="card9-wrap">
      <div class="card9">
        {% if ratio == '3-2' %}
        <div class="js-card9-inner rat-3-2">
          {% elif ratio == '3-4' %}
          <div class="js-card9-inner rat-3-4">
            {% else %}
            <div class="js-card9-inner rat-3-4">
              {% endif %}
              <div class="rat-content">
                <div class="relative" style="height: 100%">
                  <product-view-media>
                    <div class="product-view-wrap">
                      <picture>
                        <a class="card9-link" href="/es/camiseta-manga-corta-cuello-contraste-l01419289">
                          <div product-img="" imgfallback="" class="img-poster">
                            <img height="auto" rel="preload" class="card9-image"
                              src="https://static.massimodutti.net/3/photos/2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                              alt="Camiseta manga corta cuello contraste" />
                          </div>
                        </a>
                      </picture>
                    </div>
                  </product-view-media>
                  {% if text == 'no-text' %}
                  {% else %}
                  <product-view-addtocart class="card9-add text-center" 6="">
                    <div class="title-s mb-8 quickly-add-cart">AÑADIR TALLA</div>
                    <product-size-selector class="is-flex content-center"="">
                      <ul class="btn-group product-size-selector list-clear">
                        <li class="product-size-selector__li w-100">
                          <button class="product-size-selector__button title-s">
                            <span>S</span></button>
                          <button class="product-size-selector__button title-s">
                            <span>M</span></button>
                          <button class="product-size-selector__button title-s">
                            <span>L</span></button>
                          <button class="product-size-selector__button title-s">
                            <span>XL</span></button>
                          <button class="product-size-selector__button title-s">
                            <span>XXL</span>
                          </button>
                        </li>
                      </ul>
                    </product-size-selector>
                  </product-view-addtocart>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if text == 'no-text' %}
            {% elif text == 'limited-text' %}
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents">
                  <div class="title-s ttu pb-1">
                    <a class="pointer" href="/es/vestido-corto-negro-mini-escote-l06626769">
                      Producto limited text
                    </a>
                  </div>
                  <product-prices class="title-s">
                    <div class="product-price mb-8 py-1">
                      <formatted-price>
                        <div class="is-flex flex-wrap text-nowrap mb-4">
                          <span class="c-dark-grey c-gray is-through title-s">
                            59,95&nbsp;€ </span>
                          <div>
                            <span class="c-sale title-s-b">
                              <label class="title-s">
                                -35% <label>*</label>
                              </label>
                              39,95&nbsp;€ </span>
                          </div>
                        </div>
                      </formatted-price>
                    </div>
                  </product-prices>
                  <div class="product-view-info"></div>
                  <div class="tag-wrapper"></div>
                </div>
              </div>
            </product-view-details>
            {% else %}
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents ">
                  <div class="is-flex content-sp-between mb-4">
                    <div class="text-m ttu product-title name-width-product has-ellipsis  product-with-colors"><a
                        class="pointer" href="/es/top-crop-halter-rayas-l06879535"> Top crop halter rayas </a></div>
                    <div class="product-view-info"><product-view-color-selector class="color-wrap color-square ">
                        <div class="product-color-selector">
                          <div class="product-color-buttons is-flex flex-vcenter">
                            <button class="product-color-tile" title="CRUDO">
                              <div class="is-flex"><img loading="lazy"
                                  src="https://static.massimodutti.net/3/photos//2023/I/0/1/p/5713/536/800/5713536800_3_1_7.jpg?t=1691062493558&impolicy=massimodutti-itxmediumhigh&imwidth=100&imformat=chrome"
                                  alt="CRUDO"> </div>
                            </button><button aria-label="More colors" class="color-selector title-s"> +1 </button>
                          </div>
                        </div>
                      </product-view-color-selector></div>
                  </div><product-prices class="">
                    <div class="product-price">
                      <formatted-price>
                    
                          <div class="is-flex text-m leading-1 mb-4">
                            <div class="is-through mr-8   c-dark-grey leading-1"> 25,95 € </div> <div class=" mr-8  leading-1 "> 25,95 €
                            </div>
                          </div>
                          <div class="d-price-special text-m mb-4 " style="background-color: rgb(255, 206, 78); color: rgb(0, 0, 0);">
                            <div class="  "><label> -40% <label>*</label></label> 15,95 € </div>
                          </div>
                          <span class="leading-1 text-m" (click)="openSuscriptionJoin(discount.cta)">
                          </span>
                      </formatted-price>
          
                    </div>
                  </product-prices>
                  <div class="product-view-info"></div>
                  <div class="tag-wrapper grid-product-list"> <span class="product-tag title-s pr-8"> ONLINE
                      EXCLUSIVE </span> </div>
                  <div class="is-flex"></div>
                </div>
              </div>
            </product-view-details>
            {% endif %}
          </div>
        </div>
      </div>
</product-view>
{% endmacro %}
{% macro ratiosimple(ratio = '', text = '') %}
<div class="text-m mb-12">{{text}}</div>
<div class="sk-load-34">
  <div class="p-absolute w-100 t-0">
    {% if ratio == '3-2' %}
    <div class="rat-3-2">
      {% elif ratio == '3-4' %}
      <div class="rat-3-4">
        {% else %}
        <div class="rat-3-4">
          {% endif %}
          <div class="rat-content">
            <img height="auto" rel="preload" class="card9-image"
              src="https://static.massimodutti.net/3/photos/2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
              alt="Camiseta manga corta cuello contraste" />
          </div>
        </div>
      </div>
    </div>
    {% endmacro %}
    {% macro productsimple( ) %}
    
    <product-view class="p-view" ng-reflect-place="PRODUCT_GRID" ng-reflect-element-index="1"
      ng-reflect-element-default-image-types="[object Object]">
      <div class="charged">
        <div class="card9-wrap" id="28697776">
          <div class="card9">
            <div class="js-card9-inner rat-3-4" ng-reflect-ng-class="rat-3-4">
              <div class="rat-content">
                <div class="relative" style="height: 100%;">
                  <product-view-media ng-reflect-product="[object Object]" ng-reflect-category="[object Object]"
                    ng-reflect-color="[object Object]" ng-reflect-width="576" ng-reflect-location="category_page"
                    ng-reflect-place="PRODUCT_GRID" ng-reflect-clickable="true" ng-reflect-is-mobile="false"
                    ng-reflect-element-index="1">
                    <div class="product-view-wrap">
                      <picture>
                        <a class="card9-link" href="/es/camiseta-algodon-tirantes-finos-l06894563">
                          <div product-img="" class="img-poster" ng-reflect-color="[object Object]"
                            ng-reflect-location="category_page" ng-reflect-impolicy="massimodutti-itxmediumhigh"
                            ng-reflect-img-class="card9-image" ng-reflect-width="576"
                            ng-reflect-src="https://static.massimodutti.ne"
                            ng-reflect-alt="Camiseta algodón tirantes fino" ng-reflect-hide-water-mark="false"><img
                              imgfallback="" height="auto" rel="preload" class="card9-image"
                              ng-reflect-color="[object Object]" ng-reflect-location="category_page"
                              ng-reflect-impolicy="massimodutti-itxmediumhigh" ng-reflect-width="576" id=""
                              src="https://static.massimodutti.net/3/photos//2023/I/0/1/p/6894/563/250/6894563250_2_6_16.jpg?t=1677663386868&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=700&amp;imformat=chrome"
                              alt="Camiseta algodón tirantes finos">
                          </div>
                          <div class="sk-wrap-2-3" hidden="">
                            <div class="rat-2-3 bg-light">
                              <div class="content"></div>
                            </div>
                          </div>
                        </a>
                      </picture>
                    </div>
                  </product-view-media><product-view-addtocart class="card9-add text-center"
                    ng-reflect-product="[object Object]" ng-reflect-color="[object Object]">
                    <div class="text-l mb-8">AÑADIR TALLA</div><product-size-selector class="is-flex content-center"
                      ng-reflect-sizes="[object Object],[object Object">
                      <ul class="btn-group product-size-selector">
                        <li class="product-size-selector__li w-100"><button
                            class="product-size-selector__button title-l-b"><span>XS</span>
                          </button>
                          <button class="product-size-selector__button title-l-b"><span>S</span>
                          </button>
                          <button class="product-size-selector__button title-l-b"><span>M</span>
                          </button>
                          <button class="product-size-selector__button title-l-b"><span>L</span>
                          </button>
                        </li>
                      </ul>
                    </product-size-selector>
                  </product-view-addtocart>
                </div>
              </div>
            </div><product-view-details class="card9-view-details" ng-reflect-product="[object Object]"
              ng-reflect-category="[object Object]" ng-reflect-price-info="[object Object]"
              ng-reflect-location="category_page" ng-reflect-is-mobile="false" ng-reflect-is-category-new="false">
              <div class="card9-wrap-details">
                <div class="card9-contents pt-16">
                  <div class="is-flex content-sp-between">
                    <div class="title-m ttu product-title name-width-product has-ellipsis mb-2 product-with-colors"><a
                        class="pointer" href="/es/camiseta-algodon-tirantes-finos-l06894563"> Camiseta algodón tirantes
                        finos </a></div>
                    <div class="product-view-info"><product-view-color-selector class="color-wrap color-square"
                        ng-reflect-colors="[object Object],[object Object" ng-reflect-selected-color="[object Object]">
                        <div class="product-color-selector">
                          <div class="product-color-buttons is-flex flex-vcenter"><button class="product-color-tile"
                              title="BLANCO">
                              <div class="is-flex"><img loading="lazy"
                                  src="https://static.massimodutti.net/3/photos//2023/I/0/1/p/6894/563/250/6894563250_3_1_7.jpg?t=1677662881131&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome"
                                  alt="BLANCO"></div>
                            </button><button aria-label="More colors" class="color-selector title-s"> +1 </button>
                          </div>
                        </div>
                      </product-view-color-selector></div>
                  </div><product-prices class="text-l" ng-reflect-product-prices="[object Object]"
                    ng-reflect-has-promotion="true" ng-reflect-show-prices-in-flex-mode="true"
                    ng-reflect-prices-in-two-columns="true" ng-reflect-alternative-prices-class="title-m ttu">
                    <div class="product-price">
                      <formatted-price>
                    
                        <div class="is-flex text-m leading-1 mb-4">
                          <div class="is-through mr-8   c-dark-grey leading-1"> 25,95 € </div> <div class=" mr-8  leading-1 "> 25,95 €
                          </div>
                        </div>
                        <div class="d-price-special text-m mb-4 " style="background-color: rgb(255, 206, 78); color: rgb(0, 0, 0);">
                          <div class="  "><label> -40% <label>*</label></label> 15,95 € </div>
                        </div>
                        <div class="leading-1 text-m" (click)="openSuscriptionJoin(discount.cta)">
                        </div>
                    </formatted-price>
                    </div>
                  </product-prices>
                  <div class="product-view-info"> </div>
                  <div class="tag-wrapper grid-product-list mt-4">
                    <span class="product-tag title-s pr-8"> ONLINE EXCLUSIVE </span>
                  </div>
                  <div class="is-flex">
                  </div>
                </div>
              </div>
            </product-view-details>
          </div>
        </div>
      </div>
    </product-view>
    {% endmacro %}