{% macro token(tokenType = '', explicacion = '', dark = '') %}
  <h3>{{ tokenType }}</h3>
  <p class="title-m">{{ explicacion }}</p>
  <div class="resize-mini">
    <div class="resize-mini-content-narrow {{dark  }} ">
      {% include '_tokens/_components/' + tokenType + '.njk' %}
    </div>
  </div>
  {% set standardcode %}
  {% include '_tokens/_components/' + tokenType + '.njk' %}
  {% endset %}
  <pre><code class=" ">{{standardcode }} </code></pre>
{% endmacro %}



{% macro swiperSlide(videoSrc, slideData, slidePrice, viewImgMini) %}
<div class="swiper-slide"      data-info="{{ slideData }} "  data-price="{{ slidePrice }} " data-miniImg="{{ viewImgMini }} "  >
    <video class="video-cover"

     src="{{ videoSrc }}" 
     
     autoplay muted videoinline loop></video>


</div>
{% endmacro %}

{% macro videoCard(title, videoSrc) %}
<div class="ar-9-16 o-hidden p-relative">
    <div id="moveCenter" class="js-resetPosition stories-text text-16-r">{{ title }}</div>
    <video class="video-cover"
        src="{{ videoSrc }}"
        autoplay muted videoinline loop></video>
</div>
{% endmacro %}