:root {
  --hg-font-family-primary-bold: "dutti-daily-regular";
}
body.hg-footer-in-view .hg-home-nav-btn {
  opacity: 0;
  pointer-events: none;
}
body.hg-footer-in-view #hg-home-row-cols .hg-home-row-cols__col {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
body.hg-footer-in-view #hg-home-row-cols .hg-home-row-cols__col.is-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.hg-footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hg-footer-details {
  width: 100%;
}
.hg-footer-details-summary {
  cursor: pointer;
}
.hg-footer-details-panel {
  margin-left: -20px;
  margin-right: -20px;
  transition: height 0.3s ease-out;
  display: flex;
  justify-content: space-around;
}
.hg-footer-details .hg-footer-details-panel {
  height: 0;
  overflow: auto;
}
.hg-footer-details.is-open .hg-footer-details-panel {
  height: 38px;
}
.hg-footer-details.is-open .hg-footer-details-summary {
  color: var(--hg-color-primary);
  font-family: var(--hg-font-family-primary-bold, "arial");
}
.hg-footer:has(.hg-footer-details.is-open)
  .hg-footer-details:not(.is-open)
  .hg-footer-details-summary,
.hg-footer:has(.hg-footer-details.is-open) .hg-footer-app-label {
  color: var(--hg-color-dark-grey);
}
.hg-footer-logo svg {
  width: 197px;
  height: auto;
}
.hg-horizontal-list .hg-footer-language-list-item {
  color: var(--hg-color-dark-grey);
}
.hg-footer-language-list .is-active .hg-footer-language-list-item {
  color: var(--hg-color-primary) !important;
}
