{% import "_insert.html" as insert %}

{% macro simple(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> <span class="bold mr-8">   .btn-{{buttonName }}  </span>   {{ explicacion | capitalize }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button class=" btn-{{buttonName }} btn btn--full"> Enabled</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button class=" btn-{{buttonName }} btn btn--full hover">Hover</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button disabled class=" btn-{{buttonName }} btn btn--full">Disabled</button>

        </div>

      </div>
    </div>

  </div> {% set standardcode %}<button class='btn btn-{{buttonName }} btn--full'>btn-{{buttonName }} </button>{% endset %}

  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>


</div>
 {% endmacro %}

 


{% macro animation(buttonName='', explicacion='',dark='') %} <h3>{{ buttonName | capitalize }} </h3>
<p class="p4"> <span class="bold mr-8"> .btn-{{buttonName }} </span> {{ explicacion | capitalize }} </p>
<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button  class="btn  btn-primary btn--full btn-anim  ">
            <span class="btn-submit  ">
    {{buttonName }}
            </span>
            <span class="btn-loading">
              <svg-icon>
                <div> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.88724 1.96002C6.73363 1.62705 7.62672 1.47473 8.51612 1.50341C9.29365 1.52848 10.0674 1.69186 10.8037 1.99276C11.7628 2.3847 12.6172 2.99307 13.3131 3.76374C13.7625 4.26144 14.1459 4.82691 14.449 5.44586L13.551 5.88574C13.2885 5.34981 12.9574 4.86196 12.5709 4.43391C11.9723 3.77107 11.2412 3.25181 10.4254 2.91845C9.79919 2.66253 9.14263 2.52413 8.48388 2.50289C7.73045 2.47859 6.97291 2.60751 6.25333 2.8906C5.65441 3.12622 5.09961 3.46164 4.60769 3.88064C4.07918 4.3308 3.62326 4.87746 3.26384 5.5L6.16621 5.5V6.5L1.5 6.5L1.5 1.61775L2.5 1.61775L2.5 4.82843C2.89898 4.17871 3.39211 3.60243 3.95926 3.11936C4.53323 2.63048 5.18301 2.23707 5.88724 1.96002Z" fill="#292929"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1128 14.04C9.33084 14.3476 8.50902 14.501 7.68702 14.5C6.84141 14.4989 5.99675 14.3344 5.19628 14.0072C4.52307 13.7321 3.90138 13.3503 3.34993 12.8806C2.60851 12.2491 1.99405 11.4587 1.55097 10.5541L2.44903 10.1143C2.8327 10.8976 3.36285 11.5781 3.99836 12.1194C4.47098 12.5219 5.00187 12.8475 5.57456 13.0816C6.25531 13.3597 6.97194 13.4991 7.68829 13.5C8.38466 13.5009 9.08184 13.3709 9.74667 13.1094C10.4544 12.831 11.1005 12.4132 11.6541 11.8828C12.0723 11.4821 12.4375 11.0173 12.7362 10.5H9.83379V9.5H14.5V14.3822H13.5V11.1716C13.1744 11.7018 12.786 12.1832 12.3459 12.6049C11.7011 13.2227 10.945 13.7126 10.1128 14.04Z" fill="#292929"/>
                  </svg>
                   </div>
              </svg-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div> {% set standardcode %} <button  class="btn  btn-primary btn--full btn-anim  ">
    <span class="btn-submit  ">
{{buttonName }}
    </span>
    <span class="btn-loading">
      <svg-icon>
        <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg> </div>
      </svg-icon>
    </span>
  </button>
  {% endset %}
  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>
</div> {% endmacro %}




{% macro animationsvg(buttonName='', explicacion='',dark='') %} <h3>{{ buttonName | capitalize }} </h3>
<p class="p4"> <span class="bold mr-8"> .btn-{{buttonName }} </span> {{ explicacion | capitalize }} </p>
<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button  class="btn  btn-primary btn--full btn-anim  ">
            <span class="btn-submit has-ico-center ">
  Submit
            </span>
            <span class="btn-loading">
              <svg-icon>
                <div> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.88724 1.96002C6.73363 1.62705 7.62672 1.47473 8.51612 1.50341C9.29365 1.52848 10.0674 1.69186 10.8037 1.99276C11.7628 2.3847 12.6172 2.99307 13.3131 3.76374C13.7625 4.26144 14.1459 4.82691 14.449 5.44586L13.551 5.88574C13.2885 5.34981 12.9574 4.86196 12.5709 4.43391C11.9723 3.77107 11.2412 3.25181 10.4254 2.91845C9.79919 2.66253 9.14263 2.52413 8.48388 2.50289C7.73045 2.47859 6.97291 2.60751 6.25333 2.8906C5.65441 3.12622 5.09961 3.46164 4.60769 3.88064C4.07918 4.3308 3.62326 4.87746 3.26384 5.5L6.16621 5.5V6.5L1.5 6.5L1.5 1.61775L2.5 1.61775L2.5 4.82843C2.89898 4.17871 3.39211 3.60243 3.95926 3.11936C4.53323 2.63048 5.18301 2.23707 5.88724 1.96002Z" fill="#292929"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1128 14.04C9.33084 14.3476 8.50902 14.501 7.68702 14.5C6.84141 14.4989 5.99675 14.3344 5.19628 14.0072C4.52307 13.7321 3.90138 13.3503 3.34993 12.8806C2.60851 12.2491 1.99405 11.4587 1.55097 10.5541L2.44903 10.1143C2.8327 10.8976 3.36285 11.5781 3.99836 12.1194C4.47098 12.5219 5.00187 12.8475 5.57456 13.0816C6.25531 13.3597 6.97194 13.4991 7.68829 13.5C8.38466 13.5009 9.08184 13.3709 9.74667 13.1094C10.4544 12.831 11.1005 12.4132 11.6541 11.8828C12.0723 11.4821 12.4375 11.0173 12.7362 10.5H9.83379V9.5H14.5V14.3822H13.5V11.1716C13.1744 11.7018 12.786 12.1832 12.3459 12.6049C11.7011 13.2227 10.945 13.7126 10.1128 14.04Z" fill="#292929"/>
                  </svg>
                   </div>
              </svg-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div> {% set standardcode %}<button id='btnAddToCart'
    class='btn  btn-primary btn--full btn-anim  '>
    <span class='btn-submit has-ico-center '>
      <svg-icon>
        <div>
          <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg>
        </div>
      </svg-icon> Submit
    </span>
    <span class='btn-loading'>
      <svg-icon>
        <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg> </div>
      </svg-icon>
    </span>
  </button>{% endset %}
  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>
</div> {% endmacro %}
 








 {% macro svg(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> btn-{{buttonName }} : {{ explicacion }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <button class=" {{buttonName }} btn  btn--small">
      <svg-icon class="{% if buttonName=='has-ico-pre btn-primary' %} ico-pre {% else %}  ico-post {% endif %}">
        <div>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                    fill="#292929" />
            </svg>
        </div>
      </svg-icon>
      .btn .{{buttonName }}</button>
  </div> {% set standardcode %}<button class='btn {{buttonName }}'>
    <svg-icon class="{% if buttonName=='has-ico-pre' %}ico-pre{% else %}ico-post{% endif %}">
      <div>
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                  fill="#292929" />
          </svg>
      </div>
    </svg-icon>    
    btn-{{buttonName }} </button>{% endset %}
  <pre><code class="language-markup">{{standardcode}} </code></pre>



</div>
 {% endmacro %}

 {% macro iconClear(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> {{buttonName }} : {{ explicacion }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <button class=" btn {{buttonName}}">
      <svg-icon class="">
        <div>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                    fill="#292929" />
            </svg>
        </div>
      </svg-icon>
    </button>
  </div> {% set standardcode %}<button class='btn {{buttonName }}'>
    <svg-icon class="">
      <div>
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                  fill="#292929" />
          </svg>
      </div>
    </svg-icon>
  </button>{% endset %}
  <pre><code class="language-markup">{{standardcode}} </code></pre>



</div>
 {% endmacro %}




 {% macro social(buttonName='', svgsolo='', explicacion='', placeholder='',dark='')  %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> btn-{{buttonName }} : {{ explicacion }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <button class=" {{buttonName }} btn-social  btn--medium">
      <svg-icon >
        <div>
          {{ svgsolo  | safe }}
        </div>
      </svg-icon>
  {{placeholder }}    </button>
  </div> {% set standardcode %}<button class=' {{buttonName }} btn-social  btn--medium'>
    <svg-icon class=" ">
      <div>
        {{ svgsolo  | safe }}
      </div>
    </svg-icon>    
    btn-{{buttonName }} </button>{% endset %}
  <pre><code class="language-markup">{{standardcode}} </code></pre>



</div>
 {% endmacro %}



 {% macro btnDistribution(buttonName='', explicacion='',dark='') %} 
 <h3>{{ buttonName | capitalize }} </h3>
 


 <p class="p4"> btn-{{buttonName }} : {{ explicacion }} </p>
 
 {% if buttonName == 'btn-separate'%}
 <div class="resize-mini">
   <div class="resize-mini-content {{dark  }} ">
        <button class="btn btn-primary btn--medium {{buttonName }}">
          <span>{{buttonName }}</span>
          {% call insert.svgIcon() %} {% endcall %}
      </button>
  



   </div> {% set standardcode %}<button class="btn btn-primary btn--medium {{buttonName }}">
    <span>{{buttonName }}</span>
    <svg-icon src="YOUR_ICON"></svg-icon>
</button>
{% endset %}
   <pre><code class="language-markup">{{standardcode}} </code></pre>
 </div>

 {% endif %}
 
 {% if buttonName == 'btn-world'%}
 <div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">


  <button class="btn btn--large btn-world">
    <div class="btn-world-left">
      {% call insert.svgIconname('globe') %} {% endcall %} 
    </div>
    <div class="btn-world-center"> HONG KONG SAR | 香港特別行政區香港特別行政區 (English)</div>
    <div class="btn-world-right">
      {% call insert.svgIconname('arrow-right') %} {% endcall %} 
    </div>
  </button>



  </div> 
  
  {% set standardcode %}
  

  <button class="btn btn--large btn-world">
    <div class="btn-world-left">
      <svg-icon src="YOUR_ICON"></svg-icon>
    </div>
    <div class="btn-world-center"> HONG KONG SAR | 香港特別行政區香港特別行政區 (English)</div>
    <div class="btn-world-right">
      <svg-icon src="YOUR_ICON"></svg-icon>
    </div>
  </button>

  {% endset %}



  <pre><code class="language-markup">{{standardcode}} </code></pre>
</div>
 {% endif %}

 

  {% endmacro %}




  {% macro square(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> <span class="bold mr-8">   .btn--{{buttonName }}  </span>   {{ explicacion | capitalize }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button class=" btn--{{buttonName }} btn btn--full"> Enabled</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button class=" btn--{{buttonName }} btn btn--full hover">Hover</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button disabled class=" btn--{{buttonName }} btn btn--full">Disabled</button>

        </div>

      </div>
    </div>

  </div> {% set standardcode %}<button class='btn btn--{{buttonName }} btn--full'>btn--{{buttonName }} </button>{% endset %}

  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>


</div>
 {% endmacro %}
