{% macro simple(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> <span class="bold mr-8">   .btn-{{buttonName }}  </span>   {{ explicacion | capitalize }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button class=" btn-{{buttonName }} btn btn--full"> Enabled</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button class=" btn-{{buttonName }} btn btn--full hover">Hover</button>

        </div>
        <div class="col-xs-12 mb-16">
          <button disabled class=" btn-{{buttonName }} btn btn--full">Disabled</button>

        </div>

      </div>
    </div>

  </div> {% set standardcode %}<button class='btn btn-{{buttonName }} btn-full'>btn-{{buttonName }} </button>{% endset %}

  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>


</div>
 {% endmacro %}


{% macro animation(buttonName='', explicacion='',dark='') %} <h3>{{ buttonName | capitalize }} </h3>
<p class="p4"> <span class="bold mr-8"> .btn-{{buttonName }} </span> {{ explicacion | capitalize }} </p>
<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button  class="btn  btn-primary btn--full btn-anim  ">
            <span class="btn-submit  ">
    {{buttonName }}
            </span>
            <span class="btn-loading">
              <svg-icon>
                <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
                    <g transform='translate(0, 0)'>
                      <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
                    </g>
                  </svg> </div>
              </svg-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div> {% set standardcode %} <button  class="btn  btn-primary btn--full btn-anim  ">
    <span class="btn-submit  ">
{{buttonName }}
    </span>
    <span class="btn-loading">
      <svg-icon>
        <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg> </div>
      </svg-icon>
    </span>
  </button>
  {% endset %}
  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>
</div> {% endmacro %}




{% macro animationsvg(buttonName='', explicacion='',dark='') %} <h3>{{ buttonName | capitalize }} </h3>
<p class="p4"> <span class="bold mr-8"> .btn-{{buttonName }} </span> {{ explicacion | capitalize }} </p>
<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <div class="container-6">
      <div class="row">
        <div class="col-xs-12 mb-16">
          <button  class="btn  btn-primary btn--full btn-anim  ">
            <span class="btn-submit has-ico-center ">
  Submit
            </span>
            <span class="btn-loading">
              <svg-icon>
                <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
                    <g transform='translate(0, 0)'>
                      <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
                    </g>
                  </svg> </div>
              </svg-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div> {% set standardcode %}<button id='btnAddToCart'
    class='btn  btn-primary btn--full btn-anim  '>
    <span class='btn-submit has-ico-center '>
      <svg-icon>
        <div>
          <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg>
        </div>
      </svg-icon> Submit
    </span>
    <span class='btn-loading'>
      <svg-icon>
        <div> <svg width='16px' height='16px' viewBox='0 0 16 16'>
            <g transform='translate(0, 0)'>
              <circle fill='none' stroke='#ffffff' cx='8' cy='8' r='6'> </circle>
            </g>
          </svg> </div>
      </svg-icon>
    </span>
  </button>{% endset %}
  <pre><button class="btn btncode" data-clipboard-target="#{{buttonName}}"><img src="./images/clippy.svg" width="13" alt="Copy to clipboard"> </button ><code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}   </code></pre>
</div> {% endmacro %}
 








 {% macro svg(buttonName='', explicacion='',dark='') %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> btn-{{buttonName }} : {{ explicacion }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <button class=" {{buttonName }} btn  btn--small">
      <svg-icon class="{% if buttonName=='has-ico-pre' %} ico-pre {% else %}  ico-post {% endif %}">
        <div>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                    fill="#292929" />
            </svg>
        </div>
      </svg-icon>
      .btn .{{buttonName }}</button>
  </div> {% set standardcode %}<button class='btn {{buttonName }}'>
    <svg-icon class="{% if buttonName=='has-ico-pre' %}ico-pre{% else %}ico-post{% endif %}">
      <div>
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.86667 2.31885C2.67809 2.31885 2.50554 2.42496 2.42045 2.59326L0.553788 6.28557C0.463354 6.46445 0.488486 6.68005 0.617642 6.83333L7.61764 15.141C7.71264 15.2538 7.85257 15.3188 8.00001 15.3188C8.14744 15.3188 8.28737 15.2538 8.38237 15.141L15.3824 6.83333C15.5115 6.68005 15.5367 6.46445 15.4462 6.28557L13.5796 2.59326C13.4945 2.42496 13.3219 2.31885 13.1333 2.31885H2.86667ZM1.59536 6.44175L3.17416 3.31885H12.8259L14.4047 6.44175L8.00001 14.0429L1.59536 6.44175ZM5 6.31885C4.72386 6.31885 4.5 6.54271 4.5 6.81885C4.5 7.09499 4.72386 7.31885 5 7.31885L11 7.31885C11.2761 7.31885 11.5 7.09499 11.5 6.81885C11.5 6.54271 11.2761 6.31885 11 6.31885L5 6.31885Z"
                  fill="#292929" />
          </svg>
      </div>
    </svg-icon>    
    btn-{{buttonName }} </button>{% endset %}
  <pre><code class="language-markup">{{standardcode}} </code></pre>



</div>
 {% endmacro %}




 {% macro social(buttonName='', svgsolo='', explicacion='', placeholder='',dark='')  %} 
<h3>{{ buttonName | capitalize }} </h3>

<p class="p4"> btn-{{buttonName }} : {{ explicacion }} </p>

<div class="resize-mini">
  <div class="resize-mini-content {{dark  }} ">
    <button class=" {{buttonName }} btn-social  btn--medium">
      <svg-icon >
        <div>
          {{ svgsolo  | safe }}
        </div>
      </svg-icon>
  {{placeholder }}    </button>
  </div> {% set standardcode %}<button class=' {{buttonName }} btn-social  btn--medium'>
    <svg-icon class=" ">
      <div>
        {{ svgsolo  | safe }}
      </div>
    </svg-icon>    
    btn-{{buttonName }} </button>{% endset %}
  <pre><code class="language-markup">{{standardcode}} </code></pre>



</div>
 {% endmacro %}