{% macro figma(url='') %} 



<iframe height="450" width="100%" src="https://www.figma.com/embed?embed_host=share&amp;&url={{ url }}
    " allowfullscreen>
</iframe> {% endmacro %} 




{% macro component(component='',size='',componentfigma="") %} <section class="mb-32 mt-32">
  <div class="resize-container">
    <div class="resize-bar">
      <div class="resize-name">
        <div class="text-14-2b"> {{ component | capitalize  }} </div>
      </div>
      <div class="resize-code">
        <div class=" seecode text-12-r"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>window-dev</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1.5" transform="translate(0.5 0.5)" fill="#000000" stroke="#000000"><polyline fill="none" stroke-miterlimit="10" points=" 8,12 6,14 8,16 "></polyline> <polyline fill="none" stroke-miterlimit="10" points=" 16,12 18,14 16,16 "></polyline> <line fill="none" stroke-miterlimit="10" x1="11" y1="18" x2="13" y2="10"></line> <rect x="1" y="2" fill="none" stroke="#000000" stroke-miterlimit="10" width="22" height="20"></rect> <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="1" y1="6" x2="23" y2="6"></line> <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="6" y1="2" x2="6" y2="6"></line></g></svg> </div>
      </div>
      <div class="resize-snip">
        <a href=" {{ componentfigma }}"> <img width="18px" src="../images/figma.png" alt=""> </a>
      </div>
      <div class="resize-snip">
        <a class="text-12-r" target="_blank" href="molecules/_{{ component }}.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>open-in-browser</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1.5" transform="translate(0.5 0.5)" fill="#000000" stroke="#000000"><line x1="12" y1="23" x2="12" y2="10" fill="none" stroke-miterlimit="10" stroke-linecap="butt"></line><polyline points="16 14 12 10 8 14" fill="none" stroke-miterlimit="10"></polyline><path d="M4,17H3a2,2,0,0,1-2-2V3A2,2,0,0,1,3,1H21a2,2,0,0,1,2,2V15a2,2,0,0,1-2,2H20" fill="none" stroke="#000000" stroke-miterlimit="10"></path><line x1="1" y1="5" x2="23" y2="5" fill="none" stroke="#000000" stroke-miterlimit="10"></line></g></svg> </a>
      </div>
    </div>
    <div class="viewcode">
      <pre><code class="language-markup">
  {% set standardcode %}
  {% include component+'.html' %}  {# esto si funciona #}
   {% endset %}{{standardcode}}
</code></pre>
    </div>
    <div class="resize ">
      <div class="resize-media"></div>
      <div class="resize-resolution"></div>
      <div class="resize-left"> </div>
      <div class="resize-right"> </div>
      <iframe id="cover1" class="resizable" src="molecules/_{{ component }}.html" width="100%" height="{{ size }}"
        frameborder="0" seamless></iframe>
    </div>
  </div>
</section> {% endmacro %} 



{% macro code(code='') %} <div class="guidepre">
  <pre>
      <code class="language-html">
      variables -->   {{code}}
        {% set standardcode %}
         {% include code+'' %}  {# esto si funciona #}
          {% endset %}
    standard -->   {{standardcode}}
         </code>
     </pre>
</div> {% endmacro %}