{% macro productCard( promotion='', outOfStock='', classes='') %}
<item-product-cart class="{{ classes }}">
    <div class="item-mini-cart mb-32  ">
        <div class="row {% if outOfStock=='outOfStock' %}type-inactive{% endif%}">
            <div class="col-xs-3 col-sm-2"><img class="img-responsive"
                    src="/images/1.jpeg">
            </div>
            <div class="col-xs-9 col-sm-10 is-flex content-sp-between flex-column">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="p-14 item-name">Zapato tacón piel negro pulsera</div>
                        <div class="p-xs c-gray"> Ref. <span>1412/950/800</span>
                        </div>
                        <div class="color-wrap">
                            <div class="align-middle">
                                <div class="product-color-selector is-flex"><button>
                                        <div class="color-selector"><img
                                                src="">
                                        </div>
                                    </button></div>
                                <div class="p-xs">Negro</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 product-price">
                        <shop-cart-price">
                            {% if promotion=='promotion' %}
                            <div class="row text-right">
                                <div class="col-xs-12">
                                    <span class="p-14 is-through c-gray"> 89,95&nbsp;€ </span>
                                </div>
                            </div>
                            <div class="row text-right future-price">
                                <div class="col-xs-12">
                                    <span class="p-14-b">
                                        59,95&nbsp;€ </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="row text-right">
                                <div class="col-xs-12">
                                    <span class="p-14"> 89,95&nbsp;€ </span>
                                </div>
                            </div>
                            {% endif %}
                            </shop-cart-price>
                    </div>
                </div>
                <div class="row content-sp-between m-0">
                    <div class="align-middle">
                        <div class="align-middle">
                            <div class="p-xs mr-8 align-middle">Cantidad</div>
                            <app-select-ui>
                                <div class="select select-box"><select name=""
                                        id="630d4db1-b9e9-458f-acc8-d9ba66d44df2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select></div>
                            </app-select-ui>
                        </div>
                        <div class="ml-16 align-middle">
                            <div class="p-xs mr-8 align-middle">Talla</div>
                            <app-select-ui>
                                <div class="select select-box"><select name=""
                                        id="7bda5deb-ffdc-4712-9cac-f9b5362017a7">
                                        <option value="10934498">35</option>
                                        <option value="10934499">36</option>
                                        <option value="10934500">37</option>
                                    </select></div>
                            </app-select-ui>
                        </div>
                    </div>
                    <div class="">
                        <div class="is-flex content-end">
                            <button class="btn btn--icon btn-phantom state-changing"
                                title="Agregar a la lista de deseos" id="addItemWishlist">
                                <svg-icon ng-reflect-src="bookmark">
                                    <div><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 1H3V15L8 11L13 15V1Z" stroke="black" stroke-linejoin="round">
                                            </path>
                                        </svg></div>
                                </svg-icon>
                            </button>
                            <button class="btn btn--icon btn-phantom" title="Eliminar" id="deleteItemShopcart">
                                <svg-icon>
                                    <div><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5 3.65217V1H11V3.65217M5 7V13M8 7V13M11 7V13M2 7.08696V13.1739C2 13.7826 2.36 15 3.8 15H12.2C12.8 15 14 14.6348 14 13.1739V7.08696V5H2V7.08696Z"
                                                stroke="black"></path>
                                        </svg></div>
                                </svg-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if outOfStock=="outOfStock" %}
        <div class="row">
            <div class="ITEM-NO-DISPONIBLE">
                <span class="ml-8 p-14 link7">Ver disponibilidad en tienda</span>
            </div>
        </div>
        {% endif %}

    </div>
</item-product-cart>

{% endmacro %}

{% macro productCardCustom( promotion='', outOfStock='', classes='') %}

<item-product-cart class="{{ classes }}">
    <div class="item-mini-cart mb-32  ">
        <div class="row {% if outOfStock=='outOfStock' %}type-inactive{% endif%}">
            <div class="col-xs-3 col-sm-2"><img class="img-responsive"
                    src="/images/2.jpeg">
            </div>
            <div class="col-xs-9 col-sm-10 is-flex content-sp-between flex-column">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="p-14 item-name">Zapato tacón piel negro pulsera</div>
                        <div class="p-xs c-gray"> Ref. <span>1412/950/800</span>
                        </div>
                        <div class="color-wrap">
                            <div class="align-middle">
                                <div class="product-color-selector is-flex"><button>
                                        <div class="color-selector"><img
                                                src="">
                                        </div>
                                    </button></div>
                                <div class="p-xs">Negro</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 product-price">
                        <shop-cart-price">
                            {% if promotion=='promotion' %}
                            <div class="row text-right">
                                <div class="col-xs-12">
                                    <span class="p-14 is-through c-gray"> 89,95&nbsp;€ </span>
                                </div>
                            </div>
                            <div class="row text-right future-price">
                                <div class="col-xs-12">
                                    <span class="p-14-b">
                                        59,95&nbsp;€ </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="row text-right">
                                <div class="col-xs-12">
                                    <span class="p-14"> 89,95&nbsp;€ </span>
                                </div>
                            </div>
                            {% endif %}
                            </shop-cart-price>
                    </div>
                </div>
                <div class="row content-sp-between m-0">
                    <div class="align-middle">
                        <div class="align-middle">
                            <div class="p-xs mr-8 align-middle">Cantidad</div>
                            <app-select-ui>
                                <div class="select select-box"><select name=""
                                        id="630d4db1-b9e9-458f-acc8-d9ba66d44df2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select></div>
                            </app-select-ui>
                        </div>
                        <div class="ml-16 align-middle">
                            <div class="p-xs mr-8 align-middle">Talla</div>
                            <app-select-ui>
                                <div class="select select-box"><select name=""
                                        id="7bda5deb-ffdc-4712-9cac-f9b5362017a7">
                                        <option value="10934498">35</option>
                                        <option value="10934499">36</option>
                                        <option value="10934500">37</option>
                                    </select></div>
                            </app-select-ui>
                        </div>
                    </div>
                    <div class="">
                        <div class="is-flex content-end">
                            <button class="btn btn--icon btn-phantom state-changing"
                                title="Agregar a la lista de deseos" id="addItemWishlist">
                                <svg-icon ng-reflect-src="bookmark">
                                    <div><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 1H3V15L8 11L13 15V1Z" stroke="black" stroke-linejoin="round">
                                            </path>
                                        </svg></div>
                                </svg-icon>
                            </button>
                            <button class="btn btn--icon btn-phantom" title="Eliminar" id="deleteItemShopcart">
                                <svg-icon>
                                    <div><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5 3.65217V1H11V3.65217M5 7V13M8 7V13M11 7V13M2 7.08696V13.1739C2 13.7826 2.36 15 3.8 15H12.2C12.8 15 14 14.6348 14 13.1739V7.08696V5H2V7.08696Z"
                                                stroke="black"></path>
                                        </svg></div>
                                </svg-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mt-20 p-xs">
                            <div class="p-xs">Customised</div>
                            <div class="text-faded">
                                <div>Iniciales: MD</div>
                                <div>Posición: Outside </div>
                                <div>Fuente: Miller </div>
                                <div>Color: Oro </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if outOfStock=="outOfStock" %}
        <div class="row">
            <div class="ITEM-NO-DISPONIBLE">
                <span class="ml-8 p-14 link7">Ver disponibilidad en tienda</span>
            </div>
        </div>
        {% endif %}

    </div>
</item-product-cart>

{% endmacro %}