

{% macro key(descripcion='', x='',y='', z='', w='') %}
{% if descripcion %} 


<div class="tit-s mb-16 mt-16"> {{ descripcion }} </div> {% endif %}
<div class="key-wrap">
{% if x %}<div class="key"> {{ x }}</div> {% endif %} 
{% if y %}<div class="key-plus"> +</div> <div class="key"> {{ y }}</div> {% endif %} 
{% if z %}<div class="key-plus"> + </div> <div class="key"> {{ z }}</div> {% endif %} 
{% if w %}<div class="key-plus"> + </div> <div class="key"> {{ w }}</div> {% endif %} 
</div>
{% endmacro %}





{% macro titledoc(titulo='', descripción='',actualizado='') %}
<div class="row ">
    <div class="col-xs-12  has-light">
        <div class="hero">
            <div class="hero-bg">
                <video autoplay="" loop="" muted="" id="myVideo" class="video" preload="true" playsinline="">
                    <source src="/images/bg.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="guide-header flex-column">
            <div class="head-m"> {{ titulo }}</div>
            <div class=" p-xs"> {{ actualizado }} </div>
            <div class=" text-14-r"> {{ descripcion }} </div>
        </div>
    </div>
</div> 

{% endmacro %}

