---
layout: base.njk
---

<div class="container-fluid">
    
    {% include '_website/hero.njk' %}</div>

<div class="main-content  innermarkdown">

      


          {{ content | safe }}





    
</div>

<div class="resize-container">
    
    <div class="container p-16 bg-dark align-center mb-16">CONTAINER    (1440 px )</div>
    
    <div class="container-11 p-16 bg-dark align-center mb-16">CONTAINER-11 (1080px)</div>
    <div class="container-12 p-16 bg-dark align-center mb-16">CONTAINER-12 (1080px)</div>
    <div class="container-5 p-16 bg-dark align-center mb-16">CONTAINER-5 (1000px)</div>
    <div class="container-3 p-16 bg-dark align-center mb-16">CONTAINER-3 (900px )</div>
    <div class="container-9 p-16 bg-dark align-center mb-16">CONTAINER-9 (798px)</div>

    <div class="container-2 p-16 bg-dark align-center mb-16">CONTAINER-2 ( 700px )</div>
    <div class="container-7 p-16 bg-dark align-center mb-16">CONTAINER-7   (595px)</div>


    <div class="container-6 p-16 bg-dark align-center mb-16">CONTAINER-6 (442px)</div>

    <div class="container-8 p-16 bg-dark align-center mb-16">CONTAINER-8 (395px)  </div>
    <div class="container-4 p-16 bg-dark align-center mb-16">CONTAINER-4 ( 360px )</div>

    <div class="container-10 p-16 bg-dark align-center mb-16">CONTAINER-10 (200px)</div>


</div>
