---
layout: base.njk
---
{% import "_macros/_insert.njk" as insert %}
<div class="container-fluid">{% include '_website/hero.njk' %}</div>
<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content innermarkdown">
        <h2>Margin </h2>

        <h5>Margin Global</h5>

          <div class="is-flex w-100 content-sp-between mb-48">
          {% call insert.spacer('','m-8') %}{% endcall %}
          {% call insert.spacer('','m-16') %}{% endcall %}
          {% call insert.spacer('','m-24') %}{% endcall %}
          {% call insert.spacer('','m-32') %}{% endcall %}
          {% call insert.spacer('','m-40') %}{% endcall %}
          {% call insert.spacer('','m-48') %}{% endcall %}
        </div>
 


        <h5>Margin Unitario</h5>

          <div class="is-flex w-100 content-sp-between mb-48">
          {% call insert.spacer('top','mt-16') %}{% endcall %}
          {% call insert.spacer('right','mr-16') %}{% endcall %}
          {% call insert.spacer('left','ml-16') %}{% endcall %}
          {% call insert.spacer('bottom','mb-16') %}{% endcall %}
        </div>


        <div class="height-sm"></div>
        <h2>Paddings </h2>

        <h5>Padding Global</h5>

        <div class="is-flex w-100 content-sp-between mb-48">
          {% call insert.spacer('','p-8') %}{% endcall %}
          {% call insert.spacer('','p-16') %}{% endcall %}
          {% call insert.spacer('','p-24') %}{% endcall %}
          {% call insert.spacer('','p-32') %}{% endcall %}
          {% call insert.spacer('','p-40') %}{% endcall %}
          {% call insert.spacer('','p-48') %}{% endcall %}
        </div>

        <h5>Padding Unitario</h5>

          <div class="is-flex w-100 content-sp-between mb-48">
      
          {% call insert.spacer('top','pt-16') %}{% endcall %}
          {% call insert.spacer('right','pr-16') %}{% endcall %}
          {% call insert.spacer('left','pl-16') %}{% endcall %}
          {% call insert.spacer('bottom','pb-16') %}{% endcall %}

        </div>





        {{ content | safe }}
      </div>
    </div>
  </div>
</section>