---
layout: base.njk
---
{% import "_macros/_insert.njk" as insert %}
<div class="container-fluid">{% include '_website/hero.njk' %}</div>
<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content innermarkdown">

 


        <h5>Padding Responsive </h5>

<p class="p1 mb-32">
  Las clases de espaciado responsivo están diseñadas para simplificar la gestión de paddings y margins
   en diferentes dispositivos, eliminando la necesidad de escribir manualmente clases específicas 
   como <b> sm:pt-16 md:pt-64 lg:pt-80  xl:pt-122</b>. <br> <br>Al utilizar una única clase, como <b>ptr-64</b>, se define el padding tanto para dispositivos móviles como para escritorio, integrando ambos valores en una sola clase. Esto no solo mantiene la coherencia con el design system, sino que también facilita el proceso de desarrollo, asegurando que los diseños se mantengan uniformes y consistentes sin esfuerzo adicional. Además, al evitar la creación de clases personalizadas, se respeta y refuerza el design system preestablecido.
  <br>  <br>  <br>
<B>
  PTR-: PADDING TOP RESPONSIVE
  <br>
  PBR-: PADDING BOTTOM RESPONSIVE
  <br>
  MTR-: MARGIN BOTTOM RESPONSIVE
  <br>
  MBR-: MARGIN BOTTOM RESPONSIVE
</B>
<br>

</p>


<div>
  <h5>Añadir espaciados responsive en el proyecto</h5>
<pre class="language-css">
  <code>


$pt: 'padding-top';
$padding-top: (
    ptr-160: (64px, 64px, 160px, 160px, ),
    ptr-136: (48px, 48px, 136px, 136px, ),
    ptr-120: (64px, 64px, 120px, 120px, ),
    ptr-20-120: (20px, 20px, 120px, 120px, ),
    ptr-112: (80px, 80px, 112px, 112px),
    ptr-96: (64px, 64px, 96px, 96px),
    ptr-80: (48px, 48px, 80px, 80px),
    ptr-64: (32px, 32px, 64px, 64px),
    ptr-24:  (16px, 16px, 24px, 24px)
);


$pb: 'padding-bottom';
$padding-bottom: (
    pbr-160: (64px, 64px, 160px, 160px, ),
    pbr-136: (64px, 64px, 136px, 136px, ),
    pbr-120: (64px, 64px, 120px, 120px, ),
    pbr-20-120: (20px, 20px, 120px, 120px, ),
    pbr-112: (80px, 80px, 112px, 112px),
    pbr-96: (64px, 64px, 96px, 96px),
    pbr-80: (48px, 48px, 80px, 80px),
    pbr-64: (32px, 32px, 64px, 64px),
    pbr-24:  (16px, 16px, 24px, 24px)
);

$mb: 'margin-bottom';
$margin-bottom: (
  mbr-16-32: (16px, 16px, 32px, 32px, ),
  mbr-8-24: (8px, 8px, 24px, 24px, )
);

$mt: 'margin-top';
$margin-top: (
  mtr-16-32: (16px, 16px, 32px, 32px, )
);

    
  </code>
</pre>
</div>

        {{ content | safe }}
      </div>
    </div>
  </div>
</section>