---
layout: base.njk
---
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
{% import "_macros/_insert.njk" as insert %}
<div class="main-content">

  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="COMOUSAR">COMO USAR</h3>
      </div>
      <div class="col-xs-12 text-l">

            <h1>Guía de Uso del Componente <code>svg-icon2</code> en Angular</h1>
            <p>En nuestro proyecto de Angular, utilizaremos el nuevo componente <code>svg-icon2</code> para manejar los íconos SVG de manera más eficiente. Este componente extrae los íconos directamente de los archivos JSON, lo que nos permite evitar el uso de imágenes que realizan peticiones adicionales y ralentizan el proceso de carga cuando hay muchos íconos. Con <code>svg-icon2</code>, podemos reducir el peso del DOM y mejorar el rendimiento general de la aplicación.</p>
            
            <h2>Ventajas del Componente <code>svg-icon2</code>:</h2>
              <ul class="list-clear text-l">
                <li class="text-l"><strong>Eficiencia en la carga</strong>: Al no depender de imágenes externas, se eliminan las peticiones adicionales al servidor.</li>
                <li><strong>Rendimiento optimizado</strong>: La carga de íconos se realiza más rápidamente, mejorando la velocidad de la aplicación.</li>
                <li><strong>Facilidad de uso</strong>: Los íconos se manejan de manera centralizada desde los archivos JSON.</li>
            </ul>
        
            <h2>Uso del Componente</h2>
            <p>Para utilizar <code>svg-icon2</code>, es necesario especificar la categoría a la que pertenece el ícono, que generalmente coincide con el nombre del archivo JSON, y el nombre del ícono. A continuación, se muestra un ejemplo de uso:</p>
            <pre class="language-markup"><code> &lt;svg-icon2 category="common" src="check"&gt;&lt;/svg-icon2&gt;</code></pre>
            <p>En este ejemplo:</p>
                    <ul class="list-clear text-l">
                <li><code>category="common"</code>: Indica que el ícono pertenece a la categoría "common", que es el nombre del archivo JSON.</li>
                <li><code>src="check"</code>: Especifica el nombre del ícono dentro del archivo JSON.</li>
            </ul>
        
            <h3>Ejemplo Completo</h3>
            <p>Supongamos que tenemos un archivo JSON llamado <code>common.json</code> que contiene varios íconos. Para utilizar el ícono "check" de este archivo, simplemente utilizamos el siguiente código en nuestro template:</p>
            <pre class="language-markup"><code>&lt;svg-icon2 category="common" src="check"&gt;&lt;/svg-icon2&gt;</code></pre>
        
            <h2>Actualización o Introducción de Nuevos Íconos</h2>
            <p>Cuando se requiera actualizar o introducir un nuevo ícono, el proceso es el siguiente:</p>
                   <ul class="list-clear text-l">
                <li><strong>Contacto con el Diseñador</strong>: Acude al responsable de diseño especializado en la creación de diseños. Él nos proporcionará el código SVG del ícono.</li>
                <li><strong>Conversión a Base64</strong>: Utiliza el plugin de Visual Studio Code <code>vscode-base64</code> para convertir el código SVG a formato Base64.</li>
                <li><strong>Actualización del JSON</strong>: Copia el código en Base64 y pégalo en el archivo JSON correspondiente utilizando el formato:
                    <pre class="language-json"><code>{ "nombreicono": "icono en base 64" }</code></pre>
                </li>
                <li><strong>Ordena Alfabeticamente</strong>: Usa el plugin de Visual Studio Code <code>Alphabetical Sorter</code> para ordenar el archivo JSON.</li>

                <li><strong>Incorporación en el Proyecto</strong>: Añade el nuevo ícono en el proyecto.</li>
                <li><strong>Notificación</strong>: Notifica al Lead de UX Layout que el nuevo ícono ya está disponible y especifica en qué rama se ha colocado.</li>
              </ul>
        
            <h2>Consideraciones Adicionales</h2>
                  <ul class="list-clear text-l">
                <li><strong>Organización de los JSON</strong>: Asegúrate de mantener una estructura organizada en tus archivos JSON para facilitar la búsqueda y el mantenimiento de los íconos.</li>
                <li><strong>Nombres descriptivos</strong>: Utiliza nombres de íconos descriptivos y coherentes con su uso en la aplicación.</li>
                <li><strong>Actualización de íconos</strong>: Al actualizar un ícono en el archivo JSON, todos los lugares donde se utiliza este ícono se actualizarán automáticamente.</li>
            </ul>
        
            <p>Con estas prácticas y el uso del componente <code>svg-icon2</code>, optimizaremos la gestión de íconos SVG en nuestro proyecto de Angular, mejorando tanto el rendimiento como la mantenibilidad del código.</p>
    
        


        <p class="text-l mb-16">
          Al usar el componente solo hay que asignar el parámetro
          <b><i>src</i></b> con el icono a usar, que a su vez deberá estar en el
          archivo icons.json en el proyecto.
        </p>
        <a class="btn btn-primary btn--mini" href="../assets/js/icons.json">
          Ver Archivo json
        </a>
      </div>
    </div>
  </section>

  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mb-24">Icono Básico</h3>
        <div class="resize-mini">
          <div class="resize-mini-content">
            <img
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="
              alt="" />
          </div>
          <pre class="language-markup"><code> &lt;svg-icon2 category="common" src="check"&gt;&lt;/svg-icon2&gt;</code></pre>
        </div>
        <h3 class="mb-16">Variante de color</h3>
        <p class="text-l mb-16">
          Usaremos la clase <code>ico-white </code> <code>ico-success </code> <code>ico-error </code> en el interior del
          svg-icon .
        </p>
        <div class="resize-mini">
          <div class="resize-mini-content bg-dark">
            <img style="filter: invert(1)"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="
              alt="" /> <br>
            <img
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iIzc2QUU0QSIvPgo8L3N2Zz4="
              alt="" /> <br>
            <img
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iI0I0MDAxNiIvPgo8L3N2Zz4="
              alt="" />
          </div>
          <pre> <code class="language-markup">{{ "<svg-icon src='alert' class='ico-white'></svg-icon> <svg-icon src='alert' class='ico-success'></svg-icon> <svg-icon src='alert' class='ico-error'></svg-icon>" | escape }}</code> </pre>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2">Incluir iconos al inventario</div>
      </div>
      <div class="col-xs-12">
        <div class=" mb-32">
          Cuando necesites incorporar un nuevo icono en la lista sigue atentamente
          estas recomendaciones:
        </div>
        <p class="text-l mb-24">
          Recuerda que el recurso gráfico <b>SIEMPRE</b> debe ser proveído por art
          digital o estar en el <b>MD DESING SYSTEM</b> en figma
        </p>
        <p class="text-l mb-24">
          Cuando exportes el SVG, ábrelo en un editor de código y valida que:
        </p>

        <div class="tip">
 
        <p class="text-l mb-48 mt-32">Video tutorial para incluir iconos desde Figma:</p>
        <div style="position: relative; padding-bottom: 62.5%; height: 0">
          <iframe src="https://www.loom.com/embed/31072d083792468f842532573d080bf2" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></iframe>
        </div>
      </div>
    </div>
  </section>
</div>






<section class="">
  <div class="row">
    <div class="col-xs-12">



      <h3 id="ICONOS COLLECTION">ICONOS COLLECTION</h3>
      <p class="text-l mb-32">
        Inventario de iconos disponibles, todo en minúsculas y separado por
        guión medio.
      </p>



      <div class="tabguide mb-16">


        <ul id="tabguide-nav" class="tabguide-head list-inline sticky-top bg-white mb-32">
          <li class="active"><div class="btn btn-error btn-primary" title="">Normal</div></li>
          <li><div class="btn btn-error btn-secondary" title="ico-white">.ico-white</div></li>
          <li><div class="btn btn-naver btn-primary" title="ico-success">.ico-success</div></li>
          <li><div class="btn btn-error btn-primary" title="ico-error">.ico-error</div></li>
          <li><div class="btn btn-error btn-feel" title="ico-feel">.ico-feel</div></li>
          <li><div class="btn-secondary btn" title="btn">en un .btn</div></li>
      </ul>
        
        <!-- END tabguideguide-nav -->
        <div id="tabguide-content">
          <!-- Este contenedor se llenará dinámicamente -->
      </div>


        <!-- END tabguideguide-content -->
        <!-- END tabguideguide -->
      </div>
      <p class="text-l mb-16">
        Marcar que iconos no tienen el tamaño de 16x16:
      </p>
      <button class="btn btn-primary btn--mini mb-16 check-16">Test</button>
    </div>
  </div>
</section>
<div class="main-content">
  <section>
    <div class="row">
      <div class="col-xs-12">
        <div class="title-l">Tamaños de iconos</div>
        <p class="text-l mb-16">Podemos cambiar el tamaño de los iconos con las clases <code>x24</code> <code>x32</code>
          <code>x48</code> y <code>x64</code>
        </p>
        <div class="resize-mini mb-32">
          <div class="resize-mini-content">
            <div class="container-6">
              <div class="row">
                <div class="col-xs-12 mb-16 text-center">
                  <div class="is-flex align-middle content-center flex-vcenter">
                    {% call insert.svgIconSize() %} {% endcall %}
                    {% call insert.svgIconSize('x24') %} {% endcall %}
                    {% call insert.svgIconSize('x32') %} {% endcall %}
                    {% call insert.svgIconSize('x48') %} {% endcall %}
                    {% call insert.svgIconSize('x64') %} {% endcall %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% set standardcode %}
          <svg-icon src="premium-fitting-room"></svg-icon>
          <svg-icon src="premium-fitting-room" class="x24"></svg-icon>
          <svg-icon src="premium-fitting-room" class="x32"></svg-icon>
          <svg-icon src="premium-fitting-room" class="x48"></svg-icon>
          <svg-icon src="premium-fitting-room" class="x64"></svg-icon>
          {% endset%}
          <pre>
                  <code class="language-markup">{{standardcode}}</code>
                </pre>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-l">Ejemplos de elementos con iconos</div>
      </div>
      <div class="col-xs-12">



        <h2 class="mt-24">
          links con inconos, ver mas ejemplos en
          <a href="/links.html" class="link-lime">Links</a>
        </h2>
        {% call insert.links('link-svg-pre','Link con icono svg-icon al
        inicio','pre','') %} {% endcall %}
        <h2 class="mt-24">listados con iconos</h2>
        {% call insert.listButton('list-button list-icons','') %} {% endcall %}
      </div>
    </div>
  </section>



  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-l">Integrar iconos a una maqueta</div>
      </div>
      <div class="col-xs-12">
        <h2 class="mb-24">
          Si lo que necesitas es integrar un icono a una maqueta simple puedes
          meterlo en un contenedor y ordenar con flexbox su apariencia, por
          ejemplo:
        </h2>
        <div class="resize-mini">
          <div class="resize-mini-content">
            <div class="container-6">
              <div class="row">
                <div class="col-xs-12 mb-16 text-center">
                  <div class="is-flex">
                    {% call insert.svgIconname('plus') %} {% endcall %}
                    <p class="text-l pl-16">texto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% set standardcode %}
          <div class="is-flex">
            <svg-icon src="plus"></svg-icon>
            <p class="text-l pl-16">texto</p>
          </div>
          {% endset%}
          <pre>
                <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
                  <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
                  <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
                     </code>
                </pre>
        </div>
        <div class="resize-mini mt-32">
          <div class="resize-mini-content">
            <div class="container-6">
              <div class="row">
                <div class="col-xs-12 mb-16 text-center">
                  <div class="is-flex">
                    <div class="is-flex align-multi-center px-16">
                      {% call insert.svgIconname('globe') %} {% endcall %}
                    </div>
                    <div class="row">
                      <div class="col-xs-12 text-left">
                        <span class="text-l-b">Entrega 1</span>
                        <span>- 12343232123</span>
                      </div>
                      <div class="col-xs-12 text-left">
                        <p>Entregado</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% set standardcode %}
          <div class="is-flex">
            <div class="is-flex align-multi-center px-16">
              <svg-icon src="globe"></svg-icon>
            </div>
            <div class="row">
              <div class="col-xs-12 text-left">
                <span class="text-l">Entrega 1</span>
                <span>- 12343232123</span>
              </div>
              <div class="col-xs-12 text-left">
                <p>Entregado</p>
              </div>
            </div>
          </div>
          {% endset%}
          <pre>
                <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
                  <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
                  <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
                     </code>
                </pre>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-l">Iconos especiales</div>
      </div>
      <div class="col-xs-12">
        <div class="title-s c-dark-grey mb-16">
          En ocasiones los iconos pueden aparecer con otros elementos
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="resize-mini">
      <div class="resize-mini-content">
        <div class="container-6">
          <div class="row">
            <div class="col-xs-12 mb-16 align-center">
              <div class="ico-ball">
                {% call insert.svgIconname('shopping-bag') %} {% endcall %}
                <div class="ico-count">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% set standardcode %}
      <div class="ico-ball">
        {% call insert.svgIconname('shopping-bag') %} {% endcall %}
        <div class="ico-count">1</div>
      </div>
      {% endset%}
      <pre>
        <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
          <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
          <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
             </code>
        </pre>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
      </div>
    </div>
  </section>
</div>
<script src="/assets/js/icons.js"></script>