---
layout: base.njk
---
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>

<div class="main" style=" height: 100vh; background: black;"> 



  <iframe id="cover1" class="resizable" src="https://dutti-playground.netlify.app/#" width="100%" style="height: calc(100% - 70px); margin-top: 70px;"
  frameborder="0" seamless></iframe>




</div>

