---
layout: base.njk
---
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>

<div class="main" style=" height: 100vh; background: black;"> 

  <div class="resize-container"> 

  <iframe id="cover1" class="resizable" src="https://dutti-playground.netlify.app/#" width="100%" style="height: 100vh; "
  frameborder="0" seamless></iframe>


</div>

</div>

