{% extends "basefull.html" %} 

{% block title %} 
{% call special.titledoc('Store Locator','desc','actualizado') %} {% endcall
%} {% endblock %} {% block content %} 

    <section class="mb-32 mt-32">
        <div class="row">
            <div class="col-xs-12"> {% call insert.component('storelocator1',
                '950px','https://www.figma.com/file/TWUCumc5od29Ur3ZTirgR2/Mejorar-abandono-Cesta-%2F-CRO?node-id=3818%3A4811') %} {%
                endcall %} </div>
        </div>
    </section>


{% endblock %}