{% extends 'base.html' %} {% block content %} <div class='row bleed-0'>
    <div class='col-xs-12  has-light'>
        <div class='guide-header'>
            <div class='fluid-100-m'> Checkbox </div>
        </div>
    </div>
</div>
<div class='row pt-64 pb-64'>
    <div class='col-xs-12 mb-8 '>
        <hr>
    </div>
    <div class='col-xs-12 col-sm-2 col-md-3'>
        <div class='text-14-2b'> Checkbox </div>
    </div>
    <div class='col-xs-12 col-sm-8 col-md-9'>
        {% call insert.checkbox('checkbox-item-box','Input tipo checkbox individual. ') %} {% endcall %}
        {% call insert.checkbox('checkbox-item-text','Input tipo checkbox con texto que no es enlace. ') %} {% endcall %}
        {% call insert.checkbox('checkbox-item','Input tipo checkbox con texto que funciona como enlace al input. ') %} {% endcall %}
        {% call insert.checkbox('checkbox-item is-error','Estado error en el input. ') %} {% endcall %}


        <!-- <section class=' title-zone mb-32'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <h1 class='h1'>Checkboxes</h1>
                        <p class='text-18-r'> This page is an overview of the Holygrail documentation and related
                            resources. </p>
                        <p class='text-18-r'> Holygrail is a CSS and html library for building user interfaces. Learn
                            what Holygrail is all about on our homepage . </p>
                    </div>
                </div>
            </div>
        </section> -->
        <section>
            <div class='container-fluid'>
                <div class=''>
                    <!-- <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-title mb-16'>
                                <strong> Animate </strong>Checkbox <p> Checkbox con tic escalable </p>
                                <p class='p1'>Podemos aplicarle la clase <code>.flex-vcenter</code></p>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-show'>
                                <div class='checkbox-item-box'>
                                    <div class='checkbox-item'>
                                        <input id='checkbox_01' type='checkbox' />
                                        <label for='checkbox_01'>
                                            <i class='icon '>
                                                <svg width='16' height='16' viewBox='0 0 16 16'>
                                                    <g stroke-width='1' fill='#000000' stroke='#000000'>
                                                        <polyline fill='none' stroke='#000000' stroke-linecap='round'
                                                            stroke-linejoin='round' stroke-miterlimit='10'
                                                            points='1,9 5,13 15,3 '>
                                                        </polyline>
                                                    </g>
                                                </svg></i>
                                        </label>
                                    </div>
                                </div>
                                <pre><code class='language-markup'>
{{" 
<div class='checkbox-item-box'>
    <div class='checkbox-item'>
        <input id='checkbox_01' type='checkbox' />
        <label for='checkbox_01'>
            <i class='icon '>
                <svg width='16' height='16' viewBox='0 0 16 16'>
                    <g stroke-width='1' fill='#000000' stroke='#000000'>
                        <polyline fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round'
                            stroke-miterlimit='10' points='1,9 5,13 15,3 '>
                        </polyline>
                    </g>
                </svg></i>
        </label>
    </div>
</div>
" | escape }}
</code></pre>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-show'>
                                <div class='checkbox-item-text'>
                                    <div class='checkbox-item'>
                                        <input id='checkbox_0' type='checkbox' />
                                        <label for='checkbox_0'>
                                            <i class='icon '>
                                                <svg width='16' height='16' viewBox='0 0 16 16'>
                                                    <g stroke-width='1' fill='#000000' stroke='#000000'>
                                                        <polyline fill='none' stroke='#000000' stroke-linecap='round'
                                                            stroke-linejoin='round' stroke-miterlimit='10'
                                                            points='1,9 5,13 15,3 '>
                                                        </polyline>
                                                    </g>
                                                </svg></i>
                                        </label>
                                    </div>
                                    <span class='text-14-r '>Checkbox básico , texto no clicable </span>
                                </div>
                                <pre><code class='language-markup'>
{{" 
<div class='checkbox-item-text'>
    <div class='checkbox-item'>
        <input id='checkbox_0' type='checkbox' />
        <label for='checkbox_0'>
            <i class='icon '>
                <svg width='16' height='16' viewBox='0 0 16 16'>
                    <g stroke-width='1' fill='#000000' stroke='#000000'>
                        <polyline fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round'
                            stroke-miterlimit='10' points='1,9 5,13 15,3 '>
                        </polyline>
                    </g>
                </svg></i>
        </label>
    </div>
    <span class='text-14-r '>Checkbox básico , texto no clicable </span>
</div>" | escape }}
</code></pre>
                                <br>
                                <div class='checkbox-item'>
                                    <input id='checkbox_1' type='checkbox' />
                                    <label for='checkbox_1'>
                                        <i class='icon '>
                                            <svg width='16' height='16' viewBox='0 0 16 16'>
                                                <g stroke-width='1' fill='#000000' stroke='#000000'>
                                                    <polyline fill='none' stroke='#000000' stroke-linecap='round'
                                                        stroke-linejoin='round' stroke-miterlimit='10'
                                                        points='1,9 5,13 15,3 '>
                                                    </polyline>
                                                </g>
                                            </svg></i>
                                        <span class='text-14-r '>Checkbox básico texto clicable </span>
                                    </label>
                                </div>
                                <br>
                                <div class='checkbox-item '>
                                    <input id='checkbox_2' type='checkbox' />
                                    <label for='checkbox_2' class='flex-vcenter'>
                                        <i class='icon '>
                                            <svg width='16' height='16' viewBox='0 0 16 16'>
                                                <g stroke-width='1' fill='#000000' stroke='#000000'>
                                                    <polyline fill='none' stroke='#000000' stroke-linecap='round'
                                                        stroke-linejoin='round' stroke-miterlimit='10'
                                                        points='1,9 5,13 15,3 '>
                                                    </polyline>
                                                </g>
                                            </svg></i>
                                        <span class='text-14-r '> Checkbox centrado con la clase flex-vcenter aplicada
                                            en el label. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Voluptas eum veritatis possimus eaque, neque corporis tempora odit debitis
                                            numquam provident cupiditate </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>


                            <pre><code class='language-markup'>

                                {{"
<div class='checkbox-item '>
    <input id='checkbox_2' type='checkbox' />
    <label for='checkbox_2' class='flex-vcenter'>
        <i class='icon '>
            <svg width='16' height='16' viewBox='0 0 16 16'>
                <g stroke-width='1' fill='#000000' stroke='#000000'>
                    <polyline fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round'
                        stroke-miterlimit='10' points='1,9 5,13 15,3 '>
                    </polyline>
                </g>
            </svg></i>
        <span class='text-14-r '> Checkbox centrado con la clase flex-vcenter aplicada en el label. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Voluptas eum veritatis possimus eaque, neque corporis tempora odit
            debitis numquam provident cupiditate </span>
    </label>
</div>
 <div class='checkbox-item '>
    <input id='checkbox_2' type='checkbox' />
    <label for='checkbox_2' class='flex-vcenter'>
        <i class='icon '>
            <svg width='16' height='16' viewBox='0 0 16 16'>
                <g stroke-width='1' fill='#000000' stroke='#000000'>
                    <polyline fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round'
                        stroke-miterlimit='10' points='1,9 5,13 15,3 '>
                    </polyline>
                </g>
            </svg></i>
        <span class='text-14-r '> Checkbox centrado con la clase flex-vcenter aplicada en el label. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Voluptas eum veritatis possimus eaque, neque corporis tempora odit
            debitis numquam provident cupiditate </span>
    </label>
</div>"| escape}}
    </code></pre>
                        </div>
                    </div> -->
                    <!-- <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-title mb-16'>
                                <strong> .is-error </strong>Checkbox <p> Checkbox tactil con error </p>
                            </div>
                            <div class='checkbox-item is-error'>
                                <input id='checkbox_2' type='checkbox' />
                                <label for='checkbox_2'>
                                    <i class='icon '>
                                        <svg width='16' height='16' viewBox='0 0 16 16'>
                                            <g stroke-width='1' fill='#000000' stroke='#000000'>
                                                <polyline fill='none' stroke='#000000' stroke-linecap='round'
                                                    stroke-linejoin='round' stroke-miterlimit='10'
                                                    points='1,9 5,13 15,3 '>
                                                </polyline>
                                            </g>
                                        </svg></i>
                                    <span class='text-14-r '>Texto del checkbox </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <pre><code class='language-markup'>
{{" 
<div class='checkbox-item is-error'>
    <input id='checkbox_2' type='checkbox' />
    <label for='checkbox_2'>
        <i class='icon '>
            <svg width='16' height='16' viewBox='0 0 16 16'>
                <g stroke-width='1' fill='#000000' stroke='#000000'>
                    <polyline fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round'
                        stroke-miterlimit='10' points='1,9 5,13 15,3 '>
                    </polyline>
                </g>
            </svg></i>
        <span class='text-14-r '>Texto del checkbox </span>
    </label>
</div>
"| escape}}
</code></pre>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class='container-fluid'>
                <div class=''>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-title mb-16'>
                                <strong> Slide </strong>Checkbox <p> Checkbox tactil con animación </p>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='pre-show'>
                                <div class='checkbox-item-2'>
                                    <div class=''>
                                        <input id='checkbox_3' name='checkbox_3' type='checkbox' class='ng-valid ' />
                                        <label for='checkbox_3'>
                                            <div class='checkbox-circle'></div>
                                            <span class='theta '>HOMBRE</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <pre><code class='language-markup'>
{{" 
<div class='checkbox-item-2'>
    <div class=''>
        <input id='checkbox_3' name='checkbox_3' type='checkbox' class='ng-valid ' />
        <label for='checkbox_3'>
            <div class='checkbox-circle'></div>
            <span class='theta '>HOMBRE</span>
        </label>
    </div>
</div>
"| escape}}
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class='container-fluid'>
                <div class='mb-48'>
                    <div class='row'>
                        <div class='col-xs-12 '>
                            <div class='pre-title mb-16'>
                                <strong> Animate </strong>Radio button <p> Checkbox con tic escalable </p>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 '>
                            <div class='pre-show'>
                                <div class='checkbox-radio'>
                                    <input id='35' name='gender' type='radio' ng-model='$ctrl.model.gender' value='F'
                                        class=''>
                                    <label for='35'><i class=' ico-radio'></i> <span
                                            class='ng-binding text-14-m'>Tarjeta de crédito o débito </span>
                                        <span>
                                            <div class='location-logo mb-10'> seur</div>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 '>
                            <pre><code class='language-markup'>
{{" <div class='checkbox-radio'>
    <input id='35' name='gender' type='radio' ng-model='$ctrl.model.gender' value='F' class=''>
    <label for='35'><i class=' ico-radio'></i> <span class='ng-binding text-14-m'>Tarjeta de crédito o débito </span>
        <span>
            <div class='location-logo mb-10'> seur</div>
        </span>
    </label>
</div>" | escape }}
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> {% endblock %}