{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Colores','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-gray "> El color es fundamental para la experiencia del usuario y debe transmitir
                información de manera accesible para todos nuestros usuarios. </div>
        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Su uso</div>
        </div>
        <div class="col-xs-12">
            <p class="p-14">
                Para poder usar los colores usaremos las siguientes variables importando los abstract en el documento
                sass.
            </p>

        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Primarios </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsPrimary %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                            <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"> <span>Color:</span> ${{ item.name }}</div>
                        
                            <div class="p-xs"> <span >Background:</span> {{ item.class }}</div>
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Semanticos </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsSemantic %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                            <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"><span>Color:</span> ${{ item.name }}</div>
                            <div class="p-xs"><span>Background:</span> {{ item.class }} </div>
                     
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Feel </div>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colorsFeel %}
                    <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                            <div class="p-xs"> <span>Hex:</span> {{ item.type }}</div>
                            <div class="p-xs"><span>Color:</span> ${{ item.name }}</div>
                            <div class="p-xs"><span>Background:</span> {{ item.class }} </div>
                     
                        </div>
                    </div> {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}