{% extends "base.html" %} {% block content %}


<div class="row pt-64 pb-64">
    <div class="col-xs-12 mb-8 ">
        <hr>
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="text-14-2b"> Datalist</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6"> 

        <section>
            <div class="container-fluid">
          <div class="mb-48">
            <div class="row">
               <div class="col-xs-12 ">
                 <div class="pre-title mb-16">
                      <strong> - </strong> datalist
                         <p>
                        Selector usado datalist.
                      </p>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="pre-show">

                        <div class="form-input-label datalist">
                            <input type="text" list="statecodes"  id="statecode" class="input" placeholder="Provincia" required="">
                            <!-- <svg-icon [src]="'v2/svg/chevron-down.svg'" [classes]="'form-text-svg'"></svg-icon> -->
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <rect width="16" height="16" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.999991 3.93935L7.99999 10.9393L15 3.93935L16.0607 5.00001L7.99999 13.0607L-0.0606689 5.00001L0.999991 3.93935Z" fill="black"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="16" height="16" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                                

                            <label for="uno">Provincia</label>
                            <datalist _ngcontent-txp-c180="" id="statecodes" name="stateCodeList">
                                <option _ngcontent-txp-c180="" value="A CORUÑA" ng-reflect-value="A CORUÑA">A CORUÑA</option>
                                <option _ngcontent-txp-c180="" value="ALAVA" ng-reflect-value="ALAVA">ALAVA</option>
                                <option _ngcontent-txp-c180="" value="ALBACETE" ng-reflect-value="ALBACETE">ALBACETE</option>
                                <option _ngcontent-txp-c180="" value="ALICANTE" ng-reflect-value="ALICANTE">ALICANTE</option>
                                <option _ngcontent-txp-c180="" value="ALMERIA" ng-reflect-value="ALMERIA">ALMERIA</option>
                                <option _ngcontent-txp-c180="" value="ASTURIAS" ng-reflect-value="ASTURIAS">ASTURIAS</option>
                                <option _ngcontent-txp-c180="" value="AVILA" ng-reflect-value="AVILA">AVILA</option>
                                <option _ngcontent-txp-c180="" value="BADAJOZ" ng-reflect-value="BADAJOZ">BADAJOZ</option>
                                <option _ngcontent-txp-c180="" value="BALEARES" ng-reflect-value="BALEARES">BALEARES</option>
                                <option _ngcontent-txp-c180="" value="BARCELONA" ng-reflect-value="BARCELONA">BARCELONA</option>
                                <option _ngcontent-txp-c180="" value="BURGOS" ng-reflect-value="BURGOS">BURGOS</option>
                                <option _ngcontent-txp-c180="" value="CACERES" ng-reflect-value="CACERES">CACERES</option>
                                <option _ngcontent-txp-c180="" value="CADIZ" ng-reflect-value="CADIZ">CADIZ</option>
                                <option _ngcontent-txp-c180="" value="CANTABRIA" ng-reflect-value="CANTABRIA">CANTABRIA</option>
                                <option _ngcontent-txp-c180="" value="CASTELLON" ng-reflect-value="CASTELLON">CASTELLON</option>
                                <option _ngcontent-txp-c180="" value="CEUTA" ng-reflect-value="CEUTA">CEUTA</option>
                                <option _ngcontent-txp-c180="" value="CIUDAD REAL" ng-reflect-value="CIUDAD REAL">CIUDAD REAL</option>
                                <option _ngcontent-txp-c180="" value="CORDOBA" ng-reflect-value="CORDOBA">CORDOBA</option>
                                <option _ngcontent-txp-c180="" value="CUENCA" ng-reflect-value="CUENCA">CUENCA</option>
                                <option _ngcontent-txp-c180="" value="GERONA" ng-reflect-value="GERONA">GERONA</option>
                                <option _ngcontent-txp-c180="" value="GRANADA" ng-reflect-value="GRANADA">GRANADA</option>
                                <option _ngcontent-txp-c180="" value="GUADALAJARA" ng-reflect-value="GUADALAJARA">GUADALAJARA</option>
                                <option _ngcontent-txp-c180="" value="GUIPUZCOA" ng-reflect-value="GUIPUZCOA">GUIPUZCOA</option>
                                <option _ngcontent-txp-c180="" value="HUELVA" ng-reflect-value="HUELVA">HUELVA</option>
                                <option _ngcontent-txp-c180="" value="HUESCA" ng-reflect-value="HUESCA">HUESCA</option>
                                <option _ngcontent-txp-c180="" value="JAEN" ng-reflect-value="JAEN">JAEN</option>
                                <option _ngcontent-txp-c180="" value="LA RIOJA" ng-reflect-value="LA RIOJA">LA RIOJA</option>
                                <option _ngcontent-txp-c180="" value="LEON" ng-reflect-value="LEON">LEON</option>
                                <option _ngcontent-txp-c180="" value="LLEIDA / LERIDA" ng-reflect-value="LLEIDA / LERIDA">LLEIDA / LERIDA</option>
                                <option _ngcontent-txp-c180="" value="LUGO" ng-reflect-value="LUGO">LUGO</option>
                                <option _ngcontent-txp-c180="" value="MADRID" ng-reflect-value="MADRID">MADRID</option>
                                <option _ngcontent-txp-c180="" value="MALAGA" ng-reflect-value="MALAGA">MALAGA</option>
                                <option _ngcontent-txp-c180="" value="MELILLA" ng-reflect-value="MELILLA">MELILLA</option>
                                <option _ngcontent-txp-c180="" value="MURCIA" ng-reflect-value="MURCIA">MURCIA</option>
                                <option _ngcontent-txp-c180="" value="NAVARRA" ng-reflect-value="NAVARRA">NAVARRA</option>
                                <option _ngcontent-txp-c180="" value="ORENSE / OURENSE" ng-reflect-value="ORENSE / OURENSE">ORENSE / OURENSE</option>
                                <option _ngcontent-txp-c180="" value="PALENCIA" ng-reflect-value="PALENCIA">PALENCIA</option>
                                <option _ngcontent-txp-c180="" value="PONTEVEDRA" ng-reflect-value="PONTEVEDRA">PONTEVEDRA</option>
                                <option _ngcontent-txp-c180="" value="SALAMANCA" ng-reflect-value="SALAMANCA">SALAMANCA</option>
                                <option _ngcontent-txp-c180="" value="SEGOVIA" ng-reflect-value="SEGOVIA">SEGOVIA</option>
                                <option _ngcontent-txp-c180="" value="SEVILLA" ng-reflect-value="SEVILLA">SEVILLA</option>
                                <option _ngcontent-txp-c180="" value="SORIA" ng-reflect-value="SORIA">SORIA</option>
                                <option _ngcontent-txp-c180="" value="TARRAGONA" ng-reflect-value="TARRAGONA">TARRAGONA</option>
                                <option _ngcontent-txp-c180="" value="TERUEL" ng-reflect-value="TERUEL">TERUEL</option>
                                <option _ngcontent-txp-c180="" value="TOLEDO" ng-reflect-value="TOLEDO">TOLEDO</option>
                                <option _ngcontent-txp-c180="" value="VALENCIA" ng-reflect-value="VALENCIA">VALENCIA</option>
                                <option _ngcontent-txp-c180="" value="VALLADOLID" ng-reflect-value="VALLADOLID">VALLADOLID</option>
                                <option _ngcontent-txp-c180="" value="VIZCAYA" ng-reflect-value="VIZCAYA">VIZCAYA</option>
                                <option _ngcontent-txp-c180="" value="ZAMORA" ng-reflect-value="ZAMORA">ZAMORA</option>
                                <option _ngcontent-txp-c180="" value="ZARAGOZA" ng-reflect-value="ZARAGOZA">ZARAGOZA</option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 ">
                <pre><code class="language-markup">
&lt;div class=&quot;form-input-label datalist&quot;&gt;
    &lt;input type=&quot;text&quot; list=&quot;statecodes&quot;  id=&quot;statecode&quot; class=&quot;input&quot; placeholder=&quot;Provincia&quot; required=&quot;&quot;&gt;
  
    &lt;svg width=&quot;16&quot; height=&quot;16&quot; viewBox=&quot;0 0 16 16&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt; &lt;g clip-path=&quot;url(#clip0)&quot;&gt; &lt;rect width=&quot;16&quot; height=&quot;16&quot; fill=&quot;white&quot;/&gt; &lt;path fill-rule=&quot;evenodd&quot; clip-rule=&quot;evenodd&quot; d=&quot;M0.999991 3.93935L7.99999 10.9393L15 3.93935L16.0607 5.00001L7.99999 13.0607L-0.0606689 5.00001L0.999991 3.93935Z&quot; fill=&quot;black&quot;/&gt; &lt;/g&gt; &lt;defs&gt; &lt;clipPath id=&quot;clip0&quot;&gt; &lt;rect width=&quot;16&quot; height=&quot;16&quot; fill=&quot;white&quot;/&gt; &lt;/clipPath&gt; &lt;/defs&gt; &lt;/svg&gt;
    
    &lt;label for=&quot;uno&quot;&gt;Provincia&lt;/label&gt;
    &lt;datalist id=&quot;statecodes&quot; name=&quot;stateCodeList&quot;&gt;
        &lt;option value=&quot;A CORU&Ntilde;A&quot;&gt;A CORU&Ntilde;A&lt;/option&gt;
        &lt;option value=&quot;ALAVA&quot;&gt;ALAVA&lt;/option&gt;
        &lt;option value=&quot;ZARAGOZA&quot;&gt;ZARAGOZA&lt;/option&gt;
    &lt;/datalist&gt;
&lt;/div&gt;
         </code></pre>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mb-16">
                    <!-- <p class="p3">Snipet de uso rápido</p> -->
                    <!-- <code>xselector-box</code> -->
                </div>
            </div>
          </div>
          </div>
          </section>


</div>

</div>




{% endblock %}