{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Espaciado','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-gray "> Valores estrictamente definidos para mantener la unidad en todo el sistema. </div>
        </div>
    </div>
</section>

<div class="row pt-64 pb-64">

    <div class="col-xs-12 ">
        <div class="text-14-2b"> Espaciado</div>
    </div>
    <div class="col-xs-12"> 
        

<div class="bg-alert is-flex mb-16">
    <div class="mbr-128 ">
128
    </div>
</div>





























































































































































,

<div class="bg-alert is-flex mb-16">
    <div class="mbr-32 ">
32
    </div>
</div>

<div class="bg-alert is-flex mb-16">
    <div class="mbr-24 ">
24
    </div>
</div>




        
        <div class="alert">
            <p class="text-18-r">	
                Por lo tanto las unicas unidades que podemos usar para los espaciados es de...
                <br> <strong>8px,  16px, 24px, 32px, 40px, 48px,  64px...</strong>
    
                <br> <strong>6pt,  12pt, 18pt, 24pt, 30pt, 36pt, 48pt...</strong>
            </p>
        </div>


        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Full </strong>Padding
                                <p>
                                    Rodeando todo el elemento <span class="p-xs">padding: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
p-x: (xs, md, lg, xl),
p-8: (8px, 8px, 8px, 8px),
p-16: (16px, 16px, 16px, 16px),
p-24: (24px, 24px, 24px, 24px),
p-32: (32px, 32px, 32px, 32px),
p-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Vertical</strong>Padding
                                <p>
                                    Padding top y bottom <span class="p-xs">padding: Xpx Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-y"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
py-x: (xs, md, lg, xl), 
py-16: (10px 0, 16px 0, 16px 0, 16px 0),
py-24: (24px 0, 24px 0, 24px 0, 24px 0),
py-48: (20px 0, 30px 0, 40px 0, 50px 0),
py-64: (24px 16px,24px 16px, 24px 16px, 64px 64px),
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Horizontal </strong>Padding
                                <p>
                                    Padding left y right <span class="p-xs">padding: Xpx Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-x"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
px-x: (xs, md, lg, xl),
px-8: (8px, 8px, 8px, 8px),
px-16: (16px, 16px, 16px, 16px),
px-24: (24px, 24px, 24px, 24px),
px-32: (32px, 32px, 32px, 32px),
px-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Top </strong>Padding 
                                <p>
                                    Padding top <span class="p-xs">padding-top: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-t"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
px-x: (xs, md, lg, xl),
pt-8: (8px, 8px, 8px, 8px),
pt-16: (16px, 16px, 16px, 16px),
pt-24: (24px, 24px, 24px, 24px),
pt-32: (32px, 32px, 32px, 32px),
pt-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Bottom </strong>Padding
                                <p>
                                    Padding bottom <span class="p-xs">padding-bottom: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
px-x: (xs, md, lg, xl),
pb-8: (8px, 8px, 8px, 8px),
pb-16: (16px, 16px, 16px, 16px),
pb-24: (24px, 24px, 24px, 24px),
pb-32: (32px, 32px, 32px, 32px),
pb-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Left </strong>Padding
                                <p>
                                    Padding left <span class="p-xs">padding-letf: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
pl-x: (xs, md, lg, xl),
pl-8: (8px, 8px, 8px, 8px),
pl-16: (16px, 16px, 16px, 16px),
pl-24: (24px, 24px, 24px, 24px),
pl-32: (32px, 32px, 32px, 32px),
pl-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Right </strong>Padding
                                <p>
                                    Padding right <span class="p-xs">padding-right: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-pd x-r"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
pr-x: (xs, md, lg, xl),
pr-8: (8px, 8px, 8px, 8px),
pr-16: (16px, 16px, 16px, 16px),
pr-24: (24px, 24px, 24px, 24px),
pr-32: (32px, 32px, 32px, 32px),
pr-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Margin </strong>Full
                                <p>
                                    Rodeando todo el elemento <span class="p-xs">margin: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
m-x: (xs, md, lg, xl),
m-8: (8px, 8px, 8px, 8px),
m-16: (16px, 16px, 16px, 16px),
m-24: (24px, 24px, 24px, 24px),
m-32: (32px, 32px, 32px, 32px),
m-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Horizontal </strong>Margin
                                <p>
                                    Margin top y bottom <span class="p-xs">margin: Xpx Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-x"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
mx-x: (xs, md, lg, xl),
mx-10: (0 10px, 0 10px, 0 10px, 0 10px),
mx-20: (0 10px, 0 20px, 0 20px, 0 20px),
mx-30: (0 10px, 0 30px, 0 30px, 0 30px),
mx-48: (0 20px, 0 50px, 0 50px, 0 50px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Vertical </strong>Margin

                                <p>
                                    Margin left y right <span class="p-xs">margin: Xpx Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-y"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css">
my-x: (xs, md, lg, xl),
my-10: (10px 0, 10px 0, 10px 0, 10px 0),
my-20: (10px 0, 20px 0, 20px 0, 20px 0),
my-30: (10px 0, 30p 0x, 30p 0, 30px 0),
my-48: (20px 0, 50px 0, 50px 0, 50px 0);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Top </strong>Margin
                                <p>
                                    Margin top <span class="p-xs">margin-top: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-t"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
mt-x: (xs, md, lg, xl),
mt-8: (8px, 8px, 8px, 8px),
mt-16: (16px, 16px, 16px, 16px),
mt-24: (24px, 24px, 24px, 24px),
mt-32: (32px, 32px, 32px, 32px),
mt-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Right </strong>Margin
                                <p>
                                    Margin right <span class="p-xs">margin-right: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-r"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                    <pre><code class="language-css"> 
mr-x: (xs, md, lg, xl),
mr-8: (8px, 8px, 8px, 8px),
mr-16: (16px, 16px, 16px, 16px),
mr-24: (24px, 24px, 24px, 24px),
mr-32: (32px, 32px, 32px, 32px),
mr-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Bottom </strong>Margin
                                <p>
                                    Margin bottom <span class="p-xs">margin-bottom: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
mb-x: (xs, md, lg, xl),
mb-8: (8px, 8px, 8px, 8px),
mb-16: (16px, 16px, 16px, 16px),
mb-24: (24px, 24px, 24px, 24px),
mb-32: (32px, 32px, 32px, 32px),
mb-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                 <strong> Left </strong>Margin
                                <p>
                                    Margin left <span class="p-xs">margin-left: Xpx;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="x x-mg x-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-css"> 
ml-x: (xs, md, lg, xl),
ml-8: (8px, 8px, 8px, 8px),
ml-16: (16px, 16px, 16px, 16px),
ml-24: (24px, 24px, 24px, 24px),
ml-32: (32px, 32px, 32px, 32px),
ml-48: (20px, 48px, 48px, 48px);
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
            </div>
        </section>




</div>
</div>

<section class="mb-32 mt-32">
    <div class="row">

        <div class="col-xs-12 "><div class="text-14-2b"> Márgenes Hasta</div>  </div>
        <div class="col-xs-12 ">
<div class="todo">** Eliminar del proyecto</div>


            <table>
                <thead>
                    <tr>
                        <th>Helper</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>  {% for item in globals.margenhasta %} <tr>
                        <td class="bold"> {{ item.name }} </td>
                        <td> Margen inferior hasta {{ item.type }}; </td>
                    </tr> {% endfor %} </tbody>
            </table>

        </div>
    </div>
</section>


{% endblock %}