{% extends "base.html" %} 



{% block content %}
<div class="row bleed-0">
    <div class="col-xs-12  has-light">
        <div class="guide-header">
            <div class="fluid-100-m"> Gift Card </div>
        </div>
    </div>
</div>

<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="fluid-50-b mb-40"> Tarjeta regalo </div>

{% call insert.figma('https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2084') %}  {% endcall %}



        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12 col-sm-3 text-14-2b"> Código sass del componente</div>
        <div class="col-xs-12 col-sm-6">
    
<pre><code class="language-css">
.linex{
    height: 100%;
    width: 1px;
    background-color: #000;
    margin: 0 auto;
}
.giftcard-item{
    /* Rectangle 63 */
    width: 100%;
    height: 100%;
    background: #222231;
    border-radius: 8.12698px;
    filter: drop-shadow(0px 0px 50.7937px rgba(0, 0, 0, 0.2));
}
.align-compact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
}
.link10 {
    @include font-bold;
    position: relative;
    display: inline-block;
    border: 0;
    transform: none;
    font-size: 14px;
    line-height: 14px;
    padding:  0;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 1px;
        background: $primary;
    }
    &:hover{
        opacity: $opacity-links;
    }
}
.giftcard-tag{
    /* Rectangle 45 */
    margin: 16px 8px 0 8px;
    width: 40px;
    height: 40px;
    background: #CEF6D2;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid black;
        cursor: pointer;
    }
    &.is-selected{
        border: 1px solid black;
    }
}
</code></pre>


        </div>
    </div>
</section>


<section class="mb-32 mt-32">
    <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12">


    


            {% call insert.component('giftcard1', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2837') %}  {% endcall %}

            {% call insert.component('giftcard2', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2201') %}  {% endcall %}


            {% call insert.component('giftcard3', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2201') %}  {% endcall %}


            {% call insert.component('giftcard4', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2815') %}  {% endcall %}


            {% call insert.component('giftcard5', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2312') %}  {% endcall %}
            {% call insert.component('giftcard6', '800px','https://www.figma.com/file/IYi86E9KtGzUmr6Uuhjpcd/29580---Tarjeta-Regalo?node-id=2073%3A2656') %}  {% endcall %}

    
      
        </div>
    </div>
</section>










{% endblock %}