{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Guia','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "><div class="text-14-2b"> Titulo</div>  </div>
        <div class="col-xs-12">
            <div class="fluid-50-b"> Edita la guia mediante el uso de key 

            </div>
        </div>
    </div>
</section>

<section class="mb-32 mt-32">
    <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12 ">  
            
        </div>
        <div class="col-xs-12">
            <div class="fluid-50-b"> El color es fundamental para la experiencia del usuario y debe transmitir
                información de manera accesible para todos nuestros usuarios. </div>
        </div>
    </div>
</section>

<section class="mb-32 mt-32">
    <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
     <div class="col-xs-12  text-14-2b"> Snippets </div>
        <div class="col-xs-12">


<br>


{% call insert.key('Descripcion de la cosa','Command','Mayus','p') %} {% endcall %}
{% call insert.key('Descripcion de la cosa','Command','Mayus','p') %} {% endcall %}




Crear snippets  
<a href="https://snippet-generator.app/"> https://snippet-generator.app/ </a>



Lista de snippets actuales

ytitular
ysection 

<pre><code class="language-css">{ % call insert.input('Input animado','Requieren de un label') % }  { % endcall % }
{ % call insert.component('giftcard1', '800px','https://www.figma.com/file/nombredelarchivo') %}  { % endcall %}
{ % call insert.sass('giftcard') %}  { % endcall %}


</code></pre>




Cómo crear un componente en la guia



        </div>
    </div>
</section>

{% endblock %}