{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Helpers','desc','actualizado') %} {% endcall %} 
  {% endblock %} 

  {% set page_title = "helpers" %} 
{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-gray "> Helpers que ayudan a agilizar el proceso de maquetación. </div>
        </div>
    </div>
</section>

<div class="row pt-64 pb-64">

    <div class="col-xs-12 ">
        <div class="tit-m"> Helpers</div>
    </div>
    <div class="col-xs-12">
        <p class="p-14"> 
            Colección de helpers no categorizables.  </p>
        <section>
            <div class="mb-48">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-title mb-16">
                            <h3>    Text aligns</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-show">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Helper</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="bold">.text-center</span></td>
                                        <td>Centrado de texto</td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.text-left</span></td>
                                        <td>Alineación izquierda</td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.text-right</span></td>
                                        <td>Alineación derecha</td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.text-justify</span></td>
                                        <td>Texto justificado </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mb-48">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-title mb-16">
                            <h3>   Background positions </h3>
                            <p> Uso del cover </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-show">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Helper</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="bold">.bg-cover</span></td>
                                        <td>Imagen centrada al medio con cover</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Helper</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="bold">strong</span></td>
                                        <td>Font family bold </td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.border-1</span></td>
                                        <td>Border 1px gris corporativo </td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.border-t</span></td>
                                        <td>Border top 1px gris corporativo </td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.border-b</span> </td>
                                        <td>Border bottom 1px gris corporativo </td>
                                    </tr>
                                    <tr>
                                        <td><span class="bold">.flex-vcenter</span></td>
                                        <td>centrado vertical, incluso si tenemos iconos</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-title mb-16">
                            <h3>   Hidden Selectors </h3>
                                @media (max-width: $break-md) = display :none </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="pre-show">
                            <table>
                                <thead>
                                    <tr>
                                        <th>0 -> 736px</th>
                                        <th>SM - 758px </th>
                                        <th>MD - 992px </th>
                                        <th>LG - 1280</th>
                                        <th>XL - 1500</th>
                                        <th> OCULTO <strong>HASTA</strong> ...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bg-red"> none</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td> <span class="bold"> sm:hidden    </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-red"> none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td><span class="bold"> md:hidden    </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-red"> none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td><span class="bold"> lg:hidden    </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-red"> none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-green">visible</td>
                                        <td><span class="bold"> xl:hidden    </span> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <div class="pre-title mb-16">
                                        <h3>   Visible Selectors </h3>
                                        <p> @media (min-width: $break-md) = display:
                                            none </p>
                                    </div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>0 -> 736px</th>
                                        <th>SM - 758px </th>
                                        <th>MD - 992px </th>
                                        <th>LG - 1280</th>
                                        <th>XL - 1500</th>
                                        <th> Visible <strong>HASTA</strong> ...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td><span class="bold"> sm:visible  </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td><span class="bold"> md:visible  </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-red">none</td>
                                        <td class="bg-red">none</td>
                                        <td><span class="bold"> lg:visible </span> </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-green">visible</td>
                                        <td class="bg-red">none</td>
                                        <td><span class="bold"> xl:visible </span> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pre-title mb-16">
<h3>     Orden </h3>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pre-code">
                        <table>
                            <thead>
                                <tr>
                                    <th>Helper</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="bold">sm:reverse</span></td>
                                    <td> Invertiremos el contenido solo en mobile hasta 768px</td>
                                </tr>
                                <tr>
                                    <td><span class="bold">md:reverse</span></td>
                                    <td> Invertiremos el contenido solo en mobile hasta 992px</td>
                                </tr>
                                <tr>
                                    <td><span class="bold">lg:reverse</span></td>
                                    <td> Invertiremos el contenido solo en mobile hasta 1280px</td>
                                </tr>
                            </tbody>
                        </table>
<h3>     Orden de lectura</h3>
<p class="p-14">
    El orden de lectura en mobile, es : imagen primero y despues texto, pero en
    escritorio es, texto primero y después imagen.
</p>
<br>
                        <table>
                            <thead>
                                <tr>
                                    <th>Helper</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="bold">sm:order-last</span></td>
                                    <td> Cambiaremos el orden , hasta 768px </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">md:order-last</span></td>
                                    <td> Cambiaremos el orden , hasta 992px </td>
                                </tr>
                                <tr>
                                    <td><span class="bold">lg:order-last</span></td>
                                    <td> Cambiaremos el orden , hasta 1280px </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<section class="mb-32 mt-32">
    <div class="row">

        <div class="col-xs-12 "></div>
        <div class="col-xs-12">
            <h3> Helpers Varios</h3>
{% for item in globals.helpers %} 
<div class="guide-list"> 
    <div class="row">
        <div class="col-xs-3">
            <div class="bold"> {{item.helper}} </div> 
        </div>
        <div class="col-xs-9">
            <div class="p-14"> {{item.descripcion}} </div>
        </div>
    </div>
  </div>
    {% endfor %}
        </div>
    </div>
</section>
{% endblock %}