{% extends "base2.html" %} {% import "_button.html" as button %} {% block title %} {% call
special.titledoc('Input','desc','actualizado') %} {% endcall %} {% endblock %} 

{% set page_title = "input" %} 

{% block content %} <section
    class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="tit-m"> Types en inputs </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pre-title mb-16">
                        <br>
                        <p> El atributo type en un elemento input especifica el tipo de entrada que se espera del
                            usuario. Esto determina el tipo de teclado virtual o de entrada que se mostrará en
                            dispositivos móviles y puede cambiar la forma en que se procesan los datos introducidos por
                            el usuario. Algunos de los tipos más comunes de input son: </p>
                    </div>
                    <p class="p-s">
                    <div class="language-markup">
                        <pre>
<code >  
&lt;input type=&quot;text&quot;&gt; (default value) <br> //para entrada de texto
&lt;input type=&quot;number&quot;&gt; <br> // entrada numérica
&lt;input type=&quot;email&quot;&gt; <br> //para entrada de direcciones de correo electrónico @
&lt;input type=&quot;password&quot;&gt; <br>  //para entrada de contraseña
&lt;input type=&quot;date&quot;&gt; <br> // entrada de fechas
&lt;input type=&quot;radio&quot;&gt; <br> //para seleccionar una opción única de un conjunto de opciones
&lt;input type=&quot;checkbox&quot;&gt; //para seleccionar varias opciones de un conjunto de opciones
&lt;input type=&quot;button&quot;&gt;  <br>
&lt;input type=&quot;color&quot;&gt; <br>
&lt;input type=&quot;datetime-local&quot;&gt; <br>
&lt;input type=&quot;file&quot;&gt; <br>
&lt;input type=&quot;hidden&quot;&gt; <br>
&lt;input type=&quot;image&quot;&gt; <br>
&lt;input type=&quot;month&quot;&gt; <br>
&lt;input type=&quot;range&quot;&gt; <br>
&lt;input type=&quot;reset&quot;&gt; <br>
&lt;input type=&quot;search&quot;&gt; <br>
&lt;input type=&quot;submit&quot;&gt; <br>
&lt;input type=&quot;tel&quot;&gt; <br>
&lt;input type=&quot;time&quot;&gt; <br>
&lt;input type=&quot;url&quot;&gt; <br>
&lt;input type=&quot;week&quot;&gt; <br>
</code>	
</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 ">
            <div class="tit-s c-gray "> Input total : <b>Form-input-label-2</b> </div>

                    <span class="todo"> form-input-label descontinuado  Ahora--> form-input-label-2 mb-16 </span> 
                    <hr> 
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-xs-12">
          {% call insert.element("Form input label 2"," <div class='form-input-label-2 mb-16 is-error'>
                <input type='email' id='bb' class='input' placeholder='Email address' required='' />
                <label for='bb'>form input label 2</label>
                <div class='info-text p-xs text-right'>0/3</div>
                <div class='validation-error-messages'>
                    <div class='input-text p-xs'> Mensaje de info </div>
                    <div class='help p-14'>
                               <svg-icon src='warning'></svg-icon> 
                        <svg-icon src='warning' class='pr-8'> 
                    
                                <svg width='16' height='16' viewBox='0 0 16 16' fill='none'
                                    xmlns='http://www.w3.org/2000/svg'>
                                    <path
                                        d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z'
                                        fill='black'></path>
                                </svg> 
                        </svg-icon>
                        
                        Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
                        siguiente Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
                        siguiente Mensaje de error nuevo , empuja el siguiente
                    </div>
                </div>
            </div> ") %} {% endcall %}
        </div>
    </div>
</section>
<section>
    <div class="row mb-24">
        <div class="col-xs-12">





{% call insert.element("Input Básico","
<div class='form-input-label-2 mb-16'>
    <input type='text' id='basico1' class='input' placeholder='Nombre'  />
    <label for='basico1'>Input Básico</label>
</div> ", "narrow") %} {% endcall %} 




{% call insert.element("Input con texto  ","
    <div class='p-s '>
        Titular del input básico
    </div>
<div class='form-input-label-2 mb-16  '>
    <input type='email' id='t2' class='input' placeholder='Email address' required='' />
    <label for='t2'>form input label 2 </label>
    <div class='p-s c-gray pt-8'>
        Texto explicativo


    </div>
</div> ", "narrow") %} {% endcall %} 





{% call insert.element("Input is-error","
<div class='form-input-label-2 mb-16 is-error '>
    <input type='email' id='t2' class='input' placeholder='Email address' required='' />
    <label for='t2'>form input label 2</label>
    <div class='validation-error-messages'>
        <div class='help p-14'>
            <svg-icon src='warning' class='pr-8'> 
                <div _ngcontent-oww-c46=''><svg width='16' height='16' viewBox='0 0 16 16' fill='none'
                        xmlns='http://www.w3.org/2000/svg'>
                        <path
                            d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z'
                            fill='black'></path>
                    </svg> </div>
            </svg-icon>Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente
        </div>
    </div>
</div> ", "narrow") %} {% endcall %} 


{% call insert.element("Has-ico-pre","
<div class='form-input-label-2 mb-16 has-ico-pre  '>
    <input type='email' id='t3' class='input' placeholder='Email address' required='' />
<svg-icon>
    <svg class='ico-pre' width='16px' height='16px' viewBox='0 0 16 16'>
        <g transform='translate(0, 0)'>
            <circle fill='none' stroke='#000000' cx='8' cy='8' r='6'>
            </circle>
        </g>
    </svg>
</svg-icon>
    <label for='t3'>has ico pre</label>
</div> ", "narrow") %} {% endcall %} 



{% call insert.element("Has-ico-post","
<div class='form-input-label-2 mb-16 has-ico-post  '>
    <input type='email' id='t3' class='input' placeholder='Email address' required='' />
<svg-icon>
    <svg class='ico-post' width='16px' height='16px' viewBox='0 0 16 16'>
        <g transform='translate(0, 0)'>
            <circle fill='none' stroke='#000000' cx='8' cy='8' r='6'>
            </circle>
        </g>
    </svg>
</svg-icon>
    <label for='t3'>has ico post</label>
</div> ", "narrow") %} {% endcall %} 



{% call insert.element("Input con prefijo telefónico
","
<div class='form-input-prefix'>
    <div class='input-prefix'>
        <input type='tel' class='input ' placeholder='+34'  />
    </div>
    <div class='form-input-label-2'>
        <input type='tel' id='t6' class='input' placeholder='Teléfono'  />
        <label for='t1'>Telefono </label>
    </div>
</div> 
", "narrow") %} {% endcall %} 



{% call insert.element("Input con prefijo telefónico
"," <div class='row'>
    <div class='col-xs-12'>
        <div class='tit-s mb-16'> Input Password</div>
        <div class='form-input-label-2 form-input-pass has-ico-post  '>
            <input type='password' id='t5' class='input' placeholder='Password'  />
            <label for='t5'>Input Password</label>
            <svg-icon>  
            
            <svg class='ico-post' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16'> <g transform='translate(0, 0)'> <path fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M0.5,8 c0,0,3-5.5,7.5-5.5S15.5,8,15.5,8s-3,5.5-7.5,5.5S0.5,8,0.5,8z'> </path> <path data-color='color-2' fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M5,8 c0-1.657,1.343-3,3-3'></path> <path data-color='color-2' fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d=' M11,8c0,1.657-1.343,3-3,3'> </path> <line data-color='color-2' fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' x1='1' y1='15' x2='15' y2='1'></line> </g> </svg>
       
        </svg-icon>
       
        </div>
    </div>
</div>
<div class='row '>
    <div class='col-xs-6'>
        <ul class=' list-mini p-xs'>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
        </ul>
    </div>
    <div class='col-xs-6'>
        <ul class=' list-mini p-xs'>
            <li class='is-missing'>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
        </ul>
    </div>
</div>
", "narrow") %} {% endcall %} 




{% call insert.element("Input notouch o disabled
","<div class='form-input-label-2 mb-16'>
    <input type='text' id='basico1' class='input input-notouch' placeholder='Nombre'  />
    <label for='basico1'>Input Básico</label>
</div>", "narrow") %} {% endcall %} 



        </div>
    </div>


</section>


<section class="mb-100">
    <div class="tit-m">Inputs básicos placeholder sin animación</div>
        <div class="tit-s mb-24">Utilizados de forma residual en ipod y react.</div>
    <div class='row'>
        <div class='col-xs-6 '>
            <label for=''> Input</label>
            <input type='text' placeholder='text' class='input' />
        </div>

        <div class='col-xs-6 is-error'>
            <label for=''> is-error</label>
            <input type='text' placeholder='text' class='input' />
        </div>
        <div class='col-xs-6 ok-input'>
            <label for=''> ok-input</label>
            <input type='text' placeholder='text' class='input' />
        </div>
        <div class='col-xs-6 disabled-input'>
            <label for=''> disabled-input</label>
            <input type='text' placeholder='text' class='input' />
        </div>
    </div>

</section>


{% endblock %}