{% extends "base2.html" %} {% import "_button.html" as button %}

{% block title %} 


{% call special.titledoc('Layout','desc','actualizado') %} {% endcall %}


{% endblock %}

{% block content %}


<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="text-14-2b"> 00. Boilerplate </div>
        </div>
        <div class="col-xs-12">
            <div class="tit-s c-gray  mb-32"> Aprende a maquetar desde cero con el sistema holygrail </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox-svg">
                        <div class="checkbox-svg-label flex-column align-center">
                            <div class="svg-content">
                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 116.99 122.31">
                                    <title>icon</title>
                                    <circle id="cir1" cx="58.49" cy="28.07" r="26.25" fill="#b0b0d1" />
                                    <circle id="cir2" cx="58.49" cy="35.08" r="32.38" fill="#b0b0d1" />
                                    <circle id="cir3" cx="58.49" cy="24.4" r="19.88" fill="#b0b0d1" />
                                    <path d="M6.5,4.08a58.5,58.5,0,1,0,116.22,0Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <path d="M97.88,126.1a33.26,33.26,0,0,0-66.52.3Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <rect x="48.5" y="37.34" width="20" height="53.67" fill="#6a68ad" />
                                    <rect x="33.2" y="60.12" width="50.58" height="6.56" fill="#6a68ad" />
                                    <rect x="41.72" y="66.68" width="33.55" height="6.45" fill="#6a68ad" />
                                </svg>
                            </div>
                            <div class="text-18-b">Codesandbox</div>
                            <div class="text-center text-14-r"> Crea un componente o una maqueta con holygrail en la
                                nube. </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox-svg">
                        <div class="checkbox-svg-label flex-column align-center">
                            <div class="svg-content">
                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 116.99 122.31">
                                    <title>icon</title>
                                    <circle id="cir1" cx="58.49" cy="28.07" r="26.25" fill="#b0b0d1" />
                                    <circle id="cir2" cx="58.49" cy="35.08" r="32.38" fill="#b0b0d1" />
                                    <circle id="cir3" cx="58.49" cy="24.4" r="19.88" fill="#b0b0d1" />
                                    <path d="M6.5,4.08a58.5,58.5,0,1,0,116.22,0Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <path d="M97.88,126.1a33.26,33.26,0,0,0-66.52.3Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <rect x="48.5" y="37.34" width="20" height="53.67" fill="#6a68ad" />
                                    <rect x="33.2" y="60.12" width="50.58" height="6.56" fill="#6a68ad" />
                                    <rect x="41.72" y="66.68" width="33.55" height="6.45" fill="#6a68ad" />
                                </svg>
                            </div>
                            <div class="text-18-b">Github</div>
                            <div class="text-center text-14-r"> Crea un entorno de desarrollo desde cero </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="checkbox-svg">
                        <div class="checkbox-svg-label flex-column align-center">
                            <div class="svg-content">
                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 116.99 122.31">
                                    <title>icon</title>
                                    <circle id="cir1" cx="58.49" cy="28.07" r="26.25" fill="#b0b0d1" />
                                    <circle id="cir2" cx="58.49" cy="35.08" r="32.38" fill="#b0b0d1" />
                                    <circle id="cir3" cx="58.49" cy="24.4" r="19.88" fill="#b0b0d1" />
                                    <path d="M6.5,4.08a58.5,58.5,0,1,0,116.22,0Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <path d="M97.88,126.1a33.26,33.26,0,0,0-66.52.3Z" transform="translate(-6.12 -4.08)"
                                        fill="#6a68ad" />
                                    <rect x="48.5" y="37.34" width="20" height="53.67" fill="#6a68ad" />
                                    <rect x="33.2" y="60.12" width="50.58" height="6.56" fill="#6a68ad" />
                                    <rect x="41.72" y="66.68" width="33.55" height="6.45" fill="#6a68ad" />
                                </svg>
                            </div>
                            <div class="text-18-b">Boilerplate</div>
                            <div class="text-center text-14-r"> Crea un proyecto completo con parcel y gulp en tu local.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row pt-64 pb-64">

        <div class="col-xs-12 ">
            <div class="text-14-2b"> 01. Debug </div>
        </div>
        <div class="col-xs-12">
            <p class="p1"> Antes de nada, vamos a elegir que herramientas vamos a necesitar para poder debugear mientras
                maquetamos. </p>
            <pre>
    <code class="language-css"> 
    @include debug-divs();   // debugaremos con colores en las divs
    @include debug-imgs();   // Analisis de los links (uso de alts vacios  en imagenes)
    @include debug-links();  // Analisis de los links (uso de alts vacios  en imagenes)
    @include debug-forms();  // Analisis de los formularios y buenas praxis  (textarea. inputs erroneos)
    @include debug-headers();// Analisis de los encabezados
    @include debug-fine();   // depuración de elementos como 
    @include debug-all();    // depuración de todos a la vez
    </code>
    </pre>
            <div class="row">
                <div class="col-xs-12"> {% for item in globals.colors %} <div class="guide-colors text-center">
                        <div class="guide-colors-bg text-center" style="background-color:{{ item.type }};">
                        </div>
                        <div class="guide-colors-text">
                            <div> <span>Class:</span> {{ item.name }}</div>
                            <div><span>Hex:</span> {{ item.type }}</div>
                        </div>
                    </div> {% endfor %} </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mb-24"> Configuración del archivo <b>setup.scss</b> </h3> Antes de nada configuraremos la guia,
                    con ella generaremos el siguiente archivo de setup.scss. Después copiaremos y sustituiremos en
                    nuestro archivo setup las diferentes variables, de esta forma, tanto la documentación como el
                    proyecto estarán alineados.
                </div>
            </div>
            <div class="mini">
                <pre class=""><code class="language-css ">
{% for item in globals.fonts %}$font-family-{{ item.name }}:{{ item.family }};
{% endfor %}
{% for item in globals.colors %}${{ item.name }}:{{ item.type }};
{% endfor %}
{% for item in globals.containers %}${{ item.name }}:{{ item.type }};
{% endfor %}
{% for item in globals.breakpoints %}${{ item.name }}:{{ item.type }};
{% endfor %}
{% for item in globals.heights %}${{ item.name }}:{{ item.type }};
{% endfor %}
{% for item in globals.ModalSizes %}${{ item.class }}:{{ item.size }};
{% endfor %}
 $headers: (
/*headerssss*/ 
{% for item in globals.TypeHeaders %} 
    {{ item.name }}:({{ item.xs }},{{ item.sm }},{{ item.md }},{{ item.lg }},{{ item.line }},{{ item.weight }}),{% endfor %}
);
$font-weight-light: {{globals.fontweight}};
$font-weight-regular: {{globals.fontweight}};
$font-weight-medium: {{globals.fontweight}};
$font-weight-bold: {{globals.fontweight}};
$font-family-form-placeholder: {{globals.fontdefault}};
$font-family-form: {{globals.fontdefault}};
 $headersFixers: (
    /*name :  fontsize, lineheight */ 
{% for item in globals.fixes %}    {{ item.name }}: ({{ item.name }}px ,{{ item.line }}),
{% endfor %}
);
</code>
</pre>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row pt-64 pb-64">
        <div class="col-xs-12 ">
            <div class="text-14-2b"> 02. Creando la estructura </div>
        </div>
        <div class="col-xs-12">
            <div class="tit-s c-gray  mb-32"> Como si se tratase de una construcción, empezaremos por los cimientos y la
                estructura responsive donde más adelante insertaremos los componentes flexibles. </div>
            <h3>Sections</h3> Empezaremos maquetando por la <section> nuestras webs se separarán siempre por sections,
                muy delimitadas.
                <pre><code class="language-markup">&lt;section m-48 p-48 bleed-8 has-light&gt;</code></pre>
                <table>
                    <thead>
                        <tr>
                            <th>Seccion base</th>
                            <th> Márgenes</th>
                            <th> Paddings</th>
                            <th> Tipo de reticula </th>
                            <th> Color de textos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>
                                    < section>
                            </td>
                            <td> .m-48 </td>
                            <td> .p-48 </td>
                            <td> .bleed-8 </td>
                            <td> .has-light </td>
                            <td><b> > </b></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> .m-48 </td>
                            <td> .p-48 </td>
                            <td> .bleed-0 </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> .m-48 </td>
                            <td> .p-48 </td>
                            <td> .bleed-4 </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> .m-48 </td>
                            <td> .p-48 </td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <h3>Container</h3>
            <p>Elegimos el tipo de container usado </p>
            <table>
                <thead>
                    <tr>
                        <th>Tipo container</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>.container-fluid </td>
                        <td>Ancho máximo de 100% </td>
                    </tr> {% for item in globals.containers %} <tr>
                        <td> .{{ item.name }} </td>
                        <td>Ancho máximo de {{ item.type }} </td>
                    </tr> {% endfor %}
                </tbody>
            </table>
            <h3> Row</h3>
            <p>Colocamos el row , siempre es flex menos en el primer breakpoint sm El orden en el que colocaremos los
                modificadores será el siguiente.</p>
            <h3> Columnas</h3>
            <p>Colocamos el row , siempre es flex menos en el primer breakpoint sm El orden en el que colocaremos los
                modificadores será el siguiente.</p>
            <h3> Columnas Anidadas</h3>
            <p> </p>
        </div>
    </div>
</section> {% endblock %}