{% extends "base.html" %} {% block content %}
<div class="row bleed-0">
    <div class="col-xs-12  has-light">

        <div class="guide-header">
            <div class="fluid-100-m">
                Links
            </div>
        </div>

    </div>
</div>

<section class="mb-32 mt-32">
    <div class="row">

        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="fluid-50-b">
                Tipos de Links y sus usos.
            </div>
        </div>
    </div>
</section>


<section class="mb-32 mt-32">
    <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">

            {% call insert.links('link1','') %}  {% endcall %}

            {% call insert.links('link2','') %}  {% endcall %}
            
            {% call insert.links('link3','') %}  {% endcall %}
            
            {% call insert.links('link4','') %}  {% endcall %}
            
            {% call insert.links('link5','Link con animación') %}  {% endcall %}
            
            {% call insert.links('link6','') %}  {% endcall %}
            
            {% call insert.links('link7','Animación al iniciar la carga') %}  {% endcall %}
            
            {% call insert.links('link8','') %}  {% endcall %}
            
            {% call insert.links('link9','') %}  {% endcall %}
            
            {% call insert.links('link10','') %}  {% endcall %}
            


        </div>
    </div>
</section>



<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="text-14-2b"> <strong> Icono a la izquiera </strong> </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p> estructura para usar icono a la izquierda con </p>
            <span class="warning-context"> Solo soporta link7 - pendiente soporte HG </span>
            <div class="row mt-32">
                <div class="col-xs-12 ">
                    <div class="pre-show mb-32">
                        <span class="link7 ico ico-r text-14-m">
                            <a href="">Guía de tallas</a>
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguOTEzMDQgMy4yMzgxSDcuMDg2OTZMNS4yNjA4NyAySDIuODI2MDlMMSAzLjIzODFWNi45NTIzOEg0LjA0MzQ4VjE1SDExLjk1NjVWNi45NTIzOEgxNVYzLjIzODFMMTMuNzgyNiAySDEwLjEzMDRMOC45MTMwNCAzLjIzODFaIiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo="
                                alt="">
                        </span>
                    </div>
                    <div class="pre-show">
                        <span class="link7 ico ico-r text-14-m">
                            <span>Guía de tallas</span>
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguOTEzMDQgMy4yMzgxSDcuMDg2OTZMNS4yNjA4NyAySDIuODI2MDlMMSAzLjIzODFWNi45NTIzOEg0LjA0MzQ4VjE1SDExLjk1NjVWNi45NTIzOEgxNVYzLjIzODFMMTMuNzgyNiAySDEwLjEzMDRMOC45MTMwNCAzLjIzODFaIiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo="
                                alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <pre><code class="language-markup">
&lt;span class=&quot;link7 ico ico-l text-14-m&quot;&gt;
&lt;svg-icon src=&quot;YOUR_ICON&quot;&gt;&lt;/svg-icon&gt;
&lt;a href=&quot;&quot;&gt;Gu&iacute;a de tallas&lt;/a&gt;
&lt;/span&gt;

&lt;span class=&quot;link7 ico ico-r text-14-m&quot;&gt;
&lt;a href=&quot;&quot;&gt;Gu&iacute;a de tallas&lt;/a&gt;
&lt;svg-icon src=&quot;YOUR_ICON&quot;&gt;&lt;/svg-icon&gt;
&lt;/span&gt;


&lt;span class=&quot;link7 ico ico-r text-14-m&quot;&gt;
&lt;span&gt;Gu&iacute;a de tallas&lt;/span&gt;
&lt;svg-icon src=&quot;YOUR_ICON&quot;&gt;&lt;/svg-icon&gt;
&lt;/span&gt;
                    </code></pre>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}