{% extends "base.html" %} {% block content %} <div class="row bleed-0">
    <div class="col-xs-12  has-light">
        <div class="guide-header">
            <div class="fluid-100-m"> News </div>
        </div>
    </div>
</div>
<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="fluid-50-b">Conoce las versiónes mas actuales y los cambios mas importantes.</div>
        </div>
    </div>
</section>

<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="text-14-2b"> Inventario de versiones </div>
        </div>
        <div class="col-xs-12 col-sm-6">






            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title">
                        <h2>v 1.8.50 </h2>
                        <hr>
                        <ul>
                            <li>Nuevo botón con icono centrado <code>.has-ico-center</code></li>
                        </ul>
                        <p class="mt-16">
                            <i>10 may 2022</i>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title">
                        <h2>v 1.8.49 </h2>
                        <hr>
                        <ul>
                            <li>Se ajusta el valor de la variable de color "white-smoke" por exadecimal</li>
                            <li>[bug fix] bg-ligth vuelve a tener color de fondo</li>
                        </ul>
                        <p class="mt-16">
                            <i>10 may 2022</i>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title">
                        <h2>v 1.8.14 </h2>
                        <hr>
                        <ul>
                            <li>Fix rtl en checkout</li>
                        </ul>
                        <p class="mt-16">
                            <i>8 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.13 </h2>
                        <hr>
                        <ul>
                            <li>Unificación de colores con el sistema de diseño</li>
                            <li>Complementos en clases de espaciados</li>
                        </ul>
                        <div class="alert mt-32">
                            <p class="p1">
                                Se <strong>unifican colores</strong> con el sistema de diseño de MD, de ahora en
                                adelante se restringe el uso a estos colores, que en la medida de lo posible se llamen
                                mediante variable.
                            </p>
                        </div>
                        <a class="link1" href="/colores.html">ver colores</a>
                        <p class="mt-16">
                            <i>4 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.12 </h2>
                        <hr>
                        <ul>
                            <li>Unificación de colores</li>
                            <li>Complementos en clases de espaciados</li>
                        </ul>
                        <p class="mt-16">
                            <i>3 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>


            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.11 </h2>
                        <hr>
                        <ul>
                            <li>fix card9 opacity</li>
                        </ul>
                        <p class="mt-16">
                            <i>3 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>


            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.10 </h2>
                        <hr>
                        <ul>
                            <li>fix color errores en inputs</li>
                        </ul>
                        <p class="mt-16">
                            <i>2 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.9 </h2>
                        <hr>
                        <ul>
                            <li>fix transparencia card9</li>
                            <li>fix colores de errores en inputs</li>
                            <li>Soporte ico-l con svg-icon</li>
                        </ul>

                        <p class="mt-32">
                            <strong>ico-l</strong> helper para posicionar iconos en enlaces
                        </p>
                        <a class="link1" href="/links.html#link_ico_r">conoce más</a>
                        <p class="mt-16">
                            <i>2 mar 2022</i>
                        </p>

                    </div>
                </div>
            </div>


            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <h2>v 1.8.8 </h2>
                        <hr>
                        <ul>
                            <li>fix select-flat</li>
                            <li>fix cursor pointer en link7</li>
                            <li>fix font input de newslwtter</li>
                            <li>NEW btn separate</li>
                        </ul>

                        <p class="mt-32">
                            <strong>Btn-separate</strong> es una nueva clase de botones que contiene texto e icono
                            separados a los extremos.
                        </p>
                        <a class="link1" href="/buttons.html#btn-separate">conoce más</a>
                        <p class="mt-16">
                            <i>24 feb 2022</i>
                        </p>
                    </div>
                </div>
            </div>



            <div class="row mb-48">
                <div class="col-xs-12 ">
                    <div class="pre-title mb-16">
                        <strong>v 1.8.5 </strong>
                        <hr>
                        <ul>
                            <li>fix text-area comportamiento de errores</li>
                        </ul>
                        <p class="mt-16">
                            <i>24 feb 2022</i>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}