{% extends "basefull.html" %} {% import "_button.html" as button %} {% block
title %} {% call special.titledoc('Start Product Owner','desc','actualizado') %}
{% endcall %} {% endblock %} {% set page_title = "startdes" %} {% block content
%}
<div class="bg-dark has-light container-slide">
  <section class="mb-32 has-light bg-dark">
    <div class="row pt-64">
      <div class="col-xs-12"></div>
      <div class="col-xs-12">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/grafico/_1.svg" alt="Requisitos" />
              <div class="texto">
                <div class="p-l-b mb-8">1- Toma de requerimientos</div>
                <div class="p-m">
                  Esta etapa implica comprender los requisitos y expectativas
                  del cliente, definir los objetivos del proyecto, identificar
                  las necesidades y restricciones del negocio y establecer las
                  especificaciones del proyecto.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_2.svg" alt="Definición funcional" />
              <div class="texto">
                <div class="p-l-b mb-8">2- Refinición funcional</div>
                <div class="p-m">
                  Aquí se definen las funcionalidades principales que debe tener
                  el proyecto y cómo se relacionan entre sí.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_3.svg" alt="Revisión funcional" />
              <div class="texto">
                <div class="p-l-b mb-8">3- Revisión del funcional:</div>
                <div class="p-m">
                  Se lleva a cabo una revisión detallada del diseño funcional
                  para garantizar que se cumplan los requisitos y expectativas
                  del cliente.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_4.svg" alt="Estimación gruesa" />
              <div class="texto">
                <div class="p-l-b mb-8">4- Estimación gruesa:</div>
                <div class="p-m">
                  En esta etapa, se realiza una estimación inicial de los
                  recursos necesarios para el proyecto, incluyendo tiempo,
                  presupuesto y personal.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_5.svg" alt="Diseño" />
              <div class="texto">
                <div class="p-l-b mb-8">5- Diseño de la aplicación:</div>
                <div class="p-m">
                  Diseñaremos las pantallas, y crearemos un caso extremo
                  (Master) *. Todo debe estar tageado con clases. -Textos
                  -Espaciados (siempre inferiores mb-margin bottom), -Ratios de
                  imágenes. El caso extremo debe tener los 4 breakpoints,
                  mobile, tablet, desktop, longdesktop,
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_6.svg" alt="Revisión Diseño" />
              <div class="texto">
                <div class="p-l-b mb-8"> 6- Revisión de diseño:</div>
                <div class="p-m">
                  Se revisa y valida el diseño de la aplicación para garantizar
                  que cumpla con los requisitos y expectativas del área
                  peticionaria.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_7.svg" alt="Estimación media" />
              <div class="texto">
                <div class="p-l-b mb-8">Estimación media:</div>
                <div class="p-m">
                  Se realiza una estimación más detallada de los recursos
                  necesarios para el proyecto en base al diseño.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_8.svg" alt="Requisitos" />
              <div class="texto">
                <div class="p-l-b mb-8">Maquetación del proyecto</div>
                <div class="p-m">
                  Se construyen prototipos de la aplicación, para validar el
                  diseño y la funcionalidad.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_9.svg" alt="Requisitos" />
              <div class="texto">
                <div class="p-l-b mb-8">Revisión de la maqueta</div>
                <div class="p-m">
                  Se revisan y validan los prototipos construidos para
                  asegurarse de que cumplan con los requisitos del cliente.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_10.svg" alt="Requisitos" />
              <div class="texto">
                <div class="p-l-b mb-8">Estimación fina</div>
                <div class="p-m">
                  Se realiza una estimación detallada de los recursos necesarios
                  para el proyecto en base a los prototipos. Tenemos: 1-Diseño
                  regularizado. 2-Maqueta testeada. 3-Componentes en holygrail
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_11.svg" alt="Desarrollo" />
              <div class="texto">
                <div class="p-l-b mb-8">Desarrollo</div>
                <div class="p-m">
                  Se realiza la implementación del proyecto, con base en el
                  diseño y prototipos validados.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_12.svg" alt="revision desarrollo" />
              <div class="texto">
                <div class="p-l-b mb-8">Revisión de desarrollo</div>
                <div class="p-m">
                  Se revisa y valida el desarrollo de la aplicación para
                  asegurarse de que cumpla con los requisitos del cliente.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_13.svg" alt="uat" />
              <div class="texto">
                <div class="p-l-b mb-8">UAT (User Acceptance Testing)</div>
                <div class="p-m">
                  Se llevan a cabo pruebas con el usuario final para validar que
                  la aplicación cumpla con los requerimientos del negocio y del
                  usuario.
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../images/grafico/_14.svg" alt="uat" />
              <div class="texto">
                <div class="p-l-b mb-8">Subida a producción</div>
                <div class="p-m">
                  Se implementa la aplicación en producción mediante una subida
                  de la release.
                </div>
              </div>
            </div>
          </div>
    

        <!-- con paginacion -->
        <div class="swiper-pagination"></div>
        <!-- si necesitas botones-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
      </div>
    </div>
  </section>
<section class="main-content pb-64">


    <div class="tit-m mb-24"> La importancia de tener un Sitemap </div>


    <p class="p-s mb-16">
        Como product owner, un sitemap visual es una herramienta muy valiosa para asegurar que tu página web se desarrolle y
        se mantenga adecuadamente.  <br>
        El sitemap visual te proporciona una vista completa de todas las páginas de tu sitio web y su estructura, lo que te
        permite entender cómo los usuarios navegarán a través de él.  <br>
        Al comprender cómo los usuarios navegan por tu sitio web, puedes realizar cambios y mejoras que faciliten la
        navegación y mejoren la experiencia del usuario.  <br>
        El sitemap visual es una herramienta excelente para verificar la calidad de tu sitio web, ya que puedes revisar
        todas las páginas en un solo lugar y asegurarte de que todos los enlaces funcionen correctamente y que el contenido
        esté actualizado y sea relevante.  <br>
    </p>


    <p class="tit-s mb-16">En este sitemap visual, se colocarán comentarios directamente en la página web, permitiéndonos visualizarla como un todo y no simplemente como partes individuales.</p>

    <p class="p-s">
        Compartir el sitemap visual con el equipo de desarrollo y diseño puede ayudar a asegurar que todos estén trabajando
        hacia los mismos objetivos y sepan exactamente qué se espera de ellos.
        El sitemap visual puede ayudarte a planificar futuras expansiones y mejoras en tu sitio web. Al ver claramente la
        estructura existente, puedes identificar fácilmente áreas donde se podría agregar contenido adicional o páginas
        nuevas.  <br>
        En resumen, como product owner, el sitemap visual es una herramienta esencial para comprender la estructura y
        navegación de tu sitio web, mejorar la experiencia del usuario, controlar la calidad, facilitar la colaboración y
        planificar futuras expansiones. Por lo tanto, es fundamental para el éxito a largo plazo de tu sitio web y negocio.
    </p>
</section>



<section class="main-content pb-64">
    <div class="row">
        <div class="col-xs-12">
            <div class="tit-m mb-24"> Creación y mantenimiento del sitemap</div>
        </div>
        <div class="col-xs-12">
            <p class="p-s">
                Compartir el sitemap visual con el equipo de desarrollo y diseño puede ayudar a asegurar que todos estén trabajando
                hacia los mismos objetivos y sepan exactamente qué se espera de ellos.
                El sitemap visual puede ayudarte a planificar futuras expansiones y mejoras en tu sitio web. Al ver claramente la
                estructura existente, puedes identificar fácilmente áreas donde se podría agregar contenido adicional o páginas
                nuevas.  <br>
    
            </p>

        </div>

        <div class="col-xs-12">
            <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/e2c21fcbaea240e08e2eefe3aa317ee0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

        </div>
    </div>
</section>


</div>
{% endblock %}
