{% extends "base.html" %}

{% block content %}
<div class="main-content guide">

    <div class="container-3">
        <div class="row">
            <div class="col-xs-12">
     
                <h1 class="h1">Introduccion</h1>
                
                <p class="text-18-r"> Aqui veremos como customizar el holygrail de cero siguiendo la especificación de Holygrail css, desarrollamos
                    una biblioteca de elementos de usuario que contiene un conjunto de componentes y
                    demostraciones de alta calidad para crear interfaces de usuario Previas a
                    Desarrollo. </p>   
                    
                    
                    <h3>
                        INSTALACIÓN 
                    </h3>   
                    
                                 
                <p class="text-18-r"> Aqui veremos como customizar el holygrail de cero siguiendo la especificación de Holygrail css, desarrollamos
                    una biblioteca de elementos de usuario que contiene un conjunto de componentes y
                    demostraciones de alta calidad para crear interfaces de usuario Previas a
                    Desarrollo. </p>   

                    <code>npm i holygrailcss </code>






                    <h4>Descargar el proyecto</h4>

                    Opción 1: Instalación con NPM package
                    
                    <p class="text-18-r">Recomendamos el uso de npm , a fin de mantener la última versión estable de holygrail</p>
                    
                    <code>npm i holygrailcss</code>


                    Opción2: Clonar el repositorio de Github
                    
                    <p class="text-18-r">Holygrail está disponible con github</p>
                    
                    <code>git clone https://github.com/holygrailcss</code>
                    <h4>Opción3: Link directo desde cdn</h4>
                    
                    <p class="text-18-r">Holygrail está disponible en jsdelivr</p>
                    
                    <code>https://cdn.jsdelivr.net/npm/holygrailcss@1.8.8/dist/style.css</code>


                    <h4>Ejecutar el proyecto</h4>
                    
                       <p class="text-18-r">    Antes que nada comprueba que tienes node.js en tu ordenador, en caso de no tenerlo instalarlo.</p>
                    
                    <h4>Comprobar versión de node</h4>
                    
                    <code>node -v</code>


                       <p class="text-18-r"> 1- Una vez en la carpeta del proyecto instalamos los módulos necesarios con npm</p>
                    
                    <code>npm i</code>
                       <p class="text-18-r"> 2- Compilamos sass con npm</p>
                    
                    <code>npm build-sass</code>
                       <p class="text-18-r"> 3- Usamos Gulp para comprimir y lanzar el proyecto</p>
                    
                    <code>gulp style gulp watch</code>
                       <p class="text-18-r"> Si no tienes gulp instalado:</p>
                    
                    <code>npm install --save-dev gulp</code>
                       <p class="text-18-r"> Si tienes problemas en Mac puede que necesites ejecutar el comando como administrador</p>
                    
                    <code>sudo npm install --save-dev gulp</code>


           
            </div>
        </div>
    </div>
</div>



{% endblock %}
