{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Start designer','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% block content %}




<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 "></div>
        <div class="col-xs-12 col-md-9">
            <div class="tit-s c-gray "> Para trabajar todos de manera alineada, coherente y a mayor velocidad, se deben
                seguir las siguientes pautas. </div>
        </div>
    </div>
</section>
<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 mb-32 ">
            <div class="head-s"> Nuestro design system </div>
        </div>
        <div class="col-xs-12">

            {% call insert.figma('https://www.figma.com/file/a964zjTH63yAgIwWhia2op/MD-DESIGN-SYSTEM?node-id=0%3A1') %}  {% endcall %}




            <div class="h0">00. Cover:</div>
            <p class="p-14">Debe llevar un título de proyecto que describa el contenido, si pertenece a Web o Apps y el
                número de Jira al que está asociado el proyecto.</p>

<br>  <br>
            <div class="h0">01. Design:</div>
            <p class="p-14"> En esta página trabajaremos en el diseño/funcionalidades que ocupen el proyecto. Si el
                proyecto es grande y se quiere dividir en diversas páginas, las crearemos siguiendo la nomenclatura “0x.
                Design_xxxxxxxx” </p>
                <br>  <br>

            <div class="h0">02. Refs:</div>
            <p class="p-14">Si queremos trabajar con referencias podemos trabajar con ellas en las páginas “design” pero
                al finalizar el proyecto limpiaremos las páginas y las ubicaremos aquí para futuras consultas.</p>
                <br>  <br>

            <div class="h0">03. Old:</div>
            <p class="p-14">Aquí colocaremos versiones alternativas o descartadas de los diseños. Es importante para no
                confundir a los POs, desarroladores o cualquiera que tenga que entrar al proyecto.</p>
        </div>
    </div>
</section>
<div class="row ">

    <div class="col-xs-12 ">
        <div class="text-14-2b"> Empezando a trabajar:</div>
    </div>
    <div class="col-xs-12">
        <p class="tit-s c-gray "> Para empezar a trabajar hay unas pocas más directrices a tener en cuenta.</p>

<hr class="separator">


        <p class="p-14">
        <div class="h0">Cargar el Design System</div>

        <br>
        <p class="p-14">En realidad cualquier proyecto nuevo que abras tendrá activado por defecto el MD DESING SYSTEM,
            pero por si acaso, es este:</p>

            <hr class="separator">

        <div class="h0">Crear los frames adecuados.</div>
        
        
        
        Trabajamos siempre con los mismos 3 formatos para
        mobile, tablet y desktop. Si un caso particular requiere usar otros formatos, se hará de forma adicional. 
        
        <img src="/images/responsive.jpg" alt="">
        <div
            class="h0"> MOBILE: 375 px 
            
            <br> TABLET: 768 px 
            
            <br> DESKTOP: 1440 px </div>
        <div class="h0">Aplicar la grid.</div> Una vez creado un frame, deberemos aplicar la grid correspondiente
        al formato. </p>
        <div class="mb-48"></div>
        <h2 class="tit-s mb-32"><b> Design System </b></h2>
        <iframe height="450" width="800" src="https://www.figma.com/embed?embed_host=share&amp;&url=
        https://www.figma.com/file/a964zjTH63yAgIwWhia2op/MD-DESIGN-SYSTEM?node-id=551%3A4738
                 " allowfullscreen>
        </iframe>


        
        <br>
    </div>
</div>


<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Trabajando con estilos </div>
        </div>
        <div class="col-xs-12"> 
            <div class="tit-s c-gray  mb-32"> Trabajar con estilos es muy importante, ya que nos hace ganar en coherencia visual
                y sobretodo nos permite hacer cambios a gran velocidad. </div>
            
            
            
            <p class="p-14">
                Es muy importante que cada elemento que usemos tenga su estilo de color. Hay que
                recalcar especialmente esto en las capas de texto. cuando escribimos una capa de texto nueva, esta usará por defecto
                el color negro puro. Hay que recordar siempre cambiar el estilo al “Black”. <br>
                
                <div class="tip">
                    <div class="h0"> <b> TRUCO: </b> </div>
                    
                    Siempre podemos revisar un
                    diseño al finalizarlo seleccionando todo el frame y viendo la selección de colores y cambiarlos todos de golpe. <br>
                </div>
                <div class="h0">Textos:</div>
                
                No trabajamos con textos sin estilos. <br> 
                
                Actualmente tenemos 16 estilos de texto disponibles con 3 pesos
                distintos. <br> 
                
                Si en el proceso de algún diseño vemos que necesitamos un estilo que no existe en el Design System,
                acudiremos a Sergio o a Jennifer para hacer la petición y valorarlo. <br>
                
                No se puede acabar un proyecto con estilos
                que no estén reflejados en el Design System.
            </p>

        </div>
    </div>
</section> 


<section class="mb-32 mt-32">
    <div class="row">
    
        <div class="col-xs-12 ">
            <div class="text-14-2b"> Los componentes </div>
        </div>
        <div class="col-xs-12"> 
            <div class="tit-s c-gray  mb-32"> Los componentes facilitan el trabajo del diseñador.
                Se han diseñado previamente para ser reutilizados, adaptados y además se van actualizando  habitualmente. </div>
            
            
            
     
                <div class="h0">Colores</div>
                <p class="p-14">Es muy importante que cada elemento que usemos tenga su estilo de color. Hay que recalcar especialmente esto en las capas de texto. cuando escribimos una capa de texto nueva, esta usará por defecto el color negro puro. Hay que recordar siempre cambiar el estilo al “Black”.</p>
                
                <div class="tip">
                    <div class="h0"> <b> TRUCO: </b> </div>
                    <p class="p-14">Siempre podemos revisar un diseño al finalizarlo seleccionando todo el frame y viendo la selección de colores y cambiarlos todos de golpe.</p>
                    
                </div>
                <div class="h0">Textos:</div>
                <p class="p-14">
                    No trabajamos con textos sin estilos.  <br>
                    
                    Actualmente tenemos 16 estilos de texto disponibles con 3 pesos distintos.<br>
                    
                    Si en el proceso de algún diseño vemos que necesitamos un estilo que no existe en el Design System, acudiremos a Sergio o a Jennifer para hacer la petición y valorarlo.
                    <br>
                    No se puede acabar un proyecto con estilos que no estén reflejados en el Design System.<br>
                </p>
                


        </div>
    </div>
</section> 



{% endblock %}