{% extends "basefull.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Start Product Owner','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
  {% set page_title = "startdes" %} 
{% block content %}



<div class="bg-dark has-light container-slide">
    
    <section class="mb-32  has-light bg-dark">
        <div class="row pt-64">
            <div class="col-xs-12 "></div>
            <div class="col-xs-12">
    
    
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
    
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
    
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
    
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
    
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
                        <div class="swiper-slide">
                            <img src="https://source.unsplash.com/400x800?woman???" alt="">
    
                        </div>
    
                    </div>
                    <!-- con paginacion -->
                    <div class="swiper-pagination"></div>
    
                    <!-- si necesitas botones-->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
    
    
            </div>
        </div>
    </section>
    
    
    
    
    <section class="main-content pb-64">
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate provident ducimus magnam! Libero, cupiditate! Minus ut nostrum enim numquam laudantium ab rerum optio consequuntur totam cumque, quis perferendis sint deserunt.
    </section>
</div>

{% endblock %}