{% extends "base.html" %} {% block content %}

<div class="row bleed-0">
  <div class="col-xs-12  has-light">

      <div class="guide-header">
          <div class="fluid-100-m">
              Tabs
          </div>
      </div>

  </div>
</div>
<div class="row pt-64 pb-64">
    <div class="col-xs-12 mb-8 ">
        <hr>
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="text-14-2b"> Tabs</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9"> 


        <section>
            <div class="container-fluid">
          <div class="mb-48">
            <div class="row">
               <div class="col-xs-12 ">
                 <div class="pre-title mb-16">
                      <strong> Left </strong>Tabs
                         <p>
                      Left tabs
                      </p>
                  </div>
              </div>
            </div>
            <div class="row">
             <div class="col-xs-12 ">
                <div class="pre-show">
                 <div class="tabs">
                     <ul>
                         <li class="is-active"><a>Pictures</a></li>
                         <li><a>Music</a></li>
                         <li><a>Videos</a></li>
                         <li><a>Documents</a></li>
                     </ul>
                 </div>
                 </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 ">
                <pre><code class="language-markup"> 
                 &lt;div class=&quot;tabs&quot;&gt;
                     &lt;ul&gt;
                         &lt;li class=&quot;is-active&quot;&gt;&lt;a&gt;Pictures&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Music&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Videos&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Documents&lt;/a&gt;&lt;/li&gt;
                     &lt;/ul&gt;
                 &lt;/div&gt;
         </code></pre>
              </div>
            </div>
          </div>
          </div>
          </section>
         
         
           <section>
             <div class="container-fluid">
           <div class="mb-48">
             <div class="row">
                <div class="col-xs-12 ">
                  <div class="pre-title mb-16">
                       <strong> Center </strong>Tabs
                          <p>
                         Center tabs
                       </p>
                   </div>
               </div>
             </div>
             <div class="row">
              <div class="col-xs-12 ">
                 <div class="pre-show">
                     <div class="tabs is-center">
                         <ul>
                             <li class="is-active"><a>Pictures</a></li>
                             <li><a>Music</a></li>
                             <li><a>Videos</a></li>
                             <li><a>Documents</a></li>
                         </ul>
                     </div>
                  </div>
               </div>
             </div>
             <div class="row">
               <div class="col-xs-12 ">
                 <pre><code class="language-markup"> 
                     &lt;div class=&quot;tabs is-center&quot;&gt;
                     &lt;ul&gt;
                         &lt;li class=&quot;is-active&quot;&gt;&lt;a&gt;Pictures&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Music&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Videos&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Documents&lt;/a&gt;&lt;/li&gt;
                     &lt;/ul&gt;
                 &lt;/div&gt;
          </code></pre>
               </div>
             </div>
           </div>
           </div>
           </section>
         
          <section>
             <div class="container-fluid">
           <div class="mb-48">
             <div class="row">
                <div class="col-xs-12 ">
                  <div class="pre-title mb-16">
                       <strong> around </strong>Tabs
                          <p>
                         Distribución de pestañas en el espacio disponible.
                       </p>
                   </div>
               </div>
             </div>
             <div class="row">
              <div class="col-xs-12 ">
                 <div class="pre-show">
                     <div class="tabs is-around">
                         <ul>
                             <li class="is-active"><a>Pictures</a></li>
                             <li><a>Music</a></li>
                         </ul>
                     </div>
                  </div>
               </div>
             </div>
             <div class="row">
               <div class="col-xs-12 ">
                 <pre><code class="language-markup"> 
                     &lt;div class=&quot;tabs is-around&quot;&gt;
                     &lt;ul&gt;
                         &lt;li class=&quot;is-active&quot;&gt;&lt;a&gt;Pictures&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Music&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Videos&lt;/a&gt;&lt;/li&gt;
                         &lt;li&gt;&lt;a&gt;Documents&lt;/a&gt;&lt;/li&gt;
                     &lt;/ul&gt;
                 &lt;/div&gt;
          </code></pre>
               </div>
             </div>
           </div>
           </div>
           </section>

</div>

</div>




{% endblock %}