{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Tools','desc','actualizado') %} {% endcall %} 
  {% endblock %} 

  {% set page_title = "tools" %} 
{% block content %}

<section class="mb-32 mt-32">
    <div class="row">


        <div class="col-xs-12 ">
         
            <div class="tabguide">
                <ul id="tabguide-nav" class="list-inline">
                  <li><a href="#tabguide1">Bob</a></li>
                  <li><a href="#tabguide2">Dante</a></li>
                  <li><a href="#tabguide3">Randall</a></li>
                  <li><a href="#tabguide4">Jay</a></li>
                </ul> <!-- END tabguideguide-nav -->
                <div id="tabguide-content">
                  <div id="tabguide1" class="tabguide-content">
                    <h2>Silent Bob</h2>
                    <p>"You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."</p>
                  </div>
                  <div id="tabguide2" class="tabguide-content">
                    <h2>Dante Hicks</h2>
                    <p>"My friend here's trying to convince me that any independent contractors who were working on the uncompleted Death Star were innocent victims when it was destroyed by the Rebels."</p>
                  </div>
                  <div id="tabguide3" class="tabguide-content">
                    <h2>Randall Graves</h2>
                    <p>"In light of this lurid tale, I don't even see how you can romanticize your relationship with Caitlin. She broke your heart and inadvertently drove men to deviant lifestyles."</p>
                  </div>
                  <div id="tabguide4" class="tabguide-content">
                    <h2>Jay</h2>
                    <p>"I don't care if she's my cousin or not, I'm gonna knock those boots again tonight."</p>
                  </div>
                </div> <!-- END tabguideguide-content -->
              </div> <!-- END tabguideguide -->
        
        </div>
    </div>
</section>



{% endblock %}