{% extends "base2.html" %} 
  {% import "_button.html" as button %} 
  {% block title %} 
    {% call special.titledoc('Videos','desc','actualizado') %} {% endcall %} 
  {% endblock %} 
{% block content %}




<div class="row pt-64 pb-64">
    <div class="col-xs-12 mb-8 ">
        <hr>
    </div>
    <div class="col-xs-12 ">
        <div class="text-14-2b"> Insertando el vídeo</div>
    </div>
    <div class="col-xs-12 ">

        <p class="p1 mb-32">
            Si queremos que los videos se inicien en autoplay, deberemos forzarlo con la etiqueta <code>muted y playsinline</code> .


            <a href="https://www.figma.com/file/TphbZXL0sb5OzIYiODQ2a6/HOME"> figma</a>
        </p>

        <video autoplay loop muted playsinline>
            <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
            <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            Your browser does not support the video tag.
          </video>
<pre><code class="language-markup">
 {{"<video autoplay loop muted playsinline>
    <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
    <source src='https://vjs.zencdn.net/v/oceans.webm' type='video/webm'> Your browser does not support the video tag.
</video>" |escape}}
</code></pre>

<a class="link4" target="_blank" href="https://vjs.zencdn.net/v/oceans.mp4"> Ver vídeo con audio </a>


    </div>
</div> 



<section class="mb-32 mt-32">
    <div class="row">
        <div class="col-xs-12 ">


            <div class="fluid-50-b mb-40"> Todo vídeo deberá seguir las siguientes pautas en la creación del mismo .  </div>


            <div class="tip">
                <div class="text-18-b"> <b> TRUCO: </b> </div>
                <p class="p1"> Uno de los mejores compresores del mercado es handbrake, además es gratuito. </p>
                <a target="_blank" class="link-line" href="https://handbrake.fr/"> Link a handbrake</a>
            </div>



      <h3>Duración :</h3> Nunca deberá superar los <b>6 segundos</b> de vídeo en loop. 
      <br class="mb-32">
      <br> Si queremos insertar un vídeo de una duración superior con audio, deberemos abrir una modal con un visualizador minimalista con la finalidad de no entorpecer la navegación al usuario y poder disfrutar de la totalidad del vídeo. 


      <hr class="separator">

      <h3>Formato :</h3> Se entregarán dos versiones como mínimo.<b> mp4 y webm</b>, la versión ogg es opcional. Para ello usaremos Handbrake como herramienta de compresión . <br>
     <br>
     
   

      <hr class="separator">

      <h3>Peso :</h3> Un vídeo en loop no deberia superar los 6 mb, ya que más bloquearia y ralentizará la web. <div class="br"></div>

      <hr class="separator">

      <h3>Frame rate :</h3> Usaremos framerates de 24 fps / 30 fps <div class="br"></div>

      <hr class="separator">

      <h3>Canal de audio :</h3> Si no tiene sonido, deberemos eliminar el canal de audio a la hora de exportar <div class="br"></div>
    
    
    </div>
    </div>
</section>

{% endblock %}