---
layout: base-clean.njk
---

<link rel="stylesheet" href="/assets/css/home.css">
<link rel="stylesheet" href="/assets/css/hg-footer.css">

<div class="templates-2026-home p-24">
  {% include '_paginas/templates-2026/hg-footer.njk' %}
</div>
