$breakpoints: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
);

$breakpointscols: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px,
) !default;

$colBreakpoints: length($breakpoints);

$break-xs: nth(map-values($breakpoints), 1);
$break-sm: nth(map-values($breakpoints), 2);
$break-md: nth(map-values($breakpoints), 3);
$break-lg: nth(map-values($breakpoints), 4);

$break-xl: 1440px;
$break-2xl: 1600px;
$break-3xl: 1920px;

$min-width: 319px;
