@import "_variables.scss";
@mixin space-0-pdesktop {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $break-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@mixin space-20-40 {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $break-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@mixin space-0-0 {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $break-sm) {
    padding-left: 0;
    padding-right: 0;
  }
}
@mixin space-pmobile-pdesktop {
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $break-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@mixin details-pmobile-0 {
  .card9-wrap-details {
    padding-left: 8px;
    @media (min-width: $break-sm) {
      padding-left: 0;
    }
  }
  .is-rtl {
    .card9-wrap-details {
      padding-right: 8px;
      @media (min-width: $break-sm) {
        padding-right: 0;
      }
    }
  }
}
@mixin details-pmobile-first {
  .card9-wrap-details {
    padding-left: 8px;
    @media (min-width: $break-sm) {
      padding-left: 0;
    }
  }
  .is-rtl {
    .card9-wrap-details {
      padding-right: 8px;
      @media (min-width: $break-sm) {
        padding-right: 0;
      }
    }
  }
}
@mixin details-pmobile-pdesktop {
  .card9-wrap-details {
    padding-left: 8px;
    @media (min-width: $break-sm) {
      padding-left: 16px;
    }
  }
  .is-rtl {
    .card9-wrap-details {
      padding-right: 8px;
      @media (min-width: $break-sm) {
        padding-right: 16px;
      }
    }
  }
}
@mixin colors-pmobile-0 {
  .card9-wrap-details {
    padding-right: 8px;
    @media (min-width: $break-sm) {
      padding-right: 0;
    }
  }
  .is-rtl {
    .card9-wrap-details {
      padding-left: 8px;
      @media (min-width: $break-sm) {
        padding-left: 0;
      }
    }
  }
}
@mixin colors-pmobile-pdesktop {
  .card9-wrap-details {
    padding-right: 8px;
    @media (min-width: $break-sm) {
      padding-right: 16px;
    }
  }
  .is-rtl {
    .card9-wrap-details {
      padding-left: 8px;
      @media (min-width: $break-sm) {
        padding-left: 16px;
      }
    }
  }
}
@mixin col-24-24 {
  flex: 0 0 95.83333333333334%;
  max-width: 95.83333333333334%
}
@mixin col-24-23 {
  flex: 0 0 95.83333333333334%;
  max-width: 95.83333333333334%
}
@mixin col-24-22 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%
}
@mixin col-24-21 {
  flex: 0 0 87.5%;
  max-width: 87.5%
}
@mixin col-24-20 {
  flex: 0 0 83.33333333333334%;
  max-width: 83.33333333333334%
}
@mixin col-24-19 {
  flex: 0 0 79.16666666666666%;
  max-width: 79.16666666666666%
}
@mixin col-24-18 {
  flex: 0 0 75%;
  max-width: 75%
}
@mixin col-24-17 {
  flex: 0 0 70.83333333333334%;
  max-width: 70.83333333333334%
}
@mixin col-24-16 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%
}
@mixin col-24-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%
}
@mixin col-24-14 {
  flex: 0 0 58.333333333333336%;
  max-width: 58.333333333333336%
}
@mixin col-24-13 {
  flex: 0 0 54.166666666666664%;
  max-width: 54.166666666666664%
}
@mixin col-24-12 {
  flex: 0 0 50%;
  max-width: 50%
}
@mixin col-24-11 {
  flex: 0 0 45.83333333333333%;
  max-width: 45.83333333333333%
}
@mixin col-24-10 {
  flex: 0 0 41.66666666666667%;
  max-width: 41.66666666666667%
}
@mixin col-24-9 {
  flex: 0 0 37.5%;
  max-width: 37.5%
}
@mixin col-24-8 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%
}
@mixin col-24-7 {
  flex: 0 0 29.166666666666668%;
  max-width: 29.166666666666668%
}
@mixin col-24-6 {
  flex: 0 0 25%;
  max-width: 25%
}
@mixin col-24-5 {
  flex: 0 0 20.833333333333336%;
  max-width: 20.833333333333336%
}
@mixin col-24-4 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%
}
@mixin col-24-3 {
  flex: 0 0 12.5%;
  max-width: 12.5%
}
@mixin col-24-2 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%
}
@mixin col-24-1 {
  flex: 0 0 4.166666666666666%;
  max-width: 4.166666666666666%
}
@mixin col-6-1 {
  -webkit-box-flex: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
@mixin col-6-2 {
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
@mixin col-6-3 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
@mixin col-6-4 {
  -webkit-box-flex: 0;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
@mixin col-6-5 {
  -webkit-box-flex: 0;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
@mixin col-6-6 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
@mixin col-12-1 {
  -webkit-box-flex: 0;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
@mixin col-12-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
@mixin col-12-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
@mixin col-12-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
@mixin col-12-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
@mixin col-12-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
@mixin col-12-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
@mixin col-12-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
@mixin col-12-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}
@mixin col-12-10 {
  -webkit-box-flex: 0;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
@mixin col-12-11 {
  -webkit-box-flex: 0;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
@mixin col-12-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.grid-product-view-new {
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  width: 100%;
}
@mixin m-body {
  margin: 0 8px;
  @media (min-width: $break-sm) {
    margin: 0 30px;
  }
}
@mixin m-body-0 {
  margin: 0;
}
@mixin m-body-bleed {
  margin: 0;
}
@mixin m-body-bleed-sm {
  margin: 0 -10px;
}
@mixin m-body-20-sm {
  margin: 0 10px;
}
@mixin gap-20 {
  .sk-load2::before {
    padding-top: calc((133.25% + 76px));
  }
}
@mixin gap-1 {
  gap: 1px;
  grid-column-gap: 1px;
  .p-view {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@mixin gap-0 {
  gap: 0px;
  grid-column-gap: 0px;
  .p-view {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@mixin sp-contents-20 {
  li .card9-contents {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@mixin sp-contents-2n-1 {
  li:nth-child(2n - 1) .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 0px;
    }
  }
}
@mixin sp-contents-2n-1-0 {
  li:nth-child(2n - 1) .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 20px;
    }
  }
  li:nth-child(3) .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 0px;
    }
  }
}
@mixin sp-contents-first-20-0 {
  li:first-child .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 0px;
    }
  }
}
@mixin sp-contents-first-20-20 {
  li:first-child .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 20px;
    }
  }
}
@mixin sp-contents-20-first-20 {
  li .card9-contents {
    padding-left: 20px;
    @media (min-width: $break-sm) {
      padding-left: 0px;
    }
  }
  li:first-child .card9-contents {
    padding-left: 20px;
  }
}
@mixin sp-wraps($template) {
  &_0 {
    #{$template}-wrap {
      margin-top: 0;
      @media (min-width: $break-sm) {
        margin-top: 0;
      }
      @media (min-width: $break-lg) {
        margin-top: 0;
      }
    }
  }
  &_1   {
    #{$template}-wrap {
      margin-bottom: 8px;
      @media (min-width: $break-sm) {
        margin-bottom: 12px;
      }
      @media (min-width: $break-lg) {
        margin-bottom: 24px;
      }
    }
  }
  &_2   {
    #{$template}-wrap {
      margin-top: 8px;
      margin-bottom: 8px;
      @media (min-width: $break-sm) {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      @media (min-width: $break-lg) {
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }
  }
}
@mixin sp-contents-xs {
  @media (max-width: #{$break-sm - 1}) {
    li .card9-contents {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
@mixin sp-contents-sm {
  @media (min-width: $break-sm) {
    li .card9-contents {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
@mixin sp-contents-xs-1 {
  //espaciados en los lados
  @media (max-width: #{$break-sm - 1}) {
    li:nth-child(odd) .card9-contents {
      padding-left: 8px;
      padding-right: 8px;
    }
    li:nth-child(even) .card9-contents {
      padding-left: 0;
      padding-right: 8px;
    }
  }
}




@mixin sp-contents-sm-0 {
  @media (min-width: $break-sm) {
    li .card9-contents {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@mixin sp-contents-sm-3 {
  //espaciados en los lados
  @media (min-width: $break-sm) {
    li:nth-child(3n - 2) .card9-contents {
      padding-left: 12px;
      padding-right: 0;

    }
    li:nth-child(3n) .card9-contents {
      padding-left: 0;
      padding-right: 12px;

    }
  }
}


@mixin sp-contents-sm-4 {
  //espaciados en los lados
  @media (min-width: $break-sm) {
    li:nth-child(4n - 3) .card9-contents {
      padding-left: 12px;
      padding-right: 0;

    }
    li:nth-child(4n) .card9-contents {
      padding-left: 0;
      padding-right: 12px;
    }
  }
}



//espaciados en desktop a los lados
@mixin sp-contents-sm-1 {
  @media (min-width: $break-sm) {
    li .card9-contents {
      padding-left: 0;
      padding-right: 12px;
    }
    li:first-child .card9-contents {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}


.grid-product-list {
  .sk-load2::before {
    padding-top: calc(133.25% + 76px);
  }
  .sk-nodetail.sk-load2::before {
    padding-top: calc(133.25%);
  }
}


@mixin sp-gapnodetails($template) {

  #{$template}_0 {
    #{$template}-wrap {
      gap: 0;
    }
  
  }
}