
  @font-face {
    font-family: 'DuttiW-Light' ;
    src: url('../fonts/duttiw/DuttiW-Light.woff2') format('woff2'), url('../fonts/duttiw/DuttiW-Light.woff') format('woff');
}
@font-face {
    font-family: 'DuttiW-Regular';
    src: url('../fonts/duttiw/DuttiW-Regular.woff2') format('woff2'), url('../fonts/duttiw/DuttiW-Regular.woff') format('woff');
}

@font-face {
    font-family: 'DuttiW-Medium';
    src: url('../fonts/duttiw/DuttiW-Medium.woff2') format('woff2'), url('../fonts/duttiw/DuttiW-Medium.woff') format('woff');
}

@font-face {
    font-family: 'DuttiW-SemiBold';
    src: url('../fonts/duttiw/DuttiW-SemiBold.woff2') format('woff2'), url('../fonts/duttiw/DuttiW-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'DuttiW-Bold';
    src: url('../fonts/duttiw/DuttiW-Bold.woff2') format('woff2'), url('../fonts/duttiw/DuttiW-Bold.woff') format('woff');
}


@font-face {
    font-family: 'DuttiWExtended-Bold';
    src: url('../fonts/duttiw/DuttiWExtended-Bold.woff2') format('woff2'), url('../fonts/duttiw/DuttiWExtended-Bold.woff') format('woff');
}


@font-face {
    font-family: 'DuttiWExtended-ExtraBold';
    src: url('../fonts/duttiw/DuttiWExtended-ExtraBold.woff2') format('woff2'), url('../fonts/duttiw/DuttiWExtended-ExtraBold.woff') format('woff');
}
        

$headers:/* name:mobile,768,992,1280,line-height,font */
(
h1: (32px, 32px, 32px, 40px, 1.2, "medium" ),
h2: (24px, 24px, 24px, 32px, 1.2, "medium" ),
h3: (18px, 18px, 18px, 24px, 1.2, "medium" ),
h4: (16px, 16px, 16px, 18px, 1.2, "medium" ),
h5: (16px, 16px, 16px, 16px, 1.2, "bold" ),
h6: (12px, 12px, 12px, 14px, 1.2, "medium" ),
h7: (10px, 10px, 10px, 12px, 1.2, "medium" ),
h8: (8px,   8px,  8px, 10px, 1.2, "medium" ),

h0: (18px, 18px, 24px, 24px, 1.2, "bold"   ), /* todo giftcard */
h10: ( 24px, 24px, 50px, 50px, 1, 'bold2' ),  /* pagina de corte*/

display1: (32px, 32px, 32px, 48px, 1.2, "bold"   ),/* PROMOTIONS BANNER */
display2: (20px, 20px, 20px, 40px, 1.2, "bold"   ),/* SALES */
display3: (16px, 16px, 16px, 24px, 1.5, "medium" ),/* BLACK FRIDAY */
display4: (14px, 14px, 14px, 24px, 1.5, "medium" ),/* SALES */
display5: (14px, 14px, 14px, 18px, 1.5, "regular"),/* BLACK FRIDAY */
display6: (12px, 12px, 12px, 18px, 1.5, "regular"),/* SALES */
display7: (14px, 14px, 14px, 18px, 1.5, "medium" ),/* SALES + BLACK FRIDAY */
display8: (18px, 18px, 24px, 24px, 1, "bold2" ),/* todo giftcard */

subtitle: (14px, 14px, 14px, 14px, 1.4, "regular"),

p1: (16px, 16px, 16px, 16px, 1.4, "regular"),
p2: (14px, 14px, 16px, 18px, 1.4, "regular"),
p3: (14px, 14px, 14px, 14px, 1.3, "regular"),
p4: (14px, 14px, 16px, 18px, 1.4, "medium" ),

// todo a holygrail giftcard
h12: (32px, 32px, 32px, 72px, 1.2, "bold2"   ),

//a actualizar

tit-l: (24px, 24px, 48px, 48px, 1.1, "bold2"),
tit-m: (20px, 20px, 32px, 32px, 1.1, "bold2"),
tit-s: (16px, 16px, 20px,20px, 1.1, "bold"),
tit-xs:(14px, 14px, 14px,14px, 1.1, "bold"),


head-l:(56px, 56px, 96px, 96px, 1.1, "bold2"),
head-m:(42px, 42px, 64px, 64px, 1.1, "bold2"),
head-s:(32px, 32px, 56px ,56px, 1.1, "bold2"),

p-l: (18px, 18px, 20px ,20px, 1.1, "regular"),
p-m: (12px, 12px, 14px ,14px, 1.1, "regular"),
p-s: (14px, 14px, 16px ,16px, 1.1, "regular"),
p-xs:(10px, 10px, 12px ,12px, 1.1, "regular")

//a actualizar

);

$headersFluids: (
  /*name :  fontsize, lineheight */
  12 : (12px, 12px, .9),
  14 : (14px, 14px, .9),
  16 : (16px, 16px, 2),
  18 : (18px, 18px, 2),
  20 : (20px, 40px, 1),
  50 : (30px, 50px, 1),
  100 : (50px, 200px, 1),
  150 : (50px, 120px, .9),


  
  );

  $mb: "margin-bottom";
  $margin-bottom: /* name : margen bottom*/
  (
  mb-8: (8px, 8px, 8px, 8px),
  mb-16: (16px, 16px, 16px, 16px),
  mb-24: (24px, 24px, 24px, 24px),
  mb-32: (32px, 32px, 32px, 32px),
  mb-40: (40px, 40px, 40px, 40px),
  mb-48: (48px, 48px, 48px, 48px) ,
  mb-64: (64px, 64px, 64px, 64px) ,
  mb-82: (82px, 82px, 82px, 82px) ,
  mb-100: (100px, 100px, 100px, 100px),
  mbr-50-100: (50px, 50px, 100px, 100px) ,


  mbr-24: (16px, 24px, 24px, 24px) ,
  mbr-32: (24px, 32px, 32px, 32px) ,
  mbr-64: (32px, 64px, 64px, 64px) ,
  mbr-128: (64px, 128px, 128px, 128px) ,

  //todo giftcard

  mbr-20-40: (20px, 40px, 40px, 40px) 
  )!default;

$font-family-primary: 'DuttiW-Regular', 'Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;

$font-family-light:   'DuttiW-Light', 'Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;
$font-family-regular: 'DuttiW-Regular', 'Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;
$font-family-medium:   'DuttiW-Medium', 'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;
$font-family-bold:     'DuttiW-SemiBold', 'Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;
$font-family-black:    'DuttiW-Bold','Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;

$font-family-italic:  'Helvetica Neue', Helvetica, 'Arial ', 'Lucida Grande', sans-serif;

$font-family-regularcn:  'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;
$font-family-mediumcn: 'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;
$font-family-boldcn: 'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;

$font-family-2-regular: 'DuttiWExtended-Regular', 'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;
$font-family-2-medium:  'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;
$font-family-2-bold: 'DuttiWExtended-Bold', 'Helvetica Neue', Helvetica, 'Arial Narrow', 'Lucida Grande', sans-serif;

$font-weight-light: inherit;
$font-weight-regular: inherit;
$font-weight-medium: inherit;
$font-weight-bold: inherit;

$font-family-form-placeholder: 'DuttiW-Regular';
$font-family-form: 'DuttiW-Regular';


$btn-radius: 8px;

// massimodutti color MD 2022
$c-white: #FFFFFF;
$c-black: #000000;

$c-dark-grey: #8E8E8E;
$c-middle-grey: #E3E3E3;
$c-light-grey: #F0F0F0;

$c-primary: #292929;
$c-error: #B40016;
$c-info: #1A32A4;

$c-success: #76AE4A;
$c-warning: #ffc700;
$c-feel: #fb9962;
// fin massimodutti color MD 2022