---
layout: base.njk
---
{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">  {{ content | safe }}
<div class="row">
  <div class="col-xs-12">
    <h2 id="banner-basic">BANNER-BASIC</h2>

  </div>
</div>


  <div class="row ">


    <div class="col-xs-12 grid-3 gap-16">
      <div class="mb-32 p-16 text-l text-center bg-warning"> <b>.bg-warning </b><br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
      
         <div class="mb-32 p-16 text-l text-center bg-info">  .bg-info <br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
      
         <div class="mb-32 p-16 text-l text-center bg-success">  .bg-success <br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
      
         <div class="mb-32 p-16 text-l text-center bg-error has-light">  .bg-error <br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
      
         <div class="mb-32 p-16 text-l text-center bg-feel has-light">  .bg-feel <br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
      
      
         <div class="mb-32 p-16 text-l text-center bg-light-grey">  .bg-limited <br>
        Nullam justo eros, tincidunt sed aliquam at, venenatis eget ipsum. Mauris iaculis ac libero non consectetur.
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">

      {% call insert.banner('bg-warning is-flex p-16' ,'Banner warning') %}
      {% endcall %}






      {% call insert.banner('marketing-spot' ,'Usado en cesta y checkout para mensajes de freeshiping y alerta de
      personalización') %}
      {% endcall %}

      
      {% call insert.bannerActions('link-line' ,'Banner con enlace de texto a la derecha') %} {% endcall %}
      {% call insert.bannerActions('ico-link' ,'Banner con enlace de icono a la derecha') %} {% endcall %}
      {% call insert.bannerActions('ico-context' ,'Banner con icono contextual a la izquierda') %} {% endcall %}
      {% call insert.bannerActions('ico-app' ,'Banner descarga la app') %} {% endcall %}
      {% call insert.bannerActions('ico-warning' ,'Banner warning') %} {% endcall %}

      <h3 class="my-16 title-l">Banner app</h3>


        <div class=" banner-app container-375 border-1 p-20 demo-banner">
          <div class="title-l ttu mb-16">10% off your first app orders</div>
          <p class="title-l">Shop through our app for 10% off your first order with code APPio. T&Cs apply.</p>
          <button class="btn btn-primary text-m btn--full mt-20 "> DOWNLOAD APP</button>
        </div>
 

      <div class="mt-24">
        <pre class="language-markup">
        <code>
        &lt;div class=&quot;container-375 border-1 p-20&quot;&gt;
          &lt;div class=&quot;title-l ttu mb-16&quot;&gt;10% off your first app orders&lt;/div&gt;
          &lt;p class=&quot;title-l&quot;&gt;Shop through our app for 10% off your first order with code APPio. T&amp;Cs apply.&lt;/p&gt;
          &lt;button class=&quot;btn btn-primary text-m btn--full mt-20 &quot;&gt; DOWNLOAD APP&lt;/button&gt;
        &lt;/div&gt;
        </code>
        </pre>
      </div>


      <h3 id="banner-newsletter" class="my-16 title-l">Banner newsletter <span class="nav-badge nav-badge--updated">requiere hg5 &ge; 1.0.21</span></h3>
      <p>Banner promocional con logo de marca a la izquierda, copy central y botón de acción (<code>.label-s</code>) a la derecha. Fondo oscuro con texto claro. <strong>Requiere versión hg5 &ge; 1.0.21.</strong></p>
      <div class="resize-mini">
        <div class="resize-mini-content  ">
          <div class="container">
            <div class="row">

              <div class="bg-dark has-light w-100 flex-vcenter p-8 leading-1">
                <button class="btn btn-link flex-grow-0 pr-16 c-light" aria-label="Cerrar">
                  <svg width="10" height="10" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L8 7.29289L14.6464 0.646447C14.8417 0.451184 15.1583 0.451184 15.3536 0.646447C15.5488 0.841709 15.5488 1.15829 15.3536 1.35355L8.70711 8L15.3536 14.6464C15.5488 14.8417 15.5488 15.1583 15.3536 15.3536C15.1583 15.5488 14.8417 15.5488 14.6464 15.3536L8 8.70711L1.35355 15.3536C1.15829 15.5488 0.841709 15.5488 0.646447 15.3536C0.451184 15.1583 0.451184 14.8417 0.646447 14.6464L7.29289 8L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z" fill="#ffffff"></path>
                  </svg>
                </button>
                <div class="flex-grow-0 pr-16">
                  <div class="bg-white is-flex align-middle content-center p-4" style="width:40px;height:40px;border-radius:4px;">
                    <span class="label-s leading-1 text-center c-primary">Massimo<br>Dutti</span>
                  </div>
                </div>
                <div class="is-flex flex-1 flex-column ">
                  <span class="hg-body-l ttu leading-1 mb-4 ">Suscríbete a la newsletter</span>
                  <div class="hg-label-s leading-1">Consigue un -10% en tu siguiente compra</div>
                </div>
                <div class="flex-grow-0 pl-16">
                  <button class="btn btn-primary bg-white c-primary hg-label-s pt-12 pb-12 pl-24 pr-24" style="border-radius:999px;">Suscribir</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <pre>
          <code id="" class="language-markup c-">
          &lt;div class=&quot;bg-dark has-light w-100 flex-vcenter p-8 leading-1&quot;&gt;
            &lt;button class=&quot;btn btn-link flex-grow-0 pr-16 c-light&quot; aria-label=&quot;Cerrar&quot;&gt;
              &lt;svg-icon src=&quot;close&quot; style=&quot;--icon-size:10px;&quot;&gt;&lt;/svg-icon&gt;
            &lt;/button&gt;
            &lt;div class=&quot;flex-grow-0 pr-16&quot;&gt;
              &lt;div class=&quot;bg-white is-flex align-middle content-center p-4&quot; style=&quot;width:40px;height:40px;border-radius:4px;&quot;&gt;
                &lt;span class=&quot;label-s leading-1 text-center c-primary&quot;&gt;Massimo&lt;br&gt;Dutti&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;is-flex flex-1 flex-column leading-1&quot;&gt;
              &lt;span class=&quot;hg-body-l ttu mb-4&quot;&gt;Suscríbete a la newsletter&lt;/span&gt;
              &lt;p class=&quot;hg-label-s&quot;&gt;Consigue un -10% en tu siguiente compra&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;flex-grow-0 pl-16&quot;&gt;
              &lt;button class=&quot;btn btn-primary bg-white c-primary hg-label-s pt-12 pb-12 pl-24 pr-24&quot; style=&quot;border-radius:999px;&quot;&gt;Suscribir&lt;/button&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          </code>
        </pre>
      </div>

    </div>
  </div>


</div>