---
layout: base.njk
---
{% import "_macros/_helper.njk" as helper %}
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>

<div class="main-content innermarkdown">
  {{ content | safe }}

  <h2 id="anatomia" class="h3">Anatomia General</h2>
  <img width="100%" src="/assets/static/images/boton2.svg" alt="Anatomía del botón">

  <h2 id="estados" class="h3">ESTADOS</h2>
  <p class="p1">Todos los botones tienen los mismos estados de "Default", "Hover" y "Disabled".</p>
  <img width="100%" src="/assets/static/images/botones.svg" alt="Estados de los botones">

  <pre><code class="language-markup">
    &lt;button class="btn btn-primary"&gt;btn btn-primary&lt;/button&gt;
    &lt;button class="btn btn-limited"&gt;btn btn-limited&lt;/button&gt;
    &lt;button class="btn btn-feel"&gt;btn btn-feel&lt;/button&gt;
    &lt;button class="btn btn-blue"&gt;btn btn-blue&lt;/button&gt;
  </code></pre>

  <h3 id="primary" class="h2">Button primary</h3>
  <p class="p1 mb-24">El botón principal con relleno de color se utiliza para las acciones más importantes en una página o en una vista. Los botones primarios están disponibles en blanco y negro.</p>
  {% call helper.insert(elementType='button',['btn btn-primary']) %}{% endcall %}

  <h3 id="Secondary" class="h2">Botón Secondary</h3>
  <p class="p1 mb-24">Botón outline</p>
  {% call helper.insert(elementType='button',['btn btn-secondary']) %}{% endcall %}

  <h3 id="tertiary" class="h2">Botón Tertiary</h3>
  <p class="p1 mb-24">Botón simulando un link básico - no necesita .btn para resetear</p>
  {% call helper.insert(elementType='button',['btn-tertiary']) %}{% endcall %}

  <h2 id="tamaños" class="h3">Tamaños de Button</h2>
  <div class="row bg-light p-16">
    <div class="col-xs-12 mb-32">
      {% for Size in global.ButtonSize %}
        <button class="btn btn-primary {{Size.size}} mb-16">{{Size.size}}</button><br>
      {% endfor %}
    </div>
  </div>

  <h2 id="btnalineaciones" class="h2">Alineaciones</h2>

  <h3 id="btnalineaciones" class="h2">Grupo de botones alineados</h3>
  <p class="text-l mb-32">Contenedor para agrupar botones conservando su aspecto <code>.btn-group-inline</code>.</p>
  <div class="pre-show">
    <div class="btn-group-inline">
      <div class="btn btn-secondary btn--medium">Boton 1</div>
      <div class="btn btn-secondary btn--medium">Boton 2</div>
    </div>
  </div>

  <pre><code class="language-markup">
    &lt;div class='btn-group-inline'&gt;
      &lt;div class='btn btn-secondary btn--medium'&gt;Boton 1&lt;/div&gt;
      &lt;div class='btn btn-secondary btn--medium'&gt;Boton 2&lt;/div&gt;
    &lt;/div&gt;
  </code></pre>

  <h3 id="conjunta" class="h2">Agrupación conjunta</h3>
  <p class="title-m mb-24">Grupo de botones, pueden ir a sangre con la clase btn-group-bleed.</p>
  <p class="title-m mb-24">Activador con .is-active</p>
  <p><code>.btn-group-bleed</code></p>

  <div class="btn-group-bleed mb-64">
    <div class="btn-group">
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--mini is-active">.is-active</button>
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--mini">mini</button>
    </div>
    <div class="btn-group m--1">
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--mini">mini</button>
    </div>
  </div>

  <pre><code class="language-markup">
    &lt;div class="btn-group-bleed mb-64"&gt;
      &lt;div class="btn-group"&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini is-active"&gt;.is-active&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class="btn-group m--1"&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
        &lt;button class="btn btn-secondary btn--mini"&gt;mini&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code></pre>

  <p><code>.btn-group</code></p>
  <div class="pre-show mb-24">
    <div class="btn-group">
      <button class="btn btn-secondary btn--mini">mini</button>
      <button class="btn btn-secondary btn--medium">medium</button>
      <button class="btn btn-secondary btn--large">large</button>
    </div>
  </div>

  <pre><code class="language-markup">
    &lt;div class='btn-group'&gt;
      &lt;button class='btn btn-secondary btn--mini'&gt;mini&lt;/button&gt;
      &lt;button class='btn btn-secondary btn--medium'&gt;medium&lt;/button&gt;
      &lt;button class='btn btn-secondary btn--large'&gt;large&lt;/button&gt;
    &lt;/div&gt;
  </code></pre>

  <!-- Resto del código... -->

</div>