---
layout: base.njk
---
{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}
</div>
<div class="main-content">
  {% call insert.input('Input básico') %}{% endcall %}
  {% call insert.inputTexto('Input con texto') %}{% endcall %}
  {% call insert.inputError('Input con error') %}{% endcall %}
  {% call insert.inputPre('has-ico-pre') %}{% endcall %}
  {% call insert.inputPost('has-ico-post') %}{% endcall %}
  {% call insert.inputPwd('Input password') %}{% endcall %}
  {% call insert.inputDisabled('Input no-touch/disabled') %}{% endcall %}
  {% call insert.inputFeelBadge('Input con badge feel') %}{% endcall %}
  {% call insert.inputPrefix('Input prefijo telefónico') %}{% endcall %}
  {% call insert.inputPrefixDropdown('Input prefijo telefónico con dropdown') %}{% endcall %}
  {% call insert.inputPrefixBtn('Input prefijo telefónico con botón') %}{% endcall %}
  {% call insert.inputIpod('Inputs básicos placeholder sin animación') %}{% endcall %}
  {% call insert.inputBtn('Inputs básicos seguidos de botón') %}{% endcall %}
  {% call insert.textarea('Inputs básicos seguidos de textarea') %}{% endcall %}

  


<div class="row">
    <div class="col-xs-12">
        <p class="title-s ttu mb-16">Fecha de nacimiento</p>
    </div>
    <div class="col-xs-12 is-flex">

            <div class="form-input-label-2 " >
                <input
                    type="dia"
                    id="t1"
                    class="input"
                    formControlName="phone"
                    placeholder="dia"
                />
                <label for="t1">Dia </label>
            </div>
            <div class="form-input-label-2 " >
                <input
                type="mes"
                id="t2"
                class="input"
                formControlName="phone"
                placeholder="dia"
                        />
                        <label for="t2">Mes </label>
            </div>
            <div class="form-input-label-2 " >
            <input
            type="any"
            id="t1"
            class="input"
            formControlName="phone"
            placeholder="dia"
                />
                <label for="t1">Año</label>
        </div>
   
    </div>
</div>

<style>
</style>
</div>