{% block cookies1 %} <div class="container-fluid" contenteditable="true">
    <div class="row  is-flex align-middle">
        <div class="col-xs-12">
            <div class="banner-cookies p-body w-100 xs:text-center">
                <div class="col-xs-12 col-sm-6 mdmax:mb-16"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Non commodi, veritatis qui repellendus eius . </div>
                <div class="col-xs-12 col-sm-6 is-flex banner-cookies-btn  ">
                    <button class="link-line text-14-r m-16 "> Boton link uno </button>
                    <button class="btn btn-primary btn--full ">Boton dos de cookies</button>
                </div>
            </div>
        </div>
    </div> {% endblock %}