.banner-cookies {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	@media (min-width: 768px) {
		flex-direction: row;
		align-items: center;
	}
}
.banner-cookies-btn {
	justify-content: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	.btn-primary {
		@media (min-width: 768px) {
			width: auto;
		}
	}
}
