{% extends "basecomponent.html" %}
{% block content %}
<div class="footer has-light bg-primary pt-32">
    <div class="row content-center">
        <div class="col-xs-12 col-sm-3">
            <div class="nl">
                <p class="p-m">Suscribe to our newsletter to be updated on our news, collections and editorials by Massimo Dutti</p>
                <button class="btn btn-secondary mt-16">Suscríbete</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <ul>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
