{% extends "basecomponent.html" %}
{% block content %}
<div class="footer has-light bg-primary pt-32">
    <div class="row content-center text-center mb-64">
        <div class="col-xs-10 col-sm-3">
            <div class="nl">
                <p class="p-m">Suscribe to our newsletter to be updated on our news, collections and editorials by Massimo Dutti</p>
                <button class="btn btn-secondary mt-16">Suscríbete</button>
            </div>
        </div>
    </div>
    <div class="row mb-48">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
                <li><a href="#" class="link-raw">Label</a></li>
            </ul>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
                <li><a href="" class="link-raw">LINKS</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
