{% block content %} <div class="container-4" contenteditable="true">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="text-14-r mb-8"> Step 2 of 3 </div>
      <div class="display8 mb-16"> Choose amount </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class=" rat-3-2 mb-16">
        <div class="  rat-content ">
          <div class="giftcard-item align-center"> contenido </div>
        </div>
      </div>



      <div class="mb-24">
        <div class="dummycompo"> angular component slider </div>
      </div>
      <div class=" align-compact text-center">
        <p class="p1 mb-8">Ships in 1 to 3 business days <br> +3,95 € Shipping costs (estimated). </p>
        <div class="text-12-r mb-16 ">If the amount selected is less than 80€.</div>
        <a href="" class="link-line mb-32">Want it for today? Choose the virtual gift card</a>


        <a href="" class="btn btn-primary btn--large mb-24"> Next </a>
        <a href="" class="link-line mb-32"> Need help? </a>
        <p class="text-12-r c-gray"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, autem. Quasi rerum, iure enim voluptas deserunt error delectus laudantium alias! Architecto quis doloremque harum repudiandae nemo. Corrupti harum aperiam quia. </p>

          
      </div>
    </div>
  </div>
</div> {% endblock %}