{% block giftcard1 %}<div class="container-7">
    <div class="row ">
        <div class="col-xs-12 text-center md:text-left  ">
            <div class="h12"> GIFT CARD </div>
            <p class="text-14-r mbr-50-100 "> From 25€ to 500€. No expiry date. Valid on all Inditex Group brands. </p>
            <p class="text-16-b mb-64"> What kind of gift card do you want to give? </p>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-xs-12 col-md-5 mdmax:mb-20  text-center is-flex align-multi-between content-center ">
            <div class="btn btn-primary btn--large mb-24"> Virtual Card</div>
            <p class="p1 mb-16"> Available at the moment No shipping costs </p>
            <p class="text-12-r"> Whatever the amount selected </p>
        </div>
        <div class="col-xs-12 col-md-2 text-center mdmax:mb-20">
            <div class="linex"></div>
        </div>
        <div class="col-xs-12 col-md-5  mdmax:mb-20 text-center is-flex align-multi-between content-center">
            <div class="btn btn-primary btn--large mb-24"> Virtual Card</div>
            <p class="p1 mb-16"> Ships in 1 to 3 business days +3,95€ Shipping costs (estimated) </p>
            <p class="text-12-r"> If the amount is less than 80€ </p>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-xs-12 text-center">
            <a class="link10" href=""> Need help?</a>
        </div>
    </div>
    <div class="row mb-32">
        <div class="col-xs-12 text-center">
            <p class="p1"> The season tickets will be valid for purchases in any Inditex Group shop in Spain: Massimo
                Dutti, Zara, Pull&Bear, Bershka, Stradivarius, Oysho, Zara Home and in Kiddy's Class and Lefties shops.
        </div>
        </p>
    </div>
    <div class="row mb-32">
        <div class="col-xs-12 col-md-6 mdmax:mb-16 ">
            <div class="btn btn-invert btn--large">Consult balance</div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="btn btn-invert btn--large">Activate new card </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="link10" href=""> Conditions of use </a>
        </div>
    </div>
</div> 
{% endblock %}