 {% block content %} <div class="container-4" contenteditable="true">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="p-14 mb-8"> Step 2 of 4 </div>
      <div class="tit-s mb-16"> Customize the card </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class=" rat-3-2 mb-16">
        <div class="  rat-content ">
          <div class="giftcard-item align-center"> contenido </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="p-m"> Choose a visual style </div>
      <div class="tabs is-center">
        <ul class="list-equal">
          <li class="is-active"><a>Colours</a></li>
          <li><a>Images</a></li>
        </ul>
      </div>
      <div class="row mb-32">
        <div class="col-xs-12 is-flex content-center flex-row flex-wrap">
          <div class="giftcard-tag">
          </div>
          <div class="giftcard-tag is-selected">
          </div>
          <div class="giftcard-tag">
          </div>
          <div class="giftcard-tag">
          </div>         <div class="giftcard-tag">
          </div>
          <div class="giftcard-tag">
          </div>         <div class="giftcard-tag">
          </div>
          <div class="giftcard-tag">
          </div>         <div class="giftcard-tag">
          </div>
          <div class="giftcard-tag">
          </div>
        </div>
      </div>

<div class="row">
  <div class="col-xs-12">

    <a href="" class="btn btn-primary btn--large mb-24"> Next </a>
    <a href="" class="link-line mb-32"> Need help? </a>
    <p class="p-xs c-gray"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita asperiores animi dolorum tenetur corporis sequi, facere officiis excepturi culpa accusantium et soluta architecto doloremque deserunt nihil laboriosam optio quo nemo? </p>

  </div>
</div>


    </div>
  </div>
</div> {% endblock %}