{% block content %} <div class="container-4" contenteditable="true">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="p-14 mb-8"> Step 2 of 4 </div>
      <div class="tit-s mb-32"> Activate new gift Card </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label-2 mb-16">
            <input type="email" id="uno" class="input" placeholder="Card Number" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="uno">Card Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-input-label-2 mb-16">
            <input type="email" id="uno" class="input" placeholder="Image text" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="uno">Image text</label>
          </div>
        </div>
        <div class="col-xs-6"> What is CVV? </div>
      </div>
      <div class="row mb-24">
        <div class="col-xs-6">
          <div class="dummycompo"> captcha</div>
        </div>
        <div class="col-xs-6"> icono</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-input-label-2 mb-16">
            <input type="email" id="uno" class="input" placeholder="Email address" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="uno">Email address</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 is-flex align-compact text-center">
          <a href="" class="btn btn-primary btn--large mb-24"> Activate this card </a>
          <p class="p-xs c-gray mb-64"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas atque, quam est officiis iste doloremque, eligendi, ipsa laboriosam temporibus veritatis culpa praesentium commodi in illo dolorem. Inventore quidem nostrum voluptatibus. </p>
          <a href="" class="link-line mb-32"> Need help? </a>
          <a href="" class=" mb-32"> <button class="btn btn-invert"> Consult balance</button></a>
          <a href="" class="link-line mb-32"> Conditions of use </a>
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}