{% extends "basecomponent.html" %}{% block content %} <div class="container-7" contenteditable="true">
  <div class="row mb-32">
    <div class="col-xs-6 text-center">
      <div class=" rat-1-1 mb-16">
        <div class="  rat-content ">
          <div class="checkbox-radio check-no mb-16"><input name="method" type="radio" id="19268" value="19268">
            <label for="19268">
              <div class="border-1">
                <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
              </div>
            </label>
          </div>
        </div>
      </div> Caja estandard ecológica <br> Sin coste
    </div>
    <div class="col-xs-6 text-center">
      <div class=" rat-1-1 mb-16">
        <div class="  rat-content ">
          <div class="checkbox-radio check-no mb-16"><input name="method" type="radio" id="19269" value="19269">
            <label for="19269">
              <div class="border-1">
                <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
              </div>
            </label>
          </div>
        </div>
      </div> Caja regalo <br> 0.00 €
    </div>
  </div>
  <div class="row mb-32">
    <div class="col-xs-12">
      <div class="checkbox-item mb-16">
        <div class="checkbox-item">
          <input id="checkbox_88" type="checkbox" />
          <label for="checkbox_88">
            <i class="icon">
              <svg width="16" height="16">
                <g stroke-width="1">
                  <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
                </g>
              </svg>
            </i>
            <span class="p-xs">checkbox-item <a href="#">legal text</a></span>
          </label>
        </div>
      </div>
      <div class="checkbox-item">
        <div class="checkbox-item">
          <input id="checkbox_89" type="checkbox" />
          <label for="checkbox_89">
            <i class="icon">
              <svg width="16" height="16">
                <g stroke-width="1">
                  <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
                </g>
              </svg>
            </i>
            <span class="p-xs">checkbox-item <a href="#">legal text</a></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-32">
    <div class="col-xs-12 text-center">
      <div class="p-m"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, facilis molestiae et quod?
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="btn btn-primary btn--full"> Añadir Regalo</button>
    </div>
  </div>
</div> {% endblock %}