 {% block content %} <div class="container-4" contenteditable="true">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="p-14 mb-8"> Step 3 of 3</div>
      <div class="tit-s mb-32"> Details of the recipient</div>
    </div>
  </div>

  <div class=" rat-3-2 mb-16">
    <div class="  rat-content ">
      <div class="giftcard-item align-center"> contenido </div>
    </div>
  </div>





  <div class="row">
    <div class="col-xs-12 ">
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label-2 mb-16">
            <input type="email" id="1" class="input" placeholder="From *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">From *</label>
          </div>
        </div>
      </div>


      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label-2 mb-16">
            <input type="email" id="1" class="input" placeholder="From *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">To *</label>
          </div>
        </div>
      </div>


<div class="row">
  <div class="col-xs-12"> 
    

      <div class="form-input-prefix">
        <div class="input-prefix">
        <input type="tel" id="prefix" class="input "
        placeholder="+34" required="" />
        </div>
        <div class="form-input-label-2 mb-16">
        <input type="tel" id="cambiar" class="input"
        placeholder="Tel" required="" />
        <!-- id y for vinculado-->
        <!-- autofocus=""  si es necesario-->
        <label for="cambiar" class="">Telefono</label>
        </div>
        </div>



  </div>
</div>




<div class="row mb-32">
  <div class="col-xs-12"> 

    <div class="checkbox-item">
      <input id="checkbox_1" type="checkbox" />
      <label for="checkbox_1">
      <i class="icon ">
      <svg width="16" height="16" viewBox="0 0 16 16">
      <g stroke-width="1" fill="#000000" stroke="#000000">
          <polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10" points="1,9 5,13 15,3 ">
          </polyline>
      </g>
      </svg></i>
      <span class="p-14 ">I have read and accept the terms of use of the gift card and understand the information about the use of my personal data explained in the Privacy Policy. (*) </span>
      </label>
      </div>
  </div>
</div>



      <div class="row ">
        <div class="col-xs-12 is-flex align-compact text-center">

          
          <a href="" class="btn btn-primary btn--large mb-24"> Activate this card </a>
          <p class="p-xs c-dark-grey mb-64"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque error vel ipsa similique sequi. Praesentium temporibus dicta accusamus modi excepturi, iusto nam tenetur minus voluptates pariatur eius asperiores placeat mollitia. </p>
          <a href="" class="link-line mb-32"> Need help? </a>

        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}