{% block content %} <div class="container-4" contenteditable="true">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="text-14-r mb-8"> Step 3 of 3</div>
      <div class="display8 mb-32"> Details of the recipient</div>
    </div>
  </div>
  <div class=" rat-3-2 mb-32">
    <div class="  rat-content ">
      <div class="giftcard-item align-center"> contenido </div>
    </div>
  </div>



  <div class="row mb-24 ">
    <div class="col-xs-12 ">
      <div class="text-14-b"> Delivery details </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="email" id="1" class="input" placeholder="Your name *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">Your Name *</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="text" id="1" class="input" placeholder="A message you want to add *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">A message you want to add *</label>
          </div>
        </div>
      </div>
      <div class="row mb-32 ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="email" id="1" class="input" placeholder="Gift delivery date *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">Gift delivery date *</label>
          </div>
        </div>
      </div>




      <div class="row mb-24 ">
        <div class="col-xs-12 ">
          <div class="text-14-b"> Recipient's details </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="text" id="1" class="input" placeholder="Recipient's name *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">Recipient's name *</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="text" id="1" class="input" placeholder="Addressee’s email  **" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">Addressee’s email **</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="form-input-label">
            <input type="text" id="1" class="input" placeholder="Repeat Adresses email *" required="" />
            <!-- autofocus=""  si es necesario-->
            <label for="1">Repeat Adresses email*</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-input-prefix">
            <div class="input-prefix">
              <input type="tel" id="prefix" class="input " placeholder="+34" required="" />
            </div>
            <div class="form-input-label">
              <input type="tel" id="cambiar" class="input" placeholder="Tel" required="" />
              <!-- id y for vinculado-->
              <!-- autofocus=""  si es necesario-->
              <label for="cambiar" class="">Telefono</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-32">
        <div class="col-xs-12">
          <div class="checkbox-item">
            <input id="checkbox_1" type="checkbox" />
            <label for="checkbox_1">
              <i class="icon ">
                <svg width="16" height="16" viewBox="0 0 16 16">
                  <g stroke-width="1" fill="#000000" stroke="#000000">
                    <polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="1,9 5,13 15,3 ">
                    </polyline>
                  </g>
                </svg></i>
              <span class="text-14-m ">I have read and accept the terms of use of the gift card and understand the
                information about the use of my personal data explained in the Privacy Policy. (*) </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 is-flex align-compact text-center">
          <a href="" class="btn btn-primary btn--large mb-24"> Activate this card </a>
          <p class="text-12-r c-gray mb-64"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure et in, veniam accusamus, atque dolorum velit voluptas iste quos temporibus perferendis sunt, cum sapiente ex provident facere repellat id maxime. </p>
          <a href="" class="link-line mb-32"> Need help? </a>
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}