{% extends "basecomponent.html" %} {% block giftcard1 %}
<div class="container-7" contenteditable="true">
    <div class="row ">
        <div class="col-xs-12 text-center md:text-left  ">
            <div class="tit-l"> GIFT CARD </div>
            <p class="p-xs mbr-50-100 "> From 25€ to 500€. No expiry date.  </p>
            <p class="p-m-b mb-64"> What kind of gift card do you want to give? </p>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-xs-12 col-md-5 mdmax:mb-20  text-center is-flex align-multi-between content-center ">
            <div class="btn btn-primary btn--large mb-24"> Virtual Card</div>
            <p class="p-xs mb-16"> Available at the moment No shipping costs </p>
            <p class="p-xs"> Whatever the amount selected </p>
        </div>
        <div class="col-xs-12 col-md-2 text-center mdmax:mb-20">
            <div class="linex"></div>
        </div>
        <div class="col-xs-12 col-md-5  mdmax:mb-20 text-center is-flex align-multi-between content-center">
            <div class="btn btn-primary btn--large mb-24"> Virtual Card</div>
            <p class="p-xs mb-16"> Ships in 1 to 3 business days +3,95€ Shipping costs (estimated) </p>
            <p class="p-xs"> If the amount is less than 80€ </p>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-xs-12 text-center">
            <a class="link-line" href=""> Need help?</a>
        </div>
    </div>
    <div class="row mb-32">
        <div class="col-xs-12 text-center">
            <p class="p-xs"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente laborum deleniti repellendus accusamus dolorem, hic nihil! A labore, alias eaque reprehenderit inventore deserunt quae! Eos sed soluta placeat dicta nihil!
        </div>
        </p>
    </div>
    <div class="row mb-32">
        <div class="col-xs-12 mb-16 ">
            <div class="btn btn-secondary btn--full">Consult balance</div>
        </div>
        <div class="col-xs-12">
            <div class="btn btn-primary btn--full">Activate new card </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="link-line p-xs" href=""> Conditions of use </a>
        </div>
    </div>
</div> 
{% endblock %}