{% block guiadetallas1 %}

{% import "_insert.html" as insert %}

<div class="container">
    <div class="row mb-40">
        <div class="col-xs-12">
            <div class="tabs is-around ">
                <ul>
                    <li class="is-active"><a>Medidas articulo</a></li>
                    <li><a>Medidas cuerpo</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-7">
    <div class="row mb-16">
        <div class="col-xs-12">
            <ul class="list-inline list-selection text-center">
                <li><a class="is-active" href="">XS</a></li>
                <li><a href="">S</a></li>
                <li><a href="">M</a></li>
                <li><a href="">LG</a></li>
                <li><a href="">XL</a></li>
                <li><a href="">XXL</a></li>
            </ul>
        </div>
    </div>
    <div class="container-4 mb-64">
        <div class="row mb-16">
            <div class="col-xs-6"> Cintura </div>
            <div class="col-xs-6 text-right"> 46-54 cm </div>
        </div>
        <div class="row mb-16">
            <div class="col-xs-6"> Cadera </div>
            <div class="col-xs-6 text-right"> 100-112 cm </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="" class="link-line text-14-r"> Ver en pulgadas</a>
            </div>
        </div>
    </div>
</div>
<div class="container-2">
    <div class="row mb-16">
        <div class="col-xs-6">
            <h5 class="tit-s"> ¿Cómo medirse? </h5>
        </div>
        <div class="col-xs-6"> </div>
    </div>
    <div class="row mb-24">
        <div class="col-xs-12 col-sm-6  ">
            <div class="row">
                <div class="col-xs-6">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img width="100%" src="https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
                                alt="Image description">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="rat-3-4">
                        <div class="rat-content">
                            <img width="100%" src="https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
                                alt="Image description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="mb-16">
                <span class="tit-xs is-flex"> 
                    {% call insert.svgIconname('plus') %} {% endcall %}  - Cintura</span>
                <p class="p-s">Medir el contorno de la cintura en la parte más estrecha de la cintura</p>
            </div>
            <div class="mb-16">
                <span class="tit-xs is-flex">{% call insert.svgIconname('plus') %} {% endcall %} - Cadera</span>
                <p class="p-s">Medir el contorno de la cintura en la parte más estrecha de la cintura</p>
            </div>
        </div>
    </div>
    <div class="row mb-32">
        <div class="col xs-12">
            <div class="mb-24">
                <div class="p-xs c-gray">Las medidas del pecho están tomadas con la prenda en plano. Para saber el
                    contorno total habría que multiplicarlo por dos. Las medidas pueden presentar pequeñas variaciones
                    debidas al proceso de producción.</div>
            </div>
        </div>
        <div class="col-xs-12">
            <p class="p-xs p-8 bg-light-grey"> Los productos pueden llegar diferentes ya que las medidas que se muestran
                pueden no ser 100% exactas </p>
        </div>
    </div>
    <div class="row text-center mb-16">
        <div class="col-xs-12">
            <p class="p-s">¿Quieres que te ayudemos a buscar mejor tu talla?</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <button class="btn btn-primary btn--large"> Encuentra tu talla </button>
        </div>
    </div>
</div> {% endblock %}