@import "../../node_modules/holygrailcss/scss/abstract/_all.scss";



.inter-modal {
    width: 100%;
    position: fixed;
    padding: 16px ;
    right: 0;
    bottom: 0;
    max-width: 440px;
    z-index: 500;
}

.is-rtl {
    .inter-modal {
        padding: 16px;
        right: auto;
        left: 0;
    }
}