{% extends "basecomponent.html" %}
{% block interstitials %}
    <div class="inter-modal p-16 border-1 mb-16 mr-16">
        <div class="row">
            <div class="col-xs-12">
                <p class="p-s mb-8">¿Quiere que España sea su mercado por defecto? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="p-s  mb-8">Contenido 1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"> <button class="btn btn-secondary btn--full  ">No</button> </div>
            <div class="col-xs-6"> <button class="btn btn-primary  btn--full  ">Si</button> </div>
        </div>
    </div>
{% endblock %}