{% block worldwide %} <div class="container-fluid ">
  <div class="height-xs"> header zone </div>
  <div class="height-full">
    <div class="md-scroll-content">
      <section class="md-scroll">
        <div class="md-scroll-wrap height-full bg-dark">
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> Ver el look</div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> Ver el look</div> <img height="100%" src="../images/1.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> Ver el look</div> <img height="100%" src="../images/3.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> Ver el look</div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> Ver el look</div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="height-sm"> footer zone </div>
</div> {% endblock %}