{% block limited %} 
<div class="container-fluid ">
  <div class="row height-xs bg-dark align-center">
    <span class="tit-s"> Header zone</span>
  </div>

<div class="limited-submenu pr-body pl-body ">
  <div class="limited-submenu-selection">
    <div class="p-14-b pt-16 pb-16"> LIMITED EDITION</div>
  </div>
  <div class="limited-submenu-nav ">
    <a href="" class="p-14-b pt-16 pb-16"> LIMITED EDITION </a>
    <a href="" class="p-14-b pt-16 pb-16"> LIMITED EDITION </a>
    <a href="" class="p-14-b pt-16 pb-16"> LIMITED EDITION </a>
  </div>
</div>






  <div class="row">
    <div class="col-xs-12 pt-40 pb-40">
      <img width="100%" src="../images/inicio.jpg" alt="Image description">
    </div>
  </div>
  <div class="md-scroll-view">
    <div class="md-scroll-content">
      <section class="md-scroll">
        <div class="md-scroll-wrap bg-dark">
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div>  </div> <img  src="../images/h2.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/v1.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/h7.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/v3.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/v4.jpeg"
              alt="Image description">
          </div>

          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/h5.jpeg"
              alt="Image description">
          </div>

          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="p-14-b">  SHOP THE LOOK   </div> </div> <img  src="../images/v4.jpeg"
              alt="Image description">
          </div>

          
        </div>
      </section>

      <div class="md-scroll-infotext">
 VER lookbook
      </div>
    </div>
  </div>
  <div class=" ">
    <div class="row height-md bg-dark align-center">
      <span class="tit-s"> Footer zone</span>
    </div>
  </div>
</div> 

<script>

$(document).ready(function () {
gsap.registerPlugin(ScrollTrigger);
ScrollTrigger.saveStyles(".mobile, .desktop");

let container = document.querySelector(".md-scroll-wrap");

	ScrollTrigger.matchMedia({
		"(min-width: 768px)": function () {
			gsap.to(".md-scroll-wrap", {
				x: () =>
					-(container.scrollWidth - document.documentElement.clientWidth) + "px",
				ease: "none",
				scrollTrigger: {
					trigger: ".md-scroll",
					invalidateOnRefresh: true,
					pin: true,
					scrub: 1,
					end: () => "+=" + container.offsetWidth,
				},
			});
		},
	});

} );

</script>

{% endblock %}