{% block worldwide %} 
<div class="container-fluid ">
  <div class="row height-xs bg-dark align-center">
    <span class="text-18-2b"> Header zone</span>
  </div>
  <div class="row">
    <div class="col-xs-12 pt-40 pb-40">
      <img width="100%" src="../images/inicio.jpg" alt="Image description">
    </div>
  </div>
  <div class="height-full">
    <div class="md-scroll-content">
      <section class="md-scroll">
        <div class="md-scroll-wrap height-full bg-dark">
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="text-14-b">  SHOP THE LOOK   </div>  </div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="text-14-b">  SHOP THE LOOK   </div> </div> <img height="100%" src="../images/1.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="text-14-b">  SHOP THE LOOK   </div> </div> <img height="100%" src="../images/3.jpeg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="text-14-b">  SHOP THE LOOK   </div> </div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
          <div class="md-scroll-img">
            <div class="md-scroll-btn"> <div class="text-14-b">  SHOP THE LOOK   </div> </div> <img height="100%" src="../images/anchos.jpg"
              alt="Image description">
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class=" ">
    <div class="row height-md bg-dark align-center">
      <span class="text-18-2b"> Footer zone</span>
    </div>
  </div>
</div> {% endblock %}