// Animacion con keyframes
$mobile-duration: 30s;
$desktop-duration: 50s;

@keyframes marquee-right-to-left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

// marquee animation
.marquee {
  display: flex;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
  border: 3px solid #000;
  font-family: "arial";
  padding: 20px 0;
}

.marquee-content {
  overflow: hidden;
  width: 100%;
}

.marquee-inner {
  margin: 0;
  width: fit-content;
}

@media (max-width: 991px) {
  .marquee-content p {
    animation: marquee-right-to-left $mobile-duration linear infinite;
  }
}

@media (min-width: 992px) {
  .marquee-content p {
    animation: marquee-right-to-left $desktop-duration linear infinite;
  }
}
