$ymenu-link: 12px;


.link{
    position: relative;
    padding: 12px 8px;
    font-family: DuttiW-Medium,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 14px;
}

.label-new{

    color: #000;
    font-family: DuttiWExtended-Bold,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    top: -2px;
    right: -36px;
    position: absolute;
}

.ymenu-item-link{
    position: relative;
    font-size: 18px;
    font-family: DuttiWExtended-ExtraBold,Helvetica,Arial,Lucida Grande,sans-serif;

}

.ymenu-content-top, .ymenu-search {
    height: 48px;
    display: flex;
    align-items: center;
}
.ymenu-search {
    width: 100%;
    border-radius: 8px;
    background: rgba(0,0,0,.05);
    padding: 16px;
}
.ymenux-subcategories{
    position: absolute;
    left: 200px;
    top:120px;
}

.ymenux-submenu{
    display: none;
    position: absolute;

}
.ymenux-submenu.is-active{
    display: block;

}

.hidden{
    display: none;
}

.ymenux-link{
    position: absolute;
}