{% extends "basecomponent.html" %} {% block content %}

<item-product-cart>
    <div class="item-mini-cart mb-32">
        <div class="row type-inactive">
            <div class="col-xs-3 col-sm-2"><img class="img-responsive"
                    src="https://static.massimodutti.net/3/photos//2022/V/1/1/p/1412/950/800/1412950800_1_1_16.jpg?t=1648742559728&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=400">
            </div>
            <div class="col-xs-9 col-sm-10 is-flex content-sp-between flex-column">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="text-14-m item-name">Zapato tacón piel negro pulsera</div>
                        <div class="text-12-m c-gray"> Ref. <span>1412/950/800</span>
                        </div>
                        <div class="color-wrap">
                            <div class="align-middle">
                                <div class="product-color-selector is-flex"><button>
                                        <div class="color-selector"><img
                                                src="https://static.massimodutti.net/3/photos//2022/V/1/1/p/1412/950/800/1412950800_3_1_7.jpg?t=1648742559728&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=400">
                                        </div>
                                    </button></div>
                                <div class="text-12-r">Negro</div>
                            </div>
                        </div>
                        <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                    </div>
                    <div class="col-xs-3 product-price">
                        <shop-cart-price ng-reflect-is-old-price="true"
                            ng-reflect-price-formatted="59,95&nbsp;€" ng-reflect-old-price-formatted="89,95&nbsp;€">
                            <div class="row text-right">
                                <div class="col-xs-12"><span _ngcontent-spr-c114=""
                                        class="text-14-m is-through c-gray"> 89,95&nbsp;€ </span></div>
                            </div>
                            <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                            <div class="row text-right future-price"
                                ng-reflect-ng-class="[object Object]">
                                <div class="col-xs-12"><span _ngcontent-spr-c114=""
                                        class="text-14-b"> 59,95&nbsp;€ </span></div>
                            </div>
                        </shop-cart-price>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 align-middle">
                        <div class="align-middle">
                            <div class="text-12-r mr-8 align-middle">Cantidad</div>
                            <app-select-ui _nghost-spr-c115="" ng-reflect-key-selected="[object Object]"
                                ng-reflect-options="[object Object],[object Object">
                                <div class="select select-box"><select
                                        name="" id="630d4db1-b9e9-458f-acc8-d9ba66d44df2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
                                    </select></div>
                            </app-select-ui>
                            <!--ng-container-->
                            <!--bindings={
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
                            <!--container-->
                        </div>
                        <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                        <div class="ml-16 align-middle">
                            <div class="text-12-r mr-8 align-middle">Talla</div>
                            <app-select-ui _nghost-spr-c115="" ng-reflect-key-selected="[object Object]"
                                ng-reflect-options="[object Object],[object Object">
                                <div class="select select-box"><select
                                        name="" id="7bda5deb-ffdc-4712-9cac-f9b5362017a7">
                                        <option value="10934498">35</option>
                                        <option value="10934499">36</option>
                                        <option value="10934500">37</option>
                                        <option value="10934501">38</option>
                                        <option value="10934502">39</option>
                                        <option value="10934503">40</option>
                                        <option value="10934504">41</option>
                                        <option value="10934505">42</option>
                                        <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
                                    </select></div>
                            </app-select-ui>
                            <!--ng-container-->
                            <!--bindings={
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
                            <!--container-->
                        </div>
                        <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                    </div>
                    <div class="col-xs-3">
                        <div class="is-flex content-end"><button class="btn btn--icon btn-phantom" title="Eliminar"
                                id="deleteItemShopcart">
                                <svg-icon _nghost-spr-c40="" ng-reflect-src="delete">
                                    <div _ngcontent-spr-c40=""><svg width="16" height="16" viewBox="0 0 16 16"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5 3.65217V1H11V3.65217M5 7V13M8 7V13M11 7V13M2 7.08696V13.1739C2 13.7826 2.36 15 3.8 15H12.2C12.8 15 14 14.6348 14 13.1739V7.08696V5H2V7.08696Z"
                                                stroke="black"></path>
                                        </svg></div>
                                </svg-icon>
                                <!--bindings={
    "ng-reflect-ng-if": "delete"
  }-->
                            </button>
                            <!--bindings={
    "ng-reflect-ng-for-track-by": "function (index, action) {\n   "
  }-->
                        </div>
                        <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                    </div>
                </div>
                <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
            </div>
        </div>
        <div class="row">
            <div class="ITEM-NO-DISPONIBLE"><span class="ml-8 text-14-m link7">Ver disponibilidad en tienda</span></div>
            <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
            <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
        </div>
    </div>
</item-product-cart>

{% endblock %}