{% extends "basecomponent.html" %}
{% block content %} {% import "_insert.html" as insert %}
<div class="minicard-3 border-1 sm:flex mb-16">
  {% call insert.svgIconname('globe') %} {% endcall %}
  <div class="sm:min-text-center">
    <div class="p-m-b">Mi espacio Massimo dutti</div>
    <div class="p-m">Comprueba tus beneficios fiscales con ellos</div>
  </div>
</div>
<div class="minicard-3 border-1 sm:flex mb-16">
    {% call insert.svgIconname('globe') %} {% endcall %}
    <div class="sm:min-text-center">
      <div class="p-m-b">Mi espacio Massimo dutti</div>
      <div class="p-m">Comprueba tus beneficios fiscales con ellos</div>
    </div>
  </div>
  <div class="minicard-3 border-1 sm:flex mb-16">
    {% call insert.svgIconname('globe') %} {% endcall %}
    <div class="sm:min-text-center">
      <div class="p-m-b">Mi espacio Massimo dutti</div>
      <div class="p-m">Comprueba tus beneficios fiscales con ellos</div>
    </div>
  </div>
{% endblock %}
