{% block minicard %}
Lo que tenemos <br>
<div class="checkbox-radio check-center mb-16 col-xs-12" contenteditable="true">
    <input name="selectedPaymentMethod" type="radio" id="0">
    <label for="0">
        <div class="box3 p-16 border-1">
            <div class="box3-content align-middle">
                <div class="text-16-m">VISA</div>
            </div>
            <div class="box3-middle text-right text-14-r"><img height="40px" class="location-logo"
                    src="#"
                    alt="VISA"></div>
        </div><i class="ico-radio"></i>
    </label>
</div> 

<span>


Lo que debemos tener ,col-xs-12 siempre es un contenedor <br></span>

<div class="col-xs-12" contenteditable="true">
    <div class="checkbox-radio check-center mb-16">
        <input name="selectedPaymentMethod" type="radio" id="22">
        <label for="22">
            <div class="box3 p-16 border-1">
                <div class="box3-content align-middle">
                    <div class="text-16-m">VISA</div>
                </div>
                <div class="box3-middle text-right text-14-r"><img height="40px" class="location-logo"
                        src="#"
                        alt="VISA"></div>
                    </div><i class="ico-radio"></i>
        </label>
    </div> 
</div>



{% endblock %}