{% import "_product-card.html" as productCard %}
{% block content %}


<div class="body-contet">


    <section class="">
        <div class="container mt-48">
            <div class="row">
                <div class="col-xs-12 col-sm-8 pr-32">
                    <div class="mini-shopcart__content">

                        <!-- Listado de componentes -->
                        {% call productCard.productCard('promotion', 'class') %} {% endcall %}
                        {% call productCard.productCard('','outOfStock','clase') %} {% endcall %}
                        {% call productCard.productCardCustom() %} {% endcall %}
                        {% call productCard.productCard() %} {% endcall %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="mini-shopcart__summary">
                        <div class="col-xs-12 p-16">
                            <order-summary>
                                <div class="row p-xs">
                                    <div class="col-xs-8">5 Productos</div>
                                    <div class="col-xs-4 text-right">340,80&nbsp;€</div>
                                </div>
                                <div class="row p-xs">
                                    <div class="col-xs-8">Gastos de envío</div>
                                    <div class="col-xs-4 text-right">3,95&nbsp;€</div>
                                </div>
                                <div class="row p-xs">
                                    <div class="col-xs-8">Envío estándar gratuito</div>
                                    <div class="col-xs-4 text-right">-3,95&nbsp;€</div>
                                </div>
                                <div class="row p-xs mt-8">
                                </div>
                                <div class="row mt-8">
                                    <div class="col-xs-6 p-m-b">TOTAL</div>
                                    <div class="col-xs-6 text-right p-m-b">340,80&nbsp;€</div>
                                </div>
                            </order-summary>
                            <button class="btn btn-primary btn--full mt-16">*** Ir a la cesta</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>


</div>


<script>
    function toggleSidebar() {

        document.getElementById("sidebarShopcar").classList.toggle("show-sidebar");
    }
</script>


{% endblock %}