{% block minicard %}


<div  class="pt-32 container-2" contenteditable="true" >
    <div class=" "> 
        <label for="12008">
            <div class="is-flex border-1 p-8">
                <div class="col-xs-6">
                    <div class="p-m-b">Goya</div>
                    <div class="text-14-m is-info">Mañana, 26.05.22 - lunes, 30.05.22 </div>
                    <div class="p-xs">Calle de Goya, 85, Madrid</div>
                    <div class="p-xs is-info mb-16">+34 91 4323900</div>
                    <div class="p-xs is-info"> Massimo Dutti Studio </div>
                    <div class="text-14-m c-gray">
                        <div class="is-flex align-multi-bottom"> Domingo <div>&nbsp;- Sábado</div>
                            <div>:&nbsp;10:00 - 22:00</div>
                        </div>
                    </div>
             
                </div>
                <div class="col-xs-6 is-flex flex-column content-sp-between text-right">
                    <div >
                        <div class="p-xs-b is-info">Gratis</div>
                        <div class="p-xs c-gray">2.1 km</div>
                    </div>
                    <div >
                        <div class="p-xs c-gray">ICON</div>
                    </div>
                </div>
            </div>
        </label>
    </div>
    
    </div> 
    
    {% endblock %}