{% block minicard %}<div  class="checkbox-radio check-center check-bleed mr-8">
    <list-item >
        <div>
            <div><input type="radio" id="12007" value="12007">
                <label for="12007">
                    <div class="box3 bg-line hg-location-item">
                        <div class="box3-content">
                            <div class="text-16-b">PLAZA RIO 2</div>
                            <div class="text-14-m is-info">Mañana, 26.05.22 - lunes, 30.05.22 </div>
                            <div class="text-12-m">ANTONIO LOPEZ, 109</div>
                            <div class="text-12-m">MADRID</div>
                            <div class="text-14-m">
                                <div class="text-14-m c-gray">
                                    <div class="is-flex align-multi-bottom"> Domingo <div>&nbsp;- Sábado</div>
                                        <div>:&nbsp;10:00 - 22:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-14-m mt-8">
                                <div class="store-state">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="box3-price text-14-m text-right">
                            <div class="text-12-b is-info">Gratis</div>
                            <div class="text-12-r c-gray">2.1 km</div>
                        </div>
                    </div><i class="ico-radio"></i>
                </label>
            </div>
        </div>
    </list-item>
</div> {% endblock %}