{% extends "basecomponent.html" %}
{% block modal2 %}
 <div class="container"  contenteditable="true">
    <div class="row  mb-32">
        <div class="col-xs-12 ">
            <div class="tit-m"> MASSIMO DUTTI | FEEL </div>
        </div>
    </div>
    <div class="row pb-32">
        <div class="col-xs-12 ">
            <p class="p-m  c-primary "> Descubre el universo único de massimo dutti y disfruta de beneficios
                exclusivos. </p>
        </div>
    </div>
    <div class="row mb-24">
        <div class="col-xs-12 ">
            <p class="p-m-b pb-16 ">
                <span class="tit-m"> 01.</span> Acceso anticipado a colecciones especiales.
            </p>
            <p class="p-m-b pb-16 ">
                <span class="tit-m">02.</span> Acceso anticipado a colecciones especiales.
            </p>
            <p class="p-m-b pb-16 ">
                <span class="tit-m">03.</span> Acceso anticipado a colecciones especiales.
            </p>
            <p class="p-m-b pb-16 ">
                <span class="tit-m">04.</span> Acceso anticipado a colecciones especiales.
            </p>
        </div>
    </div>
    <div class="row mb-24">
        <div class="col-xs-12">
            <div class="btn btn-primary btn--full "> Únete </div>
        </div>
    </div>
</div> {% endblock %}