{% extends "basecomponent.html" %}
{% block modal1 %}  <div class="container"   contenteditable="true">
    <div class="row">
        <div class="col-xs-12 text-center">
            <p class="p-m pb-16 "> ¿Quiere que España sea su mercado por defecto? </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-secondary btn--full mb-24"> No</div>
        </div>
        <div class="col-xs-6">
            <div class="btn btn-primary btn--full mb-24"> Si </div>
        </div>
    </div>
</div> {% endblock %}