{% block modal %}
<div class="modalx-backdrop"></div>
<div class="modalx">
  <div class="modalx-dialog modalx-64 modalx-fullmobile modalx-sm">
    <div class="modalx-content">
      <div class="modalx-close">
        <button aria-label="close" class="closex">
          <svg-icon src="close" _nghost-apa-c46=""> <div> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" > <g transform="translate(0, 0)"> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.5" y1="2.5" x2="2.5" y2="13.5" data-cap="butt" ></line> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.5" y1="2.5" x2="13.5" y2="13.5" data-cap="butt" ></line> </g> </svg> </div> </svg-icon>
        </button>
        <!---->
      </div>
      <div class="modalx-body">
        <div class="text-center mb-24">
          <div class="text-18-b">
            Información básica sobre Protección de Datos
          </div>
        </div>
        <div class="row">
          <div class="p1 p-16">
            <ul class="list-clear">
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">Responsable</span>
                &nbsp;
                <span class="rgpd-content p1">Grupo Massimo Dutti, S.A.</span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?202206200207031475665441#controller" > Más info </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">Finalidad y legitimación</span>
                &nbsp;
                <span class="rgpd-content p1">
                  Si estás de acuerdo, usaremos tus datos para poder enviarte
                  comunicaciones comerciales personalizadas de MASSIMO DUTTI. El
                  motivo por el que estaremos legitimados para usar tus datos es
                  el consentimiento que nos prestas al aceptar suscribirte.
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?202206200207031475665441#use" > Más info </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">Destinatarios</span>
                &nbsp;
                <span class="rgpd-content p1">
                  Compartimos tus datos con prestadores de servicios y
                  colaboradores dentro y fuera de la Unión Europea que nos dan
                  soporte en el envío de la información, y lo hacemos con
                  garantías apropiadas y guardando la seguridad de tus datos.
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?202206200207031475665441#ground" > Más info </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">Derechos</span>
                &nbsp;
                <span class="rgpd-content p1">
                  Puedes darte de baja en cualquier momento y sin coste alguno,
                  además de otros derechos, como detallamos en la información
                  adicional.
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?202206200207031475665441#rights" > Más info </a>
              </li>
              <li class="pt-8 pb-8">
                <span class="text-14-b">Información adicional</span>
                &nbsp;
                <span class="rgpd-content p1">
                  Para más información, consulta nuestra Política de Privacidad
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?202206200207031475665441" > Política de Privacidad </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
