{% block modal %}
<div class="modaly-overlay-container">  
<div class="modaly-backdrop">hola que tal</div>
<div class="modaly">
  <div class="modaly-dialog modaly-64 modaly-fullmobile modaly-sm">
    <div class="modaly-content">
      <div class="modaly-close" id="closeModalRgpd">
        <button aria-label="close" class="closex">
          <svg-icon src="close" _nghost-apa-c46=""> <div> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" > <g transform="translate(0, 0)"> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.5" y1="2.5" x2="2.5" y2="13.5" data-cap="butt" ></line> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.5" y1="2.5" x2="13.5" y2="13.5" data-cap="butt" ></line> </g> </svg> </div> </svg-icon>
        </button>
        <!---->
      </div>
      <div class="modaly-body">
        <div class="text-center mb-24">
          <div class="text-18-b">
            {{titlePopup}}
          </div>
        </div>
        <div class="row">
          <div class="p1 p-16">
            <ul class="list-clear">
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">Titular </span>
                &nbsp;
                <span class="rgpd-content p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi nulla suscipit officia et ut blanditiis tempora possimus sunt, fugiat at dignissimos deserunt voluptas? Temporibus nulla magnam nobis aut perspiciatis tempore.  </span>

                <span class="rgpd-content p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi nulla suscipit officia et ut blanditiis tempora possimus sunt, fugiat at dignissimos deserunt voluptas? Temporibus nulla magnam nobis aut perspiciatis tempore.  </span>

                <span class="rgpd-content p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi nulla suscipit officia et ut blanditiis tempora possimus sunt, fugiat at dignissimos deserunt voluptas? Temporibus nulla magnam nobis aut perspiciatis tempore.  </span>

                <span class="rgpd-content p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi nulla suscipit officia et ut blanditiis tempora possimus sunt, fugiat at dignissimos deserunt voluptas? Temporibus nulla magnam nobis aut perspiciatis tempore.  </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="{{links.controller}}" > {{common.link}} </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">{{common.title2}}</span>
                &nbsp;
                <span class="rgpd-content p1">
                {{layer.content2}}
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="{{links.use}}" > {{common.link}} </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">{{common.title3}}</span>
                &nbsp;
                <span class="rgpd-content p1">
                {{layer.content3}}
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="{{links.ground}}" > {{common.link}} </a>
              </li>
              <li class="border-b pt-8 pb-8">
                <span class="text-14-b">{{common.title4}}</span>
                &nbsp;
                <span class="rgpd-content p1">
                {{layer.content4}}
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="{{links.rights}}" > {{common.link}} </a>
              </li>
              <li class="pt-8 pb-8">
                <span class="text-14-b">{{common.title5}}</span>
                &nbsp;
                <span class="rgpd-content p1">
                {{common.content5}}
                </span>
                &nbsp;
                <a target="_blank" class="text-14-b" href="{{links.policy}}" > {{privacyPolicy}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
