.modaly-overlay-container{

  display: block;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}
.modaly-backdrop {
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;

}
.modaly {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  outline: 0;

}
.modaly {
  overflow-y: auto !important;
  overflow-x: hidden;
  width: 100%;
  display: block;
  z-index: 2002;
}
.modaly-sm {
  max-width: 445px;
}
.modaly-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.modaly-close,
.modaly-content {
  width: 100%;
}

.modaly-64 .modaly-body {
  padding: 48px 16px 16px;
  @media (min-width: 768px) {
    padding: 64px;
  }
}

.modaly-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}
.modaly-dialog {
  position: relative;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
  min-height: calc(100% - (0.5rem * 2));
  @media (min-width: 768px) {
    margin: 1.75rem auto;
    min-height: calc(100% - (1.75rem * 2));
  }
}

.closex {
  top: 0;
  right: 0;
  float: right;
  padding: 16px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  color: #000;
  opacity: 0.6;
  cursor: pointer;
  @media (min-width: 768px) {
    padding: 24px;
    width: 64px;
    height: 64px;
  }
}
.modaly-64 .modaly-body {
  padding: 48px 16px 16px;
  @media (min-width: 768px) {
    padding: 64px;
  }
}

.is-open-modal-rgpd,
.is-open-modal {
  transition: 0.3s ease all;
  z-index: 9000;
  opacity: 1;
}

.modal-maintenance {
  opacity: 0;
}

.is-open-modal-rgpd .modal-maintenance {
  opacity: 1;
}
