@media (max-width: 767px) {
  .barside-mobile {
    transform: initial;
    padding-top: 8px;
  }

  .barside-mobile-wrap {
    display: flex;
    flex-direction: row;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    width: calc(100% + 16px);

    .col-xs-6 {
      width: 10vw;
    }
  }

  .barside-mobile-inner {
    flex-wrap: nowrap;
    width: max-content;
    display: flex;
    flex-direction: row;
  }
}

.maxlook {
  width: 100%;
  overflow: hidden;
  height: 250px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;

  @media (min-width: $break-sm) {
    position: sticky;
    top: 20px;
    height: initial;
  }

  img {
    @media (min-width: $break-md) {
      max-width: 500px;
      width: 100%;
    }

    @media (min-width: $break-lg) {
      max-width: 100%;
      width: calc(100% - 64px);
    }
  }
}
.openshop {
  .maxlook {
    transition: all ease-in-out 0.4s;
    height: 600px;
  }
}
