{% block content %}


<div class="slidergroup w-100 ov-scroll pt-16 ">
  <div class="slidergroup-inner is-flex">
    <div class="slidergroup-group mr-16 ">
      <div class="slidergroup-group-img mb-8 is-flex">
      <div class="slidergroup-item">
        <img
          src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
          alt=""
        />
      </div>
    </div>

    <div class=" text-nowrap p-s"> Hoy a partir de las 18:30</div>
  </div>

    <div class="slidergroup-group mr-8">
      <div class="slidergroup-group-img mb-8 is-flex">
        <div class="slidergroup-item">
          <img
            src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
            alt=""
          />
        </div>

        <div class="slidergroup-item">
          <img
            src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
            alt=""
          />
        </div>

        <div class="slidergroup-item">
          <img
            src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
            alt=""
          />
        </div>

        <div class="slidergroup-item">
          <img
            src="  https://holygrailcss.github.io/assets/placeholder/3-4.jpg"
            alt=""
          />
        </div>
      </div>
      <div class=" text-nowrap p-s"> Hoy a partir de las 18:30</div>
    </div>
  </div>
</div>

{% endblock %}
