.slidergroup-group{


  
}

.slidergroup-item{
  height: 96px;
  width: 74px;
  padding: 4px 4px 8px;
  
}

.slidergroup-group-img{
  padding:4px;
  border: 1px solid #eaeaea;
  border-radius: 4px;

}
