{% block worldwide %} <div class="container-fluid ">
  <div class="world-bg" ng-style="::$ctrl.setImageBackground($ctrl.image_ww)"
    style="background-image: url(&quot;https://static.massimodutti.net/3/static2//media/2020/worldwide/ww_image_6.jpg?t=202207290207041151725615&quot;);">
    <video ng-if="$ctrl.showVideo"
      src="https://static.massimodutti.net/3/static2//media/2020/worldwide/ww_video.mp4?t=202207290207041151725615"
      autoplay="" loop="" muted="" playsinline="" class="ng-scope" style=""></video><!-- end ngIf: $ctrl.showVideo -->
  </div>
  <div class="row height-full">
    <div class="col-xs-12">
      <div class="container-4 ">
        <div class="row height-full ">



          <div class="col-xs-12 is-flex flex-column content-sp-between ">
            
       
            
            
            <div
                class="row mb-40">
                <div class="col-xs-12 has-light mb-16 mt-40 text-center">

         Massimo dutti

                </div>
                <div class="col-xs-12 has-light">

                 Selecciona otro mercado:
         
                         </div>
              </div>


              <div class="row">
                <div class="col-xs-12">

            
                  <button class="btn btn-phantom btn--full mb-16"> MUJER</button>
                  <button class="btn btn-phantom btn--full"> MUJER</button>
      

                </div>
              </div>
              <div>
            
              </div>
   
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}