.sidenav-worldwide{
    background-color: white;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transform: translateX(100vw);
    transition: all .4s ease-in;
    overflow: auto;
    &.active{
        opacity: 1;
    transform: translateX(0vw);
    transition: all .4s ease-out;
    }
    @media (min-width:768px){
        width: 30%;
    } 
    
    .sidebar-close{
        position: absolute;
        top: 16px;
        right: 16px;
    
    }
    .sidebar-content{
        padding:100px 40px 40px;
        @media (min-width:768px){

            padding:40px 16px 16px;
        } 


    }
    


}
