<footer class="bg-light front-section">
  <div class="md-footer-container">
    
    <!-- Columnas principales -->
    <div class="md-footer-6-columns">
      <!-- ÚNETE -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">ÚNETE A MASSIMO DUTTI</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10550" href="/es/lookbook/lookbook-2072727" target="_self">
                  DESCARGA NUESTRA APP
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10777" href="https://www.massimodutti.com/ES/es/subscription/md" target="_self">
                  SUSCRÍBETE A LA NEWSLETTER
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- AYUDA -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">AYUDA</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10552" href="https://web.whatsapp.com/send?phone=34696299739" target="_blank">
                  WHATSAPP
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10553" href="/es/contact-page" target="_self">
                  CONTACTO
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10554" href="/es/help/" target="_self">
                  PREGUNTAS FRECUENTES
                </a>
              </li>
              <li>
                <button type="button" class="btn btn-tertiary text-m text-m" id="10556">
                  ACCESIBILIDAD
                </button>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10557" href="/es/order-status" target="_self">
                  LOCALIZAR TU PEDIDO
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10720" href="https://www.massimodutti.com/ticket/ticket-search/finder?storeId=34009450" target="_self">
                  RECUPERAR TICKET DE TIENDA
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10718" href="https://www.massimodutti.com/integration/mectitofa/web/ticket?brand=MD&amp;locale=es&amp;market=ES" target="_self">
                  TICKET A FACTURA
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- SOCIAL -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">SOCIAL</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10561" href="https://www.instagram.com/massimodutti/" target="_self">
                  INSTAGRAM
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10562" href="https://www.tiktok.com/@massimodutti?lang=es" target="_self">
                  TIKTOK
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10563" href="https://www.facebook.com/MassimoDuttiOfficial" target="_self">
                  FACEBOOK
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10564" href="https://www.pinterest.es/massimodutti/" target="_self">
                  PINTEREST
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10565" href="https://www.youtube.com/user/MassimoDuttiOfficial" target="_self">
                  YOUTUBE
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- SERVICIOS -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">SERVICIOS</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10567" href="/es/lookbook/lookbook-1727550" target="_self">
                  SERVICIOS
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10568" href="/es/gift-card" target="_self">
                  TARJETA REGALO
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10569" href="/es/massimo-dutti-feel" target="_self">
                  MASSIMO DUTTI FEEL
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10617" href="/es/help/faqs_section_my-orders" target="_self">
                  INFORMACIÓN DE ENVÍO
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10570" href="/es/lookbook/lookbook-2127336" target="_self">
                  TRAJES A MEDIDA
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- LEGAL -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">LEGAL</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10573" href="https://static.massimodutti.net/3/static2/itxwebstandard/pdf/purchase_conditions/34009450/general_conditions-5.pdf?ts=20251202062106" target="_self">
                  CONDICIONES DE COMPRA
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10574" href="https://static.massimodutti.net/3/static2/itxwebstandard/pdf/privacy_policy/34009450/privacy_policy-5.pdf?20251202062106" target="_self">
                  POLÍTICA DE PRIVACIDAD
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10575" href="/es/help/faqs_section_returns-1" target="_self">
                  POLÍTICA DE DEVOLUCIONES
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10576" href="https://static.massimodutti.net/3/static2//itxwebstandard/pdf/cookie_policy/34009450/cookie_policy-5.pdf?ts=20251202062106" target="_self">
                  INFORMACIÓN SOBRE COOKIES
                </a>
              </li>
              <li>
                <button type="button" class="btn btn-tertiary text-m text-m" id="10577">
                  CONFIGURACIÓN DE COOKIES
                </button>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10779" href="https://www.massimodutti.com/ES/es/subscription/newsletter_unsubscribe" target="_self">
                  BAJA DE LA NEWSLETTER
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- EMPRESA -->
      <div class="md-footer-column">
        <ul class="list-clear">
          <li>
            <div class="md-footer-column-title">
              <h6 class="title-l">EMPRESA</h6>
            </div>
            <ul class="md-footer-column-items">
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10579" href="/es/company/" target="_self">
                  SOBRE MASSIMO DUTTI
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10580" href="/es/store-locator" target="_self">
                  LOCALIZADOR DE TIENDAS
                </a>
              </li>
              <li>
                <a class="btn btn-tertiary text-m text-m" id="10581" href="mailto:press@massimodutti.com?ts=20251202062106" target="_self">
                  PRENSA
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Logo -->
    <div class="md-footer-logo-container">
    
      <a href="https://www.massimodutti.com/es/" aria-label="Ir a la página principal">
  
 massimo dutti logo
      </a>
    </div>

    <!-- Selector de idioma / mercado -->
    <div class="md-footer-market-container">
      <div class="md-footer-language">
        <p class="text-m">Cambiar mercado:</p>
        <button class="btn btn-tertiary text-m">ESPAÑA (€)</button>
      </div>
      <div class="md-footer-market">
        <span class="text-m bold">ESPAÑOL</span>
        <button class="btn btn-tertiary text-m">CATALÀ</button>
        <button class="btn btn-tertiary text-m">GALEGO</button>
        <button class="btn btn-tertiary text-m">EUSKARA</button>
        <button class="btn btn-tertiary text-m">ENGLISH</button>
      </div>
    </div>

  </div>
</footer>
