<footer class="bg-light front-section  ">
  <div class="w-100  bg-dark">
    <div class="container pt-16 pb-16">
      <div class="row text-12-r ">
        <div class="col-xs-12 col-sm-4 sm:text-center text-left align-middle "> © COPYRIGHT 2024. Todos los derechos
          reservados
        </div>
        <div class="col-xs-12 col-sm-4 sm:text-center text-center align-middle "> CREADO POR DIGITALSTRATEGY </div>
        <div class="col-xs-12 col-sm-4 sm:text-center  text-right align-middle ">
          <iframe
            src="https://ghbtns.com/github-btn.html?user=holygrailcss&repo=holygrail&type=star&count=true&size=small"
            frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
          <a href="https://www.npmjs.com/package/holygrail2" target="_blank" rel="nofollow">
            <img src="https://img.shields.io/npm/dm/holygrail2.svg">
          </a>
          <a href="https://www.npmjs.com/package/holygrailcss" rel="nofollow">
            <img src="https://img.shields.io/npm/v/holygrail2" alt="npm"
              data-canonical-src="https://img.shields.io/npm/v/holygrail2.svg" style="max-width:100%;"></a>
        </div>
      </div>
    </div>
  </div>
</footer>