<footer class="bg-light front-section height-xl ptr-120 ">

  <div class="container pb-64">
    <div class="row">
      <div class="col-xs-12 col-md-3 mb-24 sm:text-center">
        <div class="align-middle">
          <div class="w-100 mb-48">
            <a href="/index.html" aria-label="slide carrousel">
              <img width="200px" height="100%" src="{{global.imageDir}}logo.png" alt="{{global.empresa}}">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 mb-24 sm:text-center">
        <p class="fluid-7-b">
          Una colección de herramientas, kits, plugins y guias . </p>
        <br>
        <div  data-aos-delay="100" class="is-flex mb-24">
          <iframe
            src="https://ghbtns.com/github-btn.html?user=holygrailcss&repo=holygrail&type=star&count=true&size=large"
            frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
          <a href="https://www.npmjs.com/package/holygrail2" target="_blank" rel="nofollow">
            <img src="https://img.shields.io/npm/dm/holygrail2.svg">
          </a>

          <a href="https://www.npmjs.com/package/holygrailcss" rel="nofollow">
            
            <img src="https://img.shields.io/npm/v/holygrail2"
             alt="npm" data-canonical-src="https://img.shields.io/npm/v/holygrail2.svg" style="max-width:100%;"></a>

        </div>
        <b class="fluid-8-b"> © COPYRIGHT 2023. Todos los derechos reservados </b>
      </div>
      <div class="col-xs-12 col-md-1 mb-24 sm:text-center"> </div>
      <div class="col-xs-12 col-md-3 mb-24 sm:text-center">
        <h3 class="fluid-6-b pl-64 pb-32">{{global.empresa}}</h3>
      </div>
    </div>
  </div>


  <div class="w-100  bg-dark">
    <div class="container pt-16 pb-16">
      <div class="row text-12-r ">
        <div class="col-xs-12 col-sm-4 sm:text-center text-left mb-16"> © COPYRIGHT 2023. Todos los derechos reservados
        </div>
        <div class="col-xs-12 col-sm-4 sm:text-center text-center mb-16"> CREADO POR DIGITALSTRATEGY </div>
        <div class="col-xs-12 col-sm-4 sm:text-center  text-right mb-16">
        </div>
      </div>
    </div>
  </div>
</footer>