<div class="row  ">
    <div class="col-xs-12  ">

        <div class="ptr-120 pb-64">
            <div class="fluid-2-r pb-40 ttu" > {{ titulo }}</div>
            <div class="fluid-18-r mb-32" > {{ descripcion }} </div>
            <div class="text-14-r c-dark-grey" > {{ descripcion2 }} </div>

        </div>
   
    </div>
</div> 
