<nav class="nav-guide text-16-r scrollcustom">
  <div class="menu-lateral sidebar">



<div class="logo-zone mt-24 mb-24 fluid-6-b">
  Holyguide
</div>

  

      <a target="_parent" href="/design">
         <div class="text-16-r  text-l nav-title "> Design </div>
      </a>
      <ul class="list-clear text-l ">

        {% for template in collections.design %}
              {% include 'nav-loop.njk' %}
            {% endfor %}


      </ul>




      <a target="_parent" href="/develop">
         <div class=" text-l  text-14-r nav-title "> Develop </div>
      </a>
      <ul class="list-clear text-l ">

        {% for template in collections.develop  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
      </ul>
   

      <a target="_parent" href="/foundations">
         <div class=" text-l nav-title  "> Foundations </div>
      </a>
      <ul class="list-clear text-l ">
        <div class="body">
           {% for template in collections.foundations | reverse %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
          </div>
        </ul>


        <ul class="list-clear mb-32">
          <a target="_parent" href="/components">
            <div class=" text-l  nav-title "> Componentes </div>
          </a>
          <div class="body">
          {% for template in collections.components  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
          </div>
        </ul>
  

        <ul class="list-clear text-l ">


          <li class="mb-8 {% if page_title == 'templates' %} link-line {% endif %}">
            <a  target="_parent" href="/templates">
               <div class=" text-l nav-title  "> Templates </div>
            </a>
          </li>


          {% for template in collections.templates  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
        </ul>

    </div>
  </nav>
  <div class="toggle-menu"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {#
<script src="/js/nav-interactions.js"></script>
<script src="/js/rtl-action-components.js"></script> #}