<nav class="nav-guide">
  <div class="menu-lateral sidebar">
    {{seccion_actual}}
    {% if page_section == "design" %}
      <a target="_parent" href="/design">
        <h6> Design </h6>
      </a>
      <ul class="list-clear p-m-b mb-32 mt-8">

        {% for template in collections.design %}
              {% include 'nav-loop.njk' %}
            {% endfor %}


      </ul>
    {% endif %}
    {% if page_section == "develop" %}
      <a target="_parent" href="/develop">
        <h6> Develop </h6>
      </a>
      <ul class="list-clear p-m-b mb-32 mt-8">

        {% for template in collections.develop  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
      </ul>
    {% endif %}
    {% if page_section == 'foundations' %}
      <a target="_parent" href="/foundations">
        <h6> Foundations </h6>
      </a>
      <ul class="list-clear p-m-b mb-32 mt-8">
        <div class="body">
           {% for template in collections.foundations | reverse %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
          </div>
        </ul>
      {% endif %}
      {% if page_section == 'components' %}
        <ul class="list-clear mb-32">
          <a target="_parent" href="/components">
            <h6> Componentes </h6>
          </a>
          <div class="body">
          {% for template in collections.components  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
          </div>
        </ul>
      {% endif %}
      {% if page_section == "templates" %}
        <ul class="list-clear p-m-b mb-32 mt-8">


          <li class="mb-8 {% if page_title == 'templates' %} link-line {% endif %}">
            <a  target="_parent" href="/templates">
              <h6> Templates </h6>
            </a>
          </li>


          {% for template in collections.templates  %}
              {% include 'nav-loop.njk' %}
            {% endfor %}
        </ul>
      {% endif %}
    </div>
  </nav>
  <div class="toggle-menu"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {#
<script src="/js/nav-interactions.js"></script>
<script src="/js/rtl-action-components.js"></script> #}