---
layout: base.njk
---
{% set page_title = "templates" %}

{{page_title}}

<div class="container-fluid">{% include '_website/hero.njk' %}</div>

<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content innermarkdown">
        {{ content | safe }}
        <div class="list-grid pt-24">





          <div class="full-grid text-16-b">
            Global
          </div>
          {% for template in collections["templates-old"] | reverse %}


                {% if template.data.page_separator == 'Global' %}
                  <!-- Sección A -->

                  {% include 'template-loop.njk' %}
        
                  {% endif %}
        {% endfor %}



        <div class="full-grid text-16-b">
  Feel
</div>

        {% for template in collections["templates-old"] | reverse %}


        {% if template.data.page_separator == 'Feel' %}
          <!-- Sección A -->

          {% include 'template-loop.njk' %}

        {% endif %}
{% endfor %}



          
        </div>
      </div>
    </div>
  </div>
</section>