.linex{
    height: 100%;
    width: 1px;
    background-color: #000;
    margin: 0 auto;
}

.giftcard-item{
/* Rectangle 63 */
width: 100%;
height: 100%;
background: #222231;
border-radius: 8.12698px;
filter: drop-shadow(0px 0px 50.7937px rgba(0, 0, 0, 0.2));
}

.align-compact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{

}

.link10 {
    @include font-bold;
	position: relative;
	display: inline-block;
	border: 0;
	transform: none;
	font-size: 14px;
	line-height: 14px;
	padding:  0;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 1px;
        background: $primary;
 
    }


    &:hover{
        opacity: $opacity-links;
    }
}
