@import '../abstract/_all.scss';


.grid-product-wrap--2G {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    @include details-pmobile-0;
    @media (min-width: $break-sm) {
      grid-template-columns: repeat(12, 1fr);
      .grid-product-list--2G {
        grid-column: span 4;
        &:first-child {
          grid-column: 3 / span 4;
        }
        &:nth-child(even) {
          @include details-pmobile-pdesktop;
        }
      }
    }
  }