@import "../abstract/_all.scss";

$break-sm--2D: 768px;
$sm-grid-view1-gutter--2D: 8px;


.grid-product-wrap--2D {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-0;
  @include colors-pmobile-0;
  @media (min-width: $break-sm) {
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2D-1 {
      grid-column: 2 / span 5;
    }
    .grid-product-list--2D {
      grid-column: 9 / span 3;
      align-self: center;
    }
  }
}
