@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";

.n2c {
  @include sp-wraps(".n2c");
}
.n2c-wrap {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  @include m-body-bleed;
  @include sp-contents-xs-1;
  @media (min-width: $break-sm) {
    margin-inline: 10%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
