@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";
.n2a {
  @include sp-wraps(".n2a");
}
.n2a-wrap {
  @include m-body-0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include gap-0;
  @include sp-contents-xs;
  @include sp-contents-sm;

  @media (min-width: $break-sm) {
    flex-direction: row;
  }
}
