@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";
.n2e {
  .n2e-wrap {
    margin: 0 ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    @media (min-width: $break-md) {
      margin: 0 40px;
      gap: 16px;
      grid-template-columns: repeat(12, 1fr);
    }
    @media (min-width: $break-xl) {
      gap: 16px;
      grid-template-columns: repeat(24, 1fr);
    }
  }
  .n2e-item {
    grid-column: 1 / span 12;
    @media (min-width: $break-md) {
      grid-column: 3 / span 8;
    }
    @media (min-width: $break-xl) {
      grid-column: 7 / span 12;
    }
  }
}