@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";

.n1f {
  @include sp-wraps(".n1f");
}
.n1f-wrap {
  @include m-body-0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  @include gap-1;
  @include sp-contents-xs;
  @include sp-contents-sm;
}
.n1f-item {
  grid-column: 1 / span 12;
}
