@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";
.n1c {
  .n1c-wrap {
    @include m-body-0;
    @include gap-1;
    @include sp-contents-first-20-20;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;

    
  }
  .n1c-item {
    grid-column: 1 / span 12;
    

  }
}