@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";
.n3b {
    @include sp-wraps('.n3b');
}
.n3b-wrap {
    display: flex;
    @include m-body-bleed;
    @include sp-contents-xs-1;
    flex-wrap: wrap;
    column-gap: 20px;
    @media (min-width: $break-sm) {
        flex-wrap: nowrap;
        justify-content: space-between;
        column-gap: 20px;
    }
}
.n3b-item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    @media (min-width: $break-sm) {
        flex: 0 0 calc(33.3333333333% - 20px);
        max-width: calc(33.3333333333% - 20px);
    }
    @media (min-width: $break-xl) {
        @include col-24-7;
    }
}