@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";


.n3b {
    .n3b-wrap {
        display: flex;
        @include m-body-bleed;
        @include gap-20;
        @include sp-contents-2n-1-0;
        flex-wrap: wrap;

        @media (min-width: $break-sm) {
            flex-wrap: nowrap;
            justify-content: space-between;
            @include m-body-bleed-sm;
            @include gap-20;
        }
    }
    .n3b-item {
        @include col-6-3;
        @media (min-width: $break-sm) {
            @include col-12-4;
        }
        @media (min-width: $break-xl) {
            @include col-24-7;
        }
    }
}