@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";


.n6b {
  .n6b-wrap {
    @include m-body-0;
    @include gap-1;
    @include sp-contents-2n-1-0;


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    display: grid;
    @media (min-width: $break-md) {
      grid-template-columns: repeat(6, 1fr);
   
    }
 
  }
  .n6b-item {
    //width: calc(((100% - ((($var-cols ) * 20px) + 6px)) / 24) * $var-cols   );




  }
}

