---
layout: base.njk
---

<!-- Contenido de la plantilla marquee.njk -->
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}</div>

<div class="main-content">

  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12 mb-32">
        <div class="code-view ">
          <div class="check-new"></div>
          {# -------- #}
          <div class="marquee">
            <div class="marquee-content">
              <p class="marquee-inner text-center p-xs">VENTA EXCLUSIVA EL 02/02 A LAS 20H ONLINE Y 03/03 EN TIENDAS <a href="#" class="link-line ml-32">ÚNETE A FEEL</a>
              </p>
            </div>
            <svg-icon src="close">
              <div>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00001 0.11174L9.00001 8.11174L17 0.11174L17.7071 0.818847L9.70712 8.81885L17.7071 16.8188L17 17.526L9.00001 9.52595L1.00001 17.526L0.292908 16.8188L8.29291 8.81885L0.292908 0.818847L1.00001 0.11174Z" fill="#292929"></path>
                </svg>
              </div>
            </svg-icon>
          </div>
          {# -------- #}
        </div>
        {% set standardcode %}
        <div class="marquee">
            <div class="marquee-content">
              <p class="marquee-inner text-center p-xs">VENTA EXCLUSIVA EL 02/02 A LAS 20H ONLINE Y 03/03 EN TIENDAS <a href="#" class="link-line ml-32">ÚNETE A FEEL</a>
              </p>
            </div>
            <svg-icon src="close">
              <div>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00001 0.11174L9.00001 8.11174L17 0.11174L17.7071 0.818847L9.70712 8.81885L17.7071 16.8188L17 17.526L9.00001 9.52595L1.00001 17.526L0.292908 16.8188L8.29291 8.81885L0.292908 0.818847L1.00001 0.11174Z" fill="#292929"></path>
                </svg>
              </div>
            </svg-icon>
          </div>
        {% endset %}
        <pre><code class="language-markup">{{standardcode}}</code></pre>
      </div>
    </div>
  </section>

</div>