<div>
    <div class="ar-3-4 bg-light">
        <img width="100%" src="/assets/static/images/pdp/pdp-6.jpg">
    </div>
    <div class="p-8">
        <div class="text-l-l">
            PANTALON ANCHO DETALLE
        </div>
        <div class="text-l-l">
            149,00 €
        </div>
    </div>
</div>