---
layout: base.njk
---

<!-- Contenido de la plantilla modals.njk -->
{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}
{% import "_macros/_modal.njk" as modal %}
{% import "_macros/_globals.njk" as globals %}

<div class="row">
  <div class="col-xs-12">
    <div class="main-content innermarkdown">
    <div class="title-s c-dark-grey  mb-40 "> Elemento o componente que aparece sobre el contenido de la página o pantalla que se está
        visualizando</div>
    <div class="row  pb-40">
      <div class="col-xs-12 ">
        <div class="title-l"> ModalSizes</div>
      </div>
      <div class="col-xs-12">
        <p class="title-m"> Primero definiremos el ancho máximo de nuestra modal, ya determinada por diseño. </p>
        <div class="row mt-32">
          <div class="col-xs-12 ">
            <div class="pre-show">
              <table>
                <thead>
                  <tr>
                    <td style="width:20%">ModalSizes</td>
                    <td style="width:20%">Class</td>
                    <td style="width:60%">Description</td>
                  </tr>
                </thead>
                <tbody>
                  {% for item in globals.ModalSizes %}
                    <tr>
                      <td class="bold">
                        {{ item.name }}: </td>
                      <td> .{{ item.class }}</td>
                      <td>
                        {{ item.explicacion | safe }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb-40">
      <div class="col-xs-12 ">
        <div class="title-l"> ModalMargins</div>
      </div>
      <div class="col-xs-12">
        <p class="title-m"> Colocaremos los márgenes de la misma, tambien tenemos margenes responsive.</p>
        <div class="row mt-32">
          <div class="col-xs-12 ">
            <div class="pre-show">
              <table>
                <thead>
                  <tr>
                    <td style="width:20%">ModalMargins</td>
                    <td style="width:20%">Class</td>
                    <td style="width:60%">Description</td>
                  </tr>
                </thead>
                <tbody>
                  {% for item in globals.ModalMargins %}
                    <tr>
                      <td class="bold">
                        {{ item.name }}: </td>
                      <td> .{{ item.class }}
                      </td>
                      <td>
                        {{ item.explicacion | safe }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  pb-40">

      <div class="col-xs-12 ">
        <div class="title-l"> ModalOptions</div>
      </div>
      <div class="col-xs-12">
        <p class="title-m"> Disponemos de Opciones personalizadas para casos puntuales. </p>
        <div class="row mt-32">
          <div class="col-xs-12 ">
            <div class="pre-show">
              <table>
                <thead>
                  <tr>
                    <td style="width:20%">ModalOptions</td>
                    <td style="width:20%">Class</td>
                    <td style="width:60%">Description</td>

                  </tr>
                </thead>
                <tbody>
                  {% for item in globals.ModalOptions %}
                    <tr>
                      <td class="bold">
                        {{ item.name }}: </td>
                      <td> .{{ item.class }}
                      </td>
                      <td>
                        {{ item.explicacion | safe }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mb-32 mt-32">
      <div class="row">

        <div class="col-xs-12 ">
          {% call modal.modal('SIZE_XS', 'MARGIN_0', 'Modal pequeño sin margenes') %}
          {% endcall %}
          {% call modal.modal('SIZE_S', 'MARGIN_16', 'Modal pequeño con margenes de 16') %}
          {% endcall %}
          {% call modal.modal('SIZE_M', 'MARGIN_24', 'Modal medio con margenes de 24') %}
          {% endcall %}
          {% call modal.modal('SIZE_L', 'MARGIN_32', 'Modal medio con margenes de 32') %}
          {% endcall %}
          {% call modal.modal('SIZE_XL', 'MARGIN_0_24', 'Modal grande con margenes 24 y 0 en móvil') %}
          {% endcall %}
        </div>
      </div>
    </section>
    <section class="mb-32 mt-32"></section>

    {% call modal.modalContent() %}
    {% endcall %}
    {% call modal.modalContentShopLook() %}
    {% endcall %}

    <script src="../../../assets/js/modal-actions.js"></script>
  </div>