---
layout: base.njk
---

<!-- Contenido de la plantilla store-list.njk -->
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}</div>

<div class="main-content">

  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="tit-m">Store list</div>
      </div>
      <div class="col-xs-12 mb-32">
        <div class="code-view ">
          <div class="check-new"></div>
          {# -------- #}
          <div class="store-list w-100">
            <div class="is-flex bg-line py-32">
              <div class="flex-auto mr-16">
                <div class="p-xs-b mb-8">A CORUÑA</div>
                <div class="p-xs">CC MYANMAR, LOC</div>
              </div>
              <div>
                <div class="p-xs">WOMEN & MEN</div>
              </div>
            </div>
            <div class="is-flex bg-line py-32">
              <div class="flex-auto mr-16">
                <div class="p-xs-b mb-8">A CORUÑA</div>
                <div class="p-xs">CC MYANMAR, LOC</div>
              </div>
              <div>
                <div class="p-xs">WOMEN & MEN</div>
              </div>
            </div>
          </div>
          {# -------- #}
        </div>
        {% set standardcode %}
        <div class="is-flex w-100 bg-line py-32">
          <div class="flex-auto mr-16">
            <div class="p-xs-b mb-8">A CORUÑA</div>
            <div class="p-xs">CC MYANMAR, LOC</div>
          </div>
          <div>
            <div class="p-xs">WOMEN & MEN</div>
          </div>
        </div>
        {% endset %}
        <pre><code class="language-markup">{{standardcode}}</code></pre>
      </div>
    </div>
  </section>

  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="tit-m">Store list con país</div>
      </div>
      <div class="col-xs-12 mb-32">
        <div class="code-view ">
          <div class="check-new"></div>
          {# -------- #}
          <div class="store-list w-100">
            <div class="is-flex bg-line py-32">
              <div class="mr-48">
                <div class="p-xs-b">ESPAÑA</div>
              </div>
              <div class="flex-auto mr-16">
                <div class="p-xs-b mb-8">A CORUÑA</div>
                <div class="p-xs">CC MYANMAR, LOC</div>
              </div>
              <div>
                <div class="p-xs">WOMEN & MEN</div>
              </div>
            </div>
          </div>
          {# -------- #}
        </div>
        {% set standardcode %}
        <div class="is-flex w-100 bg-line py-32">
          <div class="mr-16">
            <div class="p-xs-b">ESPAÑA</div>
          </div>
          <div class="flex-auto mr-16">
            <div class="p-xs-b mb-8">A CORUÑA</div>
            <div class="p-xs">CC MYANMAR, LOC</div>
          </div>
          <div>
            <div class="p-xs">WOMEN & MEN</div>
          </div>
        </div>
        {% endset %}
        <pre><code class="language-markup">{{standardcode}}</code></pre>
      </div>
    </div>
  </section>

</div>