---
layout: base.njk
---
<!-- Contenido de la plantilla toast.njk -->
<div class="container-fluid">
    {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}</div>
<div class="main-content">
</div>