---
layout: base.njk
---
<!-- Contenido de la plantilla toast.njk -->
<div class="container-fluid">
    {% include '_website/hero.njk' %}
</div>

<div class="toast appear is-flex ">
    <div>TOAST con clase appear </div> <div> <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.20711 0.5L4.20711 3.5L7.20711 0.5L7.91421 1.20711L4.91421 4.20711L7.91421 7.20711L7.20711 7.91421L4.20711 4.91421L1.20711 7.91421L0.5 7.20711L3.5 4.20711L0.5 1.20711L1.20711 0.5Z" fill="white"/>
        </svg>
        </div>
</div>


<div class="main-content innermarkdown ">   {{ content | safe }}</div>
<div class="main-content">



</div>