.guide {
  padding-bottom: 40px;
  table {
    width: 100%;
    text-align: left;
    th,
    tr,
    td {
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
    }
    td:first-child {
      width: 18%;
      min-width: 58px;
      font-weight: 600;
      white-space: nowrap;
    }
    th {
      color: #5c6b77;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02);
      border-width: 1px 1px 2px;
      color: #fff;
    }
  }

  ul {
    margin-bottom: 20px;
    margin-top: 20px;
    li {
      font-size: 12px;
      line-height: 1.4;
    }
  }
  hr {
    margin-top: 20px;
    margin-bottom: 40px;
    @media (min-width: $break-md) {
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }
  p {
    font-size: 12px;
    line-height: 1.4;
  }




  h1 {
font-size: 30px;
 }

 h2 {
  font-size: 18px;
 }

 h3 {
  font-size: 14px;
}


 
 h4 {
  font-size: 13px;
 }
 
 h5 {
    //    @include fluid-text($min_width, $break-lg, 14px, 20px, 1);
   width: 100%;
   line-height: 1.2;
 
 }
 
 h6 {
   font-size: 18px;
 
   width: 100%;
   line-height: 1;
   @include font-bold();
 }



}