.guide {
  table {
    width: 100%;
    text-align: left;
    th,
    tr,
    td {
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
    }
    td:first-child {
      width: 18%;
      min-width: 58px;
      font-weight: 600;
      white-space: nowrap;
    }
    th {
      color: #5c6b77;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02);
      border-width: 1px 1px 2px;
      color: #fff;
    }
  }
}
