@import "./abstract/_all.scss";
@import "./abstract/_gridNEW.scss";



:root {
  --line-width: 1px;
  /* --zds-line-width-negative:-1px; */
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution:2dppx) {
  :root {
    --line-width: 0.5px;
    --line-width-negative: -0.5px;
  }
} 


.search-wrap {
  .search-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1px;
    transition: all .3s ease;
    @media (min-width: $break-sm) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $break-md) {
      grid-template-columns: repeat(6, 1fr);
    }
    div {
      padding-bottom: 1px;
    }
  }
  .input-search {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    &:focus {
      outline: none;
      border-bottom: 1px solid #292929;
      border-right: 0;
      border-left: 0;
      border-top: 0;
    }
    padding: 16px;
    @media (min-width: $break-md) {
      padding: 40px;
    }
  }
}
.list-slide {
  list-style: none;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  overflow: auto;
  @media (min-width: $break-sm) {
    grid-column-gap: 24px;
  }
}
.search-height {
  min-height: 16px;
  @media (min-width: $break-sm) {
    min-height: 150px;
  }
}
.search-zone {
  position: relative;
  .search-zone-delete {
    position: absolute;
    right: 0;
    bottom: 0;
    .is-rtl & {
      left: 0;
      right: inherit;
    }
    .btn {
      padding: 16px 16px;
      @media (min-width: $break-md) {
        padding: 32px 40px;
      }
    }
  }
}
.search-close {
  position: fixed;
  z-index: 1000;
}
.search-space {
  height: 340px;
  transition: all .3s ease;
  @media (min-width: $break-sm) {
    height: 480px;
  }
}
.scroll-up-search.is-search {
  .search-content {
    top: 0;
  }
}
.search-results {
  position: absolute;
}
.search-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.btn-icon {}
.text-none {
  list-style: none;
}
.search-content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  transition: all .3s ease;
&:hover{
  background-color: #ffffffeb;
}


  @media (min-width: $break-sm) {
    height: 480px;
  }
  .btn {
    padding: inherit;
    padding: 16px 0;
    @media (min-width: $break-sm) {
      padding: 24px 0;
    }
  }
}
.is-search {
  .search-content {
    position: fixed;
    top: -480px;
  }
  &.scroll-down-search {}
}
.list-slide {
  position: relative;
  .is-active::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: $bg-black;
    position: absolute;
    bottom: 14px;
  }
  .is-active {
    &.btn {
      font-family: "dutti-daily-semibold";
    }
  }
}
.btn:focus,
.btn.focus,
.btn:hover,
.btn.hover,
.btn:visited,
.btn:active,
.btn.active {
  text-decoration: none;
  opacity: 1;
  outline: none;
  cursor: pointer;
}
$container-limit: 1440px;
.container-limit {
  padding-right: $padding-global;
  padding-left: $padding-global;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 90%;
  max-width: $container-limit;
}