@import "./abstract/_all.scss";
@import "./abstract/_gridNEW.scss";



:root {
  --line-width: 1px;
  /* --zds-line-width-negative:-1px; */
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution:2dppx) {
  :root {
    --line-width: 0.5px;
    --line-width-negative: -0.5px;
  }
} 

.btn:focus,
.btn.focus,
.btn:hover,
.btn.hover,
.btn:visited,
.btn:active,
.btn.active {
  text-decoration: none;
  opacity: 1;
  outline: none;
  cursor: pointer;
}
$container-limit: 1440px;
.container-limit {
  padding-right: $padding-global;
  padding-left: $padding-global;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 90%;
  max-width: $container-limit;
}

.text-none {
  list-style: none;
}