@import "abstract/_setup.scss";
@import "vendor/_prism.scss";
@import "vendor/_tags.scss";
//@import "../../../node_modules/holygrailcss/scss/abstract/0debug.scss";
@import "../../../node_modules/holygrailcss/scss/style.scss";
// @include debug-divs();
//   @mixin debug-all(){
//     @include debug-divs();
//     @include debug-links();
//     @include debug-forms();
//     @include debug-fine();
// }

// reubicamos los componentes
@import "../../components/giftcard.scss";
@import "../../components/minicestasidebar.scss";
@import "../../components/minicestacheckout.scss";
$c-secondary: orange;
$nav-width: 250px;

$c-guide: rgb(218, 19, 112);

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #cccccc;
    margin: 2px;
    border: 2px solid #f9f9f9;
}

nav {
    position: fixed;
    width: $nav-width;
    height: 100vh;
    padding: 16px;
    color: black;
    background-color: #FFFFFF;
    border-right: 1px solid #E3E3E3;
    z-index: 1;

    .menu-lateral {
        overflow-y: auto;
    }

    .toggle-menu {
        display: none;
    }

    @media (max-width:769px) {
        transform: translateX(-250px);
        transition: all ease-in-out .4s;

        .toggle-menu {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: -40px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #E3E3E3;
            border-bottom: 1px solid #E3E3E3;

            &::after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.81885H14M2 8.31885H14M2 14.3188H14' stroke='%23292929' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 16px;
                height: 16px;
                transition: all ease-in-out .4s;
            }
        }

        &.open-menu {
            transform: translateX(0px);
            transition: all ease-in-out .4s;

            .toggle-menu {
                &::after {

                    transition: all ease-in-out .4s;
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.81885L4 12.8188M12 12.8188L4 4.81885' stroke='%23292929' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }
}

.main-content {
    margin-left: $nav-width;
    padding-right: 8px;
    padding-left: 8px;

    &.is-rtl {
        direction: rtl;
    }

    @media (max-width:769px) {
        margin-left: 0px;
        overflow-x: hidden;
    }
}

.doc-menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.guide {
    h1 {
        margin-bottom: 32px;
    }

    h1 {
        //clamp(minimum, preferred, maximum);
        font-size: clamp(30px, 4vw, 3vw);
        font-weight: 100;
    }

    h2 {
        font-size: clamp(20px, 4vw, 2vw);
        font-weight: 100;
    }

    h3 {
        font-size: clamp(18px, 4vw, 1.5vw);
        font-weight: 700;
    }

    pre {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0;
        margin: 0;
        display: flex;
        position: relative;
    }

    pre code {
        font-size: 12px;
        padding: 23px 24px 16px;
        margin-bottom: 0;
        width: 100%;
        float: left;
        black-space: pre-wrap;
    }

    a,
    a:link,
    a:active {
        text-decoration: none;

    }

    ul {
        &.list-clear {
            li {
                list-style: none;
                margin: 4px 0px;
            }

            .body {
                display: none;
            }

            svg {
                transform: rotate(0deg);
                transition: all .2s ease-in-out;
            }

            &.active {
                svg {
                    transform: rotate(45deg);
                    transition: all .2s ease-in-out;
                }
            }
        }
    }


    .bold {
        color: $c-guide  !important;
    }

    .p4,
    .guide-list {
        font-size: 14px;
        @include font-regular;
    }


    hr {
        width: 100%;
        border-top: 1px solid #000000;
        border-bottom: 1px solid transparent;
    }

}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 14px;
    border-collapse: collapse;
    caption-side: bottom;
    text-align: left;

    th:nth-child(1) {
        width: 150px;
    }

    // Cells
    thead,
    tbody,
    tfoot {
        tr {

            th,
            td {
                padding: 10px;
                vertical-align: top;
                border-bottom: 1px solid #eaeaea;

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Prevent breaking of code (e.g., Grunt tasks list)
    td:first-child>code {
        black-space: nowrap;
    }
}

.guide-header {
    background-color: $primary;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 50px;
}

// grid icons
#loopicons {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#loopicons article {
    width: calc(50% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4px;
    padding: 16px 8px;
    border-radius: 4px;
    background: #0000001a;
}

@media (min-width:768px) {
    #loopicons article {
        width: calc(16% - 8px);
    }
}

#loopicons article h2 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    text-align: center;
}

.tip {
    position: relative;
    background-color: #fafafa;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;

    &:after {
        content: '"';
        font-size: 100px;
        height: 43px;
        width: 59px;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 1;
        opacity: .1;
        font-family: arial;
    }

    b {
        color: #f40b48;
        margin-bottom: 20px;
    }
}

hr {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mini {
    clear: both;
}

.item-w {
    width: 46px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: #eceff3;
}

.item-i {
    min-width: 20%;
    min-height: 20%;
    display: block;
    border: 1px solid $c-white;
    box-sizing: border-box;
}

.item-i:nth-child(1) {
    background-color: $primary-guide;
    opacity: 0.93;
}

.item-i:nth-child(2) {
    background-color: $primary-guide;
    opacity: 0.83;
}

.item-i:nth-child(3) {
    background-color: $primary-guide;
    opacity: 0.79;
}

.item-i:nth-child(4) {
    background-color: $primary-guide;
    opacity: 0.72;
}

.item-i:nth-child(5) {
    background-color: $primary-guide;
    opacity: 0.65;
}

.item-i:nth-child(6) {
    background-color: $primary-guide;
    opacity: 0.58;
}

.item-i:nth-child(7) {
    background-color: $primary-guide;
    opacity: 0.51;
}

.item-i:nth-child(8) {
    background-color: $primary-guide;
    opacity: 0.44;
}

.item-i:nth-child(9) {
    background-color: $primary-guide;
    opacity: 0.37;
}

.item-i:nth-child(10) {
    background-color: $primary-guide;
    opacity: 0.3;
}

.guide .mini-box {
    background: #eaeaea;
    color: #757171;
    font-size: 8px;
    width: calc(33.333% - 14px);
    float: left;
    overflow: initial !important;
    position: relative;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #f0f;


    &:nth-child(3n) {

        margin-right: 0;

    }

    .rat-content {
        display: flex;
        font-size: 14px;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include font-2-bold;
        color: #f0f;

        .text-12-r {
            position: absolute;
            right: 4px;
            bottom: 4px;
            opacity: .5;
        }
    }

}

.guide .masonry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.guide-list {
    border-bottom: 1px solid #eaeaea;

    padding: 10px 0;

}

.mini-box-text {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    color: #f0f;
}

.bg-green {
    background-color: #b5e6c8;
}

.bg-red {
    background-color: #fcd8cd;
}

.bg-light {
    background-color: #F0F0F0;
}

.guide code {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 13px;
    display: inline-block;
    color: white;
    background-color: #1e1e20;
    border: 1px solid #acacacb0;
}

.process {
    position: relative;

    &:after {
        top: 0;
        right: -10px;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: red;
        content: '';
    }
}

.process-ok {
    position: relative;

    &:after {
        top: 0;
        right: -10px;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: green;
        content: '';
    }
}

.process-dan {
    position: relative;

    &:after {
        top: 0;
        right: -10px;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: blue;
        content: '';
    }
}

.bg-dark {
    background-color: $primary;
}

$checkbox-svg-pd: 20px;
$checkbox-svg-brad: 0;

.checkbox-svg {
    svg {
        margin: 0 auto;
        width: 50px;
    }

    &:hover {
        & .checkbox-svg-label {
            opacity: 1;
            cursor: pointer;
            filter: grayscale(0);
            box-shadow: 6px 6px 17px 0 rgba(74, 111, 110, 0.27);
        }

        .ico-radio {
            opacity: 1;
            transform: scale(1);
        }

        .checkbox-svg-ico {
            opacity: 1;
        }

        & .ico-radio {
            opacity: 1;
            transform: scale(1);
        }
    }
}

//display flex
.checkbox-svg-label {
    background: #ffffff;
    border: 1px solid #4bcac5;
    border-radius: $checkbox-svg-brad;
    filter: grayscale(100%);
    display: flex;
    width: 100%;
    padding: $checkbox-svg-pd;
    box-sizing: border-box;
    transition: all 0.2s ease;
    opacity: 0.5;
    min-height: 200px;

    .ico-radio {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 8px;
        height: 8px;
        background-color: black;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
}

.checkbox-svg-ico {
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: $checkbox-svg-pd;
    right: $checkbox-svg-pd;
    left: auto;
    border: 1px solid #4bcac5;
    background-color: #4bcac5;
    outline: 0;
    vertical-align: top;
    margin: 0;
    opacity: 1;
}

.alert {
    position: relative;
    background-color: #fd675e;
    padding: 40px 20px 20px;
    color: $c-white;
    font-size: 13px;
    margin-bottom: 30px;

    &:after {
        line-height: 1.5;
        position: absolute;
        top: 0;
        left: 20px;
        content: "Alert";
        font-size: 29px;
        color: $c-white;
        mix-blend-mode: soft-light;
    }
}

// global styles fot RTL
.is-rtl {
    nav {
        left: 0px;
    }
}

.separator {
    opacity: .1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resize-container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    padding: 0 0 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.resize-resolution,
.resize-media {
    text-align: center;
    color: $primary-guide;
    display: table;
    margin: 0 auto;
    float: right;
    font-size: 14px;
    padding: 4px 8px;
    width: 80px;


    &:empty {
        display: none;
    }
}

.resize-bar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    height: 60px;
    border: solid #eaeaea;
    border-width: 1px 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.resize-name {
    z-index: 100;
    height: 60px;
    float: left;
    left: 0;
    top: 0;
    padding: 20px 50px;
    border-right: 1px solid #eaeaea;
}

.resize-code {
    z-index: 100;
    height: 60px;
    float: right;
    left: 0;
    top: 0;
    padding: 20px 50px;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
}

.resize-snip {
    z-index: 100;
    height: 60px;
    float: right;
    left: 0;
    top: 0;
    padding: 20px 50px;
    border-left: 1px solid #eaeaea;
}

.resize-media {
    width: 40px;

    font-weight: bold;
}

.resize-left,
.resize-right {
    height: 100px;
    width: 30px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;

    &:before {
        background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%2217%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%205%2020%22%20enable-background%3D%22new%200%200%205%2020%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22%22%3E%20%3Ccircle%20cx%3D%222.5%22%20cy%3D%222.5%22%20fill%3D%22rgb%28153%2C153%2C153%29%22%20r%3D%222%22%2F%3E%20%3Ccircle%20cx%3D%222.5%22%20cy%3D%2210%22%20fill%3D%22rgb%28153%2C153%2C153%29%22%20r%3D%222%22%2F%3E%20%3Ccircle%20cx%3D%222.5%22%20cy%3D%2217.5%22%20fill%3D%22rgb%28153%2C153%2C153%29%22%20r%3D%222%22%2F%3E%20%3C%2Fsvg%3E) center/contain no-repeat;
        position: absolute;
        top: 50%;
        content: "";
        height: 17px;
        margin-top: -8px;
        width: 11px;
    }
}

.resize-left {
    transform: translateX(-10px);
    border-right: 1px solid #ccc;
    left: -30px;
    cursor: e-resize;
}

.resize-right {
    transform: translateX(10px);
    border-left: 1px solid #ccc;
    cursor: w-resize;
    right: -30px;
}

.resize.resize-overlay {
    pointer-events: none;
    position: relative;
}

.resize-container:hover {
    .resize-left {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .resize-right {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.resizable {
    overflow: auto;
    margin: 0 auto;



}

.resize-large {
    border: 1px solid #eaeaea;
    border-radius: 6px;

    position: relative;

    &::after {
        padding: 4px;
        font-size: 12px;
        top: 0;
        left: 0;
        border-radius: 0 0 4px 0;
        opacity: .6;
        position: absolute;
        content: 'sass';
        z-index: 100;
        background-color: #eaeaea;
        color: #000000;
    }

    pre {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0 0 6px 6px;


        code {
            border-radius: 0 0 6px 6px;
            overflow: auto;
            max-height: 400px;
        }
    }
}



.resize-mini {
    border: 1px solid #eaeaea;
    border-radius: 6px;

    pre {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0 0 6px 6px;

        code {
            border-radius: 0 0 6px 6px;
        }
    }
}

.resize-mini-content {

    min-height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resize {
    z-index: 10;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    user-select: none;
    margin: 0 auto;
    padding: 20px 0 0;
    margin-top: 50px;

    border: 1px solid #eaeaea;
    border-radius: 6px;

    padding-top: 100px;
    position: relative;

    &::before {
        position: absolute;
        z-index: 1000;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        height: 33px;
        width: 100%;
        background-color: #eaeaea;
    }
}

.resize-content {
    margin: 3px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}


.openRules {

    .resize-rules {
        svg {
            g {
                fill: $c-guide;
                stroke: $c-guide;
            }

            rect {

                stroke: $c-guide;
            }

        }
    }


    .guide {
        .mbr-50-100 {
            position: relative;

            &:before {
                content: "mbr-50-100";
                font-size: 10px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                height: 50px;
                bottom: -50px;

                @media (min-width:768px) {
                    height: 100px;
                    bottom: -100px;
                }
            }
        }

        .mb-64 {
            position: relative;

            &:before {
                content: "mb-64";
                font-size: 10px;
                height: 64px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                bottom: -64px;
            }
        }

        .mb-24 {
            position: relative;

            &:before {
                content: "mb-24";
                font-size: 10px;
                height: 24px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                right: 0;
                bottom: -24px;
            }
        }


        .mb-8 {
            position: relative;

            &:before {
                content: "mb-8";
                font-size: 10px;
                height: 8px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                right: 0;
                bottom: -8px;
            }
        }

        .mb-32 {
            position: relative;

            &:before {
                content: "mb-32";
                font-size: 10px;
                height: 32px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                right: 0;
                bottom: -32px;
            }
        }

        .mb-40 {
            position: relative;

            &:before {
                content: "mb-40";
                font-size: 10px;
                height: 40px;
                width: auto;
                border-left: 1px solid $c-guide;
                color: $c-guide;
                position: absolute;
                right: 0;
                bottom: -40px;
            }
        }
    }

}

.viewcode {
    height: 0px;
    width: 100%;
    transition: .2s ease all;
    overflow-y: auto;
}

.openCode {
    .viewcode {
        height: 400px;
    }
}

code {
    background-color: #1e1e20;
    border: 1px solid #272728;
}


.resizable :scrollbar-thumb::-webkit-scrollbar-thumb {
    border-radius: 1e9em;
}

.resizable :scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: grey;
}

.resizable ::-webkit-scrollbar-thumb {
    background-color: $c-guide;
}

.resizable :scrollbar::-webkit-scrollbar {
    border-radius: 1e9em;
}


h4 {
    font-size: 20px;
    letter-spacing: 0.125em;
    margin-top: 64px;
    margin-bottom: 24px;
}

h3 {

    margin-top: 64px;
    margin-bottom: 24px;
}

p {
    margin-bottom: 16px;

}

.r1,
.r2,
.r3 {
    position: absolute;
    margin: 9px 14px;
    z-index: 1000;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}


.r1 {

    background-color: rgb(236, 106, 95);
}


.r2 {
    background-color: rgb(97, 196, 84);
    left: 17px;
}

.r3 {
    background-color: rgb(244, 191, 80);
    left: 34px;
}


.dummycompo {
    display: flex;
    font-size: 12px;
    color: #fc558d;
    background: #ffd8e6;
    border: 1px solid #fc558d;
    justify-content: center;
    min-height: 48px;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

pre {
    border-radius: 6px;
    overflow: hidden;
}


.guide-inspect {
    bottom: 10px;
    left: 10px;
    position: fixed;
    z-index: 90000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 12px;
    margin-right: 5px;
    border: 1px solid #eaeaea;
    box-shadow: 6px 6px 17px 0 rgba(74, 111, 110, 0.1);

    &:hover {
        opacity: .5;
        cursor: pointer;
    }

}

.mini-box {}




.bg-light .btn-trans {
    width: max-content;
    padding: 14px 48px;
}

.o-layout_item {
    display: inline-block;
    font-size: .875rem;
    padding-left: 0;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
}

.c-pesos_text {
    color: black;
    padding-bottom: 300px;
    position: relative;
    text-align: center
}

.c-pesos_text .c-pesos_item svg {
    height: 950px;
    margin: -210px auto 0
}

.c-pesos_text .c-pesos_item svg .peso-bold:hover,
.c-pesos_text .c-pesos_item svg .peso-extrabold:hover,
.c-pesos_text .c-pesos_item svg .peso-extralight:hover,
.c-pesos_text .c-pesos_item svg .peso-light:hover,
.c-pesos_text .c-pesos_item svg .peso-medium:hover,
.c-pesos_text .c-pesos_item svg .peso-regular:hover,
.c-pesos_text .c-pesos_item svg .peso-semibold:hover {
    fill: #0500ff;
    cursor: pointer;
    opacity: .8
}

.peso-wide {
    width: 100%;
}

.c-pesos_text .c-pesos_item svg path {
    fill: black;
}

html[data-family=massimo] .c-pesos_text .c-pesos_item svg {
    margin-top: -290px
}

.c-familia_pesos_button {
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    display: inline-block;
    font-size: .875rem;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px
}

.c-familia_pesos_button-active,
.c-familia_pesos_button:hover {
    background-color: var(--theme-button-hover-background-color);
    border: 1px solid var(--theme-button-hover-text-color);
    color: var(--theme-button-hover-text-color)
}

.c-familia_pesos_button:focus {
    color: var(--theme-bg-color)
}



.peso-bubbles-container {
    position: absolute;
    margin-top: 60px;
    margin-left: -280px;
    z-index: 9999;
}

.bubble {
    position: absolute;
    background: #0400ff;
    color: $c-white;
    font-size: 12px;
    line-height: 41px;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 77px;
    padding: 0px;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.6);

}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 19px 0 0;
    border-color: #0400ff transparent transparent transparent;
    bottom: -20px;
    left: 21%;
    margin-left: -9.5px;
}




.peso-condensed,
.peso-compressed,
.peso-wide,
.peso-extended,
.peso-daily-italic,
.peso-condensed-italic,
.peso-compressed-italic {
    display: none;
    opacity: 0;
}


.guide-box {
    border: 1px solid $c-guide;
    padding: 24px;
}

.btncode {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 0 0 0 4px;

}


.key-wrap {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.key {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.key-plus {
    padding: 10px;
}