@import "abstract/_setup.scss";
@import "../../../node_modules/holygrailcss/scss/style.scss";

// PROCESS Esto se actualiza despues de tener todos los iconos de pro actualizados
/* .btn {
  &.btn-primary,
  &.btn-default,
  &.btn-phantom,
  &.btn-trans,
  &.btn-blue {
    svg {
      //Mata el invert que hay ahora en holygrail
      filter: invert(0) !important;
      path {
        fill: white;
      }
    }
  }
  &.btn-trans {
    svg {
      stroke: none;
    }
  }


} */






//.has-ellipsis-3 {}



