
@import "../../../node_modules/holygrailcss/scss/style.scss";



//todo holygrail error de los infotexts

.form-input-label{
    flex-direction: column;
    display: flex;
    .info-text {
        color: #8E8E8E;
        margin-top: 4px;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .validation-error-messages{
        min-height: 24px;
    }
      .help{
        position: initial;
      }
}

// TODO HG borde redondeado en grupo de botones
.btn-group {
  .btn{
      &:first-child {
          border-radius: 8px 0 0 8px;        
      }
      &:last-child {
          border-radius: 0 8px 8px 0;        
      }
  }
}

// TODO HG elementos que no están en rojo en el error del checkbox
.is-error {
  .checkbox-item {
    a {
      color: #f54637;
    }

    svg {
      g {
        fill: #f54637;
        polyline{
          stroke: #f54637;
        }
      }
    }

  }
}

// TODO HG nueva distribución tabs tipo around
.tabs {
  &.is-around {
      ul {
          justify-content: space-around;

          li {
              flex: 1;

              span {
                  border-bottom-width: 1px;
              }
          }
      }
  }
}


// TODO HG error rtl en inputs checkbox y radiobutton

.checkbox-item{
  position: relative;
}

.checkbox-radio{
  position: relative;
}

.is-rtl .checkbox-item [type=checkbox]:not(:checked),
.is-rtl .checkbox-item [type=checkbox]:checked{
  position: absolute;
}

.is-rtl .checkbox-radio [type=radio]:not(:checked),
.is-rtl .checkbox-radio [type=radio]:checked{
  position: absolute;
}

// TODO HG posición del texto span en checkbox son link

.checkbox-item-text span{
  position: relative !important;
}

.is-rtl .checkbox-item-text span{
  margin-left: 0px;
  margin-right: 40px;
}
//TODO hg el rtl se rompe al no tener un display

.link1 {
  display: inline-block;
}

.link7 {
  display: inline-block;
}

.ico.ico-l {
  display: inline-block !important;
}


//TODO hg el rtl se desmonta

.is-rtl ul.list-disc li:after {
  right: 0px;
}


//TODO hg el rtl que faltan en algunos selects


.is-rtl {
  .select select:not([multiple]) {
    padding-right: 16px;
    padding-left: 45px;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    right: inherit;
    left: 20px;
  }

  .select.select-label select {
    padding-right: 100px;
  }

  .select.select-label label {
    left: inherit;
    right: 16px;
  }


  .select:not(.is-multiple):not(.is-loading).select-box::after {
    left: 8px;
  }
}

//TODO hg el rtl todos los marg y padd deberían tener su inverso el RTL

.is-rtl {

  .pr-30 {
    padding-right: 0px;
    padding-left: 30px;
  }

  .mr-8 {
    margin-right: 0px;
    margin-left: 8px;
  }

  .ml-16 {
    margin-left: 0px;
    margin-right: 16px;
  }

  .pr-16 {
    padding-right: 0px;
    padding-left: 16px;
  }
}


//TODO hg o componente 
.is-rtl .color-wrap button {
  margin-right: 0px;
  margin-left: 8px;
}